[2014-02-10 10:32] svx opened #1 "include mockup docs and tutorials"
include all docs about mockup/toolbar and so on, this goes together with:
https://github.com/plone/mockup/issues/279

[2014-02-10 10:59] svx opened #2 "Docs for barceloneta"
This ticker is related to: https://github.com/plone/Products.CMFPlone/issues/170

[2014-02-10 12:39] svx opened #3 "What manuals to include?"
atm. we are including:
    plone.api
    plone.schemaeditor
    plone.dexterity
    plone.app.contentrules
    plone.app.contentrules
    plone.app.dexterity
    plone.app.multilingual
    plone.app.portlets
    plone.app.robotframework
    plone.app.testing
    plone.app.theming
    plone.app.viewletmanager
    plone.app.workflow
    ploneorg.admin - this will not be done
    Products.CMFEditions

[2014-02-10 12:40] svx opened #4 "Tools for starting developer"
Include docs over handy tools, trips and tricks for starting developers, like search plugins, editor configs and testing applications

[2014-02-10 12:42] svx opened #5 "How to setup proper testing for development"
How to create a working testing setup for development and how to use it, like travis, jenkins and so on

[2014-02-10 12:43] svx opened #6 "Include buildout.core development"
How to setup core.dev and get involved into development on core.dev

[2014-02-10 12:44] svx opened #7 "Write docs about the docs"
How is the docs.buildout working, how do we configured translations and robot image/video

[2014-02-10 12:45] svx opened #8 "Include docs about robot testing and all its neat tricks"
We need to have docs about robot testing

[2014-02-10 12:47] svx opened #9 "How to do OS upgrades in combination with Plone"
Explain how to deal with upgrades of a OS and Plone
What are the steps

[2014-02-10 12:48] svx opened #10 "Base all installation docs on Unified Installer"
Make sure that all our docs about installation are based on our Unified Installer

[2014-02-10 13:30] svx opened #11 "Include plone.app.contenttypes into docs"
include plone.app.contenttypes

[2014-02-10 13:31] svx opened #12 "write plone.app.contenttypes best practices"
extend currrent docs about plone.app.contenttypes
with best practices with reference link to dexterity

[2014-02-10 15:16] svx opened #13 "Enduser documentation for plone.app.contenttypes"
We do need documentation for Integrators

[2014-02-13 15:09] svx opened #14 "coordinate PLIP process with documenting the PLIP's"
- describe plip and add docs to this

[2014-02-19 12:21] svx opened #15 "Move buildout.coredev docs from rtd"
Move docs from rtd to here

[2014-03-26 11:25] svx opened #16 "Add documentation to Jenkins"
Add the documentation setup to jenkins, so that we catch issues early

[2014-03-26 13:28] svx opened #17 "use git sparse for external docs"
use:
http://schacon.github.io/git/git-read-tree.html#_sparse_checkout

to fetch external resources

[2014-03-26 13:49] svx opened #18 "check index pages and links"
after moving the content to the new setup, check index pages and links if there are not working fix it !

[2014-03-26 15:10] svx opened #19 "add external plone.app.theming to theming"
do a fetch and add it there

[2014-03-26 15:11] svx opened #20 "add diazo docu"
fetch external diazo docs and add them to theme

[2014-03-27 09:54] svx opened #21 "add plone.app.discussion docs"
move them from old kb

[2014-03-27 15:17] giacomos opened #22 "let find a place in the new doc hierarchy for the tutorial on how to remove local utilities"
http://plone.org/documentation/kb/manually-removing-local-persistent-utilities

[2014-03-28 09:43] timitos opened #23 "Newstyle collections need to be documented"
At the moment there exists only an section with a copy of the oldstyle collections introduction for it.

[2014-03-28 09:48] timitos opened #24 "Empty file about changing look and feel - placeholder or obsolete?"
https://github.com/plone/documentation/blob/master/adapt-and-extend/basics.rst

[2014-03-28 11:23] polyester opened #25 "'how to turn off HTML filtering' needs doc"
How to turn off HTML filtering (a.k.a. "I want to embed stuff") needs to be documented. This is also a good candidate for our versioning, since it differs for the various plone versions. Also, link to http://glicksoftware.com/blog/disable-html-filtering

[2014-03-28 11:45] svx opened #26 "Finish Styleguide for add-ons"
Needs to be finished

[2014-03-28 11:46] svx opened #27 "Core style docs"
write the docs

[2014-03-28 11:55] svx opened #28 "create recipe.plone.documentation"
we want to have a recipe with a default sphinx setup, folder structure and such stuff, like a for example a default site which fetches, git repo, about, author and so on from setup.py

[2014-03-28 14:32] #25 closed, assigned to nobody

[2014-03-28 15:02] #22 closed, assigned to nobody

[2014-03-29 13:30] svx opened #29 "How to contibute to documentation"
write howto about that, include also stuff like:

Git workflow / branching model

It is important that you NEVER commit to master directly. Even for the smallest and most trivial fix. ALWAYS open a pull request and ask somebody else to merge your code. NEVER merge it yourself.

If you don't get feedback on your pull request in a day please come to #plone-framework and ping @garbas or @vangheem abo

[2014-03-29 13:50] timitos opened #30 "Plone 3 Content about historizing custom content types needs to be moved to plone 3 branch"
https://github.com/plone/documentation/blob/master/develop/plone/content/history.rst#id2

[2014-03-29 13:53] #6 closed, assigned to nobody

[2014-03-29 16:54] svx opened #31 "/documentation/about/writing/preface"
do we want to keep preface ? maybe somewhere else ?

[2014-03-29 18:01] #20 closed, assigned to nobody

[2014-03-29 18:16] #31 closed, assigned to nobody

[2014-03-29 18:18] #24 closed, assigned to nobody

[2014-03-29 18:25] #10 closed, assigned to nobody

[2014-03-29 20:10] pbauer opened #32 "include docs for https://github.com/plone/plone.app.contentlisting"

[2014-03-29 20:51] polyester opened #33 "list of errors for externally-included docs"
collective/tutorial.todoapp: index, list of modules, own searchbox not working, has GH warning
plone.api: has GH warning
plone.app.testing: index, list of modules, own searchbox not working
(beginning to suspect this is an artifact of sphinx defaults...)

[2014-03-29 21:27] #32 closed, assigned to polyester

[2014-03-30 12:42] #15 closed, assigned to nobody

[2014-03-30 12:43] #11 closed, assigned to nobody

[2014-03-30 12:53] #19 closed, assigned to polyester

[2014-03-31 11:36] gforcada opened #35 "Check consistency on guidelines"
I just wrote this StackOverflow question: http://stackoverflow.com/questions/22760485/how-one-should-check-for-a-permission-in-plone

Which basically boils down to: _from two different documentations in current developer.plone.org we get two different ways to check for a permission, which is the one that should be used?_

So maybe it would be a good idea to create some small tips/recipes on how to

[2014-03-31 13:38] #29 closed, assigned to nobody

[2014-03-31 13:41] polyester opened #36 "list of broken links"
I've run "make linkcheck", and a large number of links are broken. I've fixed a number of them already, prioritizing the end-user docs.

The list is in the repo, at https://github.com/plone/documentation/blob/master/broken-20140331.txt

for the moment: if you fix a broken link, update that file and push.

[2014-04-02 11:01] jean opened #37 "Symlinks and Windows"
On https://github.com/plone/documentation/blob/master/about/documentation_styleguide_addons.rst we recommend "So, if you create a README.rst, do it in the /docs/source directory, and make a symlink to it from the root of your repository.".

On https://github.com/collective/collective.recipe.filestorage/pull/3#issuecomment-39002703 @davisagli notes that symlinks will probably be a problem on Window

[2014-04-02 11:01] jean opened #38 "Symlinks and Windows"
On https://github.com/plone/documentation/blob/master/about/documentation_styleguide_addons.rst we recommend "So, if you create a README.rst, do it in the /docs/source directory, and make a symlink to it from the root of your repository.".

On https://github.com/collective/collective.recipe.filestorage/pull/3#issuecomment-39002703 @davisagli notes that symlinks will probably be a problem on Window

[2014-04-02 11:01] jean opened #39 "Symlinks and Windows"
On https://github.com/plone/documentation/blob/master/about/documentation_styleguide_addons.rst we recommend "So, if you create a README.rst, do it in the /docs/source directory, and make a symlink to it from the root of your repository.".

On https://github.com/collective/collective.recipe.filestorage/pull/3#issuecomment-39002703 @davisagli notes that symlinks will probably be a problem on Window

[2014-04-02 11:04] jean opened #40 "Symlinks and Windows"
On https://github.com/plone/documentation/blob/master/about/documentation_styleguide_addons.rst we recommend "So, if you create a README.rst, do it in the /docs/source directory, and make a symlink to it from the root of your repository.".

On https://github.com/collective/collective.recipe.filestorage/pull/3#issuecomment-39002703 @davisagli notes that symlinks will probably be a problem on Window

[2014-04-02 11:05] #40 closed, assigned to nobody

[2014-04-02 11:06] #39 closed, assigned to nobody

[2014-04-02 11:06] #38 closed, assigned to nobody

[2014-04-07 14:03] #26 closed, assigned to nobody

[2014-04-07 14:04] #3 closed, assigned to nobody

[2014-04-07 14:06] #28 closed, assigned to svx

[2014-04-07 14:16] #23 closed, assigned to polyester

[2014-04-10 12:41] svx opened #41 "Move Deliverance docs from old-kb to here"
we have to move Deliverance docs, looks like some ppl are using it, does it have to go into the Plone 3 or Plone 4 branch ?

[2014-04-12 10:48] #37 closed, assigned to nobody

[2014-04-16 08:41] svx opened #42 "Move/Check/Update SSL/HTTPS"
SSL/HTTPS

on kb old we have long and old example guide over apache with ssl on the current docs we have two short examples, we should check them and if necessary update them

[2014-04-22 14:19] giacomos opened #43 "write documentation about deploying plone in all the possible ways"
for ex.:
- saltstack
- ansible
- puppet
- etc..etc..

note: all the examples should be done based on the unified installer

[2014-04-28 09:08] #18 closed, assigned to nobody

[2014-04-28 12:08] esteele opened #47 "Update docs to reflect 4.3.3 release"
http://plone.org/products/plone/releases/4.3.3

[2014-04-28 12:42] #47 closed, assigned to nobody

[2014-04-28 23:58] pigeonflight opened #49 "Title case for headings in the docs. Being consistent."
I'd like to recommend that headings in the documentation use Title case with words like "to" and "a" remaining common, proper nouns like "Plone" should ALWAYS be captilized.

For example:
#### How to Capitalize Plone Documentation Headings

as opposed to sentence case:
#### How to capitalize Plone documentation headings

Capitalize the first word of the title, the last word of the title, and all “

[2014-05-13 13:40] thet opened #57 "xdv / deliverance documentation obsolete"
in my opinion, the xdv and deliverance docs should be removed. xdv refers to the previous incarnation of diazo, and deliverance has been replaced by diazo.

http://docs.plone.org/adapt-and-extend/theming/deliverance.html
http://docs.plone.org/adapt-and-extend/theming/templates_css/xdv.html

[2014-05-13 13:43] thet opened #58 "combine diazo docs"
currently, there are diazo docs on these places:

http://docs.plone.org/external/diazo/docs/index.html
http://docs.plone.org/adapt-and-extend/theming/theme_product_with_diazo.html
http://docs.plone.org/adapt-and-extend/theming/templates_css/diazo.html
and
http://docs.plone.org/external/plone.app.theming/docs/index.html

these docs should better be combined instead seperated.

[2014-05-15 11:57] polyester opened #59 "integrate transmogrifier documentation"
collective.transmogrifier has re-arranged their docs to be in a format we can integrate. Let's look at the mind-map, think, and determine a good place where they should go

[2014-05-18 14:40] #59 closed, assigned to polyester

[2014-05-18 15:13] #41 closed, assigned to giacomos

[2014-05-21 07:53] svx opened #63 "plone.app.caching review"
review/merge this to docs.plone.org:

https://github.com/plone/plone.app.caching/commit/1903be9b6865cbf01f4f50f551accfeb176353e3

see as sphinx version: https://pythonhosted.org/plone.app.caching/

[2014-05-21 08:01] svx opened #64 "Include to /documentation_styleguide_addons"
http://plone.org/documentation/kb-old/how-to-create-a-sphinx-based-documentation-for-your-project

We should check what we should include from the old manual

Also we should explain better, what a README should include, like best practices

[2014-05-22 08:01] ida opened #67 "Add installation chapter?"
Hi, I just wondered, if we also want an installation-section in the docs, where we could provide and collect reliable recipes to set up dev-builds by using virtualenv, e.g.? If you think that would be helpful, I'd like to start to write it, just would need assistance on how to create a new chapter, then.

[2014-05-22 08:09] ida opened #68 "Add info oldstyle vs. newstyle?"
Suggesting to create a new chapter for an overview about old and new Plone-techniques, especially showing infos about motivations, current state (in dev, stable, etc.) and deprecations. Could be named "Past, present and future", e.g. If you think it fits the docs, I'd like to contribute to it, just need a new chapter (I don't get, how to create one).

[2014-05-27 17:11] svx opened #71 "add plone.docs to dash ?"
http://kapeli.com/dash

do we want to add our docs to that ?

[2014-05-30 13:01] svx opened #72 "Find a way to use readme.rst and not readme.txt"
We should find a way to rename readme to rst.

We can do that with: http://sphinx-doc.org/config.html#confval-exclude_patterns

[2014-05-30 18:05] #63 closed, assigned to polyester

[2014-05-31 14:12] #72 closed, assigned to nobody

[2014-06-01 08:00] svx opened #77 "Add part about translations to http://docs.plone.org/about/index.html"
We have no documentation about translations at the moment, we should include that!

IMHO this should go to: http://docs.plone.org/about/contributing.html

just a couple of lines, telling that we use transifex and what do you have to do to conribute, like create an account on transiflex, open a request to get assigined to plone-docs [maybe with sceenshots'to make it easier to understand.

The only

[2014-06-18 22:50] ironhouzi opened #81 "Confusing formatting error in docs."
It seems like the tutorial wants the user to run a weird command:

[code]

http://docs.plone.org/external/plone.app.dexterity/docs/prerequisite.html

[2014-06-19 16:15] #81 closed, assigned to polyester

[2014-06-22 02:56] polyester opened #85 "add advice on using namespaces in diazo themes"
a number of Diazo themes have issues with things like pop-up modals and ajax. The cause is usually that css class-names collide, and therefore inadvertently trigger Diazo rules.

We should include in the themer documentation a hint / best-practice to use namespaced classnames in their themes. So, instead of 'body' or 'content' use 'mytheme.body' and 'mytheme.content' to avoid conflicts.

[2014-06-29 14:53] svx opened #88 "trim down build errors"
we have some build errors which we can't fix for various reasons, for example they are created by external docs or something else ...
but what we can do, is to exclude known parts from error checking during the build process, meaning we will not get error messages about these, we can do that with:
http://sphinx-doc.org/config.html#confval-exclude_patterns

question: which parts of the docs are a c

[2014-07-15 11:54] svx opened #92 "Link is not working"
On:
http://docs.plone.org/develop/addons/components/genericsetup.html#uninstall-profile

we have a link pointing to:

http://plone.org/documentation/kb/genericsetup/creating-an-uninstall-profile

which points to the old kb, we should fix that link :)

[2014-07-19 11:37] polyester opened #95 "look at pontoon to help translations in-place"
from the writethedocs conference: https://developer.mozilla.org/en-US/docs/Mozilla/Localization/Localizing_with_Pontoon looks like it could be made to translate in-context, and then save to transifex. Should be looked at

[2014-07-29 14:57] svx opened #98 "august 2014 release"
[ ] fix #92
[ ] fix more broken links
[ ] more work on 'dictionary of known words' [spell-check]
[ ] fix more typos
[ ] prepare changelog
[ ] finish spell-check integration [see: https://github.com/plone/papyrus/tree/spellcheck]
[ ] include readme example as of #64

[2014-07-29 16:04] #98 closed, assigned to nobody

[2014-07-29 16:06] #95 closed, assigned to nobody

[2014-08-04 11:44] gforcada opened #101 "Convinient way to get fields from browsers"
Sorry to drop it here in this state I will do a pull request for it. Just stashing it here so it does not get lost:

When debugging a functional test is really annoying to get those errors about `LookupError: name XXX not found` while trying to get a control.

I came up with the following one-liner that prints all control names on all forms, this way you can easily see what's the name (of if it's

[2014-08-04 22:29] #101 closed, assigned to nobody

[2014-08-18 08:26] #68 closed, assigned to nobody

[2014-08-18 08:26] #64 closed, assigned to nobody

[2014-08-18 08:28] #49 closed, assigned to nobody

[2014-08-18 08:45] #42 closed, assigned to nobody

[2014-08-18 08:49] #27 closed, assigned to nobody

[2014-08-18 09:08] #92 closed, assigned to nobody

[2014-08-18 09:33] gforcada opened #109 "Integrate garbas z3c.form docs?"
Today a colleague pointed me to: http://garbas.github.io/plone-z3c.form-tutorial/

Which maybe is not comprehensive but gives quite a few useful tips on every page, so I would say worth adding (fixing typos and updating here and there).

[2014-08-18 10:10] svx opened #110 "releasing a package should be update and move"
atm we have this under: http://docs.plone.org/old-reference-manuals/buildout/creatingpackage.html?highlight=release

but we have it missing under development a ad-don, we should change this, and include it under:
http://docs.plone.org/develop/addons/index.html

[2014-08-18 10:23] #8 closed, assigned to nobody

[2014-08-21 03:20] fulv opened #113 "Broken link to Behaviors manual"
On http://docs.plone.org/external/plone.app.dexterity/docs/advanced/behaviours.html, the link in

_Writing behaviors is covered in the Behaviors manual._

http://developer.plone.org/reference_manuals/external/plone.app.dexterity/behaviors/index.html

is broken.

[2014-08-21 08:05] #113 closed, assigned to nobody

[2014-08-31 06:36] pbauer opened #116 "include mastering plone"
Include the docs at https://github.com/plone/training

[2014-09-01 14:25] #71 closed, assigned to nobody

[2014-09-05 13:30] svx opened #117 "To check: Additional Control Script `debug`, `console` and `run` Commands"
cheap copy and paste from:
https://github.com/plone/plone.recipe.zope2instance/pull/14/files#diff-88b99bb28683bd5b7e3a204826ead112R508

thanks @do3cc for his tweet about it :)

we should check if we already have that in the docs !

---

+Additional Control Script `debug`, `console` and `run` Commands
+---------------------------------------------------------------

 The extended Zope 2 control scr

[2014-09-09 16:11] svx opened #119 "Fix build"
We are getting now:

 Installing sphinx-build.

Error: There is a version conflict.

We already have: robotframework 2.7.7

but sphinxcontrib-robotframework 0.4.4 requires 'robotframework>=2.8.0'.

@datakurre could it be that this as something to do with the version pinning we did here:

https://github.com/plone/papyrus/pull/19

[2014-09-10 04:25] #119 closed, assigned to nobody

[2014-09-14 15:07] pigeonflight opened #122 "build instructions for the docs don't work"
The build instructions in the README.rst file don't work on a freshly checked out copy of the docs.
It assumes that the 'bootstrap.py' file is in the papyrus folder but it isn't there.

[2014-09-15 18:33] jensens opened #125 "Dexterity Back-References lacks documentation"
see plone/plone.app.dexterity#51 - open here, close over there

[2014-09-15 18:40] jensens opened #126 "Dexterity TTW XML Editor needs documentation"
see plone/plone.app.dexterity#123 open here, close over there

[2014-09-16 08:43] #125 closed, assigned to nobody

[2014-09-16 18:09] #116 closed, assigned to nobody

[2014-09-22 11:52] #122 closed, assigned to nobody

[2014-09-22 14:43] #67 closed, assigned to nobody

[2014-09-24 10:59] gforcada opened #133 "Warn about event handlers"
At work we stumbled upon this: https://stackoverflow.com/questions/25443327

Which basically means: when editing an object its container does also gets notified about it, which could (depending on the event handler) cause a massive performance problem (let's say that you build some expensive pdfs, graphs, trigger reindexes or what not).

I guess that would  be nice to let everyone know about it wh

[2014-09-29 11:31] polyester opened #137 "Update style guide for add-on writers"
Our styleguide at https://github.com/plone/documentation/blob/master/about/documentation_styleguide_addons.rst is, unfortunately, wrong. We say that symlinking from the top level to the docs directory is fine, because Github will display that just fine.

That is correct, but unfortunately Pypi is a bit more braindead. See the difference between https://pypi.python.org/pypi/plone.app.testing/5.0a2

[2014-09-29 13:47] #77 closed, assigned to nobody

[2014-09-29 13:55] #17 closed, assigned to nobody

[2014-10-14 09:14] svx opened #146 "Add trello board to README"
- Add link to trello board
- Update trello

[2014-10-15 07:38] svx opened #147 "Add part about different ways to use documentation"
we have lots of different ways to use the docs, we should mention them:

- dash/zeal
- firefox search
- chrome search
- duckduckgo ! bang
- sublime plugin
- more ?

[2014-11-01 13:33] #57 closed, assigned to nobody

[2014-11-01 16:03] svx opened #151 "Rename 5 branch"
Rename branch 5 to 5.0

[2014-11-04 14:21] svx opened #153 "Move Plone 3 parts from master to Plone 3 branch"
Meta ticket for stuff which has to move:

[ ] http://docs.plone.org/develop/plone/images/content.html#id7 [Plone 3 parts]

[2014-11-04 23:43] fulv opened #154 "permission inheritance of files and images"
I had an illuminating chat with davisagli on IRC about permissions of files and images, and thought this needs to be captured and added to the documentation.  Now I have the challenge of figuring out where to put it.
Suggestions welcome!

 <fulv> I always assumed that files in hidden folders would be visible, but that's only true for published pages in hidden folders.  TIL
[23:10:05]  <davisagli>

[2014-11-05 10:37] #151 closed, assigned to nobody

[2014-11-11 06:51] giammi opened #155 "Plone Template Element Map - Broken Link"
![selection_004](https://cloud.githubusercontent.com/assets/1036076/4989346/85084e4e-6977-11e4-95f2-c59e196f065a.png)
Hello,

I was reading about theming in plone at
http://docs.plone.org/adapt-and-extend/theming/templates_css/template_basics.html#plone-template-element-map

The link that should refer to
http://plone.org/documentation/manual/theme-reference/elements/elementsindexsunburst4

does no

[2014-11-11 21:26] gforcada opened #156 "How to customize a view without overriding the template"
Just keeping the reference around:

http://stackoverflow.com/questions/26863108/customize-plone-view-class-without-touching-the-template

[2014-11-17 10:21] #146 closed, assigned to svx

[2014-11-17 23:26] fulv opened #159 "Wrong image on "Collaboration through Sharing" page"
_images/05.png seems to be the wrong image at this point in the narrative
Line 78 in https://github.com/plone/documentation/blob/master/working-with-content/collaboration-and-workflow/collaboration-through-sharing.rst

I have not yet grokked how the docs are structured, so I can't offer a fix at this time.

[2014-11-18 11:37] gforcada opened #160 "Obsolete references to collective.autopermission"
I was reading http://docs.plone.org/external/plone.app.dexterity/docs/advanced/permissions.html and saw that it talks about ``collective.autopermission`` but it already warns that is merged in Zope, so probably we can remove that for both Plone 4 and Plone 5 documentation and keep it (?) for Plone 3?

[2014-11-21 12:12] macagua opened #161 "Add references about roles, groups, user and workflow policies"
Hi guys

I would be great to add references about roles, groups, user and workflow policies, for example:

Plone: workflow e sicurezza (Just in Italian created by @keul ).
http://plone-worfklow-e-sicurezza.readthedocs.org/en/latest/index.html

[2014-11-23 06:45] svx opened #164 "Move travis check to papyrus"
Since this repository is only meant for .rst and papyrus is doing all the magic, maybe we also should move travis to papyrus, does it would make sense ?
In fact building the documentation is via papyrus, so papyrus should also be the place to test it.

[2014-11-25 13:50] pigeonflight opened #165 "Where to submit new notes on using the plone.api?"
Where do I contribute new api usage examples?

I'd like to contribute docs on using the plone.api to create images. it seems that this should be contributed to the plone.api docs and not directly to the plonedocs. It's a bit weird because I now have to consider what version of the plone.api these docs affect and if these docs will even get into the plone 4.3.x docs.

Some guidance would be appreci

[2014-12-01 09:51] #165 closed, assigned to nobody

[2014-12-01 09:53] #164 closed, assigned to nobody

[2014-12-01 14:42] svx opened #167 "old branches"
@loechel do we still need the ploneorg_theme and the conf_changes branches ?

[2015-01-05 13:45] polyester opened #178 "move Upgrade Guide to the docs"
The "Upgrade Guide" at https://plone.org/documentation/manual/upgrade-guide should be moved to the docs.

While doing that, it may be a good idea to go through it, sort the "version-specific migration procedures and tips" in reverse order, and put some pointers to alternatives when doing migrations from *really* old versions, via transmogrifier for instance, since no-one in their right mind is goi

[2015-01-05 14:12] #178 closed

[2015-01-05 14:12] polyester commented on #178
duh, sorry for the noise. I'll still sort the version specific tips in reverse chronological order

[2015-01-05 14:32] svx commented on #167
@loechel ping ! :)

[2015-01-05 14:35] svx commented on #36
updated list: https://github.com/plone/documentation/blob/master/broken-links-nov2014.txt

[2015-01-05 14:41] svx commented on #154
@polyester @fulv what is the state of this ?

[2015-01-05 14:44] svx commented on #160
This is fixed right? Does that mean we can close this one and https://github.com/plone/plone.app.dexterity/issues/140 ?

[2015-01-05 14:53] polyester commented on #154
oh, sorry. This has been dealt with, @fulv has written the docs. Closing.

[2015-01-05 14:53] #154 closed

[2015-01-19 14:03] svx commented on #167
@loechel reminder !!

[2015-01-19 14:07] svx commented on #161
Is someone willing to do this ?, looking at @macagua :) otherwise I will close this, because it fills upthe issue tracker and could be better moved to our trello 'wish board'

[2015-01-21 12:48] adamcheasley opened #183 "Documenting the use of __ac_local_roles_block__"
As far as I can tell, the above flag is still the only way to actually block acquisition of local roles programmatically. Is there any reason that it is not documented here?
http://docs.plone.org/develop/plone/security/local_roles.html
It is mentioned on this page:
http://docs.plone.org/develop/plone/members/sharing_tab.html?highlight=__ac_local_roles_block__
but it's not really explained at all.

[2015-01-21 12:59] polyester commented on #183
There is no reason, so it'd be great if you can submit a pull request

[2015-01-22 12:18] svx opened #184 "Plone API"
From Plone 5 on, plone.api is in core, so we need a place for them in the docs.
What would be a good place ?

[2015-01-29 13:11] svx commented on #167
Removed

[2015-01-29 13:11] #167 closed

[2015-01-29 13:13] svx commented on #161
I will close that for now, feel free to open again if you want to work on it

[2015-01-29 13:13] #161 closed

[2015-01-30 12:55] #160 closed

[2015-01-30 12:56] #155 closed

[2015-02-06 11:45] jensens opened #191 ":ref: Referencing labels cross document - rules?"
It seems with `:ref:` its possible to reference to labels cross documents. Theresfore labels must be unique within the whole documents.
See http://sphinx-doc.org/markup/inline.html#cross-referencing-arbitrary-locations

Is there a rule how to achieve uniqueness when adding labels? I.e namespace prefixing or however.

[2015-02-06 15:19] svx opened #193 "https://github.com/collective/bobtemplates.plone"
should we add this to the docs ?

if so to which version ?

[2015-02-06 15:55] gforcada commented on #193
Big :+1: as for which version, @tisto has been doing some work lately targeted at Plone 5 so I would say that we most probably only want to start talking about it on Plone 5 and keep the zopeskel/templer mess on plone 4

[2015-02-06 16:02] svx commented on #193
@gforcada sounds good I will add this to the list for Plone 5 docs.
@tisto, @pbauer  do you know if there is a plan to move from collective to the core repo ?.
If they move to core I can auto-include, otherwise I will have to link

[2015-02-07 17:48] plone-foundation commented on #193
This is more urgent than we may have thought. There is some nasty
compatibility problem between the Zopeskel localcommand framework and
current setuptools.

On Fri, Feb 6, 2015 at 8:02 AM, sven <notifications@github.com> wrote:

[2015-02-07 18:43] polyester commented on #193
How far back is mr.bob and bobtemplates compatible? Does it work on 4.0-4.2? If so, I say we change quickly. If not, we have an issue...

[2015-02-07 18:47] pbauer commented on #193
I would gladly move bobtemplates.plone to the plone-repo. Do I need to get the permission for all the other commiters? Regarding versions I think it should be in Plone 4 and 5 since it supports both. I never tried using an addon created with bobtemplates.plone in anything older than Plone 4.3 but will do so and I don't think there is anything in it that prevents the addons to work. Although the bu

[2015-02-07 18:59] polyester commented on #193
@pbauer , only on Cedric (https://github.com/cedricmessiant) I'm not sure he has already signed a Contributor Agreement (he should anyway ;-)

so he'd be the one to ask.

[2015-02-07 19:05] pbauer commented on #193
I asked him

[2015-02-07 19:19] pbauer commented on #193
And I just tried a addon with Plone 4.2.7, 4.1.6 and saw no problems. I could not get it to run in 4.0.10 and was too lazy to spand time on that since I think that is acceptable.

[2015-02-07 19:28] polyester commented on #193
OK, assuming Cedric can be contacted so we can pull the whole bobtemplates doc into documentation proper,  that would mean (just listing it here, not saying I'll write it within the next few days.....)
- deprecating https://github.com/plone/documentation/blob/master/develop/addons/paste.rst as "the" solution, yet still keeping it around for reference (at least for 4.x branch)
- adding bobtemplates

[2015-02-07 19:37] polyester commented on #183
was closed with https://github.com/plone/documentation/pull/186, thanks!

[2015-02-07 19:37] #183 closed

[2015-02-08 07:24] svx commented on #193
just let me know when I can change and I will do it

[2015-02-09 10:07] pbauer commented on #193
@cedricmessiant confirmed that he already signed over his soul to Plone. I created https://github.com/plone/bobtemplates.plone and will move https://github.com/collective/bobtemplates.plone there

[2015-02-09 10:13] svx commented on #193
OK I see the new repo in core :) I will work on this during the next days to make sure it will be in the next docs release which will be in around two weeks

[2015-02-09 10:17] polyester commented on #193
Then some of the admins should also add @cedricmessiant to the Plone org repo.

[2015-02-09 10:34] svx commented on #193
He is already a member

[2015-02-09 10:38] polyester commented on #193
hmm, I see only 'collective' in his profile. But OK, this is getting offtopic

[2015-02-09 11:02] svx commented on #193
me too but if I check the member of the organization it shows me that he is a member

[2015-02-09 21:21] plone-foundation commented on #193
Thanks, Philip. I think you've done adequate diligence. If someone needs
template code for 4.0.x, they can just grab the 4.0.x unified installer.

On Sat, Feb 7, 2015 at 11:19 AM, Philip Bauer <notifications@github.com>
wrote:

[2015-02-12 13:04] svx opened #197 "old reference manuals: Plone 3 themeing"
Is it ok for everyone if I remove this from the plone 5 docs ?

[2015-02-12 13:06] gforcada commented on #197
:+1: for plone 5 docs? i would say so, as long as we provide a them on plone 3 and maybe even on plone 4 docsets

[2015-02-12 13:10] svx commented on #197
yes they are in the docs of plone 3 and plone 4, and it will stay that way

[2015-02-12 13:24] svx opened #198 "Plone 5 meta ticket"
- [x] remove old-reference-manuals/plone_3_theming ?
- [x] remove old-reference-manuals/pluggable_authentication_service ?
- [x] remove old-reference-manuals/portlets/ ?
- [x] remove old-reference-manuals/testing ?
- [x] remove old-reference-manuals/zope_secrets/ ?
- [x] remove old-reference-manuals/old-style-vs-new-style
- [x] remove old-reference-manuals/forms/ ?
- [x] remove old-reference-manua

[2015-02-13 01:02] miohtama commented on #198
Just for the reference: Please leave the material accessible online somewhere (even in the github in source form). Some poor people are still maintaining those old Plone 3 sites and need to take look on these from time to time.

[2015-02-13 06:55] svx commented on #198
Looks like your are not up to date anymore :)
These docs **will stay online**, there are anyway in the docs of plone 3 [docs.plone.org/3.3] and there are also in the plone 4 docs, which will be move to docs.plone.org/4.something.
So they will stay online :)
But I want to remove them from the 5 docs, which will be later docs.plone.org/ :)

[2015-02-16 08:51] svx commented on #193
New branch: https://github.com/plone/documentation/tree/bobtemplates_p4

@polyester: I did not changed https://github.com/plone/documentation/blob/master/develop/addons/dexterity.rst, since we can't do that with bobtemplates, yet

[2015-02-19 18:03] svx commented on #197
done !

[2015-02-19 18:03] #197 closed

[2015-03-05 18:00] jensens opened #204 "zope.Public not listed as standard permission"
here `zope.Public` is missing:
http://docs.plone.org/develop/plone/security/standard_permissions.html

[2015-03-09 19:13] jensens opened #207 "broken link viewlets.xml/ more info"
the more info link above section
http://docs.plone.org/develop/plone/views/viewlets.html#viewlet-behavior
to
https://plone.org/documentation/manual/theme-reference/elements/viewletmanager/override
is broken.

[2015-03-18 12:04] svx opened #210 "Update Ubuntu version to 14.04 as default version"
Update Ubuntu version from 12.04 to 14.04 as default version and add note about differences between the versions.
Basically the same what we have now, but then the way around.

Reason: 12.04 is getting older and more and more people are now installing on 14.04

[2015-04-10 07:47] svx opened #214 "Include UI-installer docs to docs.plone.org"
Since the UI-Installer has lot of different options, and because it is still missing, we should include the docs into docs.plone.org

todo:
- update UI-Instaler readme with new links
- include [fetch] docs

[2015-04-10 14:10] svx opened #215 "Update OSX install part"
Update docs about how to install plone on osx

[2015-04-10 14:14] svx opened #216 "Include docs about sphinx theme for our docs"
Include the docs about our sphinx theme

[2015-04-10 14:34] svx opened #217 "Remove paster from install part"
We have to remove paster from:
http://docs.plone.org/manage/installing/installation.html?highlight=wget#id13

Maybe it is possible to update that with mr.bob ?

[2015-04-10 14:37] svx opened #218 "Add change-logs to releases"
Add a change-log to each to each release:

- find a place to put them
- find a way to create them automated

[2015-04-10 14:44] svx opened #219 "Add links to manual pages"
Add in:
http://docs.plone.org/manage/installing/installation.html?highlight=wget#id4

the links to the docs parts were we have this documented

[2015-04-15 21:22] gforcada opened #221 "review PloneTestCase references"
I was answering a question on Stackoverflow ([this one](stackoverflow.com/questions/29660234)) that pointed to [this page on docs.plone.org](http://docs.plone.org/manage/deploying/testing_tuning/testing_and_debugging/unit_testing.html#id2) where there are some code examples and pointers to PloneTestCase.

I guess we want to change those to plone.app.testing ones right?

[2015-04-16 04:47] jean opened #222 "Moving a Plone site: Incorporate good posts from mailing list thread"
See this thread:
  http://sourceforge.net/p/plone/mailman/message/33830864/
  http://sourceforge.net/p/plone/mailman/plone-users/?viewmonth=201504

[2015-04-16 09:42] svx commented on #221
Yes +! !

[2015-04-17 10:41] svx opened #223 "Add docs about retext and custom settings"
If people use retext for writing docs, they can configure it, to use the css from docs.plone.org, this would make the preview, looks a bit more like docs.plone.org.

But this is only doable for one css at the time, meaning people have to set retext to plone4 or plone 5 css, this can be done easily via prefs.

Do we want this ?

[2015-04-17 11:02] svx opened #224 "Location for configs [editors] and such stuff"
Imho it would be a good idea to extend our section about writing/contributing to the docs. To make this even a bit easier we could provide example configs for sublime/vim/nano and other tools like retext, marko and so on.
This examples should include stuff like, syntax highlighting for rst, spell-check, line nr.and so on and so on.
If we would have these configs even as files for 'downloading/git

[2015-04-17 12:04] svx commented on #216
I guess this should go under: http://docs.plone.org/about/ right ?
Do we also want to include papyrus docs, at least as a link, under something like 'building documentation' ?

[2015-04-17 12:05] svx commented on #218
what is with about/changelog ?

Comments ? Opinions ? Please do tell ! :)

[2015-04-17 12:07] svx commented on #217
@tisto : Do you know the state of plone.mr.bobtemplates ?

[2015-04-17 12:10] svx commented on #210
According to a quick 'grep' this has to be done here:
./manage/deploying/production/ubuntu_production.rst:    A step-by-step guide to installing Plone 4.x on a recent Ubuntu LTS [12.04] server installation.
./manage/installing/installation.rst:Instructions are tested for the *Ubuntu 12.04 Long Term Support* release.

[2015-04-17 12:18] svx commented on #16
First issue for that is opened on https://github.com/plone/jenkins.plone.org/issues/103

[2015-04-17 13:37] avoinea opened #225 "Broken/Missing images/links"
http://docs.plone.org/working-with-content/adding-content/adding-files.html
http://docs.plone.org/working-with-content/adding-content/adding-events.html

http://docs.plone.org/develop/addons/components/adapters.html#example-adapters-users
http://docs.plone.org/develop/addons/components/adapters.html#local-adapters

[2015-04-17 13:52] svx commented on #225
Yeah, looks like there went something wrong with robots-screenshots and it was not recognized during the test builds

[2015-04-17 15:06] fulv opened #226 "to symlink or not to symlink README.rst?"
In about/documentation_styleguide_addons.rst there is a bit of contradictory information:

* in line 33, it says that "creating a README.rst in the /docs/source directory, and making a symlink to it from the root of your repository, then pypi will not render it nice"
* but in line 58, "If you want that information to also be available in the documentation on docs.plone.org, you should move those f

[2015-04-17 15:17] svx commented on #226
I am too, @polyester was working on that, @polyester can you bring some light into this ?

[2015-04-17 16:36] polyester commented on #226
yeah, that's a problem. Github will do the right thing, but PyPi will just show .rst files as-is, without any rendering, if it's a symlinked file.

So that needs updating. If the guidelines are followed, a readme.rst should *not* change often, and be short, so best practice may be

- to put a short readme.rst both in the top folder and the docs folder
- to keep the changes.rst in the docs folder

[2015-04-17 16:51] svx commented on #226
Doing some research ... it seems also related to the version of docutils and 'proper' rst [github and sphinx are not always using 'real' rst.
There is for example a rst-lint checker:

https://pypi.python.org/pypi/restructuredtext_lint

I did not tried it, yet.

[2015-04-17 19:28] gforcada commented on #226
Sphinx can reference files outside the docs folder, so wouldn't make sense to keep both README.rst and CHANGES.rst at top level? This way setup.py is more dumb proof (i.e. for the crazy one changing them to .rst aka me :D) and you access them from github directly within one click.

[2015-04-18 05:50] svx commented on #226
Yes, Sphinx can that, but this will not help in that case, the probelem is the rendering from rst on pypi,
Pypi is using and wired setup of old docutils with some crazy filtering, so pypi is filering outcertain rst from for example Sphinx, that i sone reason why sometimes your readme.rst is not showing on pypi, at least that is what I found out during my reasearch yesterday.
So imho, we need to fi

[2015-04-18 06:04] tisto commented on #226
FYI: We had a long discussion where to put README/CHANGES and changed all core packages accordingly:

https://github.com/plone/plone.api/issues/111

Isn't is possible to make the documentation just fetch README.rst and CHANGES.rst from the top-level in addition to the docs folder?

[2015-04-18 07:46] polyester commented on #226
@tisto yes that would be possible. It's a teeny tiny bit more configuration on our side, but it does give a more consistent approach. And since including an add-on into the docs.plone.org isn't such a regular event, I'd say it is worth it.

[2015-04-18 19:26] gforcada commented on #217
@svx you mean https://github.com/plone/bobtemplates.plone ? It has already a 0.9 release on pypi and I think is already/about-to-be blessed from FWT. So for plone5 on everything should be based on it.

[2015-04-24 14:17] svx commented on #223
We have now a working example for sublime 3: https://youtu.be/3fWLuqyc3Oc

# todo
- add templates for plone 5
- cleanup
- make a sublime package for easy setup
- write docs about it

[2015-04-24 14:18] svx commented on #4
include links to #224 and #223

[2015-04-24 15:07] svx commented on #219
closed : https://github.com/plone/documentation/commit/9938d2e8717c17918dbb32a7d7de91756c62ae65

[2015-04-24 15:07] #219 closed

[2015-04-25 13:58] svx commented on #217
see #193

[2015-04-25 21:17] #210 closed

[2015-04-27 18:36] svx commented on #217
done

[2015-04-27 18:36] #217 closed

[2015-04-27 19:07] svx commented on #193
Removing paster parts form the docs is currently way more work, the whole section /develop is full of it.
So I am all in for removing/update it for Plone 5 but what shall we do with Plone 4 docs ?

[2015-04-28 07:56] procmail opened #232 "hello_world example: can't python bootstrap.py"
On this the page http://docs.plone.org/develop/addons/helloworld/environment/plone.html it says:
`../bin/python bootstrap.py`

However, this always fails. Error log here:
http://pastebin.com/G2FDabDp

[code]

[2015-04-28 08:04] svx commented on #232
Yes, we know, we are already working on this: https://github.com/plone/documentation/issues/193

Thanks for reporting !!

Btw you really should not use paster and zopeskel anymore, please move over to: https://github.com/plone/bobtemplates.plone and use bobtemplates.

Thanks !

[2015-04-28 08:10] procmail commented on #232
Thanks for the link. I'll have a look at bobtemplates.

I'm a newcomer to Plone as well as buildout, so this is all very confusing to me. As it is, I'm not sure which part of the hello_world tutorial to substitute with bobtemplates.

I understand everyone's busy getting ready for Plone 5, and if Plone 5's docs are ready, I can start learning and beta-testing from there instead.

[2015-04-28 08:28] gforcada commented on #232
@procmail welcome to Plone!

If you are new maybe it will be easier for you to read and follow the Plone training: http://plone-training.readthedocs.org/en/latest/

There you will have an easy and well documented learning path into Plone.

[2015-04-28 09:04] procmail commented on #232
Thank you!

[2015-04-28 16:55] fulv commented on #232
Also, take a look at this:
https://medium.com/@timostollenwerk/getting-started-with-plone-testing-13a1a3f4ccc4
I believe it addresses the

On Tue, Apr 28, 2015 at 2:04 AM procmail <notifications@github.com> wrote:

[2015-04-30 17:04] svx commented on #193
just to be sure I will ask one last time, is it OK with everyone that I start to remove *all* paster/zopeskel parts from the 5 branch ?

[2015-04-30 17:19] svx opened #235 "Valid for Plone 5"
Is this still valid for Plone 5 ?

http://docs.plone.org/develop/plone/images/content.html

[2015-04-30 18:29] cewing commented on #193
:pray: :clap: :fireworks:

[2015-04-30 22:53] gforcada commented on #193
Yes please! :)

[2015-04-30 22:54] #153 closed

[2015-04-30 22:56] gforcada opened #236 "Release information on each page?"
Just after merging #234 I thought that if we have a way (Sphinx maybe has it already?) to annotate sections to be relevant for one or another version (the ``since:`` in terms of API methods) it would make these cleanup tasks like #234 far easier...

[2015-05-01 14:08] svx commented on #226
Do do that we will have to rewrite https://github.com/plone/papyrus/blob/master/get_external_doc.sh in a way that the script is checking for the readme in /top-level.

We can do that but before we start we should make sure that **all** docs we include form own repos, which are for the moment:

- https://github.com/plone/plone.app.dexterity
- https://github.com/plone/plone.api
- https://github.com/

[2015-05-01 14:16] svx commented on #226
I really would like to propose a 'standard layout' for repositories, like the remae goes into top-level and docs go into /docs, not 'only' best practices more something in the lines of that it our guideline on how we do that, can we do something like that, looking also at @esteele  :)

[2015-05-01 15:24] esteele commented on #226
Yes, please. Consistent naming and structure for at least the readme and changelog would make my life easier.

[2015-05-02 12:40] svx commented on #236
Yeah, we could do that with:

http://sphinx-doc.org/markup/para.html

see the sections:

- versionadded
- versionchanged
- deprecated

[2015-05-02 20:29] #225 closed

[2015-05-03 12:03] polyester opened #239 "robot screenshots Plone 5 fail, because no option to add content."
Trying to get some robotscreenshots for Plone 5, for now just testing out with the https://github.com/plone/documentation/blob/5.0/working-with-content/adding-content/adding-events.rst first test.

By adding "Pause" to the robot-test I can see that I'm logged in as "Jane Doe", but the robottestsite is completely empty, and also does not have any option to add content. Thus, I cannot even begin cha

[2015-05-03 12:14] datakurre commented on #239
@polyester Thanks for poking. Probably only thing really missing (besides abstracting different selectors for Plone 4 and Plone 5) is installing plone.app.contenttypes when on Plone 5. I'm not sure, why that's not installed with the default "Plone test sandbox" similarly to Archetypes and ATContenttypes were in Plone 4.

Mind a few days.

[2015-05-03 12:16] datakurre commented on #239
So, technically, I should add Plone 5 support for plone.app.robotframework.

[2015-05-03 12:18] datakurre commented on #239
@polyester Oh, I forgot that p.a.contettypes probably can be installed also in _robot.rst

[2015-05-03 12:19] polyester commented on #239
ah, that would solve it. I'll see if I understand _robots.rst

[2015-05-03 12:20] datakurre commented on #239
Maybe

    *** Variables ***

    @{APPLY_PROFILES}  plone.app.contenttypes:default  plone.app.iterate:plone.app.iterate

[2015-05-03 12:22] datakurre commented on #239
plone.app.iterate-part is required only in working-copy.rst

@{APPLY_PROFILES}  is a double space separated list of installed profiles on top of the default Plone sandbox fixture.

[2015-05-03 12:23] datakurre commented on #239
Technically it's a feature of a special test fixture provided by plone.app.robotframework as in

    *** Variables ***

    ${FIXTURE}  plone.app.robotframework.PLONE_ROBOT_TESTING

[2015-05-03 12:31] polyester commented on #239
the @{APPLY_PROFILES} seems to do the trick... thanks! Enough to start playing, at least.

[2015-05-03 12:37] datakurre commented on #239
+1

[2015-05-03 12:52] polyester commented on #239
reopening for now; there's a bunch of weird error messages like

[ WARN ] plone.dexterity.schema.generated.plone_0_News_1_Item is not an instance of SchemaClass. This can happen if the first base class of a schema is not a SchemaClass. See https://bugs.launchpad.net/zope.interface/+bug/791218

and plone.app.iterate won't be installed. There may be a few other profiles missing.  But definitely on t

[2015-05-03 13:13] datakurre commented on #239
I've seen those warnings, but they are more Plone than robot related.

About profiles,

    @{APPLY_PROFILES}  plone.app.contenttypes:default  plone.app.iterate:plone.app.iterate

should take any amount of profiles as "double space" separated list (which should be possible to also split to multiple lines with the following syntax

    @{APPLY_PROFILES}  plone.app.contenttypes:default
    ...

[2015-05-03 14:23] svx commented on #5
Should we include:

https://plonetrainingtesting.readthedocs.org/en/latest/ ?

@tisto would you mind to have a look at http://docs.plone.org/external/plone.app.testing/docs/source/index.html, is that still valid ?

[2015-05-03 14:53] #30 closed

[2015-05-04 13:09] polyester commented on #137
duplicate of https://github.com/plone/documentation/issues/226

[2015-05-04 13:09] #137 closed

[2015-05-04 13:36] svx commented on #43
Hm .... checking the best practices on how we do deploys and installer, I vote for follwong the 'best practices' and stick with what we have which is: unified installer and our ansible kit.

Usually if people use something else like puppet or salt, they know their tool and so they know how to add dependencies and such stuff.

@smcmahon, @polyester what do you think ?

[2015-05-04 13:43] svx commented on #226
follwoing up that means we will go for a structure like:

$repo: README.rst, CHANGES.rst /docs right ?

meaning we have in the top level the files README, CHANGES and the dir /docs

@polyester would you mind to update 'best practices' in the docs ? :)

[2015-05-04 13:48] gforcada commented on #226
:+1: on that, now we need some scripts on jenkins to report about that and p.r.codeanalysis to warn about it

[2015-05-04 13:51] svx commented on #218
this is a bit more tricky :), we want one location for all change logs, meaning all documentation branches and also theme and papyrus, looking at this list maybe we could put the on community ?

or do we want follow best practices and create CHANGES in all repos, write the stuff down there and post them on community too ?

@polyester @esteele what do you prefer ?

[2015-05-04 13:52] svx commented on #226
@gforcada +1, yes !!!!

[2015-05-04 13:53] svx commented on #226
@gforcada and a check on jenkins to give a general overview ? I opened already a issue for that :)

[2015-05-04 13:53] gforcada commented on #226
@svx can you assign that one to me I really lost tracks of issues on github...

[2015-05-04 13:54] svx commented on #226
done

[2015-05-04 13:58] polyester commented on #43
In the section on "managing Plone", I agree. Universal Installer, and Ansible. Maybe including Vagrant. But that's it.

In the "Quickstart" though, we should mention the cloud-installers like Bitnami; maybe with a warning that they are externally produced; yet the bitnami one is kept very much up to date for instance.

[2015-05-04 14:03] svx commented on #43
@polyester hm I am not sure about that, the idea is that the docs are core stuff and our own installer, further is ther the plan to have a on the new plone.org a new installer/getplone site and on this site we will mention the third party ones like bitnami/plock and all the others.

Reason: bitnami and plock installer are build different and working different there are **not** conform with our doc

[2015-05-04 14:05] polyester commented on #218
Actually, I'd like not so much an automated one, but a more human-readable (and human-mentioninging! ) one. Probably an automated one is also useful; but something like

- Alice Ace helped remove mentions of Grok from our guidelines
- Bob the Builder fixed a whole set of screenshots.
- and the following people fixed minor bugs: Carol C, David D, Erica E. Thanks all, you rock!

is much more stimula

[2015-05-04 14:07] svx commented on #193
Ok I will refactor and update the branch like:

we are pulling bobtemplates to /develop and reference to it.

For all existing paster docs in the 4 branch, we will add that paster is depreciated and also will link/refence to bobtemplates.

For Plone 5 docs, we will rip paster out :)

Cool with everyone ?

[2015-05-04 14:08] svx commented on #218
Fine with me :) Not a bad idea, yeah I went to the same talk :)

But still the questions remains, where to put them ?

[2015-05-04 14:11] svx opened #243 "[Hosting] Fix nginx - rewrites"
Fix the rewrites between the different versions, so that the version switcher will work

[2015-05-04 14:16] polyester commented on #243
for notes: the answer lies in using nginx try_files directive;

that does not change the $uri, so it's easy to slice off the bla.html part if that does not exist without actually using "if" statements.

[2015-05-04 14:19] polyester commented on #218
Well, remember, documentation is not code ;-)

So we can put it where we like. I'd say we make a subfolder in "about", call it "history", and put files in there named 2015-05.rst

[2015-05-04 14:25] svx commented on #218
I had the idea, till we came up with #226 does is not make more sense to follow that, even if 'documentation is not code' and speaking about that, if we look at papyrus and the theme we talk more about code :)

For the naming, I would go with the same name per release, as we do in mr.publisher otherwise it could be confusing.

[2015-05-04 15:32] esteele commented on #218
@polyester: We're going to try to do the same thing with core releases. http://dw-dev.dreamwidth.org/129563.html is a good example.

[2015-05-04 15:45] polyester commented on #226
Yep, I'll do it, but needs some more thinking, now is the time to do that. If we are going to change and adapt the recommended file layout for add-ons, let's take a little moment to get it right...

Some things to consider:

- [ ] do we really need/want a /docs/source directory? Some already don't have it, and we're pulling in the whole /docs in anyway. It is overkill for those without any Sphinx,

[2015-05-05 04:45] svx commented on #226
+1 !

[2015-05-05 12:57] svx commented on #224
we will use gists for that

[2015-05-05 13:00] svx commented on #216
I vote for not including the whole docs about the time, but under http://docs.plone.org/about/index.html a chapter about the theme ? @polyester ? what do you think ?

[2015-05-05 13:44] svx commented on #1
@polyester

@fulv you started to work on that during PLOG 2015 right ?

[2015-05-05 16:17] #110 closed

[2015-05-05 16:58] svx commented on #218
@polyester with mr.publisher [https://github.com/svx/mr.publisher] we use 'date +%Y%m%d' = version as release tag, till now the idea was to use the same tag on github to tag release in the future as from the next release on, this would look like: 20150505.rst would that be good enough for you ?

The nice thing about that would be that all releases would have the same tag .

[2015-05-05 17:31] fulv commented on #1
Yes, I'm still working on it.

On Tue, May 5, 2015 at 6:44 AM sven <notifications@github.com> wrote:

[2015-05-05 17:36] svx commented on #1
cool !!!!!!!

[2015-05-06 07:22] svx commented on #226
Since we have now the new guideline, do we have to adjust https://github.com/plone/papyrus/blob/master/get_external_doc.sh ?

[2015-05-06 08:23] polyester commented on #226
yep, but gradually, one by one, if and when the external repos change to the new standard

[2015-05-07 11:02] svx opened #248 "Consistency of docs"
I know this comes from diazo docs and we just include them, but I put it here otherwise we will forget it

http://docs.plone.org/external/diazo/docs/deployment.html?highlight=nginx

is saying compile you nginx with buildout, IMHO since we are telling in our 'main' docs people should use system packages we should stick to that.

People who know what they are doing can stick to compile if they prefe

[2015-05-07 15:55] svx commented on #236
Btw, this is in general not a problem since we use different branches for different versions, we have this sometimes because we branched 3 docs out of the 4 docs, because we had no real versions before.

Anyway we should add this to best practices of writing docs, because in some cases it could be handy, for example the move from paster to bobtemplates :)

[2015-05-07 15:58] svx commented on #232
We should fine a way to make sure that examples are actually working, not sure yet how to hook up examples use in the docs to jenkins or travis.

Anyone ?

[2015-05-07 16:01] svx commented on #218
We have to mention that in */contributing* too I guess ?

[2015-05-08 09:43] jensens opened #249 "Upgrade guide not clear?"
Without proofing it myself it looks like our upgrade guide is not perfect and leads to confusion, see discussion here (other mails in thread included).
http://sourceforge.net/p/plone/mailman/message/34093660/

[2015-05-11 04:39] djay opened #250 "document how to create custom styles in your theme"
esp the new plone 5 way to do this
https://github.com/plone/Products.CMFPlone/issues/492#issuecomment-100435844

[2015-05-11 07:39] svx opened #251 "Cheat for Plone ?"
Not a must, but maybe a nice to have ?

https://github.com/chrisallenlane/cheat

for Plone.

[2015-05-12 14:25] ebrehault opened #253 "Upgrading add-ons to Plone 5"
Hi, I would like to initiate this upgrade guide. Where should it be located ?

[2015-05-12 14:26] ebrehault commented on #253
Sorry, I found it https://github.com/plone/documentation/blob/5.0/manage/upgrading/addon_upgrade.rst

[2015-05-12 14:31] ebrehault commented on #253
Actually it is not here. That's about deploying add-ons.
So I guess it should be in /develop/something, right ?

[2015-05-12 14:37] polyester commented on #253
if you think it will be a one-pager, I'd put it at https://github.com/plone/documentation/tree/5.0/develop/addons/plone5-compatibility.rst, or if you think it's going to be more, create a folder plone5-compatibility there and start with an index.rst in it.

[2015-05-12 15:33] ebrehault commented on #253
Thank you Paul. Here is it https://github.com/plone/documentation/blob/addon-upgrade-to-5.0/develop/addons/upgrade_to_50.rst and I made a PR (to 5.0 branch)

Note: regarding the name, I though "upgrade" was more accurate than "compatibility" as compatibility somehow implies it would work on both 4.0 and 5.0.

[2015-05-12 15:33] #253 closed

[2015-05-14 09:47] djay commented on #250
Ah I can see this is going to happen via a change in the plone.app.theming docs already

[2015-05-14 09:47] #250 closed

[2015-05-14 11:39] svx commented on #226
I just found 'another' issue since people tend to use all these badges like travis and code coverage like this:

.. image:: https://secure.travis-ci.org/plone/bobtemplates.plone.png?branch=master
    :target: http://travis-ci.org/plone/bobtemplates.plone

.. image:: https://pypip.in/d/bobtemplates.plone/badge.png
    :target: https://pypi.python.org/pypi/bobtemplates.plone/
    :alt: Downloads

..

[2015-05-14 12:18] svx commented on #226
This is how it looks like now:

![bobtemplates_readme](https://cloud.githubusercontent.com/assets/358860/7631552/05fe0b94-fa44-11e4-8e99-fda10ee99a1b.png)

[2015-05-14 13:25] polyester commented on #226
with https://github.com/plone/papyrus/commit/698cc160fbeb62fc78fd35ee64be0025f93545d6 we pull in README.rst and CHANGES.rst now.

As for the perceived ugliness of the badges, we could ask authors to encase them in a
.. class:: badges

statement, and then hide them with CSS on docs.plone.org, while they would still happily pop up on their respective github repositories.

[2015-05-14 14:07] polyester commented on #249
It's a bug in the migration script, I'd say. But yes, it's probably good to mention the remedy (hand-running the profile steps) in the 'troubleshooting' section.

[2015-05-14 14:57] svx commented on #236
Yes we are using some of this tags now and so far it is nice to have them !

[2015-05-14 14:57] #236 closed

[2015-05-14 15:05] svx commented on #193
PR is out ! The only thing what is missing now, is updating the docs of diazo and dexterity, this has to be done in their repos since we just fetch them.
I can do that but, I prefer if someone with more knowledge of diazo, dexterity and bobtemplates.plone could do that, to make sure the docs are correct and everything works.

If someone wants to do that, but want help for the docs part of it, ping

[2015-05-14 15:45] #159 closed

[2015-05-14 18:18] svx commented on #184
@polyester what do you think ? put it under /develop ?

[2015-05-16 13:41] svx commented on #16
This is an on going process, thanks to @gforcada we have now our first test on jenkins !!!

[2015-05-16 13:47] svx commented on #4
as above said, we will do that with gists, too, since we have now the setup to include gists into docs.plone.org, this will be nice, hopefully.

[2015-05-17 05:58] gforcada commented on #4
What's the benefit of gists over plain normal code blocks on rst docs?

[2015-05-17 05:59] gforcada commented on #16
@svx keep filling tickets and we will try to add them as soon as possible. For building documentation and so on, the list of dependencies and which steps need to be run will be really helpful :)

[2015-05-17 06:10] svx commented on #4
That it is easier to download or for them, if people want to use for example a config for an editor. ONe pther nice aspect is it, that is is easier for people to contribute, IMHO

[2015-05-18 08:37] svx commented on #218
@polyester && @esteele

I tried, result is here: https://github.com/plone/documentation/commit/fcb71dee813f22fb68751d56b7c2ddc242b728ba

something like that ?

[2015-05-18 08:39] polyester commented on #218
great!

[2015-05-18 12:32] envycontent opened #259 "Documentation about plone.app.vulnerabilities"
Not exactly a documentation issue but I couldn't see where to file this one:

If I search plone.org for hotfix, I end up at this page:

https://plone.org/products/plone/security/advisories

if I follow the first link on that page I get to here:

https://plone.org/products/plone-hotfix/

which tells me the information is out of date and mentions plone.app.vulnerabilities

Would it be possible pleas

[2015-05-18 13:16] polyester commented on #259
I think it is a documentation issue. We should point out that the canonical listing is https://plone.org/security/hotfixes

Thanks for pointing it out!

[2015-05-18 13:23] envycontent commented on #259
Yes, though I'm intrigued as that listing only goes as far as 2013 (perhaps there were none in 2014/2015?) and I still don't really understand what happens with plone.app.vulnerabilities.

[2015-05-18 13:32] polyester commented on #259
There were none in 2014 and 2015, and plone.app.vulnerabilities is the add-on that generates the list at  https://plone.org/security/hotfixes. It is not something that's meant to install into your own site.

I'll write some documentation.

[2015-05-18 13:35] envycontent commented on #259
Ah ha. Thanks! Now I understand. Some documentation would be really helpful.

[2015-05-18 14:17] #259 closed

[2015-05-19 16:52] svx opened #264 "Move from trello to waffle.io ?"
Seems no one besides me is using the docs board on trello, should we stop using it and use [waffle](https://waffle.io/) instead ?

[2015-05-21 05:42] polyester commented on #264
I think that's OK. I've been looking at zenhub also, but waffle.io is more cross-browser. And is being used by other teams (ploneorg release - team) as well, so has traction already.

[2015-05-21 15:13] fulv commented on #264
Ploneintranet uses it too.

On Wed, May 20, 2015 at 10:42 PM polyester <notifications@github.com> wrote:

[2015-05-21 16:07] svx commented on #264
All-right I will try to find out how I can add a organisation repository

[2015-05-21 16:22] svx commented on #264
So it seems I have to give waffle.io permissions to the whole organisation, hm ... not sure if I want that.

[2015-05-21 16:24] polyester commented on #264
already done for other repos in plone org, so just go ahead. You know you want to press the button ;-)

[2015-05-21 16:27] svx commented on #264
where ? I checked the organisation settings and I do not see waffle there.

[2015-05-21 16:52] fulv commented on #264
https://waffle.io/plone/documentation

On Thu, May 21, 2015 at 9:27 AM sven <notifications@github.com> wrote:

[2015-05-21 16:54] svx commented on #264
Yes I saw/see that but is this created with a user or with the box bellow on the waffle website ?

[2015-05-22 05:53] svx opened #265 "Release: 20150518"
- [x] update changelog Plone3 docs
- [x] update changelog Plone4 docs
- [x] update changelog Plone5 docs
- [x] update changelog Papyrus3
- [x] update changelog Papyrus4
- [x] update changelog Papyrus5
- [x] update changelog sphinx.themes.plone
- [x] update server
- [x] upgrade nginx version
- [x] change nginx to new setup
- [x] add nginx config for training.plone.org
- [x] add nginx config for tra

[2015-05-22 10:48] gforcada commented on #265
go go go! ;)

[2015-05-27 17:19] svx opened #270 "Information on how to submit a bug and some info about issue tracker"
Currently it is really hard to find any (good and up 2 date) documentation about that on docs.plone.org.

We have some *oldish* docs under core development but this is hard to find and well ..'oldish'.

We should find an more *public* place in the docs to put that information and also explain the *new way* .

[2015-06-04 02:16] svx opened #274 "Add robot.txt for Plone 5 alpha docs"
Should we add a robot.txt to the alpha docs of Plone 5 ?

I am asking because I am not sure now search engines and people can find them, but since there will change a lot, bookmarks will most likely brak, so if user now save a page of Plone 5 alpha docs as a bookmark there is a big chance that this bookmark will not work anymore once the 5 docs are official.

On the other hand there is a huge labe

[2015-06-05 10:40] mauritsvanrees commented on #226
For the record: I declare a total ban on symbolic links in packages. We had a problem today on the coredev 4.3 branch with a fresh plone.locking 2.0.6 release. README.txt was missing. What it in the end boiled to was: in git there was a symbolic link from rst to txt, and in the source distribution tarball it was the other way around.

This is actually only a problem for very old setuptools version

[2015-06-05 11:04] tisto commented on #226
+1 for disallowing symlinks and upgrading setuptools for Plone 4.3.

[2015-06-05 12:12] svx commented on #226
As you can see here: http://docs.plone.org/about/documentation_styleguide_addons.html#readme-example we are not mention symlinking your readme :) so yes +1 !

[2015-06-10 16:15] jensens opened #275 "External documentation must respect versions from coredev/ release"
**Story**

I have this PR #192 open and in there we figured out to better include ``buildout.coredev`` documentation instead of repeating ourselves here.

So I tried to add the buildout.coredev/docs to ``externals.txt`` like this:

``https://github.com/plone/buildout.coredev.git,source/documentation/develop/coredev``

**Problem**

This fetches the 4.3 docs (because its set as default branch). I do

[2015-06-10 16:25] jensens commented on #274
i think since we're beta it should be found as alpha docs too. http://docs.plone.org/ should have it in tis dropdown as well.
But a big red ``alpha`` ribbon (like the github for robbons here https://github.com/blog/273-github-ribbons) in the top left/right corner is anyway a very good idea.

[2015-06-10 23:40] svx commented on #275
Hi,

Ok let me explain:

We *do* have versions of the docs for different versions of plone, all of this is done in https://github.com/plone/papyrus here we have branches for version 3,4,5 and in this branches is also configured which version of the docs should be pulled, this is maybe not ideal but it is proven to work.

Release of docs have also a git tag, at least that is on our list, but there

[2015-06-11 03:39] svx commented on #214
https://github.com/plone/Installers-UnifiedInstaller/issues/27

[2015-06-11 07:50] jensens commented on #275
Indeed, this is a papyrus thing, so wrong at this place.
I'll summarize and move over there.

[2015-06-11 08:02] #275 closed

[2015-06-14 09:03] svx commented on #251
no reaction, so we will close this

[2015-06-14 09:03] #251 closed

[2015-06-14 09:04] svx commented on #243
done

[2015-06-14 09:04] #243 closed

[2015-06-14 09:05] svx commented on #226
I guess I can close this, right ?

[2015-06-14 09:05] svx commented on #218
done

[2015-06-14 09:05] #218 closed

[2015-06-14 09:10] svx commented on #147
liked to #223

[2015-06-14 15:09] fulv commented on #226
@svx +1

[2015-06-18 18:42] svx opened #278 "Update: buildout docs"
Currently we have under _http://docs.plone.org/old-reference-manuals/buildout/_ some docs about buildout, these docs are outdated.
- we should update them
- we should add missing stuff
- we should find a new place _old-reference-manuals_ will be not included in the docs for Plone 5

[2015-06-23 08:43] svx opened #279 "Plone 5 with WSGI"
Should we add this to docs.plone.org ?

http://blog.toms-projekte.de/run-plone-with-wsgi.html

[2015-06-24 13:17] avoinea opened #280 "Broken tutorial link"
Here http://docs.plone.org/develop/plone/views/browserviews.html#more-information

`Zope view tutorial`. link is broken

[2015-06-25 07:12] svx opened #281 "Mention collective.solr docs in Backend > Search, or maybe Deployment?"
The rewrote of the docs of collective.solr is done, during PLOG 2015 was decided to include them, into docs.plone.org from docs for Plone 5 on.

Todo:
- find the right place to put them
- add to current papyrus
- add to new test papyrus written by @jensens and test how that works

[2015-06-25 07:29] svx commented on #281
First this need to be fixed:

https://github.com/collective/collective.solr/issues/67

[2015-06-25 18:06] tomgross opened #282 "Document usage of session in testing"
See discussion in https://github.com/plone/plone.app.testing/issues/14

[2015-07-01 10:22] polyester commented on #280
I will replace with links to the newer Mastering Plone training

[2015-07-01 10:39] #280 closed

[2015-07-07 21:48] gforcada opened #286 "Source of inspiration(?)"
While reading planet plone I came across this link:

How to write awesome README files https://github.com/matiassingers/awesome-readme

Maybe we can get some ideas and put them as guidelines and update bobtemplates.plone to use them as well?

[2015-07-08 01:53] fulv commented on #286
+1

[2015-07-08 04:19] svx commented on #286
Hi,
you know that we already have this covered in the docs right ? :)

There is a difference between README driven development and Documentation driven development, these ones from the example are  more focused on README driven documentation.

Further on we have already a part about how to write a README example [best practices] which is already followed by a couple of add-ons and projects.
The ex

[2015-07-08 10:47] svx opened #287 "http://localhost vs http://127.0.0.1"
Currently we do use both in the docs, I want to change for various reasons like:
- unify the docs
- easier for new people, because less confusion
- better ranking

question: which one we prefer ?

[2015-07-08 10:58] polyester commented on #287
localhost. It should still work when ipv6 (and ipv8 and ipv10) are around

https://en.wikipedia.org/wiki/Localhost

[2015-07-08 10:59] svx commented on #287
this also should go into 'best practices' btw.

[2015-07-08 11:21] svx commented on #287
Plone 5 docs: 55 places
Plone 4 docs: 54 places

that are the 'core' docs without any external, lMHO something for a boring night or the sprint, we should get that fixed asap

[2015-07-08 11:34] pbauer commented on #287
:+1: for localhost since it can be memorized even by beginners. It also is consistently used in http://training.plone.org

[2015-07-13 05:41] svx commented on #33
![todo_app_warning](https://cloud.githubusercontent.com/assets/358860/8643324/9aa064c8-2932-11e5-9ff0-4f8c7042cc8b.png)

[2015-07-13 05:47] svx opened #289 "Check 'external' docs, do they still work with Plone 5"
We including a brunch of 'external' docs into docs.plone.org, like plone-api, todo- app, pfg and more stuff.

These 'includes' should be checked if they are still valid and working for Plone 5, otherwise we should fix or remove them

[2015-07-13 05:48] svx commented on #265
old and out of date, closing this now

[2015-07-13 05:48] #265 closed

[2015-07-13 05:53] svx commented on #7
this is clearly a 'papyrus thing' so closing this here now

[2015-07-13 05:53] #7 closed

[2015-07-13 05:55] svx commented on #109
is this still valid ? do we want to do that ?

[2015-07-13 07:05] polyester commented on #109
no we don't. Stick to the training.plone.org way, and if necessary integrate some of garbas tips into that.

[2015-07-13 07:33] svx commented on #281
- create entry pages for different use cases:
1. user who has already a site running and wants to include solr
2. use who is beginning form ' scratch'

- add, update and rearrange docs for setup and installation for both use cases

[2015-07-13 07:46] svx commented on #279
Any hints, what would be a good place on docs.plone.org to mention/link to them ?

[2015-07-13 07:47] tisto commented on #281
I don't think it makes a lot of sense to separate those use cases since they are pretty similar (add c.solr, install c.solr, reindex). The only difference when adding c.solr to an existing site is that reindex takes longer. Even if c.solr is installed on a vanilla Plone site, you need to run reindex to include the default content.

[2015-07-13 07:57] svx commented on #281
I guess we are talking about different things or I am not clear enough in what I try to say.

The docs are not that clear bout that at the moment, if you look at the docs as a Integrator they are a bit confusing if you 'just' want to add c.s to your already running site.

We did a test last week with 5 different Plone Integrators, and all of them had a hard time to understand the docs.

Do not get

[2015-07-13 09:42] svx opened #290 "Plone 5 and todoapp"
https://github.com/collective/tutorial.todoapp/issues/27

[2015-07-13 09:58] svx opened #291 "check /develop/misc"
At least under /plone, there are lots of old stuff which is changed or move and so not valid for Plone 5 anymore

[2015-07-13 10:17] svx commented on #16
@gforcada is it possible that some of the checks are not working properly ?

For example I checked:

http://jenkins.plone.org/view/All/job/docs-package-styleguide/lastSuccessfulBuild/artifact/report.txt

which is the test, checking for a readme, the test is telling me there is no readme in:

https://github.com/plone/plonetheme.barceloneta

and

https://github.com/plone/plone.themepreview

but I do

[2015-07-13 10:55] svx opened #292 "[seo] docs on multiple places"
currently we have documentation about seo on multiple places:

http://docs.plone.org/working-with-content/content-quality/content-quality-helpers.html?highlight=seo

and

http://docs.plone.org/develop/plone/misc/seo.html

this should be combined into one document

[2015-07-13 11:48] svx opened #293 "Check: Build development environment docs"
The docs in:

http://docs.plone.org/develop/addons/helloworld/environment/index.html

currently not up to date, we fix that for Plone 4 _and_ Plone 5, we should take care that this may be different for Plone 4 and 5

[2015-07-13 11:59] svx commented on #292
PR' s for 4 and 5 branch are out !

[2015-07-13 12:25] svx commented on #147
Add short docs and also the videos, or just link to the videos ?

[2015-07-13 13:23] polyester opened #296 "grok-alert for 5 branch"
the following are *not* correct anymore for Plone5. For now, they are still in that branch, but need fixing.

- [x] develop/addons/schema-driven-forms/creating-a-simple-form/creating-a-package.rst
- [x]  develop/addons/schema-driven-forms/creating-a-simple-form/creating-the-form-view.rst
- [x]  develop/plone/forms/files.rst
- [x]  develop/plone/forms/manual.rst
- [x]  develop/plone/forms/wysiwyg.r

[2015-07-13 13:29] #292 closed

[2015-07-13 13:43] svx commented on #223
Closing this, as far as I know one is using retext

[2015-07-13 13:43] #223 closed

[2015-07-13 13:56] svx commented on #286
closing this, feel free to re-open

[2015-07-13 13:56] #286 closed

[2015-07-13 13:58] svx commented on #224
closing this, we will use gists, if we start using this

[2015-07-13 13:58] #224 closed

[2015-07-13 14:04] svx opened #297 "Remove/update links to svn.plone.org"
For Plone 4 and Plone 5 docs

[2015-07-13 14:18] svx opened #298 "upgrade guide"
do we want to keep the whole guide from plone 3 -> plone 5 in the docs of plone 5 ?

[2015-07-13 14:19] svx opened #299 "dev.plone.org"
Remove/update links pointiing to dev.plone.org

[2015-07-13 14:23] svx opened #300 "develop/plone-coredev"
Needs review and updates:

- remove links to dev.plone.org
- update plips
- move other languages than engl. to translation
- check if that is an external include

[2015-07-13 14:41] pbauer commented on #298
Yes

[2015-07-13 14:44] svx commented on #298
Ok than we need to rewrite the guide completely, since the part of plone 3 to plone 4 references stuff from dev.plone.org and dev.plone.org and much more

[2015-07-13 16:41] svx opened #302 "develop/addons/javascript.rst"
Update documentation about how we do JavaScript in Plone 5

[2015-07-13 16:45] svx opened #303 "/develop/plone/views/viewlets"
check docs, update them and remove grok and collective.fastview

[2015-07-13 16:53] svx opened #304 "Update theme docs about deliverance"
- remove from Plone 5 docs, but write an explanation with a link to /theme/deleiverance on plone 4 docs

[2015-07-13 16:57] svx opened #305 "update z3cform docs"
currently these docs are for Plone 3, als with the example add-on eggs.
- review
- update for Plone 5 for example use stuff from training.plone.org/5

[2015-07-14 08:09] svx commented on #298
done for Plone 5 docs

[2015-07-14 08:09] #298 closed

[2015-07-14 09:36] svx commented on #304
done !

[2015-07-14 09:36] #304 closed

[2015-07-14 09:50] svx commented on #299
done

[2015-07-14 09:50] #299 closed

[2015-07-14 09:57] jensens opened #308 "add zcml reference from plone.behavior README.rst to documentation"
https://github.com/plone/plone.behavior/blob/master/README.rst contains some useful parts such as zcml reference with examples. we may want to use this in here https://github.com/plone/documentation/blob/5.0/develop/plone/content/behaviors.rst

[2015-07-14 10:02] jensens commented on #279
This is very special information. There are so many open questions. But I really would like to see the WSGI publishing pushed a bit and we may want to link it
As we already have a page here:
https://github.com/plone/documentation/blob/5.0/manage/deploying/wsgi.rst
I would put the link there.

[2015-07-14 10:05] svx commented on #279
@jensens thanks ! I will start work on this right now

[2015-07-14 10:39] jensens commented on #300
this should point to the buildout.coredev information of 5.0 branch - but without changes in papyrus we can only point to master branches of external documentation at the moment.

The papyrus branch "jensens-external-refactoring" tries to adress all the problems and offer a more declarative solution than the current.

[2015-07-14 10:42] jensens commented on #287
+1 for localhost

[2015-07-14 10:44] jensens commented on #282
and add a hint that sessions are limited (dont scale, limited number of sessions - 100 by default - configureable, problem with session storage in zeo-clusters, writes to temp-db and so on). or do we have this already anywhere?

[2015-07-14 10:48] jensens commented on #278
the problem is, that the original zc.buildout documentation was and is complete crap, so we did our own. You can not point people to http://www.buildout.org/en/latest/ and also the doctest style pseudo documentation at https://pypi.python.org/pypi/zc.buildout/2.4.0 is even for hardcore pythonistas difficult to read.

so we should update this old home-grown manual.

[2015-07-14 10:53] svx commented on #216
this is something what should go into papyrus, and we should link to papyrus on docs.plone.org

[2015-07-14 10:57] svx commented on #279
done

[2015-07-14 10:57] #279 closed

[2015-07-14 11:02] svx commented on #287
done for Plone 5 branch, besides the docs of varnish and nginx

[2015-07-14 11:09] svx opened #310 "develop/plone/misc/html.rst"
- needs review
- needs update and grok removal

[2015-07-14 11:13] polyester commented on #310
duplicate of https://github.com/plone/documentation/issues/296

[2015-07-14 11:13] #310 closed

[2015-07-14 11:21] polyester commented on #300
I'm starting to like the 'jensens-external-refactoring' branch, and get the numbering system also. Only thing I would like (niggle...)

- if we could somehow make sure the symlinked repos that are symlinked into 'documentation' end up in source/documentation/.gitignore

I know they could be put in by hand, but that's error-prone and at some point somebody is going to check a whole sub-repo into gi

[2015-07-14 11:27] svx commented on #300
That is great that you get the numbering system, I am really happy for you.

As I said before I like it too, but I do not get for example the numbering system and also I do not get some other stuff.

In short as I also wrote as a comment before it would be ice to have more documentation how this whole setup works, if you get the setup maybe you would like to write more docs about it.

[2015-07-14 11:44] jensens commented on #300
The numbering system is just about order of execution, since there is no order in buildout cfg files key/value assignments.

Execution order is important, because it builds a tree and you cant symlink at non-existent places.
x-COMMAND is executed before the other x-{PACKAGENAME}.

This information is used to generate a script which is then executed as a command. I fact it does partly the same as t

[2015-07-14 11:46] jensens commented on #300
@svx, we can have a hangout and i try to explain interactive.

[2015-07-14 12:42] svx commented on #216
closing this, since this is for papyrus

[2015-07-14 12:42] #216 closed

[2015-07-14 12:52] svx opened #312 "manage/troubleshooting/transactions"
- needs review
- need update
- remove old Plone 3 and python2.6 stuff
- update examples

[2015-07-14 13:23] svx opened #313 "[paster] manage/troubleshooting/exceptions"
- remove paster
- check and update document

[2015-07-14 13:28] svx opened #314 "develop/addons/helloworld"
- needs review
- check and update to Plone 5 and best practices

[2015-07-14 20:32] polyester commented on #239
OK, first success, I can now make robot-screenshots for Plone 5. Will document the changes. plone.app.iterate does not work for now, but that has deeper reasons, nothing to do with robotframework for now.

but note to future self: it would be good to have a 'plone-kitchensink' fixture which has everything we ship with already enabled.

[2015-07-14 23:00] datakurre commented on #239
That's great news.  I'm sorry that I've not been able to help enough :/

polyester kirjoitti ti heinäkuuta 14 23:32:23 2015 GMT+0300:

[2015-07-14 23:23] datakurre commented on #239
Given the list of "everything", I'd expect it to be already possible with the robot configurable fixture used in docs.

Also, now that you have been struggling enough with robot, could it be made easier somehow? Any ideas? (Of course, we always have options to script screenshots in Python [no need for robot syntax, but probably still not easie] or just take them manually as before [and they outdat

[2015-07-15 09:16] polyester commented on #239
well, the actual screenshot-making is easy enough, and pretty clearly documented.

I struggled a lot with finding clear docs (and maybe an easier way) of installing a product/add-on, enabling it if needed, enable a behaviour  on contenttypes, or set other options in the site management screen, all before actually starting the 'real' test/screenshot to show how to use that add-on.

And yes, scripte

[2015-07-15 09:45] datakurre commented on #239
These are good points. Add-ons can be activated, but it's not documented outside examples. Other configuration has no helpers. I should add support / keyword for importing tarballed GenericSetup export (it could be the one shop for almost any configuration) and write a chapter about all these into robot docs.

[2015-07-15 10:29] djay commented on #239
So cool. 7 years in the making
- 2008 - http://sourceforge.net/p/plone/mailman/message/21138247/
- 2009 - http://sourceforge.net/p/plone/mailman/message/21992350/
until asko finally made it happen.

[2015-07-16 15:20] kcleong commented on #296
I've updated all pages, merge request available at: https://github.com/plone/documentation/pull/319

[2015-07-16 16:00] polyester commented on #296
and the prize for super-efficiency goes to: @kcleong

[2015-07-16 16:00] #296 closed

[2015-07-16 21:34] gforcada commented on #16
Quite easy, look at the output of a job (I just run it for you): http://jenkins.plone.org/view/All/job/docs-package-styleguide/20/console

svn.zope.org seems to be down and the latest successful build is quite old (more than a month).

[2015-07-17 08:00] kcleong commented on #291
For the following parts I am not completly sure if the docs are outdated:

- http://docs.plone.org/develop/plone/misc/context.html#itools-interface

[2015-07-17 09:15] svx commented on #287
Done for 'core-docs' besides for nginx. apache and varnish

[2015-07-17 09:36] kcleong commented on #291
Keeping the iITools docs in place after checking with pbauer

[2015-07-17 09:39] kcleong commented on #291
Pull request: https://github.com/plone/documentation/pull/321

[2015-07-17 09:46] svx opened #323 "remove lingual plone stuff"
- remove all lingual.plone stuff from Plone 5 docs

[2015-07-17 09:55] svx commented on #291
thanks @kcleong !

[2015-07-17 09:55] #291 closed

[2015-07-17 10:04] svx commented on #297
/develop/addons/javascript.rst:* http://svn.plone.org/svn/collective/mfabrik.like/trunk/mfabrik/like/viewlets.py
./develop/plone/content/behaviors.rst:* `plone.app.headerimage <https://svn.plone.org/svn/collective/plone.app.headeranimation/trunk/plone/app/headeranimation/behaviors.py>`_.
./develop/plone/content/creating.rst:* `Singing & Dancing <https://svn.plone.org/svn/collective/collective.danc

[2015-07-17 10:16] kcleong commented on #303
The viewlet documentation seems pretty up-to-date. I've changed a few code snippet to use more modern Pythons string formatting, and I've removed one reference to c.fastview.

Pull request is at: https://github.com/plone/documentation/pull/324

[2015-07-17 12:09] svx commented on #303
done via #324

thanks !

[2015-07-17 12:09] #303 closed

[2015-07-17 12:58] kcleong commented on #297
Pull request ready at https://github.com/plone/documentation/pull/326

[2015-07-17 13:01] svx commented on #270
done

[2015-07-17 13:01] #270 closed

[2015-07-17 13:38] kcleong commented on #235
All the archetypes stuff should be updated to dexterity. We could also include image resizing with plone.app.imaging in the scales part.

[2015-07-17 13:52] svx commented on #297
thanks !

[2015-07-17 18:07] svx commented on #297
done !

[2015-07-17 18:07] #297 closed

[2015-07-17 19:30] svx opened #333 "Update README"
The readme is out of date, the instructions for building papyrus are outdated too

[2015-07-22 17:07] mjollnirpaul opened #334 "Unable to build under FreeBSD (make externals: Error expanding embedded variable)"
Can s/o help?  I want to build the docs for offline use like described on the start page on github.
Here's what I did:
[root@paul-lifebook /usr/local/www/Plone/papyrus]# ./bin/python bootstrap-buildout.py
Downloading https://pypi.python.org/packages/source/s/setuptools/setuptools-18.0.1.zip
Extracting in /tmp/tmp3IUMcp
Now working in /tmp/tmp3IUMcp/setuptools-18.0.1
Building a Setuptools egg in /t

[2015-07-22 17:36] polyester commented on #334
Make sure the get externals.sh script is executable

[2015-07-22 19:22] mjollnirpaul commented on #334
There is no externals.sh script.
The Makefile is non-standard.  Solution is to use gmake instead of standard make...

Hint: It would be safer and more portable if people would not use bash extensions in shell scripts and not rely on GNU make extensions but use standard make syntax in Makefiles...
Yes, someday I'll start a Linux-bashing web site... ;)

[2015-07-27 13:15] gforcada opened #335 "Broken link"
Clicking on the _Developer manual_ link here http://docs.plone.org/5/en/develop/plone/content/content_rules.html (both plone 4 and plone 5 docs) gives you a permission error on plone.org

Is the content long gone or it is still around somewhere?

[2015-07-27 13:29] svx commented on #335
The content is still there, but it too old, we should remove that link or link to the u2d docs part on docs.plone.org

[2015-07-28 14:01] polyester commented on #335
the user part should be a link to http://docs.plone.org/5/en/working-with-content/managing-content/contentrules.html, the developer part basically needs to be rewritten (and maybe a link to a 'minimal' example. Maybe https://github.com/collective/collective.contentrules.talesaction, or any others)

[2015-07-29 10:00] svx commented on #239
We are almost there, but I found a new issue:

the screen-shots are not consistent between Firefox and phantom.js :(

If I use Firefox as browser for Robot Framework, configured in my Sphinx conf.py

sphinxcontrib_robotframework_variables = {
    "BROWSER": "Firefox"  # 'Firefox' is the default
}

 everything is working
![adding_news_item_firefox](https://cloud.githubusercontent.com/assets/358860/

[2015-07-29 10:30] datakurre commented on #239
That could be an unfortunate issue with PhantomJS webdriver/Selenium
integration :(

So, it should be Xvfb + Firefox then? Running multiple processes in a
Docker container is never fun, but I'm sure you can figure out a nice
way to wrap them.

Xvfb should run like

/usr/bin/Xvfb -fp /usr/share/fonts/X11/misc/ :99 -screen 0 1280x1024x24

where :99 is the DISPLAY.

sven wrote:

[2015-07-29 10:34] svx commented on #239
Not sure yet, if Xvfb + Firefox would be the right solution, but I will try that soon :)

[2015-07-29 11:38] svx commented on #239
a second test with phantomjs 2.0 cloned from github and compiled gives the same results for me, maybe someone else want to test that ?

For the first test I was using phantomjs 1.9 via ap-get [trusty]

As for docker, we could try to link to containers together, one with papyrus and one with Firefox and Xvfb ?

[2015-07-29 16:30] polyester commented on #239
yeah, phantomjs 1.9.8 (via npm) gives same result.

[2015-08-10 13:08] tkimnguyen commented on #14
Hi @svx is this issue about updating http://docs.plone.org/develop/plone-coredev/plips.html etc.?

[2015-08-10 13:25] svx commented on #14
@tkimnguyen partly yes, but in the first case it is more about making sure that a plip has proper documentation **before** the plip gets merged.

This of course can be differ a lot, depending on the plip.

The idea is/was to 'assign a docs buddy' to the developer, we sadly still forgetting quite often to document.

[2015-08-10 13:27] tkimnguyen commented on #14
The big issue I noticed is that the docs still refer to the old dev.plone.org for PLIPping; I was looking it up to see how to create a PLIP.

[2015-08-10 13:30] svx commented on #14
Well this has to be fixed in the docs of buildout.coredev [https://github.com/plone/buildout.coredev], once it is fixed there we will pull it into the docs.

[2015-08-10 13:44] svx commented on #333
done !

[2015-08-10 13:44] #333 closed

[2015-08-10 13:45] svx commented on #274
closing this, we will leave it as it is for the moment and with the next release will will put it in the drop down

[2015-08-10 13:45] #274 closed

[2015-08-10 13:46] svx commented on #287
do we still need that in the 4 docs ?

[2015-08-10 13:48] svx commented on #88
closing this we do not need a ticket for that, maybe some small ones which would be better

[2015-08-10 13:48] #88 closed

[2015-08-10 13:50] svx commented on #2
done: 77144735e7b40f1fc00e009471105311f64f7409

[2015-08-10 13:50] #2 closed

[2015-08-10 13:53] polyester commented on #287
would be nice, also simplifies the 'URL exception' list.

[2015-08-10 13:53] svx commented on #193
any takers for diazo and dexterity ?

[2015-08-10 13:55] svx commented on #264
closing this, since there are only a couple of people working constantly  I do not see that we need that atm :)

[2015-08-10 13:55] #264 closed

[2015-08-10 13:56] svx commented on #184
@polyester ping !

[2015-08-10 13:57] svx commented on #109
ok closing this

[2015-08-10 13:57] #109 closed

[2015-08-10 13:59] svx commented on #21
@polyester @tisto ping

[2015-08-10 13:59] polyester commented on #193
Unfortunately (well), Mikel Larreategi (@erral) created a nice diazo5-barceloneta based codeskel just  a week or so ago, see https://github.com/codesyntax/CodeSkel

Maybe that can be more or less easily re-used as a bobtemplates one?

[2015-08-10 14:03] polyester commented on #184
Yeah, they should go under /develop directly, as it is both for add-on as for plone development. Will need a fulltext search to find references to it.

[2015-08-10 14:04] svx commented on #12
@pbauer looks great, but we should structure that a bit more, atm we have a lot what is great ! But we should improve it, it is one long README :)

[2015-08-10 14:10] svx commented on #193
I know but I was more referring to:  *The only thing what is missing now, is updating the docs of diazo and dexterity, this has to be done in their repos since we just fetch them*

So the docs/readmes in the github repos of diazo and dexterity are needing updates, because there are still talking about paster, this should be changed to mr.bob templates if that is possible of course, otherwise we st

[2015-08-10 14:12] polyester commented on #193
yup, I was trying to avoid having a new paster reference in the "theming" docs, because @erral's one is quite nice ;-)

[2015-08-10 14:16] polyester commented on #12
@pbauer, I think everything is there. It just needs splitting up. From the styleguide: the README should be a **short** description of the add-on, not the entire documentation! (Or in this case, the entire unabridged edition of "War and Peace" ;-)
When my cold is getting better, I'll fix.

[2015-08-10 14:19] svx commented on #193
OK maybe that is a bit harsh, but we will **not** do that by all means :), it was so much work removing paster out of the docs and we are almost there, only diazo and dexterity are left to do.

There will be **NO** paster reference in the docs of Plone 5 :)

[2015-08-10 14:22] tisto commented on #193
I guess it wouldn't be too hard to refactor the ZopeSkel template to mr.bob. The main question would be how do we handle that inside bobtemplates.plone? Theming differs a lot between Plone 4 and 5. I'm not sure if we really want to put all that into one project/template. Maybe we should factor out the theming part into a separate template.

[2015-08-10 14:40] polyester commented on #193
Now we have Basic, Dexterity and Theme. So then we would have Basic, Dexterity, Theme, P5_Theme. Seems to make sense, although I can see why separating out is also an option. Still, this is what a lot of people will want: give me something based on Barceloneta so I have a best-practice start.

[2015-08-10 14:45] tisto commented on #193
This is more an internal problem. If we have four different things within the same template structure, we end up with lots of combined if/else structures that are a nightmare to maintain and test. I worked hard on removing those structures and make bobtemplates.plone testable. I fully agree that we want a Plone 5 Theme option, we just have to make sure we do it in a testable and maintainable way.

[2015-08-12 05:37] tomgross opened #343 "Document controlpanel migration formlib -> z3c.form for Plone 5"
With the removal of formlib dependencies in Plone 5.0b3 many addons with custom controlpanels no longer work:
- collective.solr
- quintagroup.seoptimzer

We should provide an upgrade guide for addon developer on howto upgrade their controlpanels

[2015-08-12 09:35] erral commented on #193
I have no problem on merging it to bobtemplates.plone; I created it as a
ZopeSkel template because we are currently using it, and it was easier for
me to create a ZopeSkel template than rewriting our templates to mr.bob.

Anyway, I can work on it, but I am currently on holidays, so i can do it
when I am back.

On Mon, Aug 10, 2015 at 4:46 PM, Timo Stollenwerk <notifications@github.com>
wrote:

--

[2015-08-13 11:14] svx commented on #215
@smcmahon do we have already something like 'best practices' if people want to install Plone via the UI on OSX ?

I mean for dependencies, if people do not use the old binary installer.

There are lots of different options and I am not sure which to use in in docs:

- Homebrew
- MacPorts
- NixPkgs

does someone has an opinion on that ?

[2015-08-13 11:21] svx commented on #147
OK we will go for:

- dash/zeal [already done]
- firefox search
- chrome search

and we will link to the videos, which are already on youtube [chrome and firefox]

[2015-08-13 11:28] svx commented on #222
This is already in the docs:

http://docs.plone.org/manage/deploying/copy.html

maybe we should try to make it easier to find and rename it ?

reason:

If I search for 'move plone site to another server' I do not find that with google, so we should try to make it easier to find :)

[2015-08-13 11:56] polyester commented on #323
The following pages need review from @bloodbare or @sneridagh , to state the p.a.m. version of things.

- [ ] https://github.com/plone/documentation/blob/5.0/develop/plone/i18n/cache.rst (it can probably go completely, but double check
- [ ] https://github.com/plone/documentation/blob/5.0/develop/plone/searching_and_indexing/query.rst (mentions LinguaPlone 5 times...)
- [ ] https://github.com/plon

[2015-08-24 13:03] gforcada opened #347 "Subtransaction -> savepoint?"
http://docs.plone.org/develop/plone/persistency/transactions.html talks about subtransactions and gives the following snippet as how to use them:

[code]

Although using that on a 4.3.6 Plone testing instance gave me:

[code]

Looking at transaction documentation seems that's now called [savepoints(?)](http://zodb.readthedocs.org/en/latest/transactions.html#id2).

So the code snippet should look l

[2015-08-29 10:11] sneridagh opened #350 "Theming documentation"
TTW is back (for good) for theming and we have to take advantage from it to attract more people to Plone. Easy quick testing and customization is very important to achieve it. Installers and other quick deployment approaches are great, but we need a good documentation on easy and TTW customization as well. We have the idea to define scenarios like these ones trying to cover the most common use cas

[2015-08-31 12:51] MrTango commented on #350
Hi victor, simone orsi and i will work on the theming training for the next 2,5 days in roma.
We will discuss your idears and try to integrate it with ours.

[2015-09-05 14:50] polyester opened #352 "TinyMCE integration and plugin documentation - needs mockup overhaul"
https://github.com/plone/documentation/blob/5.0/develop/plone/forms/wysiwyg.rst needs overhaul to account for mockup

[2015-09-06 18:24] polyester opened #353 "links to plone.api and coredev.buildout"
there are links **within** the docs of plone.api and coredev.buildout that will need to change from /external/ to /develop/.

However, this can only be done correctly after the Plone 5 docs are online, and canonical. So wait with this a while until release.

NOTE: these have to be fixed in the external repos of plone.api and coredev.buildout, respectively.

[2015-09-07 20:39] #184 closed

[2015-09-08 08:32] do3cc opened #355 "Integrate missing information about layers and traversing"
Hi,

in https://github.com/plone/bobtemplates.plone/issues/89 there was a discussion if IDefaultBrowerLayer should be a base class for Layers. The answer is yes but the why is nowhere explained.

I wrote a longer explanation about the why together with background info. Since my time is limited and I spent quite a while validating my last reply to the issue with all the background information, I st

[2015-09-08 08:48] polyester commented on #355
that should then be added to the bobtemplates.plone docs folder, since we're pulling it in directly. I wanted to split that out, but the 'one page is better' view prevailed at the time. I think it's time for splitting them up into more pages

[2015-09-08 09:07] do3cc commented on #355
@polyester I don't get you. The bob templates documentation folder is empty and the information is totally unrelated to bob templates. It just happened that a discussion there showed that our docs have a hole. I provided the information but not formatted yet to just copy and paste them to these docs.
I also linked the pages in question in the plone docs that could need the information.

[2015-09-08 09:39] polyester commented on #355
Ah, then I misunderstood. I thought it had to do with bobtemplates.plone. But it's more general about layering and traversing. Got it now.

[2015-09-12 21:54] polyester commented on #300
closed via https://github.com/plone/papyrus/commit/85431194f301caa9f6154588461ebd375e114f6f

[2015-09-12 21:54] #300 closed

[2015-09-13 14:39] ichim-david commented on #302
http://docs.plone.org/develop/addons/javascript_standards.html needs to be updated since I don't see jquery-migrate plugin being loaded in Plone 5.
This means that code snippets that use $.browser will break ever since jquery 1.9 and since plone 5 ships with 1.1.11 people will run into javascript errors.

[2015-09-15 06:09] polyester commented on #314
After talking to the training.plone.org people, decided to scrap it and point to the training instead.

[2015-09-15 06:11] polyester commented on #314
ah sorry. Scrapped the tutorial.todoapp one. This still needs review/rewrite, or also replacement by training.

[2015-09-16 03:25] djay commented on #350
Would be great to test and document the technique of theming frontend and back differently from https://github.com/plone/Products.CMFPlone/issues/465

[2015-09-18 22:12] #290 closed

[2015-09-18 22:12] polyester commented on #290
tutorial.todoapp has been taken out of plone5 documentation

[2015-09-19 11:34] polyester opened #369 "creating TTW folderish: info missing"
folderish types created TTW miss getting put into places where you may want them automatically:
- tinymce resources
- navigation
- portal-properties/typesLinkToFolderContentsInFC (for now, being moved)

[2015-09-19 14:23] polyester commented on #352
@vangheem any pointers? Checking with JC but not really sure. TinyMCE's UI has field for "Custom Plugins", but not much clue what to put in there.

I will overhaul the rest of TinyMCE docs, but how to integrate third-party plugins in the new mockup context, I have no idea.

[2015-09-19 14:30] vangheem commented on #352
I'll see what I can do. A lot of those docs do not make any sense in 5.

[2015-09-19 14:48] polyester commented on #352
Quite a lot can simply be ripped out. I'll start on that.

I've updated the end-user manual at http://docs.plone.org/5/en/working-with-content/using-tinymce-as-visual-editor and there's initial docs for the site-setup screen at http://docs.plone.org/5/en/adapt-and-extend/config/tinymce.html. And enabling safe-html is already documented elsewhere, so can go.

What's missing is
- how to enable third

[2015-09-19 14:50] vangheem commented on #352
"Customizing TinyMCE options" is all done with the configuration registry now. No more tinymce.xml

I'll update and make additional tweaks right now.

[2015-09-19 14:53] vangheem commented on #352
@polyester https://github.com/plone/documentation/commit/29ecd81b2d038796d90722262da04f461a125571

I just committed directly. I hope that's okay.

[2015-09-19 14:54] vangheem commented on #352
uh oh! https://travis-ci.org/plone/documentation/builds/81162468

I'll see what I screwed up. Sorry about that.

[2015-09-19 14:55] vangheem commented on #352
Oh wait, looks like it's failing for everyone :)

[2015-09-19 15:10] polyester commented on #352
yep, there's something wrong with the travis config since switching branches. Investigating but not my strong point.

[2015-09-19 15:24] svx commented on #352
Maybe check:

https://github.com/plone/papyrus/blob/5.0/checkouts-documentation.cfg

there is the line:
#documentation is special, we want full history and push URL
documentation               = git ${remotes:plone_push}/documentation.git egg=false branch=5.0

you renamed the 5 branch to master, maybe that is why it is complaining ?

[2015-09-19 15:39] polyester commented on #352
no, there is no more master branch. The branch is still 5.0, only it is now default.

I think it has to do with the
- mkdir -p source && ln -s ../../documentation source/documentation
- mkdir -p buildout-cache/downloads
- python bootstrap-buildout.py
- bin/buildout -N -t 3 buildout:checkout=documentation sources:documentation="fs
  documentation egg=false"

in the .travis.yml, since now that symbo

[2015-09-19 16:20] sneridagh commented on #323
1. https://github.com/plone/documentation/blob/5.0/develop/plone/i18n/cache.rst can go away because it's something that can be done from varnish itself (unset the cookie for some resources).
2. https://github.com/plone/documentation/blob/5.0/develop/plone/searching_and_indexing/query.rst @bloodbare should review it to be sure.
3. https://github.com/plone/documentation/blob/5.0/develop/plone/i18n/l

[2015-09-19 16:21] polyester commented on #352
Travis seems to work now. OK, it's agonizingly slow, but seems to work. I may have accidentally disabled some caching, although by far the most time is spent in making robot-screenshots. Still, how was it,  "cattle, not pets"? Then I'm making mules to carry the heavy load.

@svx if you have some secret magic sauce to make travis run faster, that would of course be hugely appreciated.

[2015-09-19 17:40] pbauer opened #371 "Document the common error "ValueError: Disallowed subobject type:""
ref https://github.com/plone/Products.CMFPlone/issues/600

[2015-09-19 18:06] esteele opened #1280 "Document minimum browser support"
We need a listing of which browsers Plone 5 will support.

See also plone/Products.CMFPlone#1032

[2015-09-19 18:12] vangheem commented on #1280
See my comment: https://github.com/plone/Products.CMFPlone/issues/1032#issuecomment-141694074

I think we need to support IE9+

[2015-09-19 18:21] polyester commented on #1280
+1

Individual sites can of course up the ante in their own themes, but OOTB it should be IE9+

[2015-09-19 22:30] sneridagh commented on #1280
+1 Yeah, I think we agree IE9+ some while ago. At least @albertcasado and I worked with that premise.

[2015-09-19 22:43] #352 closed, assigned to nobody

[2015-09-20 21:51] polyester commented on #314
After talking to the training people, it needs to be scrapped, and replaced with the latest example from training.plone.org. Will close when done that (tomorrow)

[2015-09-20 21:54] polyester commented on #334
@mjollnirpaul could you check again with the "5.0" branch (currently default)? (sorry but don't have freeBSD available right now. Is there something like a canonical FreeBSD virtualbox/vagrant image?)

[2015-09-22 15:42] 3dogMcNeill opened #375 "Update homescreen screenshots in docs intro"
Homepages have be redesigned (are they still Plone sites?).

Screenshot in docs at: working-with-content/introduction/visual-design-of-plone.rst

Penn State Smeal http://www.smeal.psu.edu/
Discover Magazine http://discovermagazine.com/
Akamai https://www.akamai.com/

Maybe switch out with sites on plone.com/success-stories ?

Update image below with Plone 5?
![screen shot 2015-09-22 at 11 47 59 am

[2015-09-27 15:48] #375 closed, assigned to nobody

[2015-09-30 12:28] svx opened #381 "Changelog"
latest change-log is missing, there is only one called pre-alpha, there should be an up to date one or no one, having only a pre-release change-log online is not really prefect.

[2015-09-30 12:31] svx opened #382 "Updated information for Plone 5"
http://docs.plone.org/about/reading.html#id2 is still showing information for Plone 4, this is could be confusing since we are reading the Plone 5 docs,
- needs up to date pictures
- needs to be updated to Plone 5

[2015-09-30 12:35] svx opened #383 "docset not found"
Zeal and dash are not able to find the latest docset:

http://docs.plone.org/plone5.xml

[2015-09-30 12:42] svx opened #384 "Update http://docs.plone.org/manage/installing/installation.html"
- remove wip note
- adjust the mix up between 5.0 and rc1, both are mentioned on this site

[2015-09-30 12:47] svx opened #385 "Outdated info about systemd/upstart"
http://docs.plone.org/manage/deploying/production/restarts.html

this needs to be updated to best systemd practices and also with a note that upstart and init.d is old practice even if they still work on for example 14.04 ppl not use that like that anymore

[2015-09-30 12:59] svx opened #387 "Needs update: ubuntu-production"
http://docs.plone.org/manage/deploying/production/ubuntu_production.html

telling ppl to do dist-uprades on production machines is at least, lets say questionable, there is a difference between apt-upgrade and dist-uprade

we should take care about that, maybe ppl have reasons to run a certain kernel for example and we do not want to break their setups

upgrade
    upgrade is used to install the n

[2015-09-30 13:22] svx commented on #387
On a further note this document also still refers to: /5.0rc1 !

[2015-10-01 08:15] svx opened #389 "Fix nginx config of docs.plone.org"
With the switch of the docs to Plone 5 as 'master' docs in nginx some ulrs and rewrites broke, for example:

http://docs.plone.org/external/plone.api/docs/api/content.html

is not working

[2015-10-01 08:29] polyester commented on #389
see also https://github.com/plone/documentation/issues/353

[2015-10-01 08:33] svx commented on #389
I fixed that temp. with redirecting api.plone.org to http://docs.plone.org/develop/plone.api/docs/index.html. Better than nothing at least for the moment.

But please ppl, things like that should be tested before you switched the docs version in nginx .

And I disagree with the comment in #353, this can be tested and configured before you switch, sorry but I think a little less excitement and doin

[2015-10-01 10:22] #384 closed, assigned to nobody

[2015-10-01 11:21] polyester commented on #353
fixed in external repos

[2015-10-01 11:21] #353 closed, assigned to polyester

[2015-10-01 12:19] polyester commented on #389
Rewrites in NGINX in place for
- moving plone.api from /external to /develop,
- we are pulling in current version of buildout.coredev docs instead of having own outdated version.

[2015-10-01 12:19] #389 closed, assigned to nobody

[2015-10-01 13:06] svx opened #391 "tests on travis"
Since the artifacts upload is now disabled why we still use this 'overkill' setup ?

There is no need to build a full Plone for the current setup, 'just' fetching all the docs + external and building without robot is enough and would certainly speed up testing on travis.

Or do I miss something ?

[2015-10-01 13:09] svx opened #392 "cleanup travis files"
atm we have
![travis-files](https://cloud.githubusercontent.com/assets/358860/10221368/44978146-684e-11e5-86d6-bdff5495ddf9.png)

3 different travis files in the repo, this can be confusing, so this should be cleaned up a bit :)

[2015-10-01 13:40] polyester commented on #391
I consider the screenshots an integral part of the documentation, and would like to know if a commit breaks building the full docs, incuding them.

Hopefully in near future phantomjs will be friends with robotframework again, and using http://datakurre.pandala.org/2012/09/speed-up-your-plone-add-on-tests-on.html (but then for 5) speed can be improved.

[2015-10-01 13:53] svx commented on #391
But in this case you should make travis really failing and not 'just' give an error and let continue otherwise the whole tests makes no sense
![failng-robot](https://cloud.githubusercontent.com/assets/358860/10222470/8232b18c-6854-11e5-886f-19eca372d612.png)

As see you 'make html' continues after robot is failing.

[2015-10-07 10:40] #383 closed, assigned to nobody

[2015-10-07 10:48] svx commented on #383
Just tested:

works with zeal and with dash

[2015-10-07 10:52] polyester commented on #383
could you make a screenshot for https://github.com/plone/documentation/issues/382 ?

[2015-10-07 10:54] svx commented on #383
OSX, Ubuntu or both ?

[2015-10-07 10:56] polyester commented on #383
both would be great; OSX I don't have but could do Ubuntu later tonight, but if you have both handy that'd be great.

[2015-10-07 10:58] svx commented on #383
OK I'll make a zip, Ubuntu is already done, now moving on to OSX

[2015-10-07 11:15] svx commented on #383
@polyester there you go:

https://download.leftxs.org/plone/dash-screens.tar.gz

[2015-10-07 12:42] mjollnirpaul commented on #334
Am Sonntag, 20. September 2015, 14:54:39 schrieb polyester:

http://www.freebsd.org/where.html

FWIW, it was not hard to find: Click on "Download FreeBSD" on the web
site www.freebsd.org... ;)

You may want to download the 10.2-Release (current production release)
and/or the image of 11-current (developer's choice) for any VM you have.

AFAIC these are "bare" OS images, i.e. only the kernel and ba

[2015-10-08 16:10] polyester commented on #387
also changed for 4.3 branch now

[2015-10-08 16:11] #387 closed, assigned to nobody

[2015-10-18 10:56] svx opened #408 "Checking alt tags of images"
The alt descriptions of pictures needs to be checked, some of them are not really clear, for example on:

http://docs.plone.org/working-with-content/adding-content/adding-images.html

the description of the first image is: Add new-menu.png

And the picture is showing the menu how and how to add an image, this could be possible confusing

[2015-10-18 11:34] timitos commented on #302
Some interesting points for the javascript documentation can be found in plone/Products.CMFPlone#1163

[2015-10-18 11:58] timitos commented on #302
Here is a small collection of topics that need to be covered in the javascript documentation:
- Modern Javascript in Plone with requirejs
- Mockup and patternslib
- How to integrate legacy javascript (covered in [1])
- How to setup a dev environment for the javascript story
  - Requirements
  - Installation
  - JSHint
- Usage of the development mode of the resource registry
- Adding a resource or

[2015-10-18 13:26] timitos commented on #302
@frisi @thet maybe you want to join working on this issue.

[2015-10-18 13:29] timitos commented on #302
There is some more content to integrate in this document:
https://docs.google.com/document/d/1vg3K98oGk8wLkaT7uBZ-O6ufNw3NSupro4mK96hZrao

[2015-10-22 21:13] davilima6 commented on #350
I'd like to help on this one.

[2015-10-27 17:59] polyester opened #416 "make clear to check add-ons for which version of Plone"
we need to make clear that not all add-ons work on Plone 5 yet, and instruct people on how to check for that.

[2015-10-27 18:06] polyester commented on #416
also consider making a sticky note on community.plone.org for the moment

[2015-10-28 18:59] jensens opened #418 "CSS page outdated, new recipe style page needed."
In Plone 5 docs the page describing how to add a simple CSS file is outdated.
http://docs.plone.org/adapt-and-extend/theming/templates_css/css.html

I think we need a recipe for the use case like so:

A developer:
- writes new addon
- want to add some simple custom css (like very few lines supporting his views, maybe an icon for controlpanel or some icons for the custom content type)

We need 3 to

[2015-10-28 20:35] jensens commented on #418
BTW.: http://docs.plone.org/adapt-and-extend/theming/resourceregistry.html does not explain it. Its also not only about theming, but about addon development. See also https://community.plone.org/t/strategies-for-less-css-in-addons/1137

[2015-10-31 12:44] svx opened #421 "Add docs about collective"
Currently we have:
http://docs.plone.org/develop/index.html#developing-for-plone-core

which is nice !!

But we still miss the part about https://collective.github.io/ .

IMHO we should add that to the docs, too - usually people start with stuff in collective, before the hack on the core.

[2015-11-04 08:56] #416 closed, assigned to polyester

[2015-11-04 08:56] #421 closed, assigned to nobody

[2015-11-05 13:37] tkimnguyen opened #423 "add to the template a link to the issue tracker on each page"
..., with the label being "Report a problem"

[2015-11-05 13:47] svx commented on #423
If you want improvements on the theme, please create issues in https://github.com/plone/sphinx.themes.plone/issues :)

[2015-11-05 13:47] #423 closed, assigned to nobody

[2015-11-05 14:05] svx commented on #423
Moved to: https://github.com/plone/sphinx.themes.plone/issues/31

[2015-11-11 12:13] svx opened #425 "Varnish 4 - config mistake?"
Just came it across during working on varnish 4 configuration tweaks ...

In the docs on: http://docs.plone.org/manage/deploying/caching/varnish4.html under round robin
![varnish_4_possible_error](https://cloud.githubusercontent.com/assets/358860/11090747/d33d0fa6-8874-11e5-8ce1-33bb3404bf4e.png)

We use the names app1 and app2 for the backends, but in the round robin configuration we use:

[code]

[2015-11-12 01:33] ivanteoh opened #427 "`zc-buildout` or `zc.buildout`? in plone installation"
When I follow the steps on [`minimal build` section in Plone Installation Requirements](http://docs.plone.org/manage/installing/requirements.html#minimal-build) , I found that this step, `bin/pip install zc-buildout`, is  not working. If I change it to `zc.buildout`, it works.

[2015-11-12 06:48] polyester commented on #427
thanks for reporting and closing!

[2015-11-12 06:48] #427 closed, assigned to nobody

[2015-11-16 06:12] tkimnguyen opened #430 "gzip option has been removed from plone.app.caching"
- [x] update doc at http://docs.plone.org/manage/deploying/stack.html
- [x] update docs for Nginx and Apache

[2015-11-17 16:02] tkimnguyen opened #432 "can we add an "in this section" checkbox to the search?"
so if I'm searching for 'gzip' in the Apache docs at http://docs.plone.org/manage/deploying/front-end/apache.html I don't get sent to (say) Diazo docs

[2015-11-17 17:04] tkimnguyen commented on #430
closed in favour of #431

[2015-11-17 17:04] #430 closed, assigned to tkimnguyen

[2015-11-17 18:36] svx commented on #432
This ticket should be filed under: https://github.com/plone/sphinx.themes.plone ! :)

Unfortunately that is not possible, I mean you can add the check-box, but the built-in search of sphinx which we are currently using is limited, you can define a search area but this is not working properly, at least not deep in subdirs.

There is a long standing open idea to hook up solr or elasticsearch which w

[2015-11-17 19:03] tkimnguyen commented on #432
Sorry, I just assume "docs" so this would be where to file the issues, and it's not a theme problem but a functionality issue :) Well heck we should at least just use Plone search!!!

[2015-11-17 19:07] #432 closed, assigned to nobody

[2015-11-17 22:42] fulv opened #434 "plone.directives (grok alert?)"
http://docs.plone.org/develop/plone/forms/schemas.html#multi-choice-example

This example does a `from plone.directives import form`, but `plone.directives.form` depends on `five.grok`.

My question:  is `five.grok` (and all the `grokcore` namespace packages) acceptable because it's not the _real Grok_, or did we miss a big chunk of degrokkification?

(See #296)

[2015-11-17 22:47] davisagli commented on #434
This needs to be degrokkified.

In this case it's as simple as importing Schema from plone.supermodel.model instead of plone.directives.form

[2015-11-17 23:00] fulv commented on #434
What about `form.widget`?

[2015-11-17 23:02] fulv commented on #434
I'm guessing `from plone.autoform import directives as form`?

[2015-11-17 23:44] fulv opened #436 "grok-alert for plone.directives"
The following files need fixing, as `plone.directives.form` depends on `five.grok`:
- [ ] develop/addons/schema-driven-forms/further-reading.rst
- [ ] develop/plone/functionality/controlpanel.rst
- [ ] develop/addons/schema-driven-forms/intro.rst
- [ ] develop/addons/schema-driven-forms/form-types/add-forms.rst
- [ ] develop/addons/schema-driven-forms/form-types/edit-forms.rst
- [ ] develop/addons

[2015-11-18 07:46] svx commented on #432
@tkimnguyen I am sorry but I do not understand this, would you mind to evaluate what you mean by:

"Well heck we should at least just use Plone search!!!"  ?

[2015-11-18 07:48] #434 closed, assigned to nobody

[2015-11-18 07:52] svx commented on #391
solved

[2015-11-18 07:52] #391 closed, assigned to nobody

[2015-11-18 12:51] tkimnguyen commented on #432
It was meant to be humorous :) and it could be totally ridiculous but could we not take the generated docs html and css and serve them from a Plone site? Then we would have the search in this section feature.

[2015-11-18 16:13] #425 closed, assigned to nobody

[2015-11-18 16:17] cleberjsantos commented on #425
@svx Ops!.. Sorry!  Yes +1

[2015-11-23 00:50] davilima6 commented on #250
Hi @djay, could you please refer that change? I couldn't find it. Is this it? plone/documentation#352

I guess final output should be here: https://github.com/plone/documentation/blob/5.0/develop/plone/forms/wysiwyg.rst

[2015-11-23 16:48] #147 closed

[2015-11-25 08:55] #226 closed

[2015-11-25 09:27] svx opened #443 "Do not fetch README and CHANGES"
This is slightly related to #226

After spending the last two weeks reading about different ways of documentation and docs setups, I reached the conclusion that we doing it wrong.

Outline:

Usually the 'only' people who benefit from that are developers or integrators, most of the 'normal' user are not interested  or understand  a changelog, at least not in the way how 99% of these are written.

F

[2015-11-25 10:15] ivanteoh opened #444 "'list of Plone success stories' link is broken"
[list of Plone success stories](https://plone.com/support/sites) link is broken in http://docs.plone.org/working-with-content/introduction/visual-design-of-plone.html. I believe the link should be https://plone.com/success-stories.

[2015-11-25 10:28] polyester commented on #443
I would agree. So steps needed would be:
- [ ] make that clear in the guideline
- [ ] make the mr.bob template do the right thing
- [ ] fix current repositories that put **way** too much info into their README

number 3 will be the most work...

[2015-11-25 10:31] svx commented on #443
One other nice plus, it would make sphinx silence because we would get way less warnings:

/home/travis/build/plone/papyrus/source/documentation/develop/addons/bobtemplates.plone/bobtemplates.plone/README.rst:: WARNING: document isn't included in any toctree

/home/travis/build/plone/papyrus/source/documentation/develop/coredev/README.rst:: WARNING: document isn't included in any toctree

/home/tr

[2015-11-25 10:31] #444 closed, assigned to nobody

[2015-11-25 10:36] svx commented on #443
I guess nr 3 would be something what I would call `slow work in progress`, lets start with all the new ones followed by all the ones in core, and to do it right, add a test/check to jenkins, if you try to push and the readme is too long or there is no /docs/index with a link to readme and changelog the push will be denied :)

[2015-11-25 11:27] polyester commented on #314
closed via https://github.com/plone/documentation/pull/446

[2015-11-25 11:27] #314 closed

[2015-11-28 15:13] svx opened #448 "Update nginx docs"
Meta ticket for updating our nginx docs
- [ ] move install and configuration via buildout into a separate file
- [ ] update nginx config to modern and best practices
- [x] rewrite part about ssl, add good example
- [ ] ssl: add links to ssllabs
- [ ] add picture of a good ssllabs ranking
- [ ] ssl: add links and howto about configs and help pages
- [ ] /var/www is old style, mention also /srv
- [

[2015-11-29 19:21] tkimnguyen commented on #448
I started by adding in an nginx SSL config, in https://github.com/plone/documentation/tree/update_nginx

[2015-11-30 14:12] zopyx opened #449 "Inconsistency in @@sharing docs"
The example uses "Sits Manager" vs. "Sits Coordinator"...should be the same name..but what means "sits"??? Typo and should be "site"?

http://docs.plone.org/develop/plone/security/local_roles.html#adding-a-role-to-the-sharing-tab

[2015-11-30 14:15] zopyx opened #450 "URLs of docs.plone.org may become stable"
You are using these URLs for older Plone docs

http://docs.plone.org/4/
http://docs.plone.org/3

but not for Plone 5.
In case of documentation that might be specific to Plone 5.1 you will break links and bookmarks that go to the Plone 5.0 related documentation.

[2015-11-30 14:51] svx commented on #449
@zopyx thanks for reporting !

PR with fix is on the way

[2015-11-30 15:07] svx commented on #449
fixed and done !

[2015-11-30 15:07] #449 closed, assigned to nobody

[2015-12-01 09:18] svx opened #452 "Update version switcher on Plone 3 docs"
With the releasing of the docs for Plone 5 we forgot to update the version switcher on plone.org/3/en.

There is currently no 'easy' to go back by using the switch, you have to type the URL

Solution:
- add Plone 5 to conf.py
- rebuild
- publish a new version of Plone 3 docs

[2015-12-01 09:26] svx opened #453 "Consistency of documentation versions and URLs"
I guess this is also kind of connected to #450 ?

Our usage of versions and URLs in not currently consisted, which may confuse user, for sure new user ...
## Outline

Plone 5
docs.plone.org:
http://docs.plone.org/manage/index.html

Plone 4
http://docs.plone.org/4/en/
http://docs.plone.org/4/en/manage/index.html

Plone 3
http://docs.plone.org/3/en/
http://docs.plone.org/3/en/manage/index.html

We s

[2015-12-01 09:28] svx opened #454 "Plone 4 docs - version switcher order"
The order of versions in the switcher is confusing, we should use the same order through all versions, meaning go up:
3,4,5

or down

5,4,3

now we have a mix what is just confusing

[2015-12-01 09:47] svx opened #455 "Usage of versions"
I am sorry to bring that up again [I am ? :)] , but this never got solved properly.

When we came up with the way how we version the docs, we thought that found a good solution, but after working more with docs, talking to lots of other docs ppl from lots of other projects, we should bring that back to the drawing board.

IMHO we should use a schema which is more clear for people, meaning all peop

[2015-12-01 09:53] svx commented on #452
Fixed in https://github.com/plone/papyrus/commit/9baa7dc772e11b15ea950e1f4c5e7b8d60c9eea1

[2015-12-01 09:54] svx commented on #454
Fixed in https://github.com/plone/papyrus/commit/1060be6427fd2778379557263caecf9aeca77b8e

[2015-12-01 10:44] svx commented on #454
The is not working because of the way the version switcher is build - reverted .... great .... :)

[2015-12-01 13:17] polyester commented on #455
I agree we should _carefully_ re-think the URL scheme. Carefully because we will incur a Google hit any way we do it, so better get it really right this time.

Also it needs more study and thought on how to set rel=canonical stuff in the header, otherwise search engines also punish for having multiple URL's leading to the same content. https://en.wikipedia.org/wiki/Canonical_link_element
I'm not q

[2015-12-01 13:24] svx commented on #455
rtd is doing that: https://docs.readthedocs.org/en/latest/canonical.html and also pylons: https://github.com/Pylons/pylons_sphinx_theme/pull/8

[2015-12-01 14:50] gforcada commented on #281
What's the status here? I would like to read html rather than rst :)

[2015-12-01 15:45] svx commented on #281
It is still open ? :)

The docs structure and the rst needs cleanup and the docs need review there are confusing in some parts at least for interrogators :)

[2015-12-01 16:06] polyester commented on #454
closed via https://github.com/plone/papyrus/pull/79 (and equivalents for 3 and 5 branches)

[2015-12-01 16:06] #454 closed, assigned to nobody

[2015-12-02 03:41] ivanteoh opened #457 "Should add plone-legacy js and css to custom Diazo based theme example"
I noticed if i did not add plone-legacy js and css, some js are not found. It happened when I add collective.z3cform.datagridfield.

[2015-12-02 15:26] svx opened #460 "Remove varnish 2 docs ?"
Varnish 2 is a 'bit outdated' by now, should we remove the old varnish 2 parts or should we move them to 'old', having them in the main docs document feels a bit outdated, all major OSs give you now varnish 3 via package manager, some even started to give you varnish 4.

Ubuntu 14.04 is giving you 3, since all our docs are based on that I say we keep 3 but remove/move varnish 2 ?

[2015-12-02 15:47] svx opened #461 "Should we use apt v1 or apt v2 throuh the docs ?"
Since 14.04 there is also apt v2 on Ubuntu, which is the new versions with a nicer ci, faster and shorter.

I want to avoid mixing them in the docs, so personally I use v2 since a long time, but I am never sure which one to use in the docs.

[2015-12-02 16:49] gforcada commented on #461
We could avoid it all together by just  saying "install X Y Z" see the official docs of your distribution (and point to some distributions: Ubuntu,  Fedora/RHEL...)

Does that make sense?

[2015-12-02 16:50] fulv commented on #460
(FWIW - Ubunty 15.04 comes with Varnish 4.)

On Wed, Dec 2, 2015 at 7:27 AM sven notifications@github.com wrote:

[2015-12-02 16:50] gforcada commented on #461
Actually, now that I think a bit more on it, we are moving towards ansible, salt, and what not, so they already instrument these low-level tools, so even more of a reason to not talk about one or the other, but just point the package names you want to install...

my 0,2 cents (one for each comment :-)

[2015-12-02 16:54] gforcada commented on #460
At most I would keep it for Plone 3 docs, as maybe some websites are still stuck on that version and the same with the server (everything done and locked since +5 years and scared/not bothered to touch it ever again).

Also FWIW plone.recipe.varnish is still using varnish 3 (I guess 2 as well) and only the 2.x beta version (no stable so far on pypi) has support for Varnish 4.

[2015-12-02 17:00] polyester commented on #461
afaik, "apt" is available since Jessie (april 2015) on Debian, and since 14.04 on Ubuntu. I'd say it's safe to use on the 5.0 branch of the docs.

[2015-12-02 17:03] svx commented on #460
@fulv what you want to say with that ?

@gforcada I do not want to remove v3 from the PLone 5 branch just v 2 :)

[2015-12-02 17:11] fulv commented on #460
I was just saying that it's getting harder to even use 3, let alone 2.

On Wed, Dec 2, 2015 at 9:04 AM sven notifications@github.com wrote:

[2015-12-02 17:23] svx commented on #460
@fulv ah, yes !

14.04 still ships with 3, since the rest of the docs are based on 14.04 I would suggest to keep 3 till we decide to base the docs on the next LTS

[2015-12-02 17:46] fulv commented on #460
I have no objection to that, but we'll want to revisit that when the next
LTS release comes out (16.04 maybe?).

On Wed, Dec 2, 2015 at 9:23 AM sven notifications@github.com wrote:

[2015-12-02 17:53] svx commented on #460
Yes, sure !

Usually we move to the next LTS, when there is the first version bump, so that would be 16.04-01, because in general with that release all the small 'itches' from the release version are fixed :)

[2015-12-02 19:09] smcmahon commented on #460
If we want to have a VCL 4 sample, I'm willing to add one. I would base it on https://github.com/plone/ansible-playbook/blob/master/roles/varnish/templates/default.vcl4.j2

[2015-12-02 19:55] plone-foundation commented on #460
HI,
we already have that :)

http://docs.plone.org/manage/deploying/caching/varnish4.html

but maybe you can check and if necessary improve that ?

On 02/12/15 20:09, Steve McMahon wrote:

[2015-12-02 21:32] cleberjsantos commented on #460
@svx  +1 I think we should move v2 to 'old'.

@gforcada Yes, plone.recipe.varnish is still using varnish 3, but have the 2.x beta version (no stable so far on pypi) has support for Varnish 4.

Not yet stable because we not have many people making use in the Plone with v4, and they are also not returning with feedback about.

[2015-12-03 07:14] svx commented on #392
@polyester would you mind to remove the old ones ? I am asking you because you were afaik the last one working on that ?

If not I will remove the ones called bak and bak.old.

less is more :)

[2015-12-03 07:23] #452 closed, assigned to nobody

[2015-12-03 11:13] ivanteoh commented on #457
Not an issue. Should use @fulv PR #447 instead. It is also mentioned in https://github.com/plone/plonetheme.barceloneta/blob/master/plonetheme/barceloneta/theme/backend.xml comment.

[code]

[2015-12-03 11:13] #457 closed, assigned to nobody

[2015-12-04 21:06] fulv opened #465 "Which modules are whitelisted in RestrictedPython by default?"
I can find documentation on how to whitelist a module in RestrictedPython, but not which modules come whitelisted by default.  Only vague assertions that RestrictedPython gives limited access, but to what?  If this is documented somewhere, please let me know, otherwise it would be good to add.

For example, I was reading [this doc on Creating content from PFG](http://docs.plone.org/working-with-co

[2015-12-05 00:24] fulv commented on #36
I found this issue when I was looking for what to do about [this broken link](https://plone.org/documentation/kb/using-unauthorized-modules-in-scripts), which is on `develop/plone/security/sandboxing.rst`.

I checked this file and could not find it:  https://github.com/plone/documentation/blob/5.0/broken-20140331.txt

But it is in https://github.com/plone/documentation/blob/4.3/broken-links-nov201

[2015-12-05 10:16] polyester commented on #36
at the Stroopwafel and Munich doc-sprints, people looked through the kb and decided to scrap the whole thing. There may still be some valid nuggets of information in there, but the ratio of valid versus outdated-to-plain-dangerous is not favorable, to say the least.

So links to the kb should be removed. If you happen to find one that contains sane, still-valid info, the content of the kb-article

[2015-12-07 14:58] #392 closed, assigned to polyester

[2015-12-07 14:58] polyester commented on #392
closed in https://github.com/plone/documentation/pull/393

[2015-12-09 16:48] 3dogMcNeill opened #466 "Add Screenshots?"
Just went through the exercise on https://5.docs.plone.org/working-with-content/managing-content/ploneformgen/sql_crud

Under "Inserting Rows" where it has "Connection ID" and "Arguments" (twice), can we add a screenshot? I'm too embarassed to say how much time I just wasted because I misunderstood this line: "On separate lines, specify "string1" and "string2". (Leave off the quotes.)"

A picture

[2015-12-09 16:54] polyester commented on #466
Since I haven't **quite** mastered the art of "adding a few extra products to the testing fixture in order to do screenshots", having a manual screenshot is much better than nothing, so please go ahead. There's quite a few in this folder already.

Important:
- use PNG as the file format if possible
- filenames without spaces, special chars and such. sql_crud.png would be optimal

[2015-12-09 21:29] 3dogMcNeill commented on #466
Great! I will do that. Thanks!

On Wed, Dec 9, 2015 at 11:54 AM, polyester notifications@github.com wrote:

##

_Christina McNeill_
IRC: cmcneill

[2015-12-10 00:21] thet opened #467 "Add documentation/about to docs.plone.org"
Why isn't the about section included in docs.plone.org? I find it very useful, especially to reference the styleguide here: https://github.com/plone/documentation/blob/5.0/about/documentation_styleguide.rst

[2015-12-10 00:34] thet opened #468 "Restructure "Testing & Tuning Plone" section"
Testing & Tuning Plone
I searched for documentation on testing Plone and was surprised to find it within the "Installing, Managing and Updating Plone" main section. IMO, the testing documentation should be moved to the "Developing for Plone" documentation. I suggest the following changes.

This is the current structure:
http://docs.plone.org/manage/deploying/testing_tuning/index.html

[code]

The

[2015-12-10 00:38] thet opened #469 "Add Plone and JavaScript style guides"
I thought this was already done, but apparently not.

We need our styleguide referenced in "Developing for Plone" main section:
- https://github.com/plone/plone.api/blob/master/docs/contribute/conventions.rst
- http://patternslib.com/pattern-styleguide/#main-content
- And a internal reference to https://github.com/plone/documentation/blob/5.0/about/documentation_styleguide.rst (related to #467)

/

[2015-12-10 01:20] thet opened #470 "Reduce nesting in "Developing for Plone""
Looks like there is some unnecessary nesting in http://docs.plone.org/develop/index.html
I guess this has something to do with how external docs are included. The nesting looks awkward - some menu items have only one submenu item with the same title. In case of "Developing for Plone Core" there is even no table of contents.
It would look much nicer and cleaner, if we can get over some limitation a

[2015-12-10 08:30] polyester commented on #467
not quite sure what you mean; http://docs.plone.org/about/index.html is included directly from the main page.

[2015-12-10 08:39] polyester commented on #470
That's related to https://github.com/plone/documentation/issues/443

Each externally-fetched repo has a wildly different way of structuring their docs section, making it hard to create a uniform nesting-depth here. This will have to be fixed in the external repos, ideally.

[2015-12-10 08:39] jensens commented on #469
I think we already approved the plone.api styleguide as offical at some point.

[2015-12-10 09:48] thet commented on #467
Absolutely `True`. Did oversee this. Maybe it was too late yesterday...

[2015-12-10 09:48] #467 closed, assigned to nobody

[2015-12-10 09:54] jcbrand commented on #469
@thet I added the Javascript styleguide here: https://github.com/plone/documentation/commit/b1b973c4234bde0f4c6c4b31327cd2fabc03dd73

It's still in the "styleguides" branch of plone.documentation. I remember discussing this with @polyester somewhere on a ticket, but I don't find that discussion anymore. You were also involved in that ticket, can you remember which one it might be?

[2015-12-10 10:02] polyester commented on #469
@jcbrand I think it just somehow never made it to pullrequest; it should be a PR I think. Looks good, I'll merge when it's there.

[2015-12-10 10:05] thet commented on #469
@jcbrand tnx!

[2015-12-10 10:06] jcbrand commented on #469
Oh, I just made the pull request @thet, but you're welcome to close it and create a new one after.

https://github.com/plone/documentation/pull/471

[2015-12-10 10:06] thet commented on #469
np, rewrote history and deleted the comment :)

[2015-12-10 10:41] thet commented on #469
awesome, even the python styleguide is in place.

@polyester there is some more valuable information in https://github.com/plone/plone.api/blob/master/docs/contribute/conventions.rst - especially the git workflow and release process chapters. they do not really fit into the styleguide, though. i'll create a new section for this and do a pull request, ok?

[2015-12-10 12:08] thet commented on #469
Done in https://github.com/plone/buildout.coredev/pull/149

[2015-12-10 12:09] #469 closed, assigned to nobody

[2015-12-11 10:48] #468 closed, assigned to nobody

[2015-12-13 10:36] svx commented on #381
@polyester you did a release on 12 of December 2015 and you did not updated the changelog, again ... please fix that !

[2015-12-13 10:48] thet commented on #381
Maybe I should have updated it? I did the latest change in papyrus

[2015-12-13 11:27] svx commented on #381
@thet well, than you also should update: https://github.com/plone/papyrus/blob/5.0/CHANGES.rst :)

But I am talking about: https://github.com/plone/documentation/tree/5.0/about/history

[2015-12-14 10:54] thet opened #475 "Correct well known names"
Some names are not not written correctly consistently:
- GitHub should be written in CamelCase: https://en.wikipedia.org/wiki/GitHub
- JavaScript should be written in CamelCase: https://en.wikipedia.org/wiki/JavaScript

... there are possibly more, but those two are the ones I recognized until now.

[2015-12-15 08:24] djay commented on #43
Not sure if this is the right ticket but looking at the current documetnation there is a need for a guide similar to https://plone.org/documentation/faq/where-can-i-host-my-plone-site which helps questions like
https://community.plone.org/t/need-comments-on-how-to-upload-the-plone-site-to-my-domain-via-ftp/1318.

ie if you don't know the word deploy but do know cpanel or ftp, how to understand you

[2015-12-18 21:58] 3dogMcNeill commented on #466
Just went to try to do this....how the heck do I add an image anyway? I'm
editing through the GitHub web interface. Maybe I should clone the repo and
do it locally, but in what folder should I put the images?

On Wed, Dec 9, 2015 at 4:28 PM, Christina McNeill cmcneill@plone.org
wrote:

##

_Christina McNeill_
IRC: cmcneill

[2015-12-18 22:15] polyester commented on #466
I'm not 100% on how to do it through the GitHub web interface. When cloning locally, it's a simple "git add mypicture.png".

As for folders: just put in the same one as the .rst file is in, that's the easiest to keep track of.

[2015-12-18 22:18] polyester commented on #466
ah, there is that suspicious 'new file' button on the webinterface; so through the web should be:
- create branch
- hit the "new file" button on the correct directory
- and this would be a good test of how easy the GitHub webinterface is from there ;-)

[2015-12-21 16:58] 3dogMcNeill commented on #466
Ok, I have literally spent 4 hours trying to add 4 screenshots and make
some clarification edits. I cloned the repo locally, I tried using GitHub
Desktop—couldn't figure out how to make commits to 4.3 branch through
command line; with Desktop, ended up making PR to master when I thought I
was pushing to "my" local version—it didn't work, I can't find the files I
added or the ones I changed, so I q

[2015-12-21 16:58] 3dogMcNeill commented on #466
And also, screenshots can't be added through the web.

On Mon, Dec 21, 2015 at 11:58 AM, Christina McNeill cmcneill@plone.org
wrote:

##

_Christina McNeill_
IRC: cmcneill

[2015-12-21 17:16] polyester commented on #466
I'm sorry; that is something we will have to improve then. (also for safety; you deleted the whole 4.3 branch in the process. Easily enough to restore, but that means the process is not well enough documented)

If you could do the following, I will try to make it into a much better non-programmer guideline:
- send me (old-school, by email) the updated .rst files, and the screenshots)

again, sorry

[2015-12-21 17:19] polyester commented on #466
ah, found them already.
https://github.com/plone/documentation/commit/aeaed22b874ace77f3c8bb529ff455a3226bb6d8 and
https://github.com/plone/documentation/commit/e3eda04ab10eab3d881c1e9e661adb37ea41816b, so to see.

I'll work from there

[2015-12-21 17:39] 3dogMcNeill commented on #466
omg, I did?! yikes. sorry.

After I made the PR, I wasn't sure how to stop it from being added so I closed it. I thought that was closing my PR, not deleting the whole branch.

[2015-12-21 18:18] polyester commented on #466
no problem, it shows we need better documentation ;-)

I'll have to find a computer where I can install github-desktop, then make some screenshots using that.

[2016-01-10 17:42] macagua commented on #287
localhost +1

[2016-01-11 11:01] pigeonflight commented on #287
Definitely localhost.

 127.0.0.1 returns an unthemed site out of the box. When using the training.plone.org material one developer thought things were broken because (being smart) he went to 127.0.0.1:8080.

It may be worth noting somewhere in the docs the difference between 127.0.0.1 and localhost when it comes to theming.

[2016-01-13 18:04] deesto commented on #382
Hi,

Even though this is marked 'closed', the only procedure available for upgrading Plone to date (13 Jan 2016) seems to be the 4.x minor upgrade procedure, which, I assume, is deprecated for 5.x. There is a document specifically for "Upgrading Plone 4.x to 5.0", but currently this shows only code diffs and other changes and is not procedural, though it claims to be "instructions".

How different

[2016-01-13 18:18] deesto commented on #382
Apologies: a referenced issue is marked closed, not this issue itself. My question remains valid, though. Thanks!

[2016-01-14 09:08] l34marr opened #485 "Nginx Config Example for PHP"
This link http://alasdoo.com/2010/12/xdv-plone-and-phpbb-under-one-nginx-roof/ described at http://docs.plone.org/manage/deploying/front-end/nginx.html#php-with-nginx-and-php-fpm seems unreachable. Any other good references or consider a rewrite?

[2016-01-15 14:24] jensens opened #487 "mailing list mentioned, should be replaced"
http://training.plone.org/5/add-ons.html#how-to-find-add-ons
here gmane is listed. its should get replaced by community.plone.org

[2016-01-15 14:24] jensens commented on #487
ops, this was meant for plone training

[2016-01-15 14:24] #487 closed, assigned to nobody

[2016-01-21 08:38] svx opened #491 "Remove mention of PIL update install docs"
Should we update: http://docs.plone.org/develop/plone/images/ ?
- removing PIL
- update Pillow docs, mention about installation of certain packages: libjpeg62-dev libfreetype6 [Ubuntu] and libjpeg-turbo-devel freetype-devel [Fedora/CentOS]

We already have  libjpeg62-dev mentioned in: http://docs.plone.org/manage/installing/installation, should we update that with libfreetype6, too ?

[2016-01-21 08:54] svx opened #492 "[Guideline] : setup.py -> README vs /docs"
How we want to handle this ?

What do I mean:

As you can see in the repo of plone.versioncheck [https://github.com/plone/plone.versioncheck], the setup.py fetches the README

[code]

I do see the point, because this is nice for pypi, but this creates the issue that this approach is not following our 'best practices', I do not have a /docs dir, and so all my CI tests for documentation are failing

[2016-01-21 09:34] polyester commented on #491
+1 on removing PIL, I would probably suggest having the install instruction on Pillow relatively simple (although including libfreetype6 might be a candidate) and have it point to https://pillow.readthedocs.org/en/latest/installation.html for all the details, which is quite up to date, with specific instructions for various operating systems.

[2016-01-21 09:39] polyester commented on #492
Maybe you can clarify, I do not understand exactly. Our guidelines https://github.com/plone/documentation/blob/5.0/about/documentation_styleguide.rst do specify to have a short README.rst and a CHANGES.rst in the top level, and have the full docs in /docs.

[2016-01-21 10:19] svx commented on #492
Yes, if you check https://github.com/plone/plone.versioncheck, you will see a README and a Changes but you do not see a /docs directory.
Following our best practices I run CI checks and check if a repo contains a /docs, if not CI yells at me :)

At the moment the README is not a README followin our best practices of how a README should look like, it is currently used as place for the whole documen

[2016-01-21 10:26] polyester commented on #492
ah, it's about the docs (or lack of /docs) of the **package** plone.versioncheck itself, not about how it works to pull in other packages. I didn't quite get why this ticket is in our repo.

Well, then the idea generally is:
- docs of plone.versioncheck have to be changed before they can be pulled into the Plone docs.
- file an 'enhancement' ticket in https://github.com/plone/plone.versioncheck/is

[2016-01-21 10:31] svx commented on #492
@jensens would you mind if I try to change that and send you a PR for review ?

@polyester it is not only about pulling in this package to docs.plone.org it is also about repository layout and CI, I am busy with setting up CI for documentation checks in repositories according to our best practices.

[2016-01-21 10:33] polyester commented on #492
@svx you should probably have it send out messages with "nobody expects the Spanish CI" as header, that fits nicely in the Python style  ;-)

[2016-01-21 11:42] polyester opened #495 "mention how to install libfreetype on various OS"
with https://github.com/plone/documentation/pull/494 and https://github.com/plone/documentation/pull/493 we mention freetype (which in turn is requisite for Pillow). The OS-level instructions are Ubuntu/Debian specific, for the moment.

If feasible, we should mention other OS's, although https://pillow.readthedocs.org/en/latest/installation.html does not mention installing freetype on OSX is neces

[2016-01-21 13:05] do3cc opened #499 "Add virtualenv + zc.buildout based installation to install docs"

[2016-01-21 13:07] svx commented on #499
@do3cc what do you mean ? We base the docs on the UI-Installer and thus use virtualenv

[2016-01-21 13:10] do3cc commented on #499
I've heard there is an UI-Installer.
I miss this installation instruction:

[code]

[2016-01-21 13:11] do3cc commented on #499
For context: https://community.plone.org/t/version-conflict-comes-in-plone-as-installing-all-parts-of-buildout-cfg/1450

[2016-01-21 13:22] svx commented on #499
@do3cc we should be really carefully with that, I even would put it under something like experienced/advanved docs or under development, do not know that yet, anyway we should think really carefully about that.

We base the docs always base on the UI, we have some tiny part with an example mini-buildout under http://docs.plone.org/manage/installing/requirements.html, which is maybe not the best pl

[2016-01-21 13:24] svx commented on #499
@do3cc virtualenv is included in the UI, that is also written in the docs from the UI

[2016-01-21 13:28] do3cc commented on #499
I get your point.
The thing is, I know nobody who uses the UI Installer, if somebody needs help like the guy in the link I mentioned, I can't help him debug it.
Also, where should they learn about buildout? I believe the best practices are only transferred by our training, presentations, mouth to mouth and pain

[2016-01-25 15:25] svx commented on #491
Please review https://github.com/plone/documentation/tree/fix_%23491
- rename pil to pillow
- update pillow.rst
- update installation.rst with mention about pillow dependencies
- update requirements with note about pillow dependencies

The wording is not perfect yet, but IMHO it fixes the confusion and also makes clear [ I hope] that the user may need to install some dependencies for pillow which

[2016-01-25 16:33] smcmahon commented on #491
How about these edits to the particular sections of pillow.rst:

Plone uses Pillow, a fork of the Python Imaging Library (PIL) for low-level image manipulation and decoding, particularly for GIF, JPEG and PNG image formats.

...

# Installing Pillow

For instructions how to install Pillow and its dependencies, please read:

https://pillow.readthedocs.org/en/latest/installation.html

Note particula

[2016-01-25 16:37] svx commented on #491
Awesome, will fix that later tonight ! Thanks a lot !

[2016-01-25 19:57] svx commented on #491
Done !

[2016-01-26 09:42] svx commented on #485
Do we really want to keep that in our docs anyway ? I mean it is not about running Plone with Nginx it is about setting up Nginx with PHP ....

If we want to keep that I would suggest that we link to the official Nginx documentation :)

[2016-01-26 12:14] svx commented on #475
Since we also use github [like in urls] I suggest we keep and check for GitHub and github, maybe we can even write a test which is smart enough to detect the difference between a url and a non-url

[2016-01-27 00:10] smcmahon commented on #485
+1 for getting rid of it. PHP on nginx is a speciality unto itself. We don't want to maintain that kind of documentation, or even links to it.

[2016-01-28 07:51] #491 closed, assigned to nobody

[2016-01-28 08:17] #485 closed, assigned to nobody

[2016-01-28 08:20] svx opened #504 "Change the way of testing"
The way how we test documentation local or with travis should be improved :)
IMHO our current way of doing tests could see some changes.
- tests still take too long
- split them into smaller ones to be more flexible

This gives the advantage that we would be able to run
'micro-tests' on latest commit see: https://github.com/plone/papyrus/issues/86

Currently is is a pain to do link and spell check

[2016-01-28 15:17] svx commented on #495
fixed with #502

[2016-01-28 15:17] #495 closed, assigned to nobody

[2016-01-28 16:47] svx commented on #504
List of tests:
[some of them we already have]
- check links
- check that we do not use 'here or click here' in/for links
- check typos
- check 'code-examples' how ?
- check 'OS package examples' how ?
- check file age
- check /docs
- check README
- check 'length of intro'
- check 'length of document'
- ....

[2016-02-02 12:16] gforcada opened #514 "Dead links"
Looking at [content rules docs](http://docs.plone.org/develop/plone/content/content_rules.html) I came across these two links which are dead (at least ask for log in):

https://plone.org/acl_users/credentials_cookie_auth/require_login?came_from=https://plone.org/documentation/kb-old/creating-content-rule-conditions-and-actions

https://plone.org/acl_users/credentials_cookie_auth/require_login?came

[2016-02-02 14:54] polyester commented on #514
the user manual should go, that's at http://docs.plone.org/working-with-content/managing-content/contentrules.html now.

The developer manual was heavily outdated, is based on Plone 3, and says "Last modified: 2554 days ago" (!!!). So both links should go, and there may be a need for someone to write a manual on how to code content rules.

[2016-02-08 14:17] vikas-parashar opened #517 "Update introduction video in plone.app.theming manual"
In [plone.app.theming manual](http://docs.plone.org/external/plone.app.theming/docs/#introduction) the [introduction video](https://vimeo.com/42564510) provided uses Plone 4.3 and was uploaded 3 years ago. It should be updated with new introductory video using Plone 5.

![image](https://cloud.githubusercontent.com/assets/5694967/12887713/3fc45e5a-ce9c-11e5-9485-f6707758446b.png)
_(screenshot of vi

[2016-02-10 19:02] idgserpro opened #519 "Best practices for upgradeSteps incremental numbering?"
We're missing a "recomendation" or "best practices" section of how to give version numbers to upgradeSteps in packages. For the package itself we have [PEP 0440](https://www.python.org/dev/peps/pep-0440/) or even [semver](http://semver.org/) but not something similar when we're talking about upgradeSteps.

@mauritsvanrees do you know if there's some kind of "informal specification" for this versio

[2016-02-10 21:16] mauritsvanrees commented on #519
There used to be alphabetical sorting, which meant this order: 1, 10, 11, 2, 3, etc. You want numerical sorting here, which I think is correctly done currently. As far as I know, versions with dots work fine too.

In practice, this is what I do:
- start with 1000. This avoids problems with ancient GS that used alphabetical sorting.
- just add 1 each time you need a new metadata version.
- if your

[2016-02-11 13:10] idgserpro commented on #519
Thanks @hvelarde for the insight and @mauritsvanrees for the explanation. The "start with 1000" is consistent as well with [bobtemplates](https://github.com/plone/bobtemplates.plone/blob/158a286f2a1078e33d4891d9b4cdf082d68e77c1/bobtemplates/plone_addon/src/%2Bpackage.namespace%2B/%2Bpackage.name%2B/profiles/default/metadata.xml.bob).

@davilima6 pointed out your PR at https://github.com/plone/docu

[2016-02-15 07:49] neilferreira opened #521 "Styling on guilabel is not clear on website"
I was reading http://docs.plone.org/develop/plone/content/dynamic_views.html#permission-for-changing-the-view-template-of-an-item and it was unclear that "Modify view template" is the permission need to achieve this.  Figured that quoting this would make it clearer in the documentation and noticed that it looks like this in the source:

[code]

Is there meant to be styling applied to this? Is ther

[2016-02-15 08:19] svx commented on #521
:guilabel: should style it, if that is not working, then we have to check why it is not, could be wrong syntax or css related

[2016-02-15 08:41] mauritsvanrees commented on #519
Done on that pull request in https://github.com/plone/documentation/commit/953417a1badc5aa8c1a217164a884559b6fe0293

[2016-02-15 08:41] #519 closed, assigned to nobody

[2016-02-15 12:26] idgserpro commented on #519
Thanks @mauritsvanrees. Now I remember some really old links about this subject like http://plone.org/documentation/kb/version-numbers-in-cmfquickinstaller and https://www.mail-archive.com/zopeskel%40lists.plone.org/msg00111.html

[2016-02-16 16:10] avoinea opened #524 "Docker based installation documentation"
Now that we have a working Docker image for Plone at https://hub.docker.com/r/plone/plone and soon an Official one (docker-library/official-images#1434 and docker-library/docs#484) we should also document Docker based installation within this documentation, or at least add a link to http://hub.docker.com/r/plone/plone

[2016-02-16 16:38] svx commented on #524
yes, but first we should fix: https://github.com/plone/plone.docker/tree/master/docs so that everything there is awesome and than we add the link to the docs.

we are currently missing at least:
- index.rst
- moving building to its own : building.rst, which also should include best practices, docker-lint and stuff like that
- document and fix: https://github.com/plone/plone.docker/issues/7
- add d

[2016-02-17 08:35] zopyx opened #525 "purge="false" in http://docs.plone.org/adapt-and-extend/theming/resourceregistry.html#bundle-definition"
there is

`purge="false"`

used here:

http://docs.plone.org/adapt-and-extend/theming/resourceregistry.html#bundle-definition

I think this should `False`

[2016-02-17 18:48] cewing commented on #525
@zopyx if that's an error, then its an error in the source code.  The [`registry.xml`](https://github.com/plone/Products.CMFPlone/blob/master/Products/CMFPlone/profiles/dependencies/registry.xml#L1112-L1123) file in the `dependencies` profile in Products.CMFPlone contains that code (it's a direct copy of the original from the time when that doc was written).  I've got the same basic reference in m

[2016-02-17 18:50] zopyx commented on #525
Boolean values in GS related files are True|False as  in

http://docs.plone.org/develop/addons/components/genericsetup.html

So this looks like a typo to me.

2016-02-17 19:48 GMT+01:00 Cris Ewing notifications@github.com:

[2016-02-17 18:57] cewing commented on #525
@zopyx I wonder then if it's actually a bug in that documentation.  The reason I ask is that grepping through the Plone coredev buildout code, there are 27 instances of `purge="false"` and 29 of `purge="False"` in xml files in profiles.

If it is in fact case sensitive in GenericSetup then we have a bunch of bugs here.

If it's not case sensitive, then the docs should either reflect that, or shoul

[2016-02-17 19:05] zopyx commented on #525
I think I am wrong. From the GS code:

   def _convertToBoolean(self, val):
        return val.lower() in ('true', 'yes', '1')$

Never seen configurations using 'yes' or '1' as boolean values...well, I
think the issue can be closed.

[2016-02-17 19:05] #525 closed, assigned to nobody

[2016-02-20 09:59] svx opened #527 "Bundle info about demo sites an/or different installation procedures"
Currently the info about these is spread about different places in  the docs
- quickstart
- installation

and some other places, this makes it really hard to maintain them and also keep an overview what we have or not have documented already !

Solution:
- one place where we have them
- if necessary link to the documents

There is a different between a 'demo site' where you can browse to and just

[2016-02-20 19:46] cewing commented on #527
I think that for the sake of maintainability we should push toward putting all documentation of single topics into a single location, and then linking to that location from other places where the information would help.

One other thing.  Can we try over time to remove uses of the word "just"?  It's a word that carries the meaning that what you are discussing is trivial, simple, easy.  And if the

[2016-02-22 16:36] jochumdev opened #530 "isort version requirement."
I've been searching for over an hour until i found out that [these](https://github.com/plone/documentation/blob/5.0/develop/styleguide/python.rst#grouping-and-sorting) settings only work with a recent version of isort.

My systems isort is 3.9.2 while pip gives 4.2.2.

Is that something other people need, can someone add this?

[2016-02-22 19:59] gforcada commented on #530
As a matter of reference [these](https://github.com/plone/buildout.coredev/blob/5.0/experimental/qa.cfg) are the exact pins used by jenkins to report about code analysis errors on already cleaned up packages.

[2016-02-22 22:06] idgserpro opened #532 "Fix link for fixing a Plone 3.1 buildout and little improvements"
The link http://www.netsight.co.uk/blog/resurrecting-old-plone-3-buildouts in http://docs.plone.org/manage/troubleshooting/buildout.html#plone-3-1 is broken. You can only find it in archive.org, in fact, at https://web.archive.org/web/20150308151931/http://www.netsight.co.uk/blog/resurrecting-old-plone-3-buildouts.

When you go there, you have an option to go to https://plone.org/documentation/kb-

[2016-02-23 08:29] svx commented on #530
Is it an idea to rewrite this whole part in a different way ? I am asking this because where possible I want to get rid of putting certain/exact version in the docs, versions will change/update and so stuff like this will keep us busy with updating/fixing versions of certain software pieces in the docs, we should avoid that where we can :)

[2016-02-23 08:32] svx commented on #527
@cewing yes that is exactly my idea !

+1 on 'just' too !

[2016-02-23 08:40] svx commented on #532
Would it an idea to get rid of that in the Plone 5 docs at all ?

Troubleshooting buildout is important to have, but can we have that version independent where we can ?

We should fix that for docs.plone.org/3 and maybe update the section in docs.plone.org [currently 5] to be up to date ?

Maybe we can rewrite it that we do not need to pin it to certain version, I mean where that is possible.

[2016-02-23 09:53] gforcada commented on #530
@svx that's why I referenced to an external file that will be always the reference, as it's the one used by jenkins and reported to developers. So, usually 100% accurate on its version pins.

[2016-02-23 10:02] svx commented on #530
@gforcada yes, but the docs mention two things:
- isort
- _You can also use plone.recipe.codeanalysis with the flake8-isort plugin enabled to check for it._

I would like to change that, if possible because this could be confusing, IMHO it is easier at least for new ppl to mention one tool, with wordings like _you can also use X_ you make it harder, also for support and help, so question:
Which of

[2016-02-23 10:10] gforcada commented on #530
@svx well actually both :-)

plone.recipe.codeanalysis does a full analysis of your source code, not only python, and although isort (for import sorting) is used you still have to install it separately to be able to use it as a command line script

But we could simplify it by saying: _plone.recipe.codeanalysis is the one-stop-tool for any QA needs, see its documentation for further details_

Does

[2016-02-23 10:14] svx commented on #530
yes ! :)

[2016-02-23 13:01] idgserpro commented on #532
If you think it's better to remove it from Plone 5 and leave at Plone 3 branch, that's fine. It's nice to be version independent but sometimes that's not possible, in the case of Plone 3.1, since it wasn't fully eggfied, so we have some rough edges and that's why we posted these specific links.

We didn't do a PR for your approval since we can't yet have a contributor's agreement, that's why this

[2016-02-23 14:29] svx commented on #527
'Just' checked, and we should/could remove/update/change it on at least 380 places :)

[2016-03-03 17:10] djowett opened #537 "Bypassing language check seems wrong"
From https://github.com/plone/documentation/blob/5.0/develop/plone/searching_and_indexing/query.rst#bypassing-language-check

This seems wrong with Plone.app.multilingual, perhaps its true with LinguaPlone?  From my experiment below, `catalog.searchResults({'Language': ''})` just shows you content with no language set.  You'll have to take my word on that of, but you _can_ see that a catalog searc

[2016-03-03 17:11] djowett commented on #537
For the record this experiment was on Plone 4.3 / Plone.app.multilingual 2.x

[2016-03-07 16:17] svx opened #541 "styleguide best pratices"
Situation - example

apt-get install

currently we mix different code-blocks for that in the docs, we use

[code]

[code]

[code]

according to the lexer docs:

[code]

should we settle on console or bash ?

[2016-03-07 17:18] polyester commented on #541
before we get accused of 'bashism', let's pick the most general. So either console or shell would get my vote, not sure what is the most easy term for beginner-users. Linux users tend to call it 'shell', not sure what the most used term for Windows and OSX is.
Either way, +1 on picking one.

[2016-03-07 20:35] gforcada opened #542 "plone.api in code examples?"
I found out that http://docs.plone.org/develop/plone/content/workflow.html need some serious love and decided to give it a go.

Now I'm wondering if it will be ok to simplify some code examples using plone.api. I guess it's ok right? The target audience is usually not core developers but ecosystem developers right?

[2016-03-08 10:24] svx commented on #541
Already I will make a PR with a updated version of our style-guide

[2016-03-08 10:26] svx commented on #542
IMHO yes, if its 'best practice' do so, I say yes go for it ! :)

[2016-03-08 10:35] svx commented on #517
This should be filed under plone.app.theming, since we 'fetch' the docs from there.

I opened a ticket there: https://github.com/plone/plone.app.theming/issues/99

[2016-03-08 10:37] svx commented on #504
more info here: https://github.com/plone/papyrus/issues/86

[2016-03-08 10:55] svx commented on #499
@do3cc

You saw that: http://docs.plone.org/manage/installing/requirements.html?highlight=minimal#minimal-build

right ?

Maybe we update that if necessary and move it to another place ?

[2016-03-08 12:04] gforcada commented on #542
Should we put that somewhere in the documentation styleguide?

[2016-03-08 12:29] svx commented on #542
Sure, if you give an example I will add it to the style-guide

[2016-03-08 14:04] svx commented on #381
Will be fixed with the upcoming build, we moved it out of the source of the docs, according to GA, almost no one was looking at them, now the repo will follow 'best practices' and the Changelog is now under CHANGES under / of the repo.
We excluded it from sphinx, so it will not produce any errors or warnings.

The branches with the changes [docs and papyrus]:

https://github.com/plone/documentatio

[2016-03-08 14:10] svx commented on #542
@gforcada just an idea, but maybe a 'thing' to try, would it be an idea to try http://www.sphinx-doc.org/en/stable/ext/intersphinx.html to include examples from our training docs ?

@pbauer, @do3cc, @fulv, @fredvd and all the others, what do you think ?

[2016-03-08 14:18] do3cc commented on #542
I'd have loved to use this a lot in the training manual to link to the plone docs, but you need to declare hooks in the target to link to (afair)
But links from the docs to the training manual are imho a bug. The training manual should not be better for reading consumption than the official docs itself. The training manual is meant as an aide for the training.
Oh well, at least the air is better,

[2016-03-08 14:27] svx commented on #542
Yeah, reading further it is not that easy to do it properly, anyway just thought it could be an idea :), looks like I was too fast with posting this as an idea, sorry for the noise !

[2016-03-08 14:28] do3cc commented on #542
And it is a good one ;-)

[2016-03-08 18:35] svx commented on #541
Done with: https://github.com/plone/documentation/commit/897afa58daa4a807b9860ee532b8c3cdb7340e03

[2016-03-08 18:58] svx opened #544 "Needs updates: develop/plone/i18n/contribute_to_translations.rst"
Our docs here are quite out of date:
- referring to Plone 4.x
- referring to Plone 5 as future
- we need to check the examples here and howtos

[2016-03-08 18:59] svx commented on #544
@vincentfretin would you mind to check sometime ?

[2016-03-08 20:16] svx opened #546 "Can we exclude _locales from the build source?"
@polyester according to https://github.com/plone/documentation/commit/2a84ad3a116265d66516f97f7327955871c8011a you were the last one working on _locales.

Can we exclude _locales from the build source, meaning add it to _exclude_patterns_ in https://github.com/plone/papyrus/blob/5.0/conf/conf.py ?

Is this needed for translations ? Looks like I am not able to find docs about that, well or I am too

[2016-03-08 21:01] gforcada opened #547 "jenkins.plone.org documentation"
Hi @plone/documentation-team !

On jenkins.plone.org repository there are some spare documentation, on how to do certain task related to CI/Jenkins.

They are automatically published in [ReadTheDocs](http://jenkinsploneorg.readthedocs.org/en/latest/), but as we have docs.plone.org, would it make sense to move them there?

The only downside I see is the update frequency... we are not adding/fixing

[2016-03-08 22:26] polyester commented on #546
yes, as far as I know they can be excluded. It's easy to generate locales from the source, and that's how it should be done. (Note for sprint discussion in the future: probably only on a fixed release/milestone, not after every PR)

What I am not clear on (and has no docs) is how to do the 'load those into Transifex, and pull the translation back from Transifex' part which should come after. That'

[2016-03-08 23:02] thet opened #548 "line length in package documentation"
Until recently we always applied the PEP8 line length restriction to 79 columns also for CHANGES.rst and README.rst.

IMO these files are documentation and should also apply the restructured text styleguide http://docs.plone.org/about/rst-styleguide.html#line-length-translations

We already have this mentioned in the Python styleguide: https://github.com/plone/documentation/blob/5.0/develop/styleg

[2016-03-08 23:05] thet commented on #548
The above only if we don't add a linebreak at every colon because that gets unreadable. We should only break at every sentence.

[2016-03-08 23:10] gforcada commented on #548
:+1: I'm already using it on my projects and it's way more relaxed.

[2016-03-08 23:17] thet commented on #548
added a pull request for explicitly mentioning changes.rst and readme.rst: #549

[2016-03-09 07:38] #548 closed, assigned to nobody

[2016-03-09 07:41] svx commented on #546
Ok !

another question would be do we have to put them into git ? I do not know how it works, but if we 'just' need them once a while for pushing translations into Transifex, they do not have to be in git right ?

[2016-03-09 07:48] svx commented on #547
Depends on the setup, if the idea is to have them under docs.plone.org/FOO is will be tricky to embed them properly at least for the moment.
I have another project were I do that, but it asks for some webserver and sphinx configuration tweaking I am not sure if we want to spend time and energy on that for now.

Certainly in the long run, it would be something to think of :)
I guess a link would be

[2016-03-09 07:49] polyester commented on #546
They can be excluded from git.

[2016-03-09 07:52] polyester commented on #546
whoops let me re-phrase that. There should be an **empty** directory _locales, but as git does not store empty directories, it should have a txt file saying "here go .po files that can be generated on demand" or something like that.

[2016-03-09 08:23] svx commented on #546
Why we need an empty directory ? Is it not created when you generate the .po files ?

[2016-03-09 10:59] gforcada commented on #547
My gut feeling is that the audience for that documentation is really small and it has to be up to date really fast, as I have some ideas for mr.roboto where it reports back to Github and pointing the users to some docs about how to solve the issue, so keeping it external and having a page explaining where to find them I think it would be more than enough by now.

[2016-03-14 23:36] #541 closed, assigned to svx

[2016-03-17 14:39] reyha opened #555 "Typo in installation manual"
The instructions to install Plone on http://docs.plone.org/manage/installing/installation.html has a typo after "choose a password option" screenshot. The word "control" has been mentioned as "controll".

[2016-03-17 14:59] #555 closed, assigned to nobody

[2016-03-23 17:58] zopyx opened #561 "Typo in http://docs.plone.org/external/plone.app.dexterity/docs/behaviors/schema-only-behaviors.html"
Minor typo in third listing (sorry, could not find the source).

http://docs.plone.org/external/plone.app.dexterity/docs/behaviors/schema-only-behaviors.html

form plone.autoform.interfaces import IFormFieldProvider

instead of

from plone.autoform.interfaces import IFormFieldProvider

[2016-03-23 18:07] zopyx opened #562 "http://docs.plone.org/external/plone.app.dexterity/docs/behaviors/schema-only-behaviors.html outdated for Plone 5"
http://docs.plone.org/external/plone.app.dexterity/docs/behaviors/schema-only-behaviors.html

uses

from plone.autoform.directives import form

However this import does not work with Plone 5.0.2

  File "/home/ajung/src/pp.client-plone/pp/client/plone/behaviors.py", line 2, in <module>
    from plone.autoform.directives import form
zope.configuration.xmlconfig.ZopeXMLConfigurationError: File "/hom

[2016-03-24 10:38] gforcada commented on #561
If you see `external` in a docs.plone.org URL it means that it fetches the docs from somewhere else, namely `plone.app.dexterity` in your case.

So the pull request should be done against this file: https://github.com/plone/plone.app.dexterity/blob/master/docs/behaviors/schema-only-behaviors.rst

[2016-03-24 10:39] gforcada commented on #561
Although it seems the docs were already updated in the git repository but not on docs.plone.org

@plone/documentation-team is that correct? Can we get an updated version up? Or it is still the _waiting for 5.0.3_ phase?

[2016-03-24 10:52] svx commented on #561
@gforcada @zopyx

yes: https://community.plone.org/t/next-docs-released-delayed-in-favor-of-plone-5-0-3/1718

We know that is not an ideal situation, we are working on faster releases, but currently that is our situation, apologizes for any inconvenience

[2016-03-24 11:09] svx opened #563 "Improve docs about root vs $user for running buildout"
See on [community.plone.org](https://community.plone.org/t/copying-a-plone-site-how-to-give-permissions-to-old-data-fs/1846/11?u=svx)

[2016-03-28 13:12] gforcada opened #566 "pintail"
https://blogs.gnome.org/shaunm/2016/03/27/build-documentation-sites-with-pintail

It does not have support for rst by now, but maybe if added it could help us move forward?

[2016-03-29 09:02] do3cc opened #567 "Future ISort versions may need extra work to support plone import styleguide, or become incompatible"
The latest version if sort, 4.3.x does not support plone coding styles. We can continue using 4.2.x for know without any issues.
The maintainer has hinted, that future 5.x versions might get an overhaul of the options to work more like jscs where you can name your preferred style.

This is the future, this is no urgent pressing matter.

Now I open this ticket for discussing about the best reaction

[2016-03-29 09:08] do3cc commented on #567
My personal opinion: I don't care about which standard to follow, as long as it doesn't change to often. I don't even know how the other standards look. I am against adding a Plone preference style guide to ISort, because only no code is good code and having our own styleguide means, somebody has to maintain that.
I also don't mind throwing away our plone import line styleguide because it was base

[2016-03-29 09:25] gforcada commented on #567
First: isort maintainer already stated that breaking the sorting on a minor release was an error and a bugfix version will be released soon. So for the time being either pin to 4.2.2 or wait for the upcoming 4.2.4 release.

As for isort 5.0 with styleguides, as long as it's maintained within isort I don't see any problem at all. It will just make our current isort configuration on .isort.cfg of se

[2016-03-29 09:47] do3cc commented on #567
Uh, removing isort wasn't on the table. You might be mixing up stuff with previous discussions ;-)

[2016-03-29 10:51] svx opened #568 "Review: http://docs.plone.org/askforhelp"
- review
- if necessary imporve
- make tickets parts [cmf.plone] more clear ?

[2016-03-29 10:56] svx commented on #566
Hi,
would you mind to evaluate why moving to pintail would be a improvement  ?

Looking at it I can not see any point why such a move would be helpful but maybe I am missing something ?

With our current setup which is by all means not perfect and needs lots of improvements we can do more than with pintail, and as you said pintail can' t even handle rst atm :)

I am all in for looking how pintail

[2016-03-29 13:41] svx commented on #546
https://github.com/plone/papyrus/pull/98

[2016-03-29 15:39] gforcada commented on #566
I saw that blog post and that seemed quite similar (merging lots of doc repos together) approach/problems so I thought that it would be best to reuse/contribute to another tool than keeping our own.

I will not be the one maintaining one or another so I can not really judge, but if our approach is general enough we should try to get other projects to use it, so the maintenance/development is share

[2016-03-29 15:39] gforcada commented on #567
@do3cc then, yes I mixed things up :-)

[2016-03-29 15:56] #546 closed, assigned to nobody

[2016-03-29 22:45] jensens opened #571 "Cataloging/Indexing info distributed over several places."
http://docs.plone.org/develop/plone/searching_and_indexing/indexing.html and
http://docs.plone.org/external/plone.app.dexterity/docs/advanced/catalog-indexing-strategies.html
need a merge, its almost the same, dup information, but both are having info the other does not have.

This one
http://docs.plone.org/develop/plone/searching_and_indexing/catalog.html
targets the ZCatalog and should be consid

[2016-03-30 14:23] svx commented on #530
@gforcada Do we really want to point to a configuration from _experimental_ ?

What I try to say it, that this maybe not the best idea in terms of docs/communication/marketing ?

@polyester do you have an opinion on that, I mean sure we do use them with our _own stuff_ but if possible I would like to avoid to mention links with experimental_  :)

[2016-03-30 14:26] svx commented on #547
+1

Just make sure to tell us the link so that we can add it to the docs :)

[2016-03-30 14:32] svx commented on #566
We share already :)

Parts of the #writethedocs community are using parts of our setup at least the parts which are not Plone specific and it works the other way around, too meaning we use parts of setups form others :)

So yeah we share ! :)

We have more the challenge of keeping/writing/improving our docs.

Thanks for the pointer anyway !

I will close this one, feel free to re-open ! :)

[2016-03-30 14:32] #566 closed, assigned to nobody

[2016-03-30 15:31] polyester commented on #530
"one obvious way to do it" always wins. And laziness.

So, would it be possible and/or a good idea to have a repo with 'dev best practices dotfiles' which people can just git-pull to stay up to date?
And indeed, have that not be called /experimental but /bestpractices is surely better in terms of marketing...

[2016-03-31 09:10] gforcada commented on #530
experimental was the only folder in buildout.coredev that was more or less good enough for that configuration purpose, still, that cfg file could be reduced to something like:

[code]

@polyester as for a _dev best practices dotfiles_ that should be [bobtemplates.plone](https://github.com/plone/bobtemplates.plone) which already has a `code-analysis` section in its [buildout.cfg](https://github.com

[2016-04-01 07:46] do3cc opened #573 "GS 1.8.2 contains major improvements that warant an update of the GS docs"
https://pypi.python.org/pypi/Products.GenericSetup/1.8.2

Specifically about upgrade steps and new uninstall options

[2016-04-01 16:01] svx commented on #544
@vincentfretin ping ! :)

[2016-04-01 16:18] svx commented on #547
closing this now, feel free to re-open !

[2016-04-01 16:18] #547 closed, assigned to nobody

[2016-04-01 16:32] svx commented on #443
I fixed that for bobtemplates https://github.com/plone/bobtemplates.plone/pull/133

[2016-04-02 10:10] vincentfretin commented on #544
@svx I somehow missed the first ping, I will take a look.

[2016-04-03 07:04] svx opened #577 "Proposal: Move LICENSE out of docs [styleguide]"
On: http://docs.plone.org/about/documentation_styleguide.html#documentation-structure-styleguide

we have:

[code]

IMHO that should be moved to the /root of the repo, same we have with CHANGES.

Outline:
- A License is not documentation related.
- A docs directory should only contains documentation
- Easier for testing
- Cleaner structure

There are already a couple of other projects who started

[2016-04-03 07:13] svx opened #578 "Update Styleguide"
[code]

Should be updated, we do not want sphinx and related files in /docs the we just want **plain**  rst in /docs.

So meaning we should rewrite that, plus give an example how you can do that, including gitignore and all that.

[2016-04-04 10:48] thet opened #579 "Change offending statement about migrating old JavaScript to new Plone 5 style"
manage/upgrading/version_specific_migration/p4x_to_p5x_upgrade.rst:239:Plone tries to provide a shim for those that are stubborn to migrate.

^^ The above should be changed, because it's offending. It also reflects our best practice on JavaScript dependency management. The new hip thing in the JavaScript community is already closer to the ES6 standard by using the standardized import mechanisms.

[2016-04-04 11:29] svx opened #580 "Remove nesting"
It seems I can' t find the old ticket anymore, so a new one.

Under /develop we have still this nesting, which does not looks good and is also confusing, see the pic:

![screen-develop-nesting](https://cloud.githubusercontent.com/assets/358860/14246671/f481d73a-fa68-11e5-9b2c-cddcbdd7cf4c.png)

This got partly fixed, bit we should finish that, one step could be to fix the naming in the headers of

[2016-04-04 11:58] svx opened #582 "Add docs about new feedback function"
Add some lines about the new feedback function and that people need to have js enabled in the browser to use it.

[2016-04-04 12:28] polyester commented on #580
old ticket is at https://github.com/plone/documentation/issues/470

I'll see if I can think of good solution. It will involve re-naming headlines in a few external repos, but that's acceptable I think.

[2016-04-04 12:48] svx commented on #580
There was another ticket with a screen-shot even but yeah,lets fix that :)

[2016-04-04 12:55] svx commented on #580
@polyester not certainly in the external ones, we could also rename them in the index of develop on documentation.

I say it depends where it would make more sense  :)

[2016-04-04 13:04] svx commented on #580
We can also override them:

http://www.sphinx-doc.org/en/stable/markup/toctree.html

[2016-04-04 14:37] #580 closed, assigned to nobody

[2016-04-04 14:43] svx commented on #579
Does someone has a good suggestion how to re-phrase that ?

[2016-04-04 14:52] polyester commented on #470
closed via https://github.com/plone/documentation/pull/583

[2016-04-04 14:52] #470 closed, assigned to nobody

[2016-04-04 14:52] rnixx commented on #579
In Plone 5.0, Plone will still recognize these jsregistry.xml files. Plone tries to provide a shim for them. It does this is by adding all jsregistry.xml JavaScripts into the "plone-legacy" Resource Registry bundle. This bundle simply includes a global jQuery object and includes the resources in sequential order after it.

However, you should at least consider migrating your resources as described

[2016-04-04 14:55] svx commented on #561
@zopyx

https://github.com/plone/plone.app.dexterity/pull/209

@gforcada This was not yet fixed in the docs of plone.app.dexterity

[2016-04-04 15:14] svx commented on #561
Fixed in https://github.com/plone/plone.app.dexterity/pull/209

[2016-04-04 15:14] #561 closed, assigned to nobody

[2016-04-04 16:36] tkimnguyen opened #585 "broken link at http://docs.plone.org/external/plone.app.dexterity/docs/advanced/index.html"
Sorry, I don't know where to best file this issue. At http://docs.plone.org/external/plone.app.dexterity/docs/advanced/index.html the link to the first page (Defaults) is broken, but looking at https://github.com/plone/plone.app.dexterity/tree/master/docs/advanced it seems everything is normal. Is this perhaps a problem with docs deployment?

[2016-04-04 16:49] svx commented on #585
You mean if you click on default ?

This works for me ? Maybe try to clear your cache ?

[2016-04-04 16:52] svx commented on #585
@tkimnguyen https://youtu.be/V_4XI9IhI4M

[2016-04-04 20:34] #579 closed, assigned to nobody

[2016-04-05 12:11] svx commented on #585
@tkimnguyen do you have any update ? I just tested again with the release we pushed to docs.plone.org today and it is working for me

[2016-04-05 12:16] svx commented on #521
This is fixed now, but we should style it a bit better
![modify_view](https://cloud.githubusercontent.com/assets/358860/14281358/df3f5462-fb38-11e5-963d-9dc915901bf8.png)

@polyester any ideas ? Change the background or something else ?

[2016-04-05 12:24] jensens opened #587 "Please review and merge dexterity doc changes"
@polyester @svx  all should be ready in plone/plone.app.dexterity#207
would be great to have it in the next doc release

[2016-04-05 13:12] jensens commented on #235
closed by PR #586

[2016-04-05 13:12] #235 closed

[2016-04-05 13:12] svx commented on #587
done !

[2016-04-05 13:12] #587 closed, assigned to nobody

[2016-04-05 13:14] svx opened #588 "Add note that zeal/dash will go away"
Before we remove it, first add a note that people know it in advance !

[2016-04-05 13:18] svx opened #589 "Styleguide: add docs about what kind of links to use"
Add a note to the styleguide that we use links without separation of link and link-target, because otherwise it is hard to translate and also against all accessibility guidelines

[2016-04-05 13:43] polyester commented on #589
we have http://docs.plone.org/about/rst-styleguide.html#links already, but it could be made more explicit.

[2016-04-06 10:40] polyester commented on #521
Yes, added pull request to add light yellow background

[2016-04-06 10:41] jensens opened #590 "common control parameters details need documentation"
great blog about it: http://blog.redturtle.it/2012/07/03/boxing-plone
- `ajax_load=1` is documented in current docs: http://docs.plone.org/develop/addons/javascript/ajax.html?highlight=ajax_load#id4
- `ajax_include_head=1` - missing: we have some great hidden useful feature see
- `disable_border=1` -> empties toolbar in P5 (except personal-tools)
- `disable_PORTLETMANAGERNAME=1` (see blog post abo

[2016-04-06 10:45] #521 closed, assigned to nobody

[2016-04-06 10:50] jensens commented on #562
i fixed this in https://github.com/plone/plone.app.dexterity/commit/6a49084fb81f7eba381c95a49ca7471d0a587080

[2016-04-06 10:50] #562 closed, assigned to nobody

[2016-04-06 13:04] do3cc opened #591 "Feature, have (more) stable urls for plone5 docs"
It would be nice to have this url:
http://docs.plone.org/5/en/

This would help here:
https://github.com/plone/bobtemplates.plone/issues/135

[2016-04-06 13:07] svx opened #592 "Plone 4: Should we update install instuctions?"
The install docs of Plone 4 http://docs.plone.org/4/en/manage/installing/installation.html#installing-plone-using-the-unified-unix-installer pointing to Plone 4.3.6 should we update to the latest ?

Also the part of the installation differs from the part we have now in Plone 5 should we add missing pictures and so on ?

[2016-04-06 13:15] polyester commented on #591
That URL is valid, but it wouldn't help here. The guide got moved to http://docs.plone.org/about/documentation_styleguide.html (or, as you wish, http://docs.plone.org/5/en/about/documentation_styleguide.html
so the actual name changed.

see https://github.com/plone/bobtemplates.plone/pull/136 for fix

[2016-04-06 13:18] do3cc commented on #591
Yes I know.
I did not made myself clear.
bobtemplates.plone links to this page.
We got the request to have a link to http://docs.plone.org/4/en/about/documentation_styleguide.html
in case of plone 4.
Instead of making an if else in the template, I'd prefer to have something along the lines of
http://docs.plone.org/{plone.major_version}/en/about/documentation_styleguide.html

[2016-04-06 13:20] do3cc commented on #591
Oh I get it now, I myself did not read the original bug report properly.
You would redirect to the shorter url, so this would work. The issue we are actually having is that the current url is invalid, which is a totally different problem

[2016-04-06 13:20] #591 closed, assigned to nobody

[2016-04-06 13:20] polyester commented on #591
I interpreted 1letter's request as "while the URL is broken, point to the plone4 one", so fixing the URL would solve the problem. But my interpretation may be wrong.

[2016-04-06 13:24] do3cc commented on #591
You got it right, I got it wrong. That is my interpretation, and I am always right.

[2016-04-06 13:48] svx commented on #577
OK I'll adjust the style-guide !

[2016-04-06 16:48] khanstark opened #595 "Fix 'Migrating Older Addons' section"
The `mismatched anonymous define` block is out of place and merges into the content...

![manifest](https://cloud.githubusercontent.com/assets/17498833/14326667/a7f75bde-fc4c-11e5-9c0e-6ac160f00844.png)

[2016-04-06 17:18] svx commented on #595
@khanstark would you mind to evaluate a bit more ?

:)

[2016-04-06 17:22] svx commented on #585
@tkimnguyen I still can't reproduce that, it works for me on on docs.plone.org and wilth local builds.

I will close this for now, feel of course free to re-open :)

[2016-04-06 17:22] #585 closed, assigned to nobody

[2016-04-06 18:14] smcmahon commented on #592
The installers for Plone < 5 do not have the dialog interface. So, no update needed for that.

[2016-04-06 18:20] khanstark commented on #595
removing the verbatim and making it italic or something like that would be an option...

[2016-04-07 07:55] #589 closed, assigned to nobody

[2016-04-07 09:10] svx commented on #588
PR is #594

[2016-04-07 09:12] svx commented on #577
PR is ready #596

[2016-04-07 09:12] #588 closed, assigned to nobody

[2016-04-07 09:14] #577 closed, assigned to nobody

[2016-04-07 09:31] svx commented on #582
PR is #597

@polyester would you like to merge https://github.com/plone/documentation/pull/597 too ?

[2016-04-07 09:33] #582 closed, assigned to nobody

[2016-04-07 09:39] svx commented on #592
@smcmahon thanks !

I was thinking about the Plone version, in the [installation part](http://docs.plone.org/4/en/manage/installing/installation.html)

We have written there

Which should be enough, but knowing that lots of people 'just' do copy and paste maybe it would be better to update ?

[2016-04-07 10:47] gforcada commented on #592
@svx IMHO on the 4.x docs I would only update version numbers (so 4.3.8), maybe bugfixes if someone feels like it, but we have enough with 5 to also keep track of 4 docs... just my opinion though

[2016-04-08 11:39] khanstark commented on #595
@svx any suggestions for this?

[2016-04-11 15:41] staeff commented on #595
@svx @khanstark I don't where to put it, but the problem can be solved in css, like so:

[code]

[2016-04-11 16:44] khanstark commented on #595
@staeff how can reST related problem be solved by css code?

[2016-04-11 16:51] staeff commented on #595
@khanstark because a certain html gets generated from the ReST and this is formatted with CSS (https://github.com/plone/sphinx.themes.plone). A good candidate to make the css change would be basic.css, but I can't find it.

[2016-04-12 23:33] tkimnguyen commented on #585
Hmm... I suspect you went and fixed it behind my back :) I confirm TODAY that it works!

[2016-04-22 09:31] svx opened #601 "Rewrite production/deployment"
We are talking about this:
http://docs.plone.org/manage/deploying/production/ubuntu_production.html

Rewrite it in a way that it links to http://docs.plone.org/manage/installing/installation.html#install-the-operating-system-software-and-libraries-needed-to-run-plone.

Why:

Because currently we have to maintain versions on different places and as you can see under http://docs.plone.org/manage/dep

[2016-04-29 17:50] svx opened #604 "z3c.form docs - review"
https://github.com/plone/documentation/blob/5.0/develop/plone/forms/z3c.form.rst

needs a review, we mention there still Plone 3 and 4 this could be confusing, if we really need that we should update the docs for Plone 3 and 4 and link to them.
- are the docs still valid for Plone 5 ?
- can we remove mention of Plone 3 and 4, here ?

[2016-04-29 18:13] sverbois commented on #604
What about moving the _http://docs.plone.org/develop/addons/schema-driven-forms/index.html_ section
in the _http://docs.plone.org/develop/plone/forms/index.html_ section ?
For me the first reading about standalone forms in Plone should be the "Schema-driven forms" section.

[2016-05-02 19:19] martior opened #606 "Create a new top to link to other plone site to match new plone.org and community"
html:

[code]

css:

[code]

[2016-05-02 19:43] tkimnguyen commented on #606
(I added training to the links above)

[2016-05-02 19:45] martior commented on #606
I moved docs last in the list, both on commity and here. Hope that is ok.

[2016-05-03 07:01] svx commented on #606
This has to be done in the theme, so the issue should move to https://github.com/plone/sphinx.themes.plone :)

We have to evaluate out current theme anyway, there besides the new design some other things/issues which we have to think about.

@martior thanks for this !

[2016-05-15 14:41] svx opened #607 "Suggested doc update A slight twist of the RewriteRule solved problems with "there was an error loading modal""
Via the feedback form:

I have a Plone site, fronted by Apache 2.2, under a domain that is a Swedish word. I have one domain with Swedish characters and one domain with umlauts removed.
I made two rewrite rules pointing to the same Plone site, each line  according to the Plone docs for using Apache as a frontend.

I found that I could not do modal login in Plone 5, (And I had the same problem with

[2016-05-15 14:55] svx opened #608 "Update: http://docs.plone.org/about/contributing.html"
Currently it is not that easy to understand where and how people should open a ticket...

It seems that people get confused with the different repos for the docs itself [docs/papyrus/theme] and with the difference between 'core' docs and 'external' docs like dx.

It seems even core-devs, getting confused.

Possible solution:

Update the docs and clarify all this different things.

In a prefect wor

[2016-05-15 19:05] gforcada commented on #608
@svx you can always say "In case of doubt, always report to documentation issue tracker" then someone points things out and copies them around if needed. Just like with the code the fallback is CMFPlone

[2016-05-18 15:11] tkimnguyen opened #612 "document feature of external links opening in new tab/window"
in theming control panel -> Advanced tab

[2016-05-19 04:48] smsubham commented on #450
Hey
I  would like to contribute ? Please help me get started.

[2016-05-19 13:54] staeff commented on #604
Hi @svx @sverbois just fyi, I created a post on community (https://community.plone.org/t/clean-up-documentation-section-schema-driven-forms/2163) that is related to this ticket. I did not come around to review the z3c.form.rst document, but hope to make it at some point.
I'd love to hear your opinions on the community-post, if you have any.

[2016-05-22 18:13] tkimnguyen opened #615 "migrate relevant parts of Plone upgrade guide"
https://old.plone.org/documentation/manual/upgrade-guide has good info

it is still being referred to from this page http://docs.plone.org/develop/plone/misc/upgrade.html?highlight=migrate

[2016-05-25 17:13] svx opened #618 "Fix links to plone.org"
The launch of the new plone.org broke lots and lots of links, we need to fix that

[2016-05-26 05:56] icemac opened #619 "Dead link in "Ask for help""
[Ask for help](http://docs.plone.org/askforhelp.html) tells about a "general questions forum" but the link is dead an there seems to be no such forum on https://community.plone.org
So I am not sure how to fix this sentence.

Source code of the link in question:

[2016-05-26 07:37] svx commented on #619
Yeah, the launch of new plone.org site broke that, I fixed that in https://github.com/plone/documentation/pull/620

[2016-05-26 10:51] #619 closed, assigned to nobody

[2016-05-29 14:40] staeff commented on #436
I am working to solve the grok-alert for some of the above mentioned pages. Everything that belongs to the schema-driven-forms section. (see also: https://community.plone.org/t/clean-up-documentation-section-schema-driven-forms/2163)