[2016-05-31 09:28] svx commented on #612
@tkimnguyen Would you mind to explain a bit more, what do you mean ?

[2016-05-31 09:37] svx commented on #618
@polyester what are the current plans here, for now we have lots and lots of broken links, I do not want to link to old.plone.org, because I do not want to fix all this twice, I would like to think that I have a life besides - well - doing all this here ... :\

For the beginning how we would like to handle all the items in old/plone.org/kb we link to ?

[2016-05-31 11:05] polyester commented on #618
hmm.

for plone.org/documentation/kb/xxx:
Only https://old.plone.org/documentation/kb/manually-removing-local-persistent-utilities/ was working before the change, the other links were broken before already. Should be changed to internal link to  /manage/troubleshooting/manual-remove-utility as that had already been carried over.

all the other documentation/kb links were already not working, so no

[2016-05-31 11:21] svx commented on #618
So what would be the right link, to fix

The `plone.org Products <https://plone.org/products>`_, should I link to:

https://plone.org/download/add-ons/popular-add-ons

or

https://plone.org/download/add-ons/all-plone-add-ons

For me it is a bit confusing on plone.org

[2016-05-31 11:28] polyester commented on #618
that one to https://plone.org/download/add-ons/ which should remain the 'landing page' even if the algorithm or the method of showing add-ons changes.

For the individual links to (old) plone.org/products/xxxx, probably direct to the pypi pages of the products?

[2016-05-31 12:05] svx commented on #618
https://github.com/plone/documentation/tree/svx_plone4_fix_addons needs to cherry-picked into the 4.3 branch

[2016-05-31 12:56] svx opened #631 "Check: http://docs.plone.org/develop/plone/misc/index.html"
We are still telling Plone 5 will be there soon ....

[2016-05-31 13:01] svx commented on #607
Would someone who is using Apache like to do a review ? I do not use Apache :)

[2016-05-31 13:04] svx commented on #475
@thet can I close this ? I think so, right, it got fixed, maybe not on all places yet, but on lots of them :)

[2016-05-31 15:55] polyester commented on #607
yep, using  %{HTTP_HOST} is the way to do it, and yep it works on apache2.2

[2016-05-31 16:35] svx commented on #607
I guess I am missing something, because this also would mean we have to update the whole example right ? Because we would have to add:

otherwise how apache now what %{HTTP_HOST} is ?

Does you have a working setup with that what we could change into an example ?

[2016-05-31 16:43] tkimnguyen commented on #612
I was looking all over Site Setup for the setting that makes Plone open up external links in a new browser tab or window. Apparently I found it in the @@theming-controlpanel's Advanced tab but now checking the ploneconf.org site I don't see it in there. Where is it really, and why does it seem to change location or disappear?

[2016-05-31 16:55] svx commented on #607
Done please review: https://github.com/plone/documentation/pull/632

[2016-05-31 17:09] svx commented on #612
You are not talking about the tinymce setting right ?

[2016-05-31 17:11] svx commented on #612
![tinymce-external-link](https://cloud.githubusercontent.com/assets/358860/15683582/6d322a96-2763-11e6-9ad4-10411bcac149.png)

[2016-05-31 17:12] davilima6 commented on #612
@tkimnguyen, it should be always in Advanced > Theme base. Maybe you missed the 2nd pair of tabs? I think it's the only place in Plone we have such pattern.

Nevertheless I agree it's an unintuitive place because it doesn't have to do with themes/skins behavior - and despite of looking more so, neither `Mark special links`.

I think those were moved/buried there in a rush when Diazo's "Theming" co

[2016-05-31 17:26] svx commented on #612
Great I can't find that in the docs at all, I do not even knew that Plone has this ... so yes I am happy that it is there but I am _really_ unhappy that we have this feature, we ship this feature but we have no docs about it ....

So please, would someone who know what it does, and so on jump in and write some docs, if the docs also include a working robot-test and/for screenshots, I will by this

[2016-05-31 17:57] thet commented on #475
Sure! Thanks for keeping an eye on this. I'll close so you don't have to.

[2016-05-31 17:57] #475 closed, assigned to nobody

[2016-05-31 18:35] tkimnguyen commented on #612
I'll take a stab at it once I find it again... I seriously cannot find it on the ploneconf.org site (5.0.2) now.

[2016-06-04 14:52] tkimnguyen commented on #612
OK in Plone 5.0.4 it's in @@theming-controlpanel, "Advanced settings", then the "Theme base" sub tab... a bit too hidden for my taste, given that it's something I think a lot of content editors would want to know about. In fact, why isn't it on by default?

![image](https://cloud.githubusercontent.com/assets/815418/15800241/7a8fc5e4-2a39-11e6-89c1-dafbba99ef93.png)

[2016-06-04 14:57] tkimnguyen commented on #612
@svx I'll write something up that fits here: http://docs.plone.org/working-with-content/using-tinymce-as-visual-editor/inserting-links.html?highlight=external%20links#external-link (the only place that mentions the question of opening external links in new tabs or windows).

I went looking for "Site Setup" mentions in the docs and found this:

http://docs.plone.org/adapt-and-extend/config/theming.

[2016-06-05 16:07] tkimnguyen commented on #612
[code]

[2016-06-08 08:46] jensens opened #640 "Integrated README of plone.app.vocabularies?"
I have no idea how to get this into docs.plone.org, but the README at
https://pypi.python.org/pypi/plone.app.vocabularies
contains valuable information. We should pull it in.

[2016-06-08 13:14] svx opened #641 "Update Changelog"
We removed them out of the docs, they are located in the various repos like, papyrus, documentation and the theme.

We should update that in the docs, that people can find them, if they are looking for them

[2016-06-09 12:36] fgrcon opened #643 "Portlet documentation: z3cform instead of deprecated formlib?"
http://docs.plone.org/develop/plone/functionality/portlets.html:

...
This document contains quick how-to information only. Please visit the This document contains quick how-to information only. Please visit the **Portlets reference manual**  for in-depth information.
...
**Portlets reference manual** points to :  http://docs.plone.org/4/en/old-reference-manuals/portlets/index.html

[2016-06-09 12:44] svx opened #644 "Remove paster ?"
In http://docs.plone.org/develop/plone/functionality/portlets.html we still have some reference to paster, even if there is a deprecated message.

Should we remove that let's say from the 5.1 docs on, so that we slowly can get rid of the latest paster references and tell people more about bobtemplates ?

[2016-06-09 19:16] gforcada commented on #644
IMHO we should get rid _completely_ of it. bobtemplates.plone is already mature enough and has been used enough to be a viable replacement.

Better talk about something that we maintain rather than something that no one cares nor fixes nor improves anymore.

[2016-06-10 14:07] svx commented on #644
Yeah looking closer into: http://docs.plone.org/develop/plone/functionality/portlets.html I also spot a lot of grok stuff.

What is the current deal with Plone 5 and portlets ? We really should update/improve/review this !

[2016-06-10 15:52] svx opened #646 "Add plone version as variable"
with this we only have to update that in one place, way better for consistency

[2016-06-10 18:51] svx commented on #592
fixed by: https://github.com/plone/documentation/commit/f9b80d0d479d0a2d786bef309adea2d7c7ff9377

[2016-06-10 18:51] #592 closed, assigned to nobody

[2016-06-11 12:50] #641 closed, assigned to nobody

[2016-06-19 06:10] djay opened #648 "theming/barceloneta.html how to extend from barceloneta when not using the theme editor"
currently unexplained.

[2016-06-19 07:25] sverbois commented on #648
+1 to explain in the "Inheriting a new theme from Barceloneta" section how to compile the _styles.less_ when we work in a theme product.

[2016-06-19 08:13] ebrehault commented on #648
The explanation provided in the current documentation here http://docs.plone.org/adapt-and-extend/theming/barceloneta.html#inheriting-a-new-theme-from-barceloneta should apply to both FS based and TTW based themes.

@sverbois, when creating a theme product, you can compile your less files using the theming editor: the theming editor allows to inspect FS-based themes, and since we have fixed https:

[2016-06-19 11:21] sverbois commented on #648
@ebrehault thank you for your detailed explanation.

[2016-06-24 12:53] 3dogMcNeill opened #649 "update documentation/working-with-content/managing-content/ploneformgen/creating_content.rst"
Plone 5.0

There doesn't seem to be a way to set the body text/content area of a Document/Page content type. I think this level of customization is not allowed TTW? Using `obj.setText` does not work and didn't find an alternative in the portal_catalog.

[This example](https://github.com/plone/documentation/blob/5.0/working-with-content/managing-content/ploneformgen/creating_content.rst) works grea

[2016-06-28 13:09] l34marr opened #650 "Accesing the portal_catalog Tool in TAL Template"
With http://docs.plone.org/develop/plone/searching_and_indexing/query.html#accesing-the-portal-catalog-tool I try to access the `portal_catalog` tool in a template, but run into `AttributeError: 'LazyMap' object has no attribute 'searchResults'`.
I guess it should be
`<div tal:define="portal_catalog nocall:context/portal_catalog" />`
Anyone helps to confirm?

[2016-06-29 18:52] gforcada commented on #650
IMHO one should simply call the view to get the data and do the heavy operations on python code rather than on templates, where they run on restricted python and thus are far more slow.

[2016-07-01 09:29] vincentfretin commented on #544
I did a quick edit https://github.com/plone/documentation/commit/672757452d6d9e183e5fb047399b4c963eb94a4c

[2016-07-01 09:29] #544 closed, assigned to nobody

[2016-07-03 14:15] gforcada commented on #193
That's largely done, I only see very few references to zopeskel, so maybe it would be best to open tickets for each of them specifically.

Closing!

[2016-07-03 14:15] #193 closed

[2016-07-10 11:36] svx opened #663 "Update: http://docs.plone.org/develop/plone/misc/slideshow.html"
Via feedback-widget:

At least in the moment Carousel is not working with Plone5, we should adjust the page in the docs.

Question is there a sideshow add-on which is working with Plone5 ?

Here is also a linked thread on SO: https://stackoverflow.com/questions/34728580/plone-5-0-and-carousel-2-2-1

[2016-07-22 18:57] tkimnguyen opened #670 "fix references to Zope Management Interface and ZMI"
As of Plone 5 we have been removing mentions of Zope and have changed the Site Setup panel name from "Zope Management Interface" to just "Management Interface". We should do this consistently in the docs. Similarly for "ZMI" maybe we should go with "MI"?

[2016-07-22 20:43] gforcada commented on #670
Well then instead of MI let's call it Management Interface, as MI feels weird (_maybe they wanted to say IM_ one can wonder)

[2016-07-25 11:45] jensens commented on #537
On Plone 5 this does not work at all, because the LinguaPlone catalog patch is not there anymore, also not if PAM is activated.

In Plone 5 a LanguageRootFolder is also an `INavigationRoot`. So `plone.app.querystring` already fixates all this to the current `INavigationRoot` if no other `path` is given. Not sure how this is handled in sitemap, search et al. At least either `Language='all'` nor `La

[2016-07-25 20:26] tkimnguyen commented on #670
"PMI" (Plone Management Interface)? (sounds very similar to ZMI for Americans... "zee")

[2016-07-26 06:48] svx commented on #670
IMHO I would prefer "Management Interface", people know that term already, introducing a new one like "PMI" is possible confusing for user.

If we really would like to start using a new term, this should be done carefully and slowly, for example we could do that with the release of Plone 6, where we also mentioning that in the release notes/changes/what is new in Plone 6.
Doing so now is IMHO less

[2016-07-26 07:53] gforcada commented on #670
:+1: for "Management Interface", we already switched to that on the controlpanel right? (On 5.x I mean)

[2016-07-26 08:02] oz123 opened #672 "broken link to plone contributor agreement"
http://docs.plone.org/develop/coredev/docs/agreement.html

The link for the agreement has a typo: http://plone.org/foundation/contributors-agreement/agreement.pdf/at_download/file.

[2016-07-26 08:15] svx commented on #672
This is already fixed in: https://github.com/plone/buildout.coredev/commit/b99a706effe6fbf84ed28910a586d013df85b458

It will be updated on docs.plone.org with the next docs release

[2016-07-26 08:28] oz123 commented on #672
Thanks for the quick reply. We should port this fix to the 5.0 branch too. I will do a separate PR.

[2016-07-26 09:39] svx opened #673 "Explain git-rebase - extend git-cherry-pick docs"
Having some docs about cherry-picking is nice, thank you for that !!!

Lots of times, we do more than one commit to a branch, for example if we review and improve a PR, with the result that even cherry-picking is getting harder.

In order to make it maybe a bit easier we could add some simple docs about rebasing first and after that do cherry-pick

[2016-07-26 09:58] polyester commented on #673
yes, squashing them can be good, and should be explained. Although it can also get messy when branches are left lying around.
https://robots.thoughtbot.com/git-interactive-rebase-squash-amend-rewriting-history is a well-written longer text on both the joys and the dangers

[2016-07-26 10:03] svx commented on #673
BTW, we need to clean a bit, we have currently a lot of branches lying around

[2016-07-26 10:10] gforcada commented on #673
Maybe more than re-writing something that has been explained somewhere else we should just point to those links?

[2016-07-26 10:14] svx opened #675 "Cleanup repository"
Currently we have a couple of branches lying around.
We should fix and merge or remove them as longer we wait as harder and more work it gets.
- identify status of branch
- fix and merge or remove

[2016-07-26 10:17] svx commented on #673
@gforcada I am more  in favor of picking stuff we need and include it in our docs, the experience over the last year show that this is more trust-able, than relying on a 'third party link'.

It is a bit more work for now, but less work in the long run :)

[2016-07-26 13:56] staeff commented on #675
Maybe it helps to give feedback here about the branches we know? `staeff-fix-form` is still something I intend to work on.

[2016-07-26 14:43] svx commented on #675
Well that is what I meant with

[code]

But as you wish :) :
A full overview telling which are open PRs is here: https://github.com/plone/documentation/branches/all
-  mrtango-plone5-theming Updated 10 months ago by MrTango
-  installing_plone_osx_update Updated a year ago by svx
-  update_nginx Updated 8 months ago by svx
-  frisi-resource-bundles Updated 8 months ago by polyester
-  fulv-patch-1

[2016-07-27 08:06] svx opened #677 "Update: http://docs.plone.org/adapt-and-extend/config/dexterity-content-types.html"
So we have Plone 5 now since quite some time released, great !!!

One of the many awesome features is besides a screen-shot **not** documented at all ...

For people who work with content a lot, this is a important feature !

Given that you are able to use d.c.t for as a replacement for various add-ons you need in Plone 4, we should update this part of the docs asap, we also should add some nice a

[2016-07-28 14:12] tkimnguyen commented on #677
Which feature are you referring to?

[2016-07-28 14:21] polyester commented on #677
there is no proper documentation for changing dexterity types TTW.
 (both as in 'formal documentation of all settings and buttons' and as in 'descriptive blog-style human account on why this is the best thing since sliced bread')

iirc, there were some screencast/gifs made by @esteele for various keynotes; might be worth exploring if we can integrate those.

[2016-08-10 12:37] pgrunewald opened #683 "Error in Code Snippet for "Setting the template of an individual widget""
Regarding the snippet from http://docs.plone.org/develop/plone/forms/z3c.form.html#setting-widget-templates:

First line says:

[code]

This import fails for Plone 4.3.7 and newer. The correct line should be:

[code]

Other than that, the signature of `updateWidgets()` is also incorrect, which should say `updateWidgets(self, prefix=None)` to fullfil the interface `z3c.form.interfaces.IForm`.

best

[2016-08-11 12:56] gforcada commented on #683
@pgrunewald would you mind providing a pull request to fix it?

[2016-08-12 13:25] pgrunewald commented on #683
Oh, apparently I missing the Contributor's Agreement. Will be submitted soonish.

[2016-08-16 14:51] pgrunewald commented on #683
@gforcada I have signed the agreement. Will the "Plone Contributors Agreement verifier" re-evaluate my PR automatically or does it have to be triggered manually?

[2016-08-16 14:54] gforcada commented on #683
@pgrunewald closing and reopening the pull request does the trick :-)

[2016-08-16 15:22] #683 closed, assigned to nobody

[2016-08-23 19:54] rileydog opened #686 "Documenting Action portlets"
Hello,
  The Action Portlets don't act as I would expect.  I started discussions in 2 locations and it was suggested i post it here.  I would be willing to help document the Action Portlets if I could get some help understanding them.  Here is were I started this discussion:

https://github.com/plone/plone.app.portlets/issues/63#issuecomment-225511418
https://community.plone.org/t/plone-5-action-p

[2016-08-24 10:03] fgrcon opened #687 "dead link: doctests"
https://plone.org/documentation/tutorial/testing/doctests  in page: http://docs.plone.org/develop/testing/doctests.html.

[2016-08-24 11:27] gforcada commented on #687
@sneridagh @svx  is there a way to get to it still? I can not access old.plone.org and see the content to copy it over...

[2016-08-24 11:28] gforcada commented on #686
You don't _need_ to be part of a team to submit the docs, if you already have some idea on what you want to write the best would be to write it down to an rst file on the top-level of this repository and create a pull request, from there the file can be moved somewhere else and adapt its syntax and what not. :+1:

[2016-08-24 13:02] polyester commented on #687
if you have login on old.plone.org, it can be retrieved from https://old.plone.org/documentation/kb-old/testing/doctests
But beware, there are (slightly geriatric) dragons there: that tutorial was written for Plone 3. And thus may have to go into the plone3 branch, if at all.

[2016-08-24 17:15] rileydog commented on #686
Thanks for the info. I've never used github
1) how do u create and rst file
2) how to create a pull request

---

Thanks,

Wayne Glover
(Sent from my iPhone)

[2016-08-24 18:13] svx commented on #686
@rileydog

Ok let me give you more information about different ways on how to contribute, working with GitHub and opening a pull request (PR) is **only** one way,  if people work already with GitHub this is an easy way, if people don't, do not worry  :)

We already have this already in the docs: http://docs.plone.org/about/contributing.html, the easiest way is to use the 'Feedback' button on the l

[2016-08-25 11:28] svx commented on #646
@polyester

We could use: http://www.sphinx-doc.org/en/stable/config.html#confval-rst_epilog

This would mean, we only have to update that setting in conf.py

Example:

Plone 5.0.9 will be released, currently we have to run a find and replace through the whole docs for replacing 5.0.8 with 5.0.9 - with a setting like this in our config:

[code]

We would be good to go !

## Actions needed to resol

[2016-08-25 11:29] svx commented on #607
This got already merged, people if you merge stuff please check if there is still a ticker open :)

[2016-08-25 11:29] #607 closed, assigned to nobody

[2016-08-25 11:32] svx commented on #595
Does anyone, feels like work on that ? I rather skip that and focus on the new theme.

@polyester any thoughts ?

[2016-08-25 11:45] svx commented on #381
done, ticket got forgotten, closing

[2016-08-25 11:45] #381 closed, assigned to polyester

[2016-08-25 11:48] svx commented on #568
done

[2016-08-25 11:48] #568 closed, assigned to nobody

[2016-08-25 11:54] svx commented on #530
So coming back to these, that would mean we have to maintain two different versions of the docs, one for code-development and one for development/using bob.templates ?

[2016-08-25 12:01] svx commented on #648
I guess we should improve http://docs.plone.org/adapt-and-extend/theming/barceloneta.html#inheriting-a-new-theme-from-barceloneta with the comment by @ebrehault ?

[2016-08-25 12:03] svx commented on #615
@polyester This was already done right ?

[2016-08-25 12:05] svx commented on #612
what is the status here ?

[2016-08-25 12:07] svx commented on #239
@polyester can we close this ?

[2016-08-25 12:33] #239 closed

[2016-08-26 08:06] gforcada commented on #530
@svx I'm lost with your last comment, the original question was about how to install isort, and on comment https://github.com/plone/documentation/issues/530#issuecomment-187637211 I suggest to rephrase the isort mention with _plone.recipe.codeanalysis is the one-stop-tool for any QA needs, see its documentation for further details_.

So if anyone is wondering about isort versions (or any other too

[2016-08-28 16:59] staeff commented on #595
@svx, @polyester - I made the fix that I suggested above here: https://github.com/plone/sphinx.themes.plone/pull/39. I could not figure out how to make the papyrus - repo check out my branch and use it via the buildout. But checking it out manually worked.
You thing this is a ok solution for this bug?

[2016-08-28 17:01] svx commented on #595
Fixed with: https://github.com/plone/sphinx.themes.plone/pull/39

@staeff you can tell mr.developer to use _your_ branch that should work :)

I merged it, we'll see :)

Thanks !

[2016-08-28 17:01] #595 closed, assigned to nobody

[2016-08-29 13:46] tkimnguyen opened #689 "should we include documentation on how to recover admin password?"

[2016-08-29 14:43] gforcada commented on #689
maybe the question should be: _any reason not to do so?_

[2016-08-31 16:16] tkimnguyen opened #690 "for Plone version upgrades, recommend deactivating unused add-ons"
...if they're not going to be used in the upgraded sites, because after the upgrade it will be impossible to deactivate them

[2016-08-31 16:18] tkimnguyen commented on #670
Yes, we changed it to Management Interface when you visit localhost:8080

[2016-08-31 16:24] tkimnguyen commented on #612
Sorry, not yet done

[2016-08-31 16:28] tkimnguyen commented on #689
Ah I think it is here already: http://docs.plone.org/manage/deploying/zope.html?highlight=admin#adding-users-from-command-line-reset-admin-password so maybe it just needs some more text that includes the word "recover" (which is the keyword many would be looking for).

Also noticed that that section links to https://plone.org/documentation/faq/locked-out which has not been migrated from https://ol

[2016-09-02 15:30] tkimnguyen opened #691 "blank screen shots on http://docs.plone.org/adapt-and-extend/config/resource-registries.html"
![screen shot 2016-09-02 at sep 2 10 29 46 am](https://cloud.githubusercontent.com/assets/815418/18209161/3128e768-70f8-11e6-995d-df34fba53190.jpg)

[2016-09-02 15:33] tkimnguyen opened #692 "add doc on customizing moment.js date formats"
Where to add this customization documentation? https://5.docs.plone.org/adapt-and-extend/index.html ?

The new moment.js formats dates so they show up as "7 days ago", "3 days ago", etc.

To make a configuration change so the full dates are shown in the Contents view, e.g. https://mysite.com/folder_contents, go to the Resource Registry control panel, click "Pattern Options" tab, add a pattern call

[2016-09-05 11:20] keul opened #693 "Example for change user default WYSIWYG editor is not working."
The here "Setting visual editor for all users" here https://5.docs.plone.org/develop/plone/members/member_profile.html#setting-visual-editor-for-all-users is someways using an attribute access to the member object.

I tried it today but it's not working. Calling `member.getProperty('wysiwyg_editor')` after the script run change nothing.

IMHO the best way for doing this is still using the old plon

[2016-09-08 11:47] ebrehault commented on #1
Hi @svx and @fulv,
I do not know what is the status on this issue, but we definitely need to document Mockup pattern usage in the Plone doc.
I am not sure getting the full content of http://plone.github.io/mockup/dev/# makes a lot of sense because a lot of patterns are internal to Plone (almost nobody will re-use Theme mapper pattern or the Structure pattern for a custom dev).
Moreover mixing a JS

[2016-09-08 14:19] l34marr opened #694 "Add Instruction for Disabling GlyphIcons"
See https://github.com/plone/Products.CMFPlone/issues/1750 and I think this is suitable to be added into https://5.docs.plone.org/adapt-and-extend/basics.html. Very likely this is an easy one and useful for many.

[2016-09-20 02:30] hvelarde opened #695 "Add-ons and content type icons"
There's no information on the documentation on how to update an add-on to provide content type icons on Plone 5; I only found this on Stack Overflow:

http://stackoverflow.com/questions/35471381/how-to-provide-an-icon-for-a-dexterity-type-with-plone-5

[2016-09-22 08:13] polyester commented on #691
fixed for now; will investigate generating screenshots with phantomjs. Less pretty, more reliable.

[2016-09-22 08:13] #691 closed, assigned to nobody

[2016-09-22 14:03] tkimnguyen opened #700 "add a section on distributed server environment"
e.g. Plone ZEO clients and server on different machines, or RelStorage/PostgresQL

[2016-09-22 14:05] jensens commented on #700
And mention that one may place a zeo on windows and the client somewhere else. Or that one can use an existing postgresql db on windows as storage backend.

[2016-09-26 10:50] svx commented on #455
OK, this is a reminder, to find time, during the Boston Conference [2016] and brainstorm about that.
Our current setup is bringing up more and more issues :)

As already said above this is something what we should do really carefully, it will have impact on SEO/google/bookmarks but we still have to fix that in one way.

## Challenges

Needs a logic for devs and user:

Our current setup is more foc

[2016-10-03 12:20] svx opened #703 "Update: Documentation structure & styleguide"
Currently we have the a note saying:

Unfortunately this is currently only partly the case, we still have an issue:

https://github.com/plone/bobtemplates.plone/issues/169

So ... we should fix bobtemplates asasp. or adjust the note :)

[2016-10-18 19:51] tkimnguyen opened #706 "include more info on editors"
from https://testthedocs.org/training/basic/tools/editors.html in https://github.com/plone/documentation/blob/5.0/about/helper_tools.rst (also the Docker for it)

[2016-10-26 04:45] zopyx opened #707 "plone/content/creating.html outdated for dexterity content (folder restrictions)"
https://5.docs.plone.org/develop/plone/content/creating.html#restricting-available-types-per-folder-instance

covers folder restrictions only for AT content but no support for Dexterity content.

The API for DX content is similar and available through an adapter:

[code]

[2016-11-02 13:59] svx opened #711 "Switch from PFG to collective.easyform"
Currently we still have in the docs for Plone 5 a huge part about PFG, should we change this to collective.easyform?

If so, what is the state of collective.easyform and also of its docs ?

[2016-11-07 17:55] ramiroluz opened #714 "Document plone behavior tests for dexterity types."
To enable a behavior it is necessary to invalidate the Schema, otherwise it is not visible for the tests.

It is possible to see an example here: https://github.com/collective/collective.cover/blob/master/src/collective/cover/tests/test_refresh_behavior.py#L20

And here: https://github.com/ramiroluz/interlegis.portalmodelo.ombudsman/blob/a0e87710946ba91d62806730b4f185e9cdf7b7f8/src/interlegis/port

[2016-11-07 20:06] ramiroluz commented on #714
Sorry. This should be created in the https://github.com/plone/plone.app.dexterity/. Closing.

[2016-11-07 20:06] #714 closed, assigned to nobody

[2016-11-12 14:30] svx opened #715 "Extend guidelines with part about .github dir"
We use this directory to add templates like, how to contribute which will show up on GitHub, if people for example open an issue, see https://github.com/plone/documentation/tree/5.0/.github for more information.

[2016-11-12 14:31] svx commented on #711
@prakharjoshi do you know the state of the docs of collective.easyform ?

[2016-11-13 14:56] tkimnguyen opened #717 "need documentation on customizing print styles"
I couldn't find where we explain how to change the look of printed pages (print.css). (This was in response to a question in Gitter)

[2016-11-14 09:21] svx opened #718 "Add more docs about how to contribute to plone not only to docs"
- Add more docs on how to contribute to plone as in to the organization, currently we cover on how to contribute to the docs, we should add a part on how to contribute to the whole project and also cover parts like that we prefer branches over forks for pull requests and the reasons behind that

[2016-11-14 09:24] svx opened #719 "Extend guildelines with what to do for if you create a repo in github.com/plone"
Extend current docs with parts like:

- .github dir and unified 'guidelines label'

[2016-11-14 10:12] stevepiercy commented on #719
GitHub blog posts on `.github/`:
https://github.com/blog/2111-issue-and-pull-request-templates

...and CONTRIBUTING.md:
https://github.com/blog/1184-contributing-guidelines

[2016-11-14 10:20] stevepiercy commented on #719
Is this issue different from #715 or a duplicate? Maybe combine them into one?

[2016-11-14 10:22] stevepiercy commented on #718
Pyramid has some good material that could be adapted for Plone and its docs.

https://github.com/Pylons/pyramid/blob/master/contributing.md

https://github.com/Pylons/pyramid/blob/master/HACKING.txt

[2016-11-14 10:26] svx commented on #719
duplicate of #715, closing

[2016-11-14 10:26] #719 closed, assigned to nobody

[2016-11-14 10:27] svx commented on #715
copy from duplicate;

GitHub blog posts on .github/:
https://github.com/blog/2111-issue-and-pull-request-templates

...and CONTRIBUTING.md:
https://github.com/blog/1184-contributing-guidelines

[2016-11-14 10:56] svx commented on #675
Hi, @staeff, @MrTango and @djowett if you find a minute, would you mind to check, the state of the branches?

Thanks !

@MrTango  Do you know the status of this branch: https://github.com/plone/documentation/tree/mrtango-plone5-theming ?

@staeff Do you know the status of this branch: https://github.com/plone/documentation/tree/staeff-fix-form ?

@djowett Do you know the status of this branch: htt

[2016-11-15 16:43] svx commented on #646
@polyester do you have a opinion on that ? :)

[2016-11-15 19:52] stevepiercy opened #723 "readme example lacks reference to docs style guide"
As a newbie to Plone documentation, I had no idea that there was a [style guide](http://docs.plone.org/about/index.html). I only knew about it because a Pyramid sprinter pointed it out to me.

I suggest adding the link to the style guide in the [README example](https://github.com/plone/documentation/blob/40e7fb74ea2c26b0e17e3d6eac309f3cd80a8ae2/about/documentation_styleguide.rst#readme-example) an

[2016-11-15 20:23] stevepiercy commented on #646
Here's how Pyramid addressed this issue. Pyramid has multiple versions and branches for each major release. Currently we have branches `1.6-branch`, `1.7-branch`, and `master`.

In our [conf.py](https://github.com/Pylons/pyramid/blob/master/docs/conf.py):

[code]

Then in our docs, especially installation and tutorials where we need to use the current version:

[code]

Thus we never have to replac

[2016-11-16 05:54] svx commented on #723
IMHO, this should/will be solved in another way, I had 'just' no time to finish it yet !

The plan is to add under `Contribute` one link to a document which will explain/ give an overview about the whole process and not 'only' the README style-guide.

Also all links in the 'GitHub contribute info box' will link to this doc.

With this is gives a much better overview, and we will not mess up the RE

[2016-11-16 06:04] svx commented on #646
@stevepiercy great, but this is not the way how we build our docs, so this will not work for us.

About branches, we use a different setup.
Like I said already earlier and during the conference, we are busy rebuilding our whole docs setup.
Lots of stuff will change/is changing.
Since we have to deal with lots of history and also content for different audiences we are doing this slowly and trying t

[2016-11-16 08:45] stevepiercy commented on #723
@svx let's see what you have in mind.

I'd be happy to run through your unfinished idea as a still new-to-Plone user/developer/documenter. I face many of the same challenges you face with Plone as with being a core contributor to Pyramid and other projects under the Pylons Project (docs, training, and marketing).

[2016-11-16 11:21] djowett commented on #675
@svx minute spent :-) mine is in https://github.com/plone/documentation/pull/697 and can be merged IMO,  but some test fails inexplicably - perhaps it's easier just to delete it?

[2016-11-16 11:44] svx commented on #675
@djowett nah :) I will include it manually , it is useful, right ? :)

[2016-11-16 11:45] djowett commented on #675
Yup, was useful to me :)

[2016-11-16 12:43] svx commented on #675
@djowett done, by: https://github.com/plone/documentation/pull/724

[2016-11-16 18:48] svx commented on #524
@avoinea where would be a good place to add it on the docs, strictly technical speaking putting it under _http://docs.plone.org/manage/installing/index.html_ would be wrong, IMHO since we are not installing it, we are running it.

Would be http://docs.plone.org/manage better suited ?

@polyester @smcmahon what do you think ?

I would like to make sure that we have a good suited place, also with in

[2016-11-16 19:15] polyester commented on #524
I would be in favor of http://docs.plone.org/manage, and then have /docker, /snap, /whateverthenextcoolthingis as subdirectories.

[2016-11-17 11:11] svx commented on #646
@polyester ahem little issue :), that is not working in a

[code]

out of the box, which is kind of what we need ...

[2016-11-17 17:38] stevepiercy commented on #646
@svx what is the sample rendered output?

For Pyramid, we changed some `.. code-block::` to `.. parsed-literal::` whenever the current version needed to be rendered in the output.

[2016-11-20 13:53] gforcada commented on #703
bobtemplates.plone has been fixed :-)

[2016-11-23 08:04] svx opened #725 "Varnish 3"
Varnish 3 is eol and if I got it right, also there will be no more security updates from 2017 on.

Personally I would like to move the docs about Varnish 3, to for example, `old reference` and  add a note/warning that this version is eol.

If you still run on a older Ubuntu LTS version like 12.04 LTS, you will have to prepare an upgrade anyway because 12.04 EOL is April 2017.

[2016-11-23 08:07] svx opened #726 "Add Ubuntu 16.04, remove 12.04 from the docs"
Currently we still mention Ubuntu 12.04 in the installation docs, since 12.04 will be eol in April 2017, and 16.04 is now working, I would like to:

- remove 12.04 from the docs
- add 16.04 next to 14.04

[2016-11-23 08:29] gforcada commented on #726
One of the big changes on 16.04 is that python 2.7 is no longer installed by default and that /usr/bin/python may point to python3.5 as well.

[2016-11-23 08:35] svx commented on #726
OK, but this is not a problem, we add that, we have currently docs for 12.04 and 14.04 which are also different.

But anyway thanks for the reminder ! :)

[2016-11-24 12:21] svx commented on #718
IMHO as we are on it, we should mention the difference between `core` and `collective`.

Do we have some old docs somewhere about that ?

 The difference between both and the different requirements like you do not need to sign the PCOA if you work in/with `collective`, but you will need to do that for `core`

[2016-12-01 04:58] tkimnguyen opened #729 "consolidate POSKeyError info, include plonechix help"
Currently there are several places where POSKeyError is described and fixes/debugging procedures are explained.

We should consolidate all those into one section only. It will make it easier to keep it up to date too.

We should also include the information at http://plonechix.blogspot.ch/2009/12/definitive-guide-to-poskeyerror.html.

[2016-12-05 16:18] svx opened #730 "Add link to issue board"
Add link to: https://github.com/plone/documentation/projects/1 under 'how to contribute to docs'

[2016-12-07 18:32] svx commented on #730
done with #731

[2016-12-07 18:32] #730 closed, assigned to nobody

[2016-12-07 18:32] svx commented on #675
@MrTango @staeff ping !

[2016-12-07 22:42] staeff commented on #675
hey @svx, sorry for being so late replying here. For now I removed the branch.

[2016-12-08 13:48] svx commented on #675
@staeff np :)

[2016-12-08 14:19] svx opened #734 "Update windows install part"
Currently we have:

[code]

I guess we should update this with the new windows part, right ?

@smcmahon can you point me to the docs ? :)

[2016-12-09 06:00] svx opened #735 "Update/Include LDAP"
Currently we have in various places the mention of: *plone.app.ldap* like in
 `develop/plone/sessions/login.rst`, `manage/deploying/performance/ramcache.rst`, etc.

We still have no part, where we explain in an understandable way, how you connect your Plone site with LDAP exactly.

Questions:

- should we replace *plone.app.ldap* with *pas.plugins.ldap* ?
-  in how far we do have to rewrite `manag

[2016-12-12 05:59] svx opened #737 "CentOS install: add hw requirements"
Add minimal hw requirements to if you have to compile lxml:

https://community.plone.org/t/unified-installer-5-0-3-and-up-failed-on-centos-6-x/2017/10

[2016-12-17 14:38] tkimnguyen commented on #249
I think we're also not mentioning this method for upgrading: https://github.com/plone/documentation/blob/6fa86d6dd7b7d52d4b88c875e1564311b938dfe4/manage/deploying/copy.rst

I ran into this when someone in the forum said they'd tried upgrading by importing a zexp file. https://community.plone.org/t/upgrade-plone-5-0-5-06-results-in-application-javascript-page/3147/5

[2016-12-17 14:39] tkimnguyen opened #738 "upgrade guide should include "Copy" info"
I think we're not mentioning explicitly this method for upgrading: https://github.com/plone/documentation/blob/6fa86d6dd7b7d52d4b88c875e1564311b938dfe4/manage/deploying/copy.rst

I ran into this when someone in the forum said they'd tried upgrading by importing a zexp file. https://community.plone.org/t/upgrade-plone-5-0-5-06-results-in-application-javascript-page/3147/5

[2016-12-17 14:39] tkimnguyen commented on #249
Oh I'll open a new issue for that... https://github.com/plone/documentation/issues/738

[2016-12-17 14:42] tkimnguyen commented on #615
Not as far as I know

[2016-12-17 14:44] tkimnguyen opened #739 ""Upgrade tips" page is very outdated"
This page is quite outdated; seems to mention only Plone 4.

https://github.com/plone/documentation/blob/6fa86d6dd7b7d52d4b88c875e1564311b938dfe4/develop/plone/misc/upgrade.rst or http://docs.plone.org/develop/plone/misc/upgrade.html

[2016-12-17 14:53] tkimnguyen commented on #739
I started the cleanup with https://github.com/plone/documentation/pull/740

[2016-12-17 14:54] tkimnguyen commented on #615
I guess a lot of it is done but I haven't looked it over in detail: http://docs.plone.org/manage/upgrading/index.html

[2016-12-21 17:16] djowett commented on #537
IIUC  the way to do this in Plone 5 (assuming you've not installed LinguaPlone somehow!) is just to specify `path='/'`.  In comparision `Language='all' will give 0 results, whereas `Language=''` will give you content with no language set - not usually what you want.

[2016-12-22 12:19] #739 closed, assigned to nobody

[2017-01-03 13:23] svx opened #744 "Update: http://docs.plone.org/develop/plone/misc/upgrade.html"
Thanks to @tkimnguyen we have some improvements. Thanks !

Still this needs some more love, currently it is still out of date since we are mentioning lots of old Plone 4 things, like upgrading to Plone 4.1. and AT and so on.

For 5.1 we should update all that, and if necessary set a link to the Plone 4 docs.

The current situation is possible confusing for user.

[2017-01-03 13:25] svx opened #745 "Add https to docs.plone.org"
It is 2017, lets switch to https://docs.plone.org

[2017-01-04 11:30] svx opened #747 "Update styleguide: line-length and sentences"
Reading over it, we really should update and improve that !

Currently we have for example:

Personally I think this is not so cool, do not get me wrong from the technical point of view it is 100% right, but from the point of writing and readability, like reading the docs on your desktop or mobile that is not the best solution.

Possible solution:

- [ ] rewrite it to tell people to 'aim' for sent

[2017-01-04 15:32] svx commented on #703
Nice, closing this ! :)

[2017-01-04 15:32] #703 closed, assigned to nobody

[2017-01-04 15:33] svx commented on #711
@prakharjoshi ping !

[2017-01-04 15:51] prakharjoshi commented on #711
@svx  Sorry for missing this part and replying that late. I guess easyforms is ready for plone 5 and we have 2.0.0a1 release. We can add these in our docs. Let me know if I can help you in that.

[2017-01-04 16:01] svx commented on #711
@prakharjoshi awesome !

What is the state of the docs ?

- are they up to date
- do we have docs for 'integrators' ?
- do we have screen-shots [robot-framework] ?
- ...

:)

[2017-01-04 23:29] hvelarde commented on #725
I already killed it; nobody is going to install Varnish now on a 12.04 LTS machine.

[2017-01-04 23:29] #725 closed, assigned to nobody

[2017-01-04 23:30] hvelarde commented on #460
old Varnish stuff was killed.

[2017-01-04 23:30] #460 closed, assigned to nobody

[2017-01-05 18:22] plone-foundation commented on #711
Until we're out of alpha, we should keep it out of the main Plone
documentation.

On Wed, Jan 4, 2017 at 8:01 AM, sven <notifications@github.com> wrote:

[2017-01-06 14:29] svx commented on #706
@tkimnguyen Here we go, not finished, yet but hopefully it will be soon.

![screen-sublime-for-writing](https://cloud.githubusercontent.com/assets/358860/21720648/a49180b8-d424-11e6-855d-e80927d2c5aa.png)

Still, not sure yet what is better, putting it into a blog post or as part of docs.testthedocs.org

[2017-01-06 14:32] svx commented on #711
We are currently far away from putting it there. But it would be nice to get the docs in order so that later on this is 'easy' to include.

[2017-01-06 14:33] svx commented on #737
done by #737, closing this here now

[2017-01-06 14:33] #737 closed, assigned to nobody

[2017-01-06 16:34] zachwelch commented on #745
+1.  I recently changed all of my sites to HTTPS, thanks to the one-line certificate acquisition/installation process available from the CLI via LetsEncrpyt.  It's trivial to produce new certificates and renewals are automatically handled by a cronjob.

[2017-01-07 14:48] tkimnguyen commented on #745
@zachwelch we use CloudFlare for docs.plone.org so it's even easier than that :)

[2017-01-07 14:49] tkimnguyen commented on #745
@smcmahon any reason why we shouldn't activate https for docs?

[2017-01-07 14:57] tkimnguyen commented on #711
There are quite a few open bugs left in https://github.com/collective/collective.easyform/issues so maybe we need a concerted push to fix and test it.

[2017-01-07 15:11] svx commented on #745
To make it more clear, this is on my list for the next maintenance window for this server, this ticket is meant as an reminder for my self :)

There are also still some settings which have to be adjusted in the config, since we proxy different domains and such stuff.

Meaning I will do it, there is no actions which needs to be taken by others :)

[2017-01-09 08:24] erral commented on #537
That's right, the Language='all' is needed in LP and PAM 1.x

https://github.com/plone/Products.LinguaPlone/blob/master/Products/LinguaPlone/patches.py#L30

https://github.com/plone/plone.app.multilingual/blob/1.x/src/plone/app/multilingual/catalog.py#L26

Although the language folders are also marked to be INavigationRoot, in LP the language of the content is not enforced inside the language fold

[2017-01-10 16:40] #537 closed, assigned to nobody

[2017-01-10 18:31] tkimnguyen commented on #729
@svx any objections?

[2017-01-10 18:31] tkimnguyen commented on #729
@plone/documentation-team any objections?

[2017-01-10 18:32] tkimnguyen commented on #729
Came up in Gitter in conversation about multiple ZODB mount points... The subtitle of the section will be "Don't f*cking do it"

[2017-01-10 19:11] svx commented on #729
No of course not, adding info is always good, only thing what comes in my mind, is that someone should check if the info is still valid, since the post is from 2009 maybe something is out of date or today there are other ways to handle it.

And yes, having one nice document which is up2date and link to it is always better than having bits on different locations !

Awesome !

[2017-01-17 09:43] zopyx opened #753 "Workflow events does not document LocalrolesModifiedEvent event"
https://5.docs.plone.org/develop/addons/components/events.html#workflow-events

does not mention

`LocalrolesModifiedEvent`

which is triggered in

`plone/app/workflow/browser/sharing.py`

upon updating the `@@sharing` settings.

[2017-01-27 18:02] fulv opened #756 "ZODB database packing configuration"
Just leaving myself a todo here, unless someone else grabs it first.

In http://docs.plone.org/4/en/develop/plone/persistency/database.html#packing-through-the-web, this sentence packs a lot of jargon that needs explaining:

* _Zope Control Panel_ vs _Plone control panel_
* _Zope application server root in ZMI_ vs _Plone site root in ZMI_

For a non-Plone insider, these are very obtuse statements.

[2017-01-27 20:01] fulv commented on #756
Also, explain exactly where to go to start the packing process.

[2017-01-27 21:46] fulv commented on #756
Also, the Plone control panel lets you zeopack, so you don't actually need to go to the ZMI.

[2017-01-28 14:25] MrTango commented on #756
But only if you are a Zope admin user.
And in general we should convince users to setup automatic packing which is easy.

[2017-01-29 13:45] svx opened #757 "Typical common words - linting"
In order to increase the quality and also to make the docs easier to understand I wrote a linter which is able to check for *typical common words*.
This is handy, because with this we can make sure we always have for example **GitHub** and not sometimes Github, the same goes for **JavaScript** in place of Javascript.

Question: Do we have more words besides these two, which we should check ?

[2017-01-29 15:54] fulv commented on #757
This probably does not apply to your linter, but it would be great if there
were a "dash" checker.  I can tell which pages have been touched by a
german speaker, because there tend to be a lot of words that are
concatenated with dashes (e.g. content-type), which is not english.

On Sun, Jan 29, 2017 at 6:45 AM sven <notifications@github.com> wrote:

[2017-01-29 15:56] fulv commented on #757
Which is not to say that hyphens (my bad, not dashes) are never used:
http://www.grammarbook.com/punctuation/hyphens.asp

On Sun, Jan 29, 2017 at 8:54 AM Fulvio Casali <fulviocasali@gmail.com>
wrote:

[2017-01-30 07:09] svx opened #758 "Improve/Update: Installation Docs"
# Current

Our installation part is partly out of date [ie. windows #734 ], missing parts [ie. docker #524 ], divided into different places [ie minimal buildout install under requirements http://docs.plone.org/manage/installing/requirements.html#minimal-build] and UI docs are not always in sync with https://github.com/plone/Installers-UnifiedInstaller/tree/master/docs.

One other point, is that we

[2017-01-30 13:15] svx commented on #758
Looking further into installing:

Under: http://docs.plone.org/manage/installing/requirements.html we have different instructions than under https://github.com/plone/simple-plone-buildout, this could lead to confusion, IMHO we should settle on **one** example buildout, preferable based on the UI one ?

If you are a more experienced user you will use your own anyway.

Ideas ? Comments ? Anyone ?

[2017-01-30 17:10] svx commented on #756
@MrTango Not perfect and needs some love but, we do have the basics at least: https://5.docs.plone.org/manage/deploying/packing.html#setting-up-packing

[2017-01-30 17:18] svx commented on #690
I guess this: http://docs.plone.org/manage/upgrading/addon_upgrade.html would be a good place to put it ?

[2017-01-30 17:23] MrTango commented on #756
I haven't check it, but isn't it already in the unified installer?
I meant the cronjob stuff could be at least there, even if commented out if that breaks windows support.

[2017-01-30 19:06] stevepiercy commented on #758
I think three audiences is plenty: demo, install, and develop.

I get lost in the docs for how to install Plone because I don't know which method is best for me. There's too many choices–UI, buildout, Docker, Vagrant, and so on–and it's not clear which is appropriate for my intended purpose. I think for each audience, there should be one and only one installation method, support it well, and let t

[2017-01-31 14:46] #690 closed, assigned to nobody

[2017-01-31 16:37] #689 closed, assigned to nobody

[2017-02-01 10:17] svx commented on #382
@deesto If you thing what you mentioned is still an issue, please open a new ticket, this issue here is complete different one, and for this it is a bit confusing having your concern mentioned, here :)

Thanks !

[2017-02-01 13:51] svx commented on #323
@bloodbare could you review https://github.com/plone/documentation/blob/5.0/develop/plone/searching_and_indexing/query.rst if you have a minute or two ? Would be great to have that in the 5.1 docs ! :)

[2017-02-01 13:52] svx commented on #323
@polyester @sneridagh Who would be the right person to review: https://github.com/plone/documentation/blob/5.0/develop/plone/i18n/language.rst ?

[2017-02-01 13:58] svx commented on #215
@smcmahon ping :)

Besides the horrible question about which options for dependencies, do we need that at all ?

I mean if you are not a developer, 'just' for playing you could use the vagrant box or even the docker container.

And if you are a developer you have a preference anyway, right ?

What we could do is the same as we do for Operating Systems, which means we use the sphinx add on 'os exam

[2017-02-01 14:01] svx commented on #215
@polyester maybe do you have any suggestions ?

[2017-02-01 14:18] svx commented on #758
@stevepiercy IMHO there is a difference between install for developing/local and a proper deployment for production.
That is what I meant with install and install (advanced) .

[2017-02-01 16:20] polyester commented on #215
I'm usually of the "one option, if possible, and maybe give a link to others" family; although I have no clue how the relative % of these solutions is in the OS X/Plone world.
If it's 50% homebrow 50% Macports then give both options, if it's 80/20 just give one...
_Nix people are probably clever enough to sort stuff out themselves._

Maybe hold a poll on community.plone.org? The [poll](https://git

[2017-02-01 16:53] svx commented on #215
Yeah, I think we could skip NIX, if you use it, you know how to install dependencies.

[2017-02-01 18:52] stevepiercy commented on #758
@svx explicit would be clear and give more context for a given audience, e.g., "Install Plone for development environments" and "Install Plone for production environments". What do you think?

"Demo Plone" would be a more clear heading for trying Plone, too.

I would like to see one example buildout for each of development and production environments.

[2017-02-01 18:57] stevepiercy commented on #215
For Pyramid we've gone with homebrew for macOS.
http://docs.pylonsproject.org/projects/pyramid/en/latest/narr/install.html#for-mac-os-x-users

Note: We have not yet adopted the new spelling of Apple's desktop operating system in Pyramid docs, but we may do so in the future.

[2017-02-01 19:21] svx commented on #215
I think in this question it is a bit more complicated than go with one or the other, there are fundamental differences between MacPorts and Homebrew, how they work and so on.

It is also not recommend to install both on the same system, at least this was the case some time ago.

Since we also should think about ppl who may already have one or the other installed we should IMHO provide instructions

[2017-02-01 19:25] svx commented on #215
If you 'force' user to install 'yet' another package management system you are IMHO not a nice person :).

Because besides wasting disk space, you also forcing them to keep another system up to date and to learn it. :)

[2017-02-01 19:38] stevepiercy commented on #215
I don't think there's a problem with two package management systems. The problem comes from installing the same package with two different package managers, then wondering, "What the heck just happened?" I've been there.

I think that it is fine to choose one package manager to get something written and useful. Add other package managers in the future. Subject to availability of the people writing

[2017-02-01 20:20] svx commented on #215
This is one possible reason, we do not know what packages people already have installed with one manager, this could lead to problems, in the worst case to a unsuable system which would be not that nice :).

Like I said we are discussing that already for some time and till now there are valid reasons (for us) why we not decided on one or the other.

And I also do not see the problem of writing tha

[2017-02-02 13:12] svx commented on #517
Since this issue is open the plone.app.theming repo, I will close it here.

[2017-02-02 13:12] #517 closed, assigned to nobody

[2017-02-02 13:17] svx commented on #293
Done a long time ago

[2017-02-02 13:17] #293 closed

[2017-02-02 13:21] svx commented on #278
It is gone in the 5 docs, but still in the [4 docs](http://docs.plone.org/4/en/old-reference-manuals/buildout/index.html?highlight=buildout) is that still needed in 5/5.x ?

[2017-02-02 13:21] svx commented on #198
can be closed

[2017-02-02 13:21] #198 closed

[2017-02-02 13:24] svx commented on #385
OK what is handy ?

Examples for Ubuntu:

16.x and 14.x -> systemd ? Or should we mention upstart for 14.x

12.x will go away :)

What we should do with Debian, CentOS, etc ?

@polyester ?

[2017-02-02 13:28] svx commented on #36
closing this we know that we have lots of broken links, they are fixed step by step on the way and will included into the coming docs test framework

:)

[2017-02-02 13:28] #36 closed

[2017-02-02 13:35] svx commented on #207
Yeah, this link is not working.

I found this: http://docs.plone.org/4/en/old-reference-manuals/plone_3_theming/elements/viewletmanager/override.html

Is that still valid for 5 ?

[2017-02-02 13:36] svx commented on #287
done !

[2017-02-02 13:36] #287 closed

[2017-02-07 20:35] lukebrannon opened #772 "Error in: Overriding a view class in a product"
The Plone 5 documentation for _Overriding a view class in a product_ <http://docs.plone.org/develop/plone/views/browserviews.html#overriding-a-view-class-in-a-product> results in a TypeError:  page() takes at least 4 arguments (5 given).

The error is caused by the layer attribute in the zcml for browser:page
Referencing older packages zcml should be?:

<configure
        xmlns="http://namespaces.

[2017-02-08 10:05] MrTango commented on #772
This zcml registration expects that you define a template in the view class, did you?
The example could be better though.
This is a better example i thing: https://training.plone.org/5/mastering_plone/views_1.html

[2017-02-08 10:47] svx commented on #772
@MrTango should it be a idea to remove the old example and instead link to the training ?

[2017-02-08 16:14] fulv commented on #772
Also, shouldn't the `for` attribute point to an interface?

[2017-02-08 21:12] rfleschenberg opened #775 "Do not link to Dexterity manual / Do not recommend ZopeSkel"
http://docs.plone.org/external/plone.app.dexterity/docs/prerequisite.html

This page recommends using ZopeSkel. I spent some time trying to follow these instructions, but to no avail. I was told on IRC that I should forget ZopeSkel and use mr.bob instead.

I don't have the exact steps to reproduce my various problems with ZopeSkel at hand anymore. If they are needed, please mention this, I will re

[2017-02-08 22:32] djowett commented on #775
I think this documentation was fixed in https://github.com/plone/plone.app.dexterity/pull/222, *however* that fix sadly isn't pulled in to docs.plone.org with the /external reference [here](https://raw.githubusercontent.com/plone/documentation/5.0/adapt-and-extend/custom-ct/index.rst)

[2017-02-08 23:23] lukebrannon commented on #772
@MrTango Since you're sub-classing RegistrationForm shouldn't the template defined there remain valid?

@fulv I wondered about that, but when I tried to reference my interface based on IDefaultPloneLayer the view wasn't overriden.  I will verify that again.

[2017-02-08 23:55] lukebrannon commented on #772
@fulv So using my interface as defined in the documentation results in the the view _not_ being overridden.  If I use 'Products.CMFPlone.interfaces.IPloneSiteRoot' the view _is_ overridden. Looking through configure.zcml for plone.app.users, the actual 'register' view is for 'plone.app.layout.navigation.interfaces.INavigationRoot'.

[2017-02-09 00:03] fulv commented on #772
My earlier comment was about the for="Products.CMFPlone.Portal.PloneSite".
But if you use IPloneSiteRoot instead of PloneSite, I have no objection.

However, going back to the documentation example:  are you sure you ran the
GenericSetup import step to register the Browser Layer?

On Wed, Feb 8, 2017 at 4:55 PM lukebrannon <notifications@github.com> wrote:

[2017-02-09 08:01] svx commented on #775
Like always, this will turn up on docs.plone.org when we deploy a new build.

This will be most likely in the beginning of next week, *note* the **most likely** there are still some open issues which we need to fix first.

I am closing the ticket, since this is already solved in the docs of dexterity.

[2017-02-09 08:01] #775 closed, assigned to nobody

[2017-02-09 08:13] svx opened #776 "Improve docs structure"
Currently we serve *external* parts like dexterity and others under */external*.

IMHO we should adjust that in order to get rid of */external*.

Reasons:

- */external* unnecessary for user
- */external* is confusing for user
- */external* is not needed at all

Solution:

- [ ] adjust 'pull' location of docs we fetch [needs to be done in papyrus]
- [ ] adjust nginx [301] to make sure that links a

[2017-02-09 08:26] djowett commented on #775
Thanks @svx, but what you are saying implies either:

a) you haven't deployed a new build for 6 months (since the above dexterity PR)
OR
b) the external reference is broken somehow

Do you mind confirming whether a) is true, 'cos otherwise it's b) and we need that fixing bad!
No criticism of your valued work - which we are mucho grateful for!

[2017-02-09 08:53] svx commented on #775
@djowett we have not deployed since months for various reasons as:

- papyrus [docs builder] was/is broken because of robot-framewrok and various other dependency  updates
- communication [mix up ?] about when 5.1 will be released
- docs team is for the moment [temporary] down to more or less 1 person
- lots of other things

Sorry, but there is a certain amount of stuff what you can do in small te

[2017-02-09 18:54] lukebrannon commented on #772
I've gone back and forth between a few documents and this is what I've found:
[Specify files and code from another package](http://docs.plone.org/develop/addons/components/zcml.html#overrides) provides a correct example of the required zcml.  The documentation in question is missing the _for_ attribute, which causes it to error out and break the instance. The override documentation does provide fu

[2017-02-09 21:47] fulv commented on #772
I think keeping the original interface is better in the context of this doc.  Defining your own interface would be a different use case, i.e. making a specialized browser page that only applies to more specific contexts that provide your interface.

Referring back to the beginning of this thread, the `layer` attribute is essential, as it is the one discriminant that allows your overridden browser

[2017-02-09 23:32] lukebrannon commented on #772
Thanks @fulv.  I've [updated](https://github.com/plone/documentation/compare/lb_overideClassView)  my branch accordingly and added a note about the permission and marker interface.

[2017-02-11 08:19] #772 closed, assigned to nobody

[2017-02-16 00:10] mauritsvanrees opened #780 "Header size in 5.1 upgrade docs is confusing"
Pull request #743 by @svx at the end of last year changed various headers, plus other stuff.
The [5.1 upgrade docs](https://github.com/plone/documentation/blob/5.1/develop/addons/upgrade_to_51.rst) have suffered a bit there I think. The page has a title "Upgrade a custom add-on to Plone 5.1" at level `h1` and then all other section headers are at `h2`.  But all those sections are about one plip, m

[2017-02-16 12:24] svx commented on #780
@mauritsvanrees adjusted with: https://github.com/plone/documentation/commit/46f1605b9670e6ee3f24b7b4cd4d1a4d4d58f010

[2017-02-16 12:31] svx opened #782 "Developer docs about GenericSetup should be split"
Great that we have these awesome docs, but :)
currently the docs about GenericSetup (/develop/addons/components/genericsetup.rst) are too long.

In order to enhance readability we should split these one huge long file into shorter parts [chapters].

As rule of thumb it is always handy, to aim for a file which is not longer than 1000 lines [which is already long]

[2017-02-16 12:51] mauritsvanrees commented on #780
Perfect, thank you!

[2017-02-16 12:51] #780 closed, assigned to nobody

[2017-03-01 10:48] svx commented on #745
done !

[2017-03-01 10:48] #745 closed, assigned to svx

[2017-03-01 16:05] svx commented on #670
PR for review is here: https://github.com/plone/documentation/pull/789

[2017-03-02 13:42] tkimnguyen commented on #670
I reviewed the PR but it was merged before I could complete the review!

[2017-03-02 14:10] svx commented on #670
I will create a new PR, later on, no worries and thank you !

[2017-03-02 14:48] svx commented on #670
@tkimnguyen https://github.com/plone/documentation/pull/790

[2017-03-05 05:21] tkimnguyen commented on #670
thx @svx!

[2017-03-05 05:21] #670 closed, assigned to nobody

[2017-03-05 10:59] himanshu81494 opened #792 "error in introduction of documentation documentation/blob/5.0/intro/index.rst"
on line 40 of file documentation/blob/5.0/intro/index.rst

double "has has"
[code]

[2017-03-06 03:29] #792 closed, assigned to nobody

[2017-03-07 13:29] tkimnguyen opened #794 "add docs on plone.app.discussion"
...as per https://community.plone.org/t/forum-board-extension-for-plone/3619/10

[2017-03-08 11:56] svx opened #795 "Improve: Docs about 'helper tools'"
- Add Atom as editor, I switched for writing docs to Atom and IMHO it currently way better for that then sublime
- Re-arrange order, add headers for different editors
- shorten this doc and split it into various ones

[2017-03-10 15:45] svx opened #798 "Update dev docs about portlets"
[This needs an update](https://docs.plone.org/develop/plone/functionality/portlets.html):

- even if it mentioned that paster is deprecated, we should remove all paster stuff and rewrite the docs to show bob template examples

- needs check if info about Plone 4.1 can be removed or should updated to Plone to 5.1

Example:
![portlet_docs_old_info](https://cloud.githubusercontent.com/assets/358860/2

[2017-03-10 17:22] svx commented on #794
@tkimnguyen

I see here some challenges :)

- having the same info on two different places maybe confusing
- having the same info on two different places is hard to keep up to date
- having the same info on two different places under the same main domain (plone.org) is not so cool for seo

I completely agree with you we **should** have this **awesome** docs somewhere, **thank you again for taking

[2017-03-10 18:06] MrTango commented on #794
It makes sense to improve the PAD docs, but th step by step example for the forum, is a tutorial and should go into the training docs.

[2017-03-10 18:16] svx commented on #794
I am in favor of a own 'tutorial repo'

This way you have more freedom to come up with a good and smart structure and setup without depending on already existing and slightly unclear structure, see https://github.com/plone/training/issues/253

[2017-03-11 04:42] tkimnguyen opened #799 "Troubleshoot: Remove persistent utilties with wildcard.fixpersistentutilities"
We need to document fully how to use https://pypi.org/project/wildcard.fixpersistentutilities/ on the https://5.docs.plone.org/manage/troubleshooting/manual-remove-utility.html page.

Lots of people in the forum are running into problems that can be solved with it, but don't know about it, or perhaps they need more examples on how to use it, e.g. https://community.plone.org/t/cleaning-up-a-wicked-

[2017-03-11 04:54] tkimnguyen commented on #794
Yeah I wasn't intending to keep the same info in two places... (p.a.d. could use its own docs but I wasn't thinking about that). I was thinking that docs.plone.org should at least explain the feature, how to enable it, how it works. training.plone.org should include the tutorial I started in the forum.

[2017-03-15 10:40] svx commented on #608
done, a long time ago, closing - feel free to re-open :)

[2017-03-15 10:40] #608 closed, assigned to nobody

[2017-03-15 10:42] iham opened #801 "docs unclear about where to put code"
https://docs.plone.org/develop/plone/i18n/translating_content.html#native
**where is "in your code"?**

making a field languageindependent is pretty standard, but having 4! ways to do that is confusing on the one hand and gets frustrating, if the docs don't tell how in every case.

btw: trying to make a field language independent only for one plone instance (based on a "policy package") is not pos

[2017-03-15 10:44] svx commented on #640
@jensens any idea where a good place would be ?

I guess somewhere under /develop ?

If you tell me where, I will create a PR for https://github.com/plone/plone.app.vocabularies which includes following our guidelines about READMES, a /docs dir and so on.

[2017-03-15 10:47] svx opened #802 "Improve: Docs about how to contribute"
We should tell:

- send better a couple of small PRs than one huge one
- give nice examples, like a gist with a git-hook or so, and explain people to run local tests, this should be not to heavy, like not use my own setup as example, since We do not want to scare people.

[2017-03-15 13:39] svx opened #803 "Check: Server preparation docs"
We should check:

https://5.docs.plone.org/manage/deploying/preparing.html

For example I am not sure about the current state of the Fedora part.
Do you need to install python2.7 and python2.7-dev on the latest Fedora versions ?

[2017-03-15 13:49] svx opened #804 "Clarification of installation docs"
Currently our docs a bit confusing and mixed, which may a bit confusing, cause we are missing a structure.

What we have:

- https://docs.plone.org/manage/deploying/preparing.html
- https://docs.plone.org/manage/installing/installation.html
- https://docs.plone.org/external/ansible-playbook/

Currently it is hard and extra work to keep 'deploying' 'and installation' up 2 date, also it is not clear

[2017-03-15 14:08] svx opened #805 "Remove "easily" from docs"
The usage of  "easily" in documentation is not cool, what is easy for you may not be easy for others.

In general this wordy and not needed. I check tells me:

![remove_easy](https://cloud.githubusercontent.com/assets/358860/23952188/e18976dc-0990-11e7-90b3-83404970a2f1.png)

Not too bad, but still we can improve that ! Plus if that is done we can add one more test to our QA setup !

And to be fun

[2017-03-15 14:14] svx commented on #805
'in order' would be another good candidate or 'just'

[2017-03-15 16:27] fulv commented on #805
'in order'?

On Wed, Mar 15, 2017 at 7:14 AM sven <notifications@github.com> wrote:

[2017-03-15 17:46] svx commented on #805
@fulv for example:

[code]

[2017-03-15 18:33] fulv commented on #805
"In order to" adds a little bit of redundancy and thus makes the sentence
less likely to be misparsed. "He boarded a flight to Brazil in order to
escape the law"

According to BBC World Service
<http://www.bbc.co.uk/worldservice/learningenglish/grammar/learnit/learnitv146.shtml>
, *in order to* "sounds a bit more formal and explicit" than *to*.

*In order to *is normal before a negative infinitive

[2017-03-15 18:58] svx commented on #805
Yes, but for technical writing and that is what we are doing with docs the usage of 'in order' is not recommend.
There are currently huge discussions over in the whole technical writing community and the general direction is towards removal.

Writing is complex and special for technical writing with different backgrounds, language  and technical skills/knowlege.

BBC is not wrong, but writing arti

[2017-03-15 21:07] fulv commented on #805
@svx so how do you suggest replacing the usage before a negative
infinitive?  e.g.:

./manage/troubleshooting/buildout.rst:   installation in a
:term:`virtualenv`, in order not to break your OS

Also, can you point me to some discussions where the consensus is to remove
"in order to"?  It's just plain English, I don't see what's so bad about it.

On Wed, Mar 15, 2017 at 11:58 AM sven <notification

[2017-03-16 06:17] stevepiercy commented on #757
There's a Sphinx contribution that can do this:
http://sphinxcontrib-spelling.readthedocs.io/en/latest/

There's also an open issue:
https://github.com/plone/plone.recipe.codeanalysis/issues/87

And there's another open issue for an .rst linter:
https://github.com/plone/plone.recipe.codeanalysis/issues/64

[2017-03-16 07:46] svx commented on #757
@stevepiercy we are using  http://sphinxcontrib-spelling.readthedocs.io/en/latest/ already and I want to get rid of it.
For 'blacklisting words' we are using on the 5.1 branch already a new linter.
We are using http://sphinxcontrib-spelling.readthedocs.io/en/latest/ for spell checks, for this it kind of works, but still the dependencies are annoying and I have other issues with it.
Further on I pr

[2017-03-16 08:00] svx commented on #757
@stevepiercy for your other point, the new setup is using a reST linter:

The new setup, which is not published yet because I am still testing and tweaking is running reST syntax checks.
We decided some time ago, not to run them yet on the docs, currently the general shape of reST in our docs is still too bad and we do not want to demotivate people and so on.

I even gave a talk in Boston and a tr

[2017-03-16 08:23] svx commented on #805
OK, maybe I try to explain better.

The idea is of course not to 'just' remove certain words, that goes hand in hand with adjusting and rewriting.

Which is a what we have to do  anyway with lots of the docs since we also mixing 'active' and 'passive' voice all the time.

**Documentation should be written in 'active' voice.**

That goes together with adjusting the voice of our docs better to certa

[2017-03-16 11:31] stevepiercy commented on #805
FTR, I totally agree with avoiding language idioms and needlessly complex phrases and sentence structure. I refereed soccer, governed by the Laws of the Game, and about 20 years ago they were overhauled massively to become more simple to support both translations and better comprehension. As a result, the reading level went from a college degree to elementary school. Some things that appear minor

[2017-03-16 11:44] stevepiercy commented on #757
@svx I'd like to be a guinea pig for the new setup, as I'm considering how we can enforce compliance with our new style guide for Pyramid (and Pylons Project projects). I'm about to give up on perfection and settle for good enough.

We rely on Sphinx to build docs, and I don't see how you can build docs without it, unless you roll your own docs builder.

I always build docs before submitting a PR,

[2017-03-16 12:01] jensens opened #807 "Minimal build section in requirements?"
Why do we have the minimal build section under installation-requirements? To me, this is a bit misplaced.

https://docs.plone.org/manage/installing/requirements.html#minimal-build

[2017-03-16 12:28] svx commented on #807
Yeah I know ... :)

BTW, we have already a [ticket](https://github.com/plone/documentation/issues/758) for that :) and for https://github.com/plone/simple-plone-buildout/issues/1.

Currently we give people two different options/examples which is/could be confusing, the second one is btw mentioned on plone.org.

We should fix that soon to avoid misunderstandings cause docs.plone.org differs current

[2017-03-16 14:17] svx commented on #757
@stevepiercy You can find the training in the repository of
testthedocs -> https://github.com/testthedocs/ttd.training-docs-devs.
Just note that the whole github.com/testthedocs is currently a mess, because of moving, removing, cleaning and so on :)
There will be a 'relaunch bla bla bla soon'

The trainings there are also not up2date anymore, we changed a lot of, like testing and githooks already.

[2017-03-16 15:15] fulv commented on #805
I don't (do not) disagree with anything you guys are saying.  I just find
it odd to focus on "in order to", which really is not college degree level
English.  Sure, let's (let us) make things even better, but you have not
answered my question: how do you suggest replacing the usage before a
negative infinitive?  e.g.:
…

./manage/troubleshooting/buildout.rst:   installation in a
:term:`virtualenv`

[2017-03-19 16:07] svx commented on #758
The docs of https://github.com/plone/simple-plone-buildout got an update.

Short term proposal:

- remove old 'minimal buildout docs' from within requirements [weird location anyway]
- include the improved docs of https://github.com/plone/simple-plone-buildout under installation

[2017-03-19 16:18] tkimnguyen commented on #758
It's on my plate to update https://plone.org/download to steer people to different setup/install methods depending on their needs.

[2017-03-19 16:28] tkimnguyen commented on #758
https://github.com/plone/ploneorg.core/issues/208

[2017-03-19 23:07] tkimnguyen commented on #758
Made some changes to https://plone.org/download and yeah I agree that https://docs.plone.org/manage/installing/requirements.html needs urgent help. FFS it mentions using the Windows installer which we haven't had for years...

[2017-03-19 23:09] tkimnguyen commented on #804
A lot of this information is covered by each installation method anyway. I think we should consider deferring to what each installer includes for its documentation, since (a) it is otherwise duplication of information, and (b) difficult to maintain correctly in two places, since (c) the installers are changing rapidly.

[2017-03-19 23:10] tkimnguyen commented on #807
Yes we need to axe this from https://docs.plone.org/manage/installing/requirements.html

[2017-03-21 21:17] jensens opened #812 "Term "Retina" ok in docs?"
see https://github.com/plone/documentation/pull/781

[2017-03-23 03:46] tkimnguyen opened #813 "contact form customization page is out of date"
https://github.com/plone/documentation/blob/5.1/develop/plone/functionality/contactform.rst is no longer correct. It is not possible to customize the contact form that way because Plone 5 no longer uses PTs and CPTs.

It is also currently not possible to customize the contact form TTW, EXCEPT maybe by

- injection of JavaScript
- CSS trickery
- Diazo theme tomfoolery

[2017-03-23 04:16] tkimnguyen commented on #813
Oh it's as easy with Diazo tomfoolery as I'd hoped!

[code]
Changing the instructions at the top of the form:

![contact-form-tweaking-1](https://cloud.githubusercontent.com/assets/815418/24231937/5a4bcb8c-0f55-11e7-83b4-6a6a5115f449.jpg)

Changing the status message and the thank you message:

![contact-form-tweaking-2](https://cloud.githubusercontent.com/assets/815418/24231939/5e1de4fc-0f55-11e7

[2017-03-23 09:45] svx commented on #726
done !

[2017-03-23 09:45] #726 closed, assigned to nobody

[2017-03-25 14:40] tkimnguyen opened #814 "coredev docs need updating"
Just glancing through the coredev docs quickly I see a need to fix a few items:

- [ ] deemphasize answering questions on Stack Overflow since very few people are posting and answering Plone questions there

- [ ] replace references to IRC with chat and link to plone.org/support/chat (on https://docs.plone.org/develop/coredev/docs/index.html)

- [ ] update references and links and process around c

[2017-03-25 16:07] loechel opened #815 "PLIP Documentation needs update as issuetemplate.com has gone."
https://docs.plone.org/develop/coredev/docs/plips.html#how-to-submit-a-plip stated to use http://issuetemplate.com/#/plone/Products.CMFPlone/PLIP to produce a new PLIP. This service has gone and it seems there is a new way, to just create an issue in Products.CMFPlone and you get a prefilled issue for bug or PLIP.

[2017-03-25 16:15] loechel commented on #815
This specific part of documentation is pulled from buildout.coredev, I have updated the documentation there on the 5.1 branch.

Please close this issue when the next docs export has fixed it.

[2017-03-28 08:39] svx commented on #815
Sorry for the delay, busy times and finally better weather :)

In:

I would remove the link to the mailing list and replace it with a link to the right topic on community.plone.org

And here:

I would remove 'just' and set 'GitHub issue' as link to the issue tracker and 'Products.CMFPlone' as link to the repository on GitHub.

[2017-03-28 19:31] gforcada commented on #803
According to [Fedora 23 release notes](https://docs.fedoraproject.org/en-US/Fedora/23/html/Release_Notes/sect-Release_Notes-Changes_for_Developers.html) it switched to python3 by default, and thus, you *do* need to install python2.7 manually

[2017-03-30 04:42] loechel commented on #815
Tried to apply your requested changes on https://github.com/plone/buildout.coredev/commit/918a6b2201c80f66dc4feecbbe6bdcce03015455 but did not changed link to mailinglist. This maybe should the Framework team consider.

[2017-03-30 19:33] tkimnguyen opened #816 "add new user docs for configuration registry"
...as per https://github.com/plone/Products.CMFPlone/issues/1484#issuecomment-289010803 and https://github.com/plone/plone.app.registry/pull/15/commits/cdf8c8279e20a60250557c0f47db6bfd9e243f39

[2017-04-18 08:35] svx opened #818 "Inline code formatting"
At the moment we have a interesting mix of various ways how we show inline code like how to run a certain command.

Currently we use techniques like:

"run command"

'run command'

``run command``

**run command**

*run $command*

This is somehow confusing for user. I propose that we settle on one and use that one through the whole documentation.

I would be in favor of using ``run command`` consi

[2017-04-18 08:54] svx opened #819 "Not everything is as obvious as you might think it is."
Remove offending words,  [after reading this](https://css-tricks.com/words-avoid-educational-writing/), we should re-write certain parts:

![bad_bad_words_plone-docs](https://cloud.githubusercontent.com/assets/358860/25122403/0d3efc8a-2425-11e7-948e-291be09a52c6.png)

Using here: "Obviously", "very quickly" and "simple" in one sentence is not **that** good ! :)

[2017-04-18 09:05] gforcada commented on #818
Yes please!

[2017-04-18 09:12] svx opened #820 "Plone 3 docs in Plone 5 documentation"
We still have a lot of places where we talk about Plone 3 [in the 5.1] branch:

[code]

We need to check this, I guess we can remove already a bigger part of this and if not this needs to be updated to match 5.1.

Having this still in the docs at the time we release 5.1 if not so cool.

Who is volunteering ?

The person with the most "fixes" will get a gift at PloneConf and a special mention note

[2017-04-18 10:22] svx commented on #818
Okay, I checked again and before we start with this we need something for 'highlithing' stuff, for example we use now in some places this:

[code]
looks like: This ability is used by ``zc.buildout``

If we want to use back ticks for inlne code commands we need something else, should we make highlights bold ?

Meaning

[code]
looks like: This ability is used by **zc.buildout**

Summary
------------

[2017-04-18 10:29] svx commented on #818
@polyester @fredvd any suggestions ?

[2017-04-18 10:58] polyester commented on #818
I'd say stay as close to the norm as we can. We use Restructured text, so:
- double backticks means "inline literal". Normally rendered using monospace font, and it would be good for code commands.
- single backticks are "interpreted text". They are domain- or application- specific, so we can define we want this to mean "Highlight" and/or "particular names".

So I would re-phrase the example as:
[

[2017-04-18 11:13] stevepiercy commented on #818
I think it's more important to use semantic markup first, and appearance second.

This in reST:

[code]

Becomes this in HTML:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

For names of packages or files, you could create a special role, akin to what we do in Pyramid:

[code]

And Sphinx has a bunch of other [inline semantic markup](http://www.sphinx-doc.org/en/latest/markup/inline.html

[2017-04-18 11:23] svx commented on #818
@polyester OK if I render your proposal in reST I would get:

 After you updated *buildout.cfg* with your changes, you have to re-run buildout again: ``/bin/buildout -v``

I am fine with that, if we do that through the whole docs it would be a great improvement.

@stevepiercy I know, we already use inline markup for files and so on :), this here, is for me more a question about what would make sen

[2017-04-18 11:26] stevepiercy commented on #818
@svx none of my examples are `.. code-block::`. All are inline markup. I used markdown in code blocks to show the reST and rendered HTML sources.

[2017-04-18 11:53] svx commented on #818
Since we are on this topic, the next in line would be documentation about UI.

Currently, we mix here, too.

Examples:
[code]

What would make sense here ?
Bold but then in a different color ? I would like to keep bold as 'normal bold' :)

[2017-04-18 12:19] stevepiercy commented on #818
Sphinx has `:guilabel:` and `:menuselection:` markup roles. See http://www.sphinx-doc.org/en/latest/markup/inline.html#other-semantic-markup

[2017-04-18 12:32] svx commented on #818
I know, but I need a color :) I am bad with colors :)

Can someone point me to a nice and accessible friendly color which fits with our new 5.1 theme ?

Ping at @polyester @loechel :)

[2017-04-18 12:44] svx commented on #818
In case if you wounder how the new theme will look like:

https://github.com/plone/sphinx.themes.plone/pull/49 has a screen-shot

[2017-04-18 12:55] svx commented on #818
done ! Color and font-weight are adjusted !

[2017-04-18 14:40] loechel commented on #818
@svx @polyester and @stevepiercy with the work on RestrictedPython I get conviced that code block examples should use:

    .. testcode::

instead of

    .. code-block:: Python

as then you could also check if this code is actually correct --> doctest in new.

for all other I would be for ``code`` as inline.

@svx sorry I am good at implementing designs, but not at creating them or selecting good

[2017-04-18 20:25] stevepiercy commented on #818
Out of curiosity, is there a style guide that has both sample source code of reST and rendered HTML so that I can view samples of how things will look? I created [one for Pyramid](http://pyramid-stevepiercy.readthedocs.io/en/style-guide/) so that I could do that and share with designers.

I see the chosen color for the `:guilabel:` was a shade of blue. The navigation has a blue background. Links a

[2017-04-20 07:33] svx opened #822 "Improve docs about 'First Time Contributions'"
Improve docs to make clear that people who contribute for the first time(s):

- pick a ticket which is labeled

- if want to write docs about something else, first open a ticket on GitHub, labeled as question and explain what and why.

If you are 'newish' it is not always clear where, why and how we do certain things in a certain way.
To avoid that people invest time and motivation in 'wrong' work

[2017-04-20 07:40] svx opened #823 "Create a setup for 'terminals'"
Create a setup, with vagrant, docker or something else, which we use for "screen-shots of terminals"

The goals is that all terminal pictures use the same configuration and with that looking the same, this would be a great improvement for how the docs visual looks like.

[2017-04-20 07:59] stevepiercy commented on #822
I think this is already well covered in the repo's [README.rst](https://github.com/plone/documentation/) and [Contributing to the documentation](https://docs.plone.org/about/contributing.html).

Additionally in this case, a discussion originated in the [Plone Community forum](https://community.plone.org/t/documenting-plone-installation-for-digital-ocean-etc/4009). The author was informed of the pr

[2017-04-20 10:05] stevepiercy commented on #822
3. Document how to build docs in just the `documentation` repository, instead of via the `papyrus` repository.

[2017-04-20 10:33] svx commented on #822
papyrus is not meant for 'normal' people, we have already: https://docs.plone.org/about/helper_tools.html, which will updated soon with more/other solutions

[2017-04-20 10:38] stevepiercy commented on #822
For 3:

1. Follow the Papyrus installation instructions, making sure that you can build docs there and the virtual environment is activated.
2. Clone the `documentation` repo.
3. Copy both `Makefile` and `conf.py` from `papyrus` to `documentation`.
4. Edit `Makefile`: `ALLSPHINXOPTS   = -d build/doctrees $(PAPEROPT_$(PAPER)) $(SPHINXOPTS) .`
5. Create a new directory `log`.
6. `make html SPHINXBUI

[2017-04-20 10:38] svx commented on #822
'Just' the documentation will not work, since we pull in different docs from various places, this is why we add docs on how you can see your docs in the 'look like of docs.plone.org'

If you do not need the look like, why should you anyway, but for testing if you reST is valid use tools like mr.docs.

As you already can see in the 5.1 branch we are also updating CI to do that for you.

[2017-04-20 10:40] svx commented on #822
Again papyrus is **only** for prod builds and we are moving **away** from papyrus ! Sorry I do not see the point of adding this to the docs. :)

Again, **no one** needs/should use papyrus locally.

[2017-04-20 10:54] stevepiercy commented on #822
My intent here is to build the html docs of the documentation repo locally, ensuring that it "looks right". In other words, navigation does not get messed up, headings are at the correct level, inline markup renders as intended, and other things that pass as valid reST but do not pass human inspection. Seeing the reST rendered as HTML and viewing it in a browser is tremendously helpful.

Further,

[2017-04-20 11:00] svx commented on #822
https://mrdocs.readthedocs.io/en/latest/

[2017-04-20 11:36] stevepiercy commented on #822
I tried mr.docs, but its documentation is incomplete, which is why I used the method I know.

I have Docker already installed, then pulled the image with `docker pull quay.io/tiramisu/mr.docs`, but then what? The docs don't say how to run the image. This is on macOS Sierra.

[2017-04-20 13:19] svx commented on #822
https://mrdocs.readthedocs.io/en/latest/usage.html

works for me on Linux and macOS

[2017-04-20 13:40] stevepiercy commented on #822
Looks like I need to get some missing images from somewhere.

1. Clone `documentation` into a directory named `docs`.
2. `cd <parent_directory_of_docs>`
3. `docker run --rm -v "${PWD}/docs":/build/docs:rw -u "$(id -u)":"$(id -g)" quay.io/tiramisu/mr.docs testhtml`

[code]

If I comment out that line, then Sphinx bails on the next missing image, and so on. Is there some place where the images exist

[2017-04-20 17:21] svx commented on #723
Fixed with https://github.com/plone/documentation/commit/c204ca8ee85f438d1486af14ced1b3efc74083d6

[2017-04-20 17:21] #723 closed, assigned to stevepiercy

[2017-04-20 17:23] svx commented on #822
Fixed with https://github.com/plone/documentation/commit/c204ca8ee85f438d1486af14ced1b3efc74083d6

If you have issue with papyrus or mr.docs. Please open issues in their repositories - Thanks !

[2017-04-20 17:30] svx commented on #815
Hello @plone/framework-team can you please give your 2c about mailing list, community.plone.org or both ?

[2017-04-20 17:34] svx commented on #612
@tkimnguyen Perfect thing to do next to the Pool !

[2017-04-20 17:35] svx commented on #640
@jensens @gforcada ping ! Where would be a good place to include it ?

[2017-04-20 17:36] svx commented on #606
Done in https://github.com/plone/sphinx.themes.plone/issues/36, closing this :)

[2017-04-20 17:36] #606 closed, assigned to nobody

[2017-04-20 17:38] #382 closed, assigned to nobody

[2017-04-20 17:40] svx commented on #21
@polyester @tisto ping !

You can also do that next to the pool ! :)

[2017-04-20 17:41] tisto commented on #21
@svx pong. What can I do to help?

[2017-04-20 17:48] svx commented on #21
@tisto talk with @polyester about this open ticket here :)

- is that ticket valid for Plone 5 ?
- if yes what needs to be done to get it solved and the docs of plone.app.discussion into docs.plone.org ?

Last thing what @polyester said, 3 years ago:

:)

[2017-04-20 17:55] tisto commented on #21
Yeah. It is true that we use "inline" docs in plone.app.discussion. I kind of like the idea that the docs are next to the python file and sphinx allows you to do that. We have to decide if we either fetch the src directory or refactor the docs and move stuff into docs.

[2017-04-20 20:50] gforcada opened #826 "Duplicated best practices?"
I stumbled upon this docs https://github.com/plone/buildout.coredev/blob/5.1/docs/documentation.rst that are pulled in on https://docs.plone.org/develop/coredev/docs/documentation.html

I think @svx did wrote some guidelines on README.rst and CHANGES.rst somewhere else, so should we rather have that file just point there or is this one in buildout.coredev still relevant?

[2017-04-20 22:25] stevepiercy commented on #822
I though this issue was about making it easier to contribute? There are missing images in this repo, so builds with any tool, whether that's papyrus, mr.docs, or Sphinx, will either have warnings or warnings that become errors. Everything else has been very well addressed and clarified with the commit, but this one detail got lost in the noise.

How can a first time contributor get the images so t

[2017-04-21 04:57] stevepiercy commented on #822
Below is the `sphinx-build.log` for the remaining warnings, with the path to the repo trimmed from the start of each line to reduce noise. There are 5 types of warnings:

1. `conf.py` config value type
2. image file not readable
3. missing attribute
4. toctree contains reference to nonexisting document
5. unknown document

They prevent a new contributor from successfully building the docs unless o

[2017-04-21 05:11] svx commented on #822
I am really sorry that certain software is not working for you and that you are not happy.

Maybe it is time that you step back for a short moment a take a breath ?

For the beginning: All the stuff that you are reporting about sphinx build errors is already in the tracker of the docs or Papyrus, since a long time.

**Papyrus:**

As you may noted, my commit was for the 5.1 branch, we currently do

[2017-04-21 06:09] svx commented on #826
I am for pointing to our writing guideline, the one in buildout.coredev is old and telling things we are not doing anymore, like singe docs in README.

[2017-04-21 07:27] gforcada commented on #826
@svx where are the guidelines then? I can create the pull request if you don't have the time to.

[2017-04-21 08:21] stevepiercy commented on #822
I want to build a complete set of warning- and error-free Plone docs on my local machine. I assumed the Plone docs team shares that goal. Is that not correct? I'm fine either way, I just want to know for sure.

If it is a goal, then I would like to help the Plone docs team create and document a set of tools that accomplishes that end, such that any ~~idiot like me~~ end user can follow along. I wo

[2017-04-21 10:42] svx commented on #822
Aha ....

Did you ever thought about, that maybe telling that in the beginning and then ask how you can help and maybe how and why the docs are setup, structured and so on would be a way nicer way ?

Complaining about setups which you do not know and they reasons behind it is not really a good way to start.

There are reasons why we do stuff how we do and yes not everything is perfect and lots of

[2017-04-21 10:52] gforcada commented on #640
What about https://docs.plone.org/develop/plone/functionality/index.html ?

[2017-04-21 10:58] gforcada commented on #815
IMHO (although I'm part of the framework team) pointing to community.plone.org should be the right thing to do. We are trying to move everything there.

As for the issue template, @jensens made an issue template for CMFPlone, so the link to that should point to the CMFPlone github issue tracker.

[2017-04-21 11:34] svx commented on #815
Done, with https://github.com/plone/buildout.coredev/commit/d5cc69ec51e156ff58248db09b80e73afa70001c

[2017-04-21 16:13] tobiasherp opened #829 "Broken link to Archetypes Developer Manual"
On https://docs.plone.org/4/en/develop/plone/searching_and_indexing/indexing.html#creating-a-metadata-column, there is a link to https://plone.org/documentation/manual/developer-manual/archetypes which doesn't work. Please update the link or migrate the contents. Thank you!

[2017-04-21 18:05] stevepiercy commented on #822
I assumed the role of "first timer" and ran through the existing state of published procedures for contributing to documentation on the 5.0 branch (which was current at the time), then shared that experience. This was not intended to be an attack. Please don't read anything more into it.

[2017-04-21 21:17] gforcada commented on #815
Closing this then? or there is more to add/fix?

[2017-04-21 21:26] gforcada commented on #823
Is there any tooling for doing that?

[2017-04-22 11:57] loechel commented on #815
The initial issue is fixed and this ticket should be closed,

@svx issue that there is still a link to the @plone/framework-team mailing list in this documentation and that it should point instead to community.plone.org might need a new ticket.

So closed for now.

[2017-04-22 11:57] #815 closed, assigned to svx, polyester, loechel

[2017-04-25 07:45] ghost opened #834 "Misleading information about navigation menu"
https://docs.plone.org/working-with-content/introduction/visual-design-of-plone.html mentions:

In the default design, the navigation menu is in the left area, and usually appears as an indented list of folders in the site.

The default Plone5 design, does not have the navigation menu on the left area.

Maybe better to write: In this example, the navigation menu.... ?

[2017-04-25 07:50] ghost commented on #834
Further down we also mention:

We'll use the default Plone layout design as an example of typical divisions of the screen:

Maybe remove sentence completely?

[2017-04-25 07:54] ghost commented on #834
Sorry for the multiple edits here:
This is also not correct, since left and right columns do not appear in the new standard.

So, what does a Plone web site look like? Traditionally, the out-of-the-box look is like that shown at the top of this page, with header, menu, columns, and a footer.

[2017-04-25 08:40] ghost opened #835 "Adding Images"
https://docs.plone.org/working-with-content/adding-content/adding-images.html does not contain a correct, current image. Find attached a up to date screenshot.
![selection_002](https://cloud.githubusercontent.com/assets/1036076/25376178/9839cec2-29a3-11e7-9288-d1e0437d9478.png)

[2017-04-25 08:49] ghost opened #836 "Adding Files"
https://docs.plone.org/working-with-content/adding-content/adding-files.html contains a older image.
Here is a current screenshot.

![selection_003](https://cloud.githubusercontent.com/assets/1036076/25376549/e86a2850-29a4-11e7-9bb3-b66644987168.png)

[2017-04-25 08:54] svx commented on #835
We do [most of] our screen-shots with robot-framework.

This certain image is done with it, meaning, next time we build the 5.1 branch of the docs we do have a up to date screen-shot.

:)

[2017-04-25 08:55] svx commented on #836
Same here, next time we build and publish the docs we have a up to date picture.

[2017-04-25 09:04] ghost commented on #835
Ok, thanks for the information. Didn't know about that.

[2017-04-25 09:08] svx opened #837 "Update contributing with more info about images"
Explain that we do certain images with robot-framework and such stuff.

[2017-04-26 17:18] ghost opened #854 "LearnPlone.Org"
On some pages there is a reference to LearnPlone.org which now is training.plone.org, if I am correct.

e.g. https://docs.plone.org/working-with-content/using-collections/oldstyle/using-and-understanding-dates.html

Some examples mentioned - What's New listing - are not valid anymore.Since it's part of oldstyle
I don't know if it is worth updating them.

[2017-04-27 13:56] svx commented on #854
Hi,

No, they have nothing to do which each other :)

If there are still LearnPlone resources in the docs, we need to remove/update these.

I did not checked, yet but indeed I guess some resources from LearnPlone are not valid anymore, there were for Plone2/3.

[2017-04-27 14:03] svx commented on #854
@polyester @plone/framework-team Do we still have collections 'old style'  in Plone 5.1 ?

If not I'll remove that.

[2017-04-27 14:09] #836 closed, assigned to nobody

[2017-04-27 14:10] #835 closed, assigned to nobody

[2017-04-27 14:42] svx opened #858 "Update: troubleshooting/buildout.rst"
Currently this files mentions:

- Plone 3
- Plone 4
- python2.6
- easy-install

Having this in the docs for Plone 3 and 4 is of course fine, but we should update this file for Plone 5.x

[2017-04-27 17:18] svx commented on #829
Fixed with https://github.com/plone/documentation/commit/d023b0e077226534bce7559abfb1a3a904ec6703

Please note, it will take some time, till we build and push the docs again.

[2017-04-28 16:49] jensens commented on #854
@svx IIRC when enabling ATContentTypes they are there for BBB reasons. But not by default. I would not document them or recommend to use them.

[2017-04-28 19:42] pe82 commented on #650
I am getting the same error

[2017-04-28 21:53] gforcada commented on #650
@pe82 does the proposed solution from @l34marr works for you?

[2017-04-28 22:24] gforcada commented on #829
@svx what's the @plone/documentation-team policy on these reports? Close them as soon as it is merged or someone reviews all open tickets when docs are pushed and thus the end user can see that bug that has been fixed already on docs.plone.org?

[2017-05-02 10:35] svx commented on #812
Hm, good one, according to https://en.wikipedia.org/wiki/Retina_Display this is really a Apple thing, they even have the copyright for the name "Retina display".

Could/should we add "High Resolution Displays" ?

[2017-05-02 10:40] polyester commented on #812
the most used term (that I've seen used in computer magazines, websites, etc and increasingly also in Linux and Windows manuals) is HiDPI. Yes, that would deserve an entry in the glossary...

[2017-05-02 10:47] svx commented on #819
Done !
Also, "Obviously" got added to CI checks, meaning if CI detect it, the build will fail :)

[2017-05-02 10:47] #819 closed, assigned to nobody

[2017-05-02 10:52] fgrcon commented on #812
should also be changed in  imaging control panel ...

[2017-05-02 10:59] svx commented on #814
A lot of stuff already got changed with: https://github.com/plone/buildout.coredev/commit/876ac2c196956703f427653a22dadfbe13cc81b5 maybe it is  worth to checkout what still needs to get changed ?

[2017-05-02 11:04] svx commented on #711
Closing this for now, as c.e is still alpha and not the default replacement for PFG, yet

[2017-05-02 11:12] svx commented on #618
done !

[2017-05-02 11:12] #618 closed, assigned to nobody

[2017-05-02 11:20] svx opened #861 "Update: Docs about content management"
URL: https://docs.plone.org/develop/plone/content/index.html

Issue:

- Currently this document tells about Plone 3 and 4, Plone 5.x is completely missing.
- It still tells about AT as a way to do stuff, which is logical cause this are still the old unchanged docs from Plone 3 and 4 :)

Solution:

- Add Plone 5.x
- Remove/Rewrite AT and tell this is not the way preferred way in Plone 5.x

[2017-05-03 20:54] pe82 commented on #650
I actually went through the shell...

[code]

That gave me the right catalog instead of throwing a LazyMap error.

[2017-05-06 08:25] stevepiercy opened #865 "404 in manage/deploying/wsgi.rst"
In https://github.com/plone/documentation/blame/5.1/manage/deploying/wsgi.rst#L22 the URL returns a 404 error.

[code]

I don't know of a valid replacement, else I'd submit a PR.

[2017-05-09 13:32] jensens opened #871 "Document Events for Login/Logout"
they are missing in https://5.docs.plone.org/develop/addons/components/events.html#event-types
see also https://stackoverflow.com/questions/43852342/is-there-some-logout-hook-in-plone-4/43853802#43853802

[2017-05-10 08:54] tobiasherp commented on #871
There should be a sentence about handling event interfaces vs. event classes as well.

[2017-05-10 09:46] tobiasherp commented on #829
@gforcada I'd prefer the latter.

[2017-05-10 09:54] tobiasherp commented on #829
Btw, there are _lots_ of broken links in the docs (I just found two more in https://docs.plone.org/4/en/develop/addons/components/events.html#creation-events), and this makes it somewhat difficult to find relevant information. Wouldn't it be possible to have HTTP redirections additionally (as generic as possible; 301 status), e.g. to have https://plone.org/documentation/manual/developer-manual/arc

[2017-05-11 09:19] jensens commented on #871
Indeed, the example here https://5.docs.plone.org/develop/addons/components/events.html#subscribing-using-zcml uses the event class. This works, but best practice is to use the event interface.

[2017-05-16 12:37] 2silver commented on #618
Sorry, but I think this needs some love...
Most of the links to old.plone.org are "private" (or so).

A quick-check, with github search for ["documentation/kb"](https://github.com/plone/documentation/search?utf8=%E2%9C%93&q=documentation%2Fkb&type=) gives an "Insufficient Privileges" error

For example:
- [Reseting user password without emailing them](https://docs.plone.org/develop/plone/members/m

[2017-05-16 13:31] tkimnguyen commented on #618
@2silver that's because those items are outdated/obsolete. The /documentation folder has been completely superseded by docs.plone.org

[2017-05-16 13:32] tkimnguyen commented on #618
Wildcard Corp. has kindly added plone.org to its SiteImprove.com analysis subscription. I will post a list of plone.org broken links and we can start fixing or removing them.

[2017-05-16 13:33] tkimnguyen commented on #618
@2silver but yeah those links to the old plone.org/documentation folder should be removed

[2017-05-17 13:45] tkimnguyen commented on #618
@2silver would you mind making a pull request with your suggested changes to those pages and reopening this issue?

[2017-05-18 08:20] stevepiercy commented on #448
The section "By using cookies" under "Session affinity" is very old, and links to a no longer maintained repository for [nginx sticky session module](http://nginx-sticky-module.googlecode.com/files/nginx-sticky-module-1.0-rc2.tar.gz). The correct link is https://bitbucket.org/nginx-goodies/nginx-sticky-module-ng/overview, but since I'm not familiar with the process that is documented, I left it al

[2017-05-18 09:29] svx commented on #812
OK steps to do:

- create pr to fix that in  imaging control panel
- update docs

Should I forgot something ?

[2017-05-18 09:31] svx commented on #865
@tomgross Could it be that your blog is offline ?

We should remove th e Plone 4 link from this site

[2017-05-18 09:40] svx commented on #823
Not that I am aware off, but I had also no time looking for it or writing something, yet

[2017-05-18 11:21] svx opened #879 "Meta: Improve writing/docs styleguide"
# Abstract
Currently our style-guide is kind of a mess :)

- bad structured
- hard to read
- confusing
- missing important things

# Solution

Rewrite and split into sections with better structure, make a better split between docs on docs.plone.org and documentation for add-ons.

- general/overview
- writing/tone
- add missing info from:
  - [ ] https://github.com/plone/documentation/issues/747

[2017-05-18 11:36] svx commented on #854
OK, so what is the preference here ?

IMHO this is tricky, because we have to make sure it works for all scenarios.

For 'new sites' it is 'easy', do not use them, period.

But if you upgraded your site from an older version and you need ATContentTypes it would be nice to find that in the docs, right ?

So should we add a big huge, warning/note bla bla, telling it like this ?

[2017-05-18 11:43] svx opened #880 "Update develop add-ons to 5.1"
This still says 5.0

https://docs.plone.org/develop/addons/index.html

[2017-05-18 11:46] svx opened #881 "Add 5.1 to upgrade guide"
We do not have docs about upgrading to 5.1 in - > https://docs.plone.org/manage/upgrading/

This is IMHO a **blocker** for 5.1, we **have to make sure to have this at the time we release 5.1**

[2017-05-18 11:49] svx commented on #881
Further:

- change 'minor' release to be about Plone 5
- remove Plone 4 minor release
- add link/docs about upgrading from 4.x to 5.x

[2017-05-24 18:51] tkimnguyen commented on #814
@svx I started looking at that commit. Yes, a lot of the things I mentioned above are still relevant to that commit.

[2017-05-24 18:55] tkimnguyen commented on #711
@svx I don't think it being alpha is a strong enough reason to close this and not to start mentioning easyform instead of PFG. PFG uses Archetypes, which we are going to officially drop support for in Plone 6, which is in the (yes, yes) yet to be published new roadmap. Easyform is still marked as alpha only because no one really has ownership and is willing to pull the trigger. I think it's ready

[2017-05-24 18:56] tkimnguyen commented on #448
@stevepiercy I added that to the checklist - thx

[2017-05-24 23:24] stevepiercy opened #886 "Ansible Playbook "external" docs not current"
A [user noted that the Ansible Playbook docs is out of date](https://github.com/plone/ansible-playbook/issues/78#issuecomment-303875808). That repo is [external](https://github.com/plone/documentation/blob/5.1/manage/index.rst) to this repo.

Is there anything that I can do to help get these docs published in their current state?

[2017-05-25 06:33] svx commented on #711
@tkimnguyen Please read the whole thread :)

It is not "only" about being "alpha".
There are currently other various reasons, changing from "alpha" to stable will not cut it.

I will try my best to explain that in a moment:

# Documentation

- There is currently *no* up to date documentation, with up to date screen shots in the repo, what is there is old docs with images for Plone 4.

- The docs w

[2017-06-09 06:15] svx opened #889 "Changing the label of the home page"
Add this to the docs:

https://community.plone.org/t/changing-the-label-of-the-home-page/4348

[2017-06-10 13:49] #889 closed, assigned to nobody

[2017-06-14 10:32] #807 closed, assigned to nobody

[2017-06-14 10:32] #879 closed, assigned to svx

[2017-06-14 10:41] #812 closed, assigned to nobody

[2017-06-23 10:35] keul opened #893 "z3c.form widgetTemplate manual override example make no sense"
If you look at https://github.com/plone/documentation/blob/cf62b0a919c639592e7b59c781148e8ac2d0ca0f/develop/plone/forms/z3c.form.rst there's a manual override example for not using `z3c:widgetTemplate`.

This the code:

[code]

The example is not working as `template` is a local var not assigned to anything. Maybe it's `self.template`?

Also (minor) some import at the top are deprecated/not workin

[2017-06-27 19:59] gforcada commented on #893
@keul thanks for noticing and taking the time to report it!

Do you have the extra time to prepare a pull request with the changes that you outlined above?

[2017-07-03 11:36] svx commented on #648
@ebrehault ping ! :)

[2017-07-03 12:16] #648 closed, assigned to nobody

[2017-07-06 09:12] svx opened #898 "Improve /about - user feedback from the sprint"
List of suggestions after some user testing

- [ ] better and more friendly intro with focus on different audiences like 'first timer' and 'more experienced' ppl
- [x] mention in the beginning that you do not have to be a developer
- [x] make it less intimidating
- [ ] add screen-shots
- [ ] explain better git fork and git branch
- [x] rewrite part about using GitHub online, it is a bit confusing

[2017-07-06 09:12] svx commented on #898
@rioksane was that all or did I forgot something ?

[2017-07-13 12:29] thet opened #903 "JavaScript / Mockup documentation best practice"
I added these docs to the mockup repository:

https://github.com/plone/mockup/blob/master/mockup/patterns/structure/README.rst
https://github.com/plone/mockup/pull/785

It's about how to customize the structure updater pattern.

I think, having docs besides each pattern is good practice (Patterns also do so. See: https://github.com/Patternslib/Patterns/blob/master/src/pat/gallery/documentation.md

[2017-07-18 08:29] svx opened #907 "Change travis config"
Since we are moving robot-test to CMFPlone IMHO we can now adjust travis so that we can stop using circleci.

Currently we use circeci for qa tests of the docs, this was setup because we use a somehow old travis setup for the docs.

I would like to cleanup the repo and also having less moving parts is always nice.

@polyester what is the status of the move ? Should I wait with adjusting travis ?

[2017-07-19 07:14] svx opened #908 "Investigate usage of sphinx-prompt"
Currently we use

[code]
 for bash commands with an unselectable prompt.

This works fine for one-liner but not for multiple line with commands like

[code]
The result here will be that we *only* have the prompt shown on the first line ``cd foo``.

We should look at https://pypi.python.org/pypi/sphinx-prompt maybe this add-on fixes  this issue.

[2017-07-19 09:53] loechel commented on #908
@svx sorry I don't understand what you try to solve.

    .. code-block:: <lang>

        code
        multiple lines

just defines which syntax highlighting should be used, it should never inject any additional symbols like ``$``

also you always should have an empty row between ``.. code-block:: <lang>`` and the first code line as Sphinx interprets directly connected lines as params for the macr

[2017-07-19 10:02] svx commented on #908
Ahem ...

I really do not understand what you mean ...

Check our CSS we have a special setting for

.. code-block:: shell

This only works on the first line not on the second or third, etc, with the result that a script just looks weird.

BTW, I know how to write reST, there is no need to explain that to me...

[2017-07-19 10:10] svx commented on #908
And @loechel  btw, please rad the title again, I wrote **investigate** as in try it out, and see.

I really do not get the point of your reaction, I try to improve something with looking at possibilities, there is IMHO no reason for such a unfriendly reaction ....

[2017-07-19 10:56] loechel commented on #908
@svx I am sorry if that has sounded unfriendly, that was not intended. And I know that you know how to write reST, but if someone look at this ticket, they might get confused.

And investigate something sounds like trying to understand how something works and if that is useful for a project. As this is a issue ticket on the documentation I thaught you also are open for any feedback or input from s

[2017-07-19 11:06] loechel commented on #908
@svx sorry again, I think I get it.

you try to investigate a way to bypass an actual error on sphinxtheme.plone (https://github.com/plone/sphinxtheme.plone/blob/master/src/sphinxtheme/plone/plone_basic/static/css/plone_basic.css#L407-L414)

plone_basic.css seams to do things that it should not. We should clean that up. could you please open a ticket on sphinxtheme.plone if you would like to get t

[2017-07-19 11:50] svx commented on #908
@loechel adding the ``$`` to CSS is done on purpose.

The intention is that people should use ``.. code-block:: shell`` for code examples [cli/bash] like shell commands or short scripts.

This is also mentioned in our style-guide.

By doing so, the ``$`` will be added automatically on default.
We especially decided on that, cause we had a huge mix of shell/cli examples lots with ``$`` and lots wit

[2017-07-19 13:51] loechel commented on #908
ok I do understand why you / the group did it like that.

Now by reading I also see and understand the **unselectable** Prompt.
If you think sphinx-prompt would help, go ahead.

From my point of view, I would consider that more harmful than useful.
Showing and reading (https://tink.uk/accessibility-support-for-css-generated-content/) content that would not be copyable could and will confuse enough

[2017-07-19 14:04] loechel commented on #908
@svx another way that could be actual useful would be to look more closely into https://github.com/sphinx-doc/sphinx/blob/master/sphinx/directives/code.py#L97-L168 and see if it either mak sense to wrap each line with a span and introduce a ``:prompt: $`` option.

[2017-07-19 14:23] loechel commented on #908
@svx sorry there is actually also an misunderstanding of the languages used: shell, bash, ... is intended for shell files if you would like to have a shell-prompt it would be console --> http://pygments.org/docs/lexers/#pygments.lexers.shell.BashSessionLexer

[2017-07-19 16:55] svx commented on #908
@loechel thank you for your approval, I am so glad that you are OK with Me trying something out !

Quick question, next time I would like to fix a reST syntax error, should I ask you for permission first ?

So yeah, thanks a lot for all this stop energy, we are still talking different stuff, but yeah, thanks !
Congratulations I do not care anymore!

I now will happily spent my free time on other p

[2017-07-19 16:55] #908 closed, assigned to nobody

[2017-07-19 17:40] loechel commented on #908
I sincerely apologize if my comments have hurt you @svx. This was not intended. Of course you do not need anyones permission to try something. But if you ask explicitly by opening a ticket:

Then you must also assume that someone asks why and that those possible have a different opinion and think this approach is not good.

It is about creating something better for the whole community. I see that

[2017-07-19 18:50] stevepiercy commented on #908
I don't know whether Plone authors have this use case in the docs anywhere, but we often do this in Pyramid docs:

[code]

In which case using CSS or a Sphinx plugin to insert a prompt would complicate the author's intent to insert comments above commands. Yes, we could alternate with narrative, command/code-block, narrative, command/code-block, and so on, but sometimes that becomes noisy, disrupt

[2017-07-24 08:51] polyester commented on #907
@svx I've completed the move, in so far as that

- it works, save for some issues with making screenshots of popups, phantomjs has problems with that, and Firefox is in flux with their webdriver so on Linux is not a good alternative until the next version of Firefox comes out. They are small issues, however, when needed for production I could create those 2 screenshots by hand.
- Pull request is r

[2017-07-25 00:18] tkimnguyen opened #909 "broken links to svn.zope.org"
as per thread in https://community.plone.org/t/change-template-to-require-auth/4453/7 the page at https://docs.plone.org/develop/plone/security/permission_lists.html#id3 has broken links to svn.zope.org

[2017-08-12 16:20] cleberjsantos opened #910 "Inconsistencies on VCL subroutine vcl_backend_response"
- Based in _Varnish_ documentation, we're using a variable in the wrong way. The **req** variable cannot be used in VCL subroutine **_vcl_backend_response_**.
See. [Variable Availability in VCL subroutines](http://book.varnish-software.com/4.0/chapters/VCL_Basics.html#variables-in-vcl-subroutines)

- Does not necessary set headers for make sure that _Varnish_ does not accidentally caching error pa

[2017-08-12 16:28] svx commented on #910
Fixed with https://github.com/cleberjsantos/documentation/commit/e94fe8c990728bc3db7f501d4ae61d3fa3ead5f4

[2017-08-12 16:28] #910 closed, assigned to nobody

[2017-08-13 04:03] stevepiercy opened #912 "Search function improvements"
The search function for the documentation frustrates me for the following reasons. Refer to the screenshot.

![plone-search](https://user-images.githubusercontent.com/102112/29246040-5a21d158-7fa1-11e7-9a2f-5f7d1d1d3938.png)
* Results are inaccurate
* Results appear in a drop-down menu which disappears when clicked, taking the user to that document, forcing the user to re-enter their search term w

[2017-08-17 07:51] svx commented on #823
@gforcada I use now a custom zsh terminal for that, works great !

Let see if I can put that into a container, snap, flatpak or what ever :)

You can find an example on https://github.com/testthedocs/ttd-textlint, works great for gifs, too

[2017-08-30 16:55] tkimnguyen opened #915 "document how to edit the footer"
as per https://github.com/plone/Products.CMFPlone/issues/2128 in Plone 5.0.7 editing the footer requires a convoluted use of the ZMI. See https://community.plone.org/t/change-the-footer/4776/2

We should document this better as a short term solution. In the long term it's possible that Plone will go to a tiles & layouts solution (similar to Castle).

[2017-09-06 15:40] svx opened #916 "Add reference-labels for cross-referencing arbitrary locations"
To support cross-referencing to arbitrary locations in any document, the standard reST labels are used. For this to work label names must be **unique throughout the entire documentation**. There are two ways in which you can refer to labels:

If you place a label directly before a section title, you can reference to it with :ref:`label-name`. Example:
[code]

This is handy for local use, as in the

[2017-09-22 15:28] tobiasherp opened #917 "Broken documentation links"
IMO it is very important to make all those broken links work; some are on our own pages (and could be fixed in the text, for a start), but others are elsewhere. All of them should be handled by **useful** redirections. (An example for a not only _entirely useless_ but even **harmful** redirection is  `https://plone.org/products` to `https://plone.org/download` which not really helps e.g. with `htt

[2017-09-22 16:15] tobiasherp opened #918 "Rectify our broken documentation"
It is sometimes quite difficult to find Plone documentation, especially when looking for topics which have lost the love of those who develop Plone 5. There are people around, including me, who'd love to switch to Plone 5 but are not able to do it _now_ because they have a complex Plone 4.3 installation to handle.

We have many broken links because several hosts and addresses have been dropped dur

[2017-09-26 18:39] tomgross commented on #802
And: Give instructions on how to build the documentation locally.

[2017-09-26 19:43] loechel commented on #802
@tomgross I have made a pull request that makes it possible and easy to build the docs locally --> #920

Might one of you have a look and review?

[2017-09-26 20:09] stevepiercy commented on #802
Also requested in https://github.com/plone/documentation/issues/822#issuecomment-295663293

[2017-10-05 16:02] tobiasherp commented on #917
Broken: http://plone.org/documentation/kb/portal-transforms, found in

- https://docs.plone.org/4/en/external/plone.app.dexterity/docs/advanced/rich-text-markup-transformations.html#alternative-transformations and
- https://docs.plone.org/external/plone.app.dexterity/docs/advanced/rich-text-markup-transformations.html#alternative-transformations

[2017-10-13 11:10] newbazz commented on #861
i want to take this issue.

[2017-10-13 11:19] newbazz commented on #861
Sir as i am new to this can u guide me how to solve this.

[2017-10-13 15:09] jensens commented on #232
at least nowadays the documentation points to bobtemplates usage, the old hello world is gone.

[2017-10-13 15:09] #232 closed

[2017-10-13 16:52] cewing commented on #861
@newbazz contributing to documentation is a wonderful way to help out with a project.  Thanks so much for offering!

We have [wonderful documentation](https://docs.plone.org/about/contributing.html) about how to contribute to our documentation.  I would suggest that you read through that page first to get an idea of how we work on our documentation and what you'll need to do to get started.

After

[2017-10-14 18:13] jensens opened #922 "Outdated docs: Image content rendering"
FTR: https://docs.plone.org/develop/plone/images/templates.html#rendering-image-content-items is outdated.

[2017-10-14 18:23] newbazz commented on #861
@cewing i went through the documentation, now can you please guide me how to solve this issue.

[2017-10-17 09:30] tobiasherp commented on #917
Broken: https://docs.plone.org/external/plone.app.testing/docs/source/index (Plone testing tutorial), found in
* https://docs.plone.org/4/en/external/plone.app.dexterity/docs/testing/unit-tests.html and
* https://docs.plone.org/external/plone.app.dexterity/docs/testing/unit-tests.html

**Edit:**
I just found the versions https://docs.plone.org/4/en/external/plone.app.testing/docs/source/index.html

[2017-10-17 13:31] jensens opened #923 "Section Installing Dexterity is outdated and confusing"
see https://docs.plone.org/external/plone.app.dexterity/docs/install.html
see plone/plone.app.dexterity#261

[2017-10-17 15:01] tobiasherp commented on #917
Broken: http://plone.org/documentation/tutorial/testing (even older address of the Plone testing tutorial), found on https://www.plone-entwicklerhandbuch.de/anhang/referenz/testen/einfuehrung-in-unit-tests

[2017-10-19 13:03] tobiasherp commented on #917
Broken: http://developer.plone.org/searching_and_indexing/query.html (don't remember where I got this); redirects to the wrong destination https://docs.plone.org/searching_and_indexing/query.html (should be https://docs.plone.org/4/en/develop/plone/searching_and_indexing/query.html)

[2017-10-19 13:22] tobiasherp commented on #917
Broken: http://plone.org/documentation/manual/plone-4-user-manual/using-tinymce-as-visual-editor/introduction; wrongly redirected to the root of https://docs.plone.org/. Should be https://docs.plone.org/4/en/working-with-content/using-tinymce-as-visual-editor/index.html.

[2017-10-22 09:12] stevepiercy opened #926 "Version button for 5.1 splits on characters not list items"
Thanks to #920, I built the docs locally and found a UI bug. The version button for the v5.1 docs splits on characters instead of list items. See screenshot.
![Version button](https://user-images.githubusercontent.com/102112/31860410-ea01b1da-b719-11e7-9b24-a648b9c9b8eb.png)

[2017-10-22 10:07] stevepiercy opened #927 "Suggested updates to "Contributing To The Documentation""
Now that we can build the docs locally via `tox`, I think we should update the docs for contributing for the power user audience. In "Contributing To The Documentation" (about/contributing/index), under "Editing The Docs Using Git":

[code]

1. The following bullet point is not necessary for this audience (advanced users):

2. The following bullet point should refer to whatever automated spelling

[2017-10-22 11:58] polyester opened #929 "Mixing configs with docs is not a good idea"
I'm uncomfortable with the inclusion of tox in https://github.com/plone/documentation/pull/920

For several reasons:

- It has from the beginning been a goal to have *only* docs in the documentation; having various bit of code (setup.py and such) and configuration in there is confusing. I know there are other configs in there, but we are really close to removing those (the robot-configs will go aw

[2017-10-22 12:06] svx commented on #929
Also, please remember, most of the time it is not necessary to fire up Sphinx.
If you as (example), work on one document, where you fix a typo, a link or a reST issue, you want to see the changes in that file and in that file only, since you are working on that **one** file.

For this you do not need the *overkill* of Sphinx, as I mentioned in my talk, for stuff like this you can use your editor.

[2017-10-26 14:59] polyester commented on #926
If someone can take a peek, in https://github.com/plone/sphinxtheme.plone/commit/5da4991f0bf0a6f4ef8436a94db6569451f2feeb the problem is explained a bit more. I'm following syntax as also used by Alabaster, but somehow it fails.

Note it works perfectly fine when setting the options in a sphinx conf.py format, just not in a (INI-style) theme.conf format.

Anybody with more experience in python and

[2017-10-26 16:37] svx commented on #912
This got fixed in the latest theme updates. Closing this

[2017-10-26 16:37] #912 closed, assigned to nobody

[2017-10-26 16:38] svx commented on #881
@mauritsvanrees @pbauer This is done right ?

[2017-10-26 16:42] svx commented on #865
This is fixed !

[2017-10-26 16:42] #865 closed, assigned to nobody

[2017-10-26 16:45] svx commented on #909
Does anyone has an idea on where to link ?

[2017-10-26 16:49] svx commented on #927
I am sorry, but the audience is more than 'only' developer.

Further we will remove tox, see #929.

For the "GitHub Ribbon" we have that already covered in the new theme.

[2017-10-26 16:51] svx commented on #834
@polyester ping !

[2017-10-26 16:53] svx commented on #776
Linked to: https://github.com/plone/papyrus/issues/144

[2017-10-26 16:56] svx commented on #524
Done in papyrus ! Docker docks will included in the next docs release !

[2017-10-26 16:56] #524 closed, assigned to nobody

[2017-10-26 17:00] svx commented on #385
The docs are based since some time on 16.04, still 14.04 is not EOL

## Solution
Rewrite docs in a way that the main focus is on supervisior [since we have that already in the Ansible docs] cron and sytemd.

Drop a line with links to upstart [telling is old, soon gone]

init.d should go.

@polyester @smcmahon do you have comments or suggestions on that ?

[2017-10-26 17:20] mauritsvanrees commented on #881
Yes, it is done, as in: there now is at least *some* documentation on upgrading. Lots more could be added, but at least the structure is there, so that makes it easier for people to contribute once they run into problems and figure out how to solve them.

During the conference I started working on improving the docs, in this branch:
https://github.com/plone/documentation/tree/ploneconf2017-upgrade

[2017-10-26 17:20] #881 closed, assigned to nobody

[2017-10-26 19:47] stevepiercy commented on #927
Setting aside `tox`, I think the suggested edits have some merit. Please don't throw the baby out with the bathwater.

[2017-10-26 20:17] stevepiercy commented on #926
I found [this comment](https://github.com/bitprophet/alabaster/commit/4bf18059524f24f1d9f2424e6927e597da81564a), which in turn reminded me that [INI supports only strings](https://docs.python.org/3/library/configparser.html#supported-datatypes).

So the correct configuration value in `theme.conf` would be a single '345', but that won't work for '5.1'.

Is there a problem with using the `html_theme

[2017-10-26 20:27] polyester commented on #926
Nope, in conf.py everything works just peachy, and with exactly the syntax you said. It's just in the theme.conf (in INI style) that it doesn't work. We could just leave it at that:

- putting it at "543" in theme.conf within sphinxtheme.plone will give us reasonable defaults in a tox file, when working on sphinxtheme.plone just to test new development on the theme
- for the "real deal", we can us

[2017-10-26 20:46] polyester commented on #927
It is a good idea to review the part on "contributing to the docs" and even more carefully split it out in audiences than it is now:

- "willing to do a quick fix", don't want to download the internet and set up programs to do that
- "I actually live in vim/emacs for most of my life"

(eh, these are **not** the labels I would propose, to be clear ;-)

I'll have a good look over it in the next few

[2017-10-26 20:57] stevepiercy commented on #927
They're pretty clear to me 😉

Thanks for diving in.

[2017-10-26 21:20] polyester commented on #834
oops. this is one of the oldest parts of the docs. It really needs updating, and some of it is not that relevant anymore in the age of phones/tablets and responsive design. I can see if I can get some input from theming experts (hi David, Oshane, Chrissie, Rob) to make it more up-to-date

[2017-10-30 09:43] zopyx opened #931 "Docs on setting the modification date"
The documentation

https://5.docs.plone.org/develop/plone/content/timestamps.html#setting-modification-date-explicitly

is in general right but in reality it is wrong.

You usually need to call `reindexObject()` for object updates. And `reindexObject()` implicitly triggers an update of the `modification_date` property with the current timestamp. So it seems to be impossible to explicitly set the m

[2017-10-31 07:48] svx commented on #926
ping @polyester do you know the status of this ?

I would like to push a new version of the docs asap ! :)

Thanks !

[2017-10-31 08:29] polyester commented on #926
this is as good as it will get for now, as INI syntax only supports strings. As long as papyrus has a proper definition in conf.py, it works. We could push a new version of sphinxthemes.plone so this oddity is at least documented.

[2017-10-31 08:36] svx commented on #926
I am sorry I am confused, when I tried to build the docs last week I hit exactly this issue.

Do I assume right that is solved in papyrus with: https://github.com/plone/papyrus/commit/e56e683cc19eb2ca67955490e42eec7b0cc8bb7d ?

Do we need another release of the theme ?

Do we need a release for 'documenting' ? I guess it depends how and where you want to do that, right ?
For adding docs in /docs o

[2017-10-31 08:39] polyester commented on #926
yeah, in papyrus it's solved with that pull.

We don't need a new release of the theme, with https://github.com/plone/sphinxtheme.plone/commit/5da4991f0bf0a6f4ef8436a94db6569451f2feeb it just makes it so that it looks nicer when using tox or when not setting things correctly in conf.py, but it is a bit much to do a sphinxtheme.plone release just for that. Wait with that until there is something su

[2017-10-31 08:41] svx commented on #926
Ok thanks ! Will prepare and hopefully push a new docs version at the end of the week/weekend then.

Thanks !

[2017-11-04 19:32] tkimnguyen commented on #692
This really should be a site configuration option *and* a per-user option...

[2017-11-05 17:43] newbazz commented on #861
@cewing i went through the documentation, now can you please guide me how to solve this issue.

[2017-11-06 03:44] pigeonflight commented on #861
@newbazz...
This may be an obvious question. Is it safe to assume that you've installed Plone and attempted to create a new content type? If so, are you clear on the differences between dexterity and archetypes?  This particular documentation issue will require that you understand the difference between older versions of Plone (3 and 4) and Plone 5.

[2017-11-06 14:22] svx opened #932 "Rename branches"
As discussed during the conference, we will be rename the branches of docs and the papyrus.

New naming schema:

master: will be the 'unstable' aka 'latest' branch

According to releases we cut branches to/for pin releases.

Todo:

- rename 5.1 to master
- make sure the new master is in sync with versions from CoreDev
- create a 5.1 branch **when** we build and release the docs, adjust versions of

[2017-11-06 14:37] svx commented on #926
Docs are pushed, I will close this issue for now. Thanks all !

[2017-11-06 14:37] #926 closed, assigned to nobody

[2017-11-06 14:46] svx opened #934 "Update: travis"
Currently the travis setup is useless :)

- It runs test against outdated branches/versions
- papyrus changed too much

:)

## Solution

transfer test from circleci to travis, remove cirecleci

[2017-11-06 14:54] tkimnguyen commented on #861
I think the label FirstTimers may be misleading here because I don't believe it means this is a good issue for first time contributors to Plone; rather, it's an issue that needs to be resolved in order to help first timers / newcomers to Plone.

So @newbazz because you are new to Plone, it's not reasonable for you to expect to know enough about Plone 3 or 4 or Archetypes to be able to address thos

[2017-11-06 15:04] newbazz commented on #861
@tkimnguyen thanks! coz i did not understand anything told by @pigeonflight .Can you plz tell me how to proceed after reading the doc.

[2017-11-06 19:31] newbazz commented on #803
I would like to get a bit more information on this issue and would like to work on this issue.

[2017-11-07 10:43] #929 closed, assigned to nobody

[2017-11-07 13:58] svx commented on #803
This issue is about checking, if the documentation at https://docs.plone.org/manage/deploying/preparing.html is still up to date.

This part of the docs was written some time ago, when the mentioned Operating Systems still had Python 2.7 as default Python.

Besides the version of Python it may be possible that names of packages got changed.

As you can see already in the comment above, this docume

[2017-11-07 14:05] newbazz commented on #803
okk so is there anything to be updated at present?

[2017-11-07 14:16] svx commented on #803
Most certainly yes, as @gforcada already wrote, the Fedora part is outdated.

If you decide to take this issue and work on it, you need to install Plone on the mentioned Systems.

Steps to do (example for Fedora):

* Download the latest Fedora
* Install latest Fedora (VirtualBox or something else)
* Follow the docs on https://docs.plone.org/manage/deploying/preparing.html to try to install Plone.

[2017-11-07 14:46] newbazz commented on #803
ooh thats quite difficult I want to try an easier issue at first.

[2017-11-07 19:00] newbazz commented on #805
Is this issue closed? if not i would like to work on this.

[2017-11-08 17:27] jensens opened #936 "Remove grok in Vocabularies"
https://docs.plone.org/develop/addons/schema-driven-forms/customising-form-behaviour/vocabularies.html

[2017-11-08 17:34] jensens commented on #936
omg, there are so many mentions of grok in the docs if it comes to vocabularies. also, we should have one good doc on vocabs instead of 3

- https://docs.plone.org/develop/addons/schema-driven-forms/customising-form-behaviour/vocabularies.html
- https://docs.plone.org/develop/plone/forms/vocabularies.html
- https://docs.plone.org/external/plone.app.dexterity/docs/grok/advanced/vocabularies.html

[2017-11-09 11:32] jensens opened #938 "LIVE docs: plone.api content in rendered docs empty"
https://docs.plone.org/develop/plone.api/docs/api/content.html

and all other api pages

![screenshot from 2017-11-09 12 31 05](https://user-images.githubusercontent.com/157140/32603408-eafad808-c549-11e7-9b16-bd58b985406a.png)

cc @svx @plone/documentation-team

[2017-11-09 12:06] svx commented on #938
@jensens These sites are empty because the sites are also empty in: https://github.com/plone/plone.api/tree/master/docs/api

Here is only a *automodule* used, I am not sure if that has todo the removal of Plone from the documentation build process or something else.

I am even not sure if that worked before.

@polyester any ideas ?

[2017-11-09 12:40] svx commented on #938
Ok, so it is getting interesting.

If I check a old version, meaning which was build with papyrus out of the 5 branch it works.

The difference here is that Plone and more stuff got removed from the buildout in the 5.1 branch.

This needs to get tested more, but this is not all.

If I clone the plone.api repo and run ```tox -e docs``` I get yet again another version of the docs with different cont

[2017-11-09 13:15] polyester commented on #938
Not really.
Although automodule should not have much to do with Plone, but more with Sphinx. Maybe the previous sphinx had more modules, like sphinx.ext.autodoc  being pulled in. That's the only one that this should depend on, not so much Plone.

[2017-11-09 15:44] svx commented on #938
OK, here we go !

This is kind of annoying but because of the way how the docs of plone.api are done, we have to add Plone back to the buildout, which is *really not that nice*.

If I add Plone back like:

[code]
It is working again:
![plone-api-pap](https://user-images.githubusercontent.com/358860/32614110-cc7ec556-c56c-11e7-8434-a9b4eb1cce18.png)

I tried to use plone.api in place of Plone:

[co

[2017-11-09 15:51] polyester commented on #938
I do remember that plone.api [was running on readthedocs](https://readthedocs.org/projects/ploneapi/), which definitely was not pulling in Plone, so I still think it needs sphinx.ext.autodoc more than Plone.

But have no time today to check out if just putting that in as an egg, or explicitly in conf.py, would be enough. Will try Saturday.

[2017-11-09 15:52] polyester commented on #938
Might be a good idea to shoot @zupo a question; he devised the doc thingie, so will know what it needs.

[2017-11-09 16:01] svx commented on #938
@polyester I added sphinx.ext.autodoc to the buildout that changes nothing, without adding Plone

Also, how is that supposed to work, only adding this will not help because it needs a source from where it can get the docstrings.

We are dumping everything besides the docs from the repo, so there is nothing how Sphinx can get the docstrings.

Publishing to RTD works different, have a look at the pl

[2017-11-09 16:03] polyester commented on #938
I thought it would get the docstrings from plone.api itself, as that's all it needs, but needs to be non-sparse checkout (so full source code, not just /docs dir).

But yeah, if we're in a hurry just add Plone back in for now, I'll investigate over the weekend.

[2017-11-09 16:08] svx commented on #938
Yeah, possible but than this would be for the next version of papyrus, starting now to fiddle more on the old setup is not that cool, there are enough other things to do.
I would rather focus on the new version.

I mean, adding Plone is not nice, but it is temporary anyway.

[2017-11-09 16:27] svx commented on #938
@jensens New build is online !

![plone-api-fixed](https://user-images.githubusercontent.com/358860/32616691-4270a3be-c573-11e7-8423-dcc04374b77b.png)

[2017-11-09 16:27] #938 closed, assigned to nobody

[2017-11-09 16:38] jensens commented on #938
Thanks a lot!

[2017-11-09 21:12] zupo commented on #938
Actually, I remember that RTD did pull in Plone ... or maybe plone.api did not depend on Plone yet back then?

[2017-11-10 12:52] newbazz commented on #936
can you please elaborate what the issue is?

[2017-11-10 15:43] jensens commented on #936
we do not use Grok any longer (it is deprecated in Plone). So all examples in the documentation need to be *ungroked*.

Example:

[code]
becomes
[code]

or

[code]
becomes
[code]

Does it make sense to you?

[2017-11-10 15:48] newbazz commented on #936
yup it does! so what are the files I need to make changes into?

[2017-11-10 15:57] jensens commented on #936
good question!
see the links above? The first two are in the structure of this repository in this folder (and subfolder) https://github.com/plone/documentation/tree/5.1/develop

I just found the last one is no longer an issue as we already removed the old explanation.

Btw.: In order to contribute you need to sign the *Plone Contributor Agreement* - which is very simple. It's about the legal stuff

[2017-11-17 21:46] tkimnguyen opened #942 "incorrect URL for Contribute button (new docs deployment)"
on https://docs.plone.org/develop/plone/security/sandboxing.html#unit-testing-restrictedpython-code the Contribute button in left column (bottom) points to https://docs.plone.org/develop/plone/security/None which doesn't exist

![untitled](https://user-images.githubusercontent.com/815418/32970408-7384abc6-cbae-11e7-8a05-69670ad3a768.jpg)

[2017-11-17 21:49] tkimnguyen opened #943 "Version selector erroneously includes "Unreleased" (new docs deployment)"
also at https://docs.plone.org/develop/plone/security/sandboxing.html#unit-testing-restrictedpython-code the Version selector at bottom left corner includes the choice "Unreleased" which takes you to https://docs.plone.org/unreleased (404)

![untitled 2](https://user-images.githubusercontent.com/815418/32970498-da87fa26-cbae-11e7-95c7-b93f5e63dc34.jpg)

[2017-11-20 12:11] hvelarde commented on #880
this is already done.

[2017-11-20 12:11] #880 closed, assigned to nobody

[2017-11-25 11:49] jogendra commented on #408
Hi @svx Can I take this issue?

[2017-11-29 13:12] bommix opened #945 "unexpected opened list"
Dear Ladies and Gentlemens,

as I use my LinuxMint on my( our) web-site **http://www.stura.htw-dresden.de/**
when I click to any date in the calendar
![calender](https://user-images.githubusercontent.com/15325388/33376741-283ef486-d50f-11e7-8933-11c138ea0130.png)

opened one other site with "unexpected opened list",

![bug](https://user-images.githubusercontent.com/15325388/33376554-62ccfe82-d50e-

[2017-11-29 13:41] ale-rt commented on #945
This is not the proper place to submit an issue like this :)
I suggest you to first ask support in the website:

- https://community.plone.org

then, if nothing happens, file an issue on the repository:

- https://github.com/plone/Products.CMFPlone/

ANyway it seems your is a configuration problems, it seems to me that you are missing  this javascript:

-
 https://github.com/plone/Products.CMFPlon

[2017-11-29 13:41] #945 closed, assigned to nobody

[2017-12-03 10:51] stevepiercy commented on #942
Two more broken links:

1. "Contribute" in the footer that goes to https://docs.plone.org/about/contributing.html
![contribute-footer](https://user-images.githubusercontent.com/102112/33524555-537bef38-d7d4-11e7-8552-9c4a822bd3ef.png)

2. On this page: https://docs.plone.org/develop/coredev/docs/contributors_agreement_explained.html#contributors-agreement-for-plone-explained the link to the PDF do

[2017-12-03 10:58] newbazz commented on #942
I would like to work on this.

[2017-12-03 13:51] svx commented on #942
@stevepiercy thanks for reporting.

Fixed by: https://github.com/plone/buildout.coredev/pull/383 and https://github.com/plone/documentation/commit/87d4a3832436a0fb521f911d4e6c5df185badf00

[2017-12-03 13:59] svx commented on #942
@tkimnguyen fixed with https://github.com/plone/papyrus/commit/b20695ef754d96eb8c26893f0157d371215192ec

[2017-12-03 14:19] newbazz commented on #942
@svx hi i have now made and played with plone so i should strt solving issues right? Or anything to do before it?

[2017-12-03 16:29] tkimnguyen commented on #942
@svx thx for the papyrus commit, but now I'm wondering what the URL should be:

- how to contribute to Plone core? (which is what you set it to, though only the first step of contributing to Plone core, which is to sign the contributor agreement)

- how to contribute to the Plone docs? (which I *thought* was the original intent of that button)

[2017-12-03 16:46] newbazz commented on #942
@tkimnguyen so what should i do?

[2017-12-03 16:53] svx commented on #942
@tkimnguyen We have this button on every page and it is meant for the docs, this is intentional.

[2017-12-03 17:14] tkimnguyen commented on #942
Maybe the destination should be a page that covers all ways to contribute? I'd have to look over plone.org to see if there is something like that already. We have tried to cover this sort of question as a result of GSoC interest. The https://plone.org/get-started page is a good start. What do you think? Would need more material.

[2017-12-07 14:35] newbazz commented on #917
I would like to work on this issue if it is not solved yet.

[2017-12-07 17:49] stevepiercy commented on #917
@newbazz you don't need to comment like that. The status of this issue (Open) means it has not been resolved, and there is no Assignee so no one has taken it on. To proceed, assign yourself (this let's others know you have taken it on), then submit a pull request (this let's others know you have done work that is ready for review).

[2017-12-23 19:42] tkimnguyen commented on #909
OK here are the 4 links to change:

- http://svn.zope.org/Products.CMFCore/trunk/Products/CMFCore/permissions.py?rev=94487&view=markup -> https://github.com/zopefoundation/Products.CMFCore/blob/master/Products/CMFCore/permissions.py
- http://svn.zope.org/Zope/trunk/src/AccessControl/Permissions.py?rev=96262&view=markup -> https://github.com/zopefoundation/AccessControl/blob/master/src/AccessContro

[2017-12-24 06:17] svx commented on #909
@tkimnguyen I updated the links, for now I also put

``
https://github.com/zopefoundation/Zope/blob/master/src/Products/Five/permissions.zcml but it's been moved... looking
``
there.

[2017-12-24 19:30] tkimnguyen commented on #909
Thx @svx ! @jaroel replied at https://community.plone.org/t/old-svn-zope-org-links-in-docs-for-available-permissions-in-plone/5459/2 with:

[code]

[2018-01-01 16:46] rhl-bthr opened #946 "Broken links in Readme.srt"
The following links in Readme.srt are broken -
Our documentation about contributing - http://docs.plone.org/about/contributing.html
Our docs style-guide - https://docs.plone.org/about/documentation_styleguide.html
Our reST style-guide - https://docs.plone.org/about/rst-styleguide.html

[2018-01-01 16:59] #946 closed, assigned to nobody

[2018-01-02 15:45] tobiasherp commented on #917
(as long as I don't know a better place, I'll continue to add broken documentation links here ...)
Broken: https://plone.org/documentation/manual/developer-manual/generic-setup/reference/properties-ref, found on https://docs.plone.org/4/en/develop/addons/components/genericsetup.html#propertiestool-xml

My idea would be to create a solution to make Plone use a relational database to manage redirect

[2018-01-03 04:34] tkimnguyen opened #948 "improve documentation for creating emergency users"
The documentation at https://github.com/plone/documentation/blob/5.1/manage/troubleshooting/basic.rst for creating an emergency Zope user points to http://quintagroup.com/services/support/tutorials/zope-access which dates back to 2008 and doesn't seem to work (at least didn't for me); the paths mentioned don't seem to exist any longer.

The method mentioned in https://community.plone.org/t/plone-s

[2018-01-03 14:02] svx commented on #948
@tkimnguyen This is already in the docs ! :)

https://docs.plone.org/manage/deploying/zope.html#adding-users-from-command-line

Guess we should link/update the troubleshoot page ?

[2018-01-06 15:03] tkimnguyen commented on #948
Ah yes, that's a good idea. I hadn't thought to look up 'emergency user' under Zope, and I expect most people looking for help on it wouldn't stop to think whether the ability is within Plone or Zope.

[2018-01-06 15:04] tkimnguyen commented on #948
( Hm I see that on https://docs.plone.org/manage/deploying/zope.html#adding-users-from-command-line there is a bad link to https://plone.org/documentation/faq/locked-out )

[2018-01-06 15:05] tkimnguyen commented on #948
Might be good to scan our docs for links to plone.org/documentation ... but as to how to handle each old link: that's a lot of manual work. If you think that kind of scanning is a good idea I can look into adding docs.plone.org to our SiteImprove subscription

[2018-01-10 22:33] tkimnguyen commented on #302
I just struggled to find information on how to add JavaScript to an edit form, until I found this thread https://community.plone.org/t/add-custom-javascript-to-the-edit-page/2537, to which I added my own details: https://community.plone.org/t/add-custom-javascript-to-the-edit-page/2537/3. I would like to add it to the https://docs.plone.org/develop/addons/javascript folder somehow.

[2018-01-11 16:12] tkimnguyen opened #949 "History and Versioning page needs fixin'"
broken links on https://docs.plone.org/develop/plone/content/history.html#history-and-versioning

[2018-01-12 14:52] svx commented on #949
@tkimnguyen thanks for reporting, would you mind to share which links are broken ?

Thanks !

[2018-01-13 01:23] ableeb commented on #672
I received this issue report about the contributor’s agreement link from someone submitting a contributors agreement.

This is the rendered link
https://docs.plone.org/develop/coredev/docs/contributors_agreement_explained.html#id1

This is the text:
The Plone Contributor Agreement can be found at: `https://plone.org/foundation/contributors-agreement/agreement.pdf`_

[2018-01-14 08:31] svx commented on #672
Fixed again in https://github.com/plone/buildout.coredev/pull/386, will be online after the PR is merged with the next deployment of the docs.

[2018-01-14 18:00] ableeb commented on #672
@svx Thx!
cc @tobiasherp who reported it

[2018-01-27 02:51] tkimnguyen commented on #672
That link really should point instead to https://plone.org/foundation/contributors-agreement/ rather than directly to the PDF, and IMO the duplicated information (on docs.plone.org and on plone.org) is going to cause us grief. I will take this over to https://github.com/plone/buildout.coredev/pull/386

[2018-01-30 18:16] mrsaicharan1 opened #950 "Documentation grammar issue( Documentation/Developing bobtemplates.plone templates )"
* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request

* **Do you want to request a *feature* or report a *bug*?**
bug

* **What is the current behavior?**
The page contains a 'there' instead of 'their' on a certain line.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

* **What is the expected behavior?**

[2018-01-30 18:28] svx commented on #950
Thanks for reporting !
Would you mind to tell us the exact page and line ?
Thanks again !

[2018-01-30 18:34] mrsaicharan1 commented on #950
https://docs.plone.org/develop/addons/bobtemplates.plone/bobtemplates.plone/docs/develop.html
Under the heading subtemplates, line number 4. Mention not!

[2018-01-30 18:52] svx commented on #950
Thanks !

Fixed in: https://github.com/plone/bobtemplates.plone/pull/250

[2018-01-31 09:10] mrsaicharan1 opened #953 "Sentence formation error"
* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request

* **Do you want to request a *feature* or report a *bug*?**
bug

* **What is the current behavior?**
The page contains 'these test' instead of 'these tests' on a certain line.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

* **What is the expected be

[2018-01-31 09:11] mrsaicharan1 commented on #953
https://docs.plone.org/develop/addons/bobtemplates.plone/bobtemplates.plone/docs/develop.html
Under Testing ,Line 3.

[2018-01-31 09:19] stevepiercy commented on #953
@mrsaicharan1 It's OK to submit a pull request with a good commit message, instead of writing up an issue. That would save you and the reviewer time and effort.

[2018-01-31 14:12] svx commented on #953
@mrsaicharan1 You are more than welcome to create a Pull Request !
As we are talking here about the docs of bobtemplates, the repo is here: https://github.com/plone/bobtemplates.plone

docs.plone.org 'just' fetches the docs from there, meaning changes/improvements needs to be done there.

Thanks !

[2018-01-31 16:05] tulikavijay opened #954 "Contributor's Agreement Explained - pdf link needs fixing"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request

* **What is the current behavior?**
[Contributor's Agreement Explained](https://docs.plone.org/develop/coredev/docs/contributors_agreement_explained.html) contains a link to the agreement's pdf which actually links to https://docs.plone.org/develop/coredev/docs/contributors_agreement_explained.html#id1

* **What is the expected

[2018-01-31 18:41] svx commented on #954
This is already fixed on GitHub ?

@tulikavijay is is really nice that you are reporting things, just a suggestion it may be worth to check first if a issue is already reported :)

Thanks !

[2018-01-31 18:41] #954 closed, assigned to nobody

[2018-02-03 10:11] tulikavijay commented on #954
Thanks for the reply, I'll keep that in mind!
I did not see the comments on issue#942. i did'nt know it was resolved, it still shows the link?

[2018-02-03 10:17] svx commented on #954
@tulikavijay #942 is fixed, too.

The issues are still open, because there was still no sync with docs.plone.org.

The next sync will be done in **a week**, and then all this issues will be closed.

[2018-02-08 15:48] #934 closed, assigned to nobody

[2018-02-08 15:50] svx commented on #907
Done !

Old travis got removed by: https://github.com/plone/documentation/issues/934

[2018-02-08 15:50] #907 closed, assigned to polyester

[2018-02-08 16:02] svx commented on #932
Ok so to recap, the idea is that the master branch of the docs is always is sync with the master of CoreDev.

With that we can also create builds of the latest aka not stable released docs.
People are asking for this since a long time, cause it make it easier to work on docs for upcoming versions, you can compare them online next to each other etc.

With that we will be able to follow the same sch

[2018-02-08 16:05] svx commented on #909
@tkimnguyen sorry I do not get you ?

What do you mean with your latest comment, is there more work needed or can we close this issue ?

[2018-02-08 16:10] svx commented on #915
OK @tkimnguyen according to https://community.plone.org/t/change-the-footer/4776/6 we need to update the docs and add screens to fix that for 5.1 right ?

@polyester are you up for writing a robot-screen for that ? :)

[2018-02-08 20:46] stevepiercy commented on #932
In addition to the switcher, we provide BFDs (Big Friendly Disclaimers) and BFBs (Big Friendly Buttons) on Pyramid docs:

https://docs.pylonsproject.org/projects/pyramid/en/master/
https://docs.pylonsproject.org/projects/pyramid/en/1.8-branch/

And the latest, stable branch is at:
https://docs.pylonsproject.org/projects/pyramid/en/latest/

A switcher for Plone would need to account for changes whe

[2018-02-10 07:43] svx opened #955 "Adjust locations for better logic and readability"
* **I'm submitting a ...**

  - [X] feature request

* **What is the current behavior?**
Because of oir old setup we have 'weird' paths and locations, for better logic and reliability we should adjust these

* **Example:**
- http://docs.plone.org/develop/addons/bobtemplates.plone/bobtemplates.plone/docs/

* **Motivation:**

This adds nothing for the user, I know we created this setup years ago, bu

[2018-02-10 08:02] svx commented on #942
New docs build is deployed, the big blue button works

[2018-02-10 08:02] #942 closed, assigned to nobody

[2018-02-10 08:03] svx commented on #950
Done, new docs build is online

[2018-02-10 08:03] #950 closed, assigned to nobody

[2018-02-10 08:04] svx commented on #943
That is not a bug, this is in preparation of the new 'unstable' aka rolling docs for unreleased versions, this will be really soon available.

[2018-02-10 08:04] #943 closed, assigned to nobody

[2018-02-10 14:42] svx opened #956 "Fix trailing spaces on line ends"
* **I'm submitting a ...**
  - [X] bug report

* **What is the current behavior?**

We have still some files with trailing spaces on line ends

* **Other information** (e.g. detailed explanation, stacktraces, related issues, suggestions how to fix, links for us to have context, eg. stackoverflow, gitter, etc)

See the screenshot of running a check against the docs:

![ttd-ts-screen](https://user-i

[2018-02-13 13:52] #956 closed, assigned to nobody

[2018-02-16 14:04] tulikavijay commented on #936
No one seems to be working on this issue, I would like to take this up.

[2018-02-16 14:16] svx commented on #936
@tulikavijay sure ! Excellent ! Awesome ! Thanks !

Just assign the issue to yourself and go ahead !

Thanks again !

[2018-02-16 14:17] svx commented on #936
@tulikavijay Just to make sure, you already signed the  Plone Contributor Agreement (https://plone.org/foundation/contributors-agreement) ?

[2018-02-16 14:19] tulikavijay commented on #936
@svx yes I have!

[2018-02-16 14:27] svx commented on #936
Nice !!! Perfect !

[2018-02-16 16:47] tulikavijay commented on #936
[code]
I was looking at the code, how do i convert this part?
Also there are some references to grok on this one too : https://docs.plone.org/develop/plone/forms/z3c.form.html

[2018-02-18 16:23] tulikavijay opened #963 "Broken link in documentation/.github"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request

* **Do you want to request a *feature* or report a *bug*?**
bug

* **What is the current behavior?**
CONTRIBUTING.md in .github links to https://docs.plone.org/about/contributing.html that results in Not found -404

* **What is the expected behavior?**
Should link to https://docs.plone.org/about/contributing/index.html

[2018-02-19 11:02] tulikavijay commented on #963
I would like to help with this

[2018-02-19 18:24] stevepiercy commented on #963
@tulikavijay GitHub issue tips:

* Assign yourself to an issue when you actually start working on it. Until then, this ticket is not assigned.
* Adding the comment "I would like to help with this" adds no new information to the issue's actual state, but adds confusion. (When will this person work on it? Have they abandoned it? Can I work on it?)
* It does not help with [searches for open issues wi

[2018-02-19 19:02] tulikavijay commented on #963
Thanks for taking the time to explain!
PS : accidentally closed the issue.

[2018-02-21 10:28] #963 closed, assigned to tulikavijay

[2018-02-21 18:26] #936 closed, assigned to tulikavijay

[2018-02-23 20:48] mredigonda commented on #917
Broken: https://plone.org/support/providers, found on https://docs.plone.org/intro/index.html as "over 300 solution providers".
Broken: https://plone.org/support/hosting-providers, found on https://docs.plone.org/intro/index.html as "plone.org".

[2018-02-23 21:03] mredigonda commented on #601
This issue is quite old now, is it still an issue? (I assume yes, since the Ubuntu Production doc is still there, but I ask just in case).

I would like to know what's the expected behavior when entering this site, I understand that either:
* The "Ubuntu Production" doc should be impossible to access, by redirecting the visitor to the new doc.
* The "Ubuntu Production" doc should still be accessib

[2018-02-23 22:33] gforcada commented on #917
@tobiasherp @mredigonda sorry that you are finding all these broken links, and many thanks for providing the correct places where they should actually point to. It would be awesome if you could create a pull request to make the actual changes.

We are about to release a new major version of Plone (5.1) and now is the perfect time to fix all these broken links, so that newcomers and oldtimers alike

[2018-02-26 09:26] tobiasherp commented on #917
@gforcada : There are several problems with the "pull request" approach:

- It requires everyone who likes to contribute to create a fork of plone.documentation, which is an unnecessary hurdle
- What will you suggest for pulling if you don't know the correct new location?
- Updates of documentation links require both a new release of plone.documentation and an instance restart, right?

IMO, a data

[2018-02-28 03:01] jochumdev commented on #530
closing this, question was answered by @gforcada

[2018-02-28 03:01] #530 closed, assigned to nobody

[2018-03-01 14:08] svx opened #968 "Meta Ticket: Improve theming docs"
There are a couple of issues with the whole theming chapter :)

- [ ] how accurate are the docs are for Plone 5.x
- [ ] wording
- [ ] images and pdfs should move to the _static and/or download folder
- [ ] reST
- [ ] some parts here never got updated for Plone 5.x (like there are still mention Plone 4.x, only)

One thing what jumped into my eye for example is: https://docs.plone.org/adapt-and-exte

[2018-03-01 14:34] iham opened #969 "plone-compile-resource params"
* **I'm submitting a ...**
  - [ x] bug report
  - [ ] feature request

* **Do you want to request a *feature* or report a *bug*?**
BUG

* **What is the current behavior?**
wrong text for compiling resources documentation

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**
[documentation](https://docs.plone.org/adapt-and-exte

[2018-03-01 14:51] svx commented on #969
Please see:

https://github.com/plone/documentation/blob/5.1/adapt-and-extend/theming/resourceregistry.rst

I added a ``code-block`` should be better readable.

It was already written as
[code]
It was bad formated :)

[2018-03-01 15:16] svx commented on #917
@mredigonda

These are fixed now on GitHub by https://github.com/plone/documentation/commit/517a2e348ca254dcd765dcac4874b0c11893b8f7

[2018-03-01 15:19] svx commented on #917
@tobiasherp

Yes and no, a new release is needed yes, we are working on getting them out faster and no there is no instance restart needed :)

[2018-03-01 21:15] stevepiercy commented on #969
Additionally when one does not use `code-block` or other code-like reST markup, and depending on the version of Sphinx in use and its configuration for either `html_use_smartypants` or `smartquotes`, quotes, dashes, and three periods will be converted to their typographically correct entities. There's also language-specific conversions. Whee!

reSt | converted to
-----|-------------
`---` | `—` em

[2018-03-05 01:22] tkimnguyen commented on #915
I think so, @svx

[2018-03-05 01:24] tkimnguyen commented on #909
Sorry @svx I have to re-read this too... Roel gave additional clarifications that I think addressed the 3rd link that I wanted to do more research on

[2018-03-05 05:47] svx opened #970 "Move ZEO explanation"
* **I'm submitting a ...**
  - [ ] bug report
  - [X] feature request

**Note: This is NOT suited for "beginner" or people who are new !**

* **Do you want to request a *feature* or report a *bug*?**
Feature

* **What is the current behavior?**
Currently we explain ZEO under the installation docs.
This should move to a more general place !

* **If the current behavior is a bug, please provide the

[2018-03-05 05:49] svx commented on #915
@tkimnguyen OK
Who is willing to take that on ?

Would be nice to have that in the docs for the upcoming 5.1 release !

:)

[2018-03-05 15:50] tkimnguyen commented on #970
What else should go into a general background section?

[2018-03-05 16:34] tkimnguyen commented on #915
I can't promise I'll have it done right away but am willing to try

[2018-03-05 17:24] svx commented on #915
Awesome !  Excellent ! Thanks !

[2018-03-08 18:26] tkimnguyen opened #972 "should caution against zexp export/import"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request

Need to add warnings about zexp export/import at https://docs.plone.org/develop/plone/content/importexport.html

[2018-03-08 18:30] tkimnguyen commented on #972
I guess there is a statement there about identical versions of add-ons and packages. But need to say this method works only in very limited circumstances, and emphasize that other more general methods should be tried first.

[2018-03-09 22:48] idgserpro commented on #972
A statement about memory errors would be nice as well, if your object is too big.

[code]

IIRC, there's an issue as well if your `/tmp` partition is too small because the exporting/importing of zexps uses `/tmp` as well. (http://plone.293351.n2.nabble.com/IOError-importing-large-plone-site-with-plenty-of-disk-space-td5115159.html)

[2018-03-13 11:05] vedantc98 commented on #972
I've made a PR for this issue. :)

[2018-03-14 11:37] #972 closed, assigned to nobody

[2018-03-19 07:40] pbauer opened #976 "Screenshot of TinyMCE broken"
The screenshot at https://5.docs.plone.org/working-with-content/using-tinymce-as-visual-editor/basics.html (https://docs.plone.org/_images/tinymce.png) is broken.

[2018-03-19 10:37] jensens opened #978 "Overhaul of chapter develop/plone/forms/files.rst needed."
The `Files and images` chapter needs some love.
The whole thing is confusing and not easy to read.

Also it used deprecated `plone.directive.forms` and `implements` over the new zca decorators `implementer`.

[2018-03-19 20:54] #978 closed, assigned to nobody

[2018-03-23 11:44] Khaezzar opened #981 "link to docker images not official"
* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request

* **Do you want to request a *feature* or report a *bug*?**
in the doc the link to docker image don't go to the 'official' plone account in docker hub.
*https://docs.plone.org/manage/docker/docs/index.html*
So I don't know what to use and ask myself if the 'official' docker account is realy 'official'

* **What is the current b

[2018-03-23 11:50] svx commented on #981
Would you mind to explain a bit more ? I can not reproduce that.

If I go to: https://docs.plone.org/manage/docker/docs/index.html

![docker-plone-docs-site](https://user-images.githubusercontent.com/358860/37827618-834471d4-2e98-11e8-82ec-5a96a64b3319.png)

I see a link :
![docker-plone-link](https://user-images.githubusercontent.com/358860/37827657-a58ae1ce-2e98-11e8-9f95-5d59ca310cc8.png)

This

[2018-03-23 20:21] Khaezzar commented on #981
what I mean is that looking fo plone in hub.docker.com I found plone official that is not the one in the doc.
Yours is : https://hub.docker.com/r/plone/plone/
The other is : https://hub.docker.com/_/plone/
to reproduce : search plone in hub.docker.com => the first one is tagged as official not yours

[2018-03-24 06:49] svx commented on #981
These are literally the same images, we push to plone/plone and from the same repo it is pushed to the 'official' account.
But just to avoid more confusion, sure we can change the link.

[2018-03-24 07:07] svx commented on #981
Done with: https://github.com/plone/plone.docker/commit/e8a55e062b4963039746f24f2cf69ce9d3ac6c1d

Will be on docs.plone.org next time we push a new docs release

[2018-03-24 07:07] #981 closed, assigned to nobody

[2018-03-24 11:28] sonawanemaitreya opened #982 "Link for phrasing of your own code review is showing error 404"
The link given for sample the [phrasing](http://ada.mbecker.cc/2012/11/22/be-your-own-code-review/) is showing error 404, under the section of reviewing your changes, in 'Working with Git and Github'. The link to page is [this](https://docs.plone.org/develop/coredev/docs/git.html).

[2018-03-24 11:49] iamar7 opened #983 "Screenshot of the change the logo training module broken"
The screenshot at https://docs.plone.org/adapt-and-extend/change-the-logo.html is broken.

[2018-03-24 11:49] svx commented on #982
Fixed with https://github.com/plone/buildout.coredev/pull/443

[2018-03-25 10:56] sonawanemaitreya commented on #976
use this image instead -
[https://lh3.googleusercontent.com/-dqvvSHvwduE/Wrd__Rrsx0I/AAAAAAAABPY/4yxDQpaGwAQmd2ogbnpt_PN9wjWKaC3egCJoC/w530-h330-n-rw/default%2BTiny%2BMCE.png](url)

[2018-03-25 10:58] sonawanemaitreya commented on #976
Use this image instead:-
[https://lh3.googleusercontent.com/-dqvvSHvwduE/Wrd__Rrsx0I/AAAAAAAABPY/4yxDQpaGwAQmd2ogbnpt_PN9wjWKaC3egCJoC/w530-h330-n-rw/default%2BTiny%2BMCE.png](url)

[2018-03-25 11:00] sonawanemaitreya commented on #976
[https://plus.google.com/photos/photo/105916059823020349018/6536834109206742850?sqid=108887112685013305463&ssid=e809e1b9-ed79-46e8-b27d-f72812e1cac6](url)

[2018-03-25 11:04] sonawanemaitreya commented on #976
Use image in here-
[https://sites.google.com/site/defaulttinymce/home](url)

[2018-03-25 11:09] sonawanemaitreya commented on #976
![default tiny mce](https://user-images.githubusercontent.com/33842949/37874357-1c1af78a-304b-11e8-9f8f-b01f8a01ef53.png)
You can use this image instead

[2018-03-26 07:14] stevepiercy commented on #837
References: https://github.com/plone/documentation/issues/822#issuecomment-295943326 and #984

We have something for _manually_ adding images in the [Documentation Styleguide](https://docs.plone.org/about/contributing/documentation_styleguide.html?highlight=images#documentation-structure), but I couldn't find anything about the automatic generation of screenshots via robots. How does a new contrib

[2018-04-01 11:29] fgrcon opened #987 "Please renew certificate for docs.plone.org !!!!"
Lets encrypt cert has expired 2018-04-01 !!!
Noa access to docs.plone.org anymore due to HTTP Strict Transport Security
cc @svx  ?

[2018-04-01 11:36] svx commented on #987
As mentioned before, we are doing some work on the doc and on the server which is hosting the docs.
So yes, there are some 'bumps' for the next couple of hours.

Including how we do SSL certs ...

[2018-04-01 11:36] #987 closed, assigned to nobody

[2018-04-01 13:17] svx opened #988 "bobtemplates plone"
We have an issue with how we include bobtemplates.plone.

One of the main reasons why we have this is because in the beginning we had a 'hard copy' (copy and paste from the bobtemplates.plone docs).

At some point that got changed to include the docs via papyrus.

Because of that we have no issues like:

- Quality (no meant to insult people, you are awesome!) but the 'hard copy' had lots of reST,

[2018-04-01 14:06] svx opened #989 "Question: Should we include external docs in the future ?"
In general yes, I am 150% for it.

But this needs dedication and people. Personal I still think that is the way.

I am just not convinced that this is the way for the Plone community, at least not at this given moment.

Taken the amount of people who are working on the docs in general, it is already hard enough and also not going well to maintain and improve the 'core docs'.

Not even speaking abo

[2018-04-01 14:24] fgrcon commented on #987
@svx: Sorry  I id not want to make troubles ...
It's ok again (cert renewed) !!
Thank You!!

[2018-04-01 14:25] svx commented on #987
Np ! :)

[2018-04-06 20:27] svenevs opened #991 "no need to run virtualenv on travis (?)"
* **I'm submitting a ...**
  - [x] "bug" report
  - [ ] feature request

* **Do you want to request a *feature* or report a *bug*?**

Report "bug".

* **What is the current behavior?**

I do not believe you need to run `virtualenv` on Travis.  [These docs](https://docs.plone.org/external/plone.app.robotframework/docs/source/travis-ci.html#travis-yml) are showing your config (?) But I don't see a `

[2018-04-06 20:53] loechel commented on #991
Hi @svenevs thanks for your report.

You might confuse that this repository is the collected documentation for Plone. This includes current best practis and recommendations on package layout and configuration.

travis-ci configuration explained in this specific doc explains how to setup and test Frontend interaction with robot test.

You are right virtualenv command is not necessary on travis, but

[2018-04-06 21:12] svenevs commented on #991
Very true.  And yeah having an extra venv definitely doesn't hurt :smile:

[2018-04-06 21:12] #991 closed, assigned to nobody

[2018-04-24 19:28] idgserpro opened #992 "Fix for z3c.autoinclude not automatically adding a Plone package"
I just found this snippet in https://romanofskiat.wordpress.com/2012/09/25/z3c-autoinclude-does-not-automatically-include-a-plone-package/:

[code]

[code]

Which would be really useful in the docs. The question is: where is the best place to put it? When searching for autoinclude in the docs we only get https://github.com/plone/documentation/blob/7cf6b33cf8c3bd04de93e5806aa5fdcf21de199a/develop/a

[2018-04-25 03:56] zopyx opened #993 "Markup error in Vocabulary docs"
https://docs.plone.org/develop/plone/forms/vocabularies.html#dynamic-vocabularies

Source code is not rendered properly

<img width="958" alt="screenshot 2018-04-25 05 55 01" src="https://user-images.githubusercontent.com/594239/39225552-63e8c6c2-484d-11e8-9b37-f6732c2e11b3.png">

[2018-04-25 06:59] #993 closed, assigned to nobody

[2018-04-28 19:56] stevepiercy opened #996 "develop/plone/i18n/contribute_to_translations needs support section updating"
I'm not sure how to update this correctly. @gforcada last updated it.
https://github.com/plone/documentation/blame/5.1/develop/plone/i18n/contribute_to_translations.rst#L110-L111

I think the preferred method is through the Community over an email list and Gitter:
https://community.plone.org/c/development/i18nl10n

Please let me know, and I'll submit a PR.

[2018-04-30 14:20] gforcada commented on #996
IMHO we could point to community.plone.org where we have a l10n section for that.

[2018-05-01 10:29] #996 closed, assigned to gforcada

[2018-05-17 15:53] anton-lin commented on #953
Hi, this is my first time to create a Pull Request.
Fork "https://github.com/plone/bobtemplates.plone" to my repository.
Then create a Pull Request "https://github.com/anton-lin/bobtemplates.plone/pull/1"
Please let me know if there are any problems.

[2018-05-22 09:46] fgrcon opened #1001 "broken link: mailinglogger documentation."
https://docs.plone.org/manage/deploying/logs.html   link at bottom: http://packages.python.org/mailinglogger/mailinglogger.html

[2018-05-22 16:08] #1001 closed, assigned to nobody

[2018-07-11 09:04] kakshay21 opened #1005 "Fix viewlet documentation"
* **I'm submitting a ...**
  - [ ] bug report

* **Do you want to request a *feature* or report a *bug*?**
Bug in the documentation of viewlet

* **What is the current behavior?**
Currently, the viewlet manager shows configure.zcml configuraton instead of viewlet manager class.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the proble

[2018-07-12 07:29] svx opened #1006 "Update tools part of how to contribute"
# Description

Currently our docs about tools about contributing/writing docs like editors, etc are kind of outdated.

There are more editors and manuals these days on how to setup you stuff for reST. including testing etc, etc, etc

[2018-07-17 17:00] Rupeshiya commented on #909
@tkimnguyen  is this resolved ??

[2018-07-17 18:25] tkimnguyen commented on #909
thanks @svx I think this is enough. @Rupeshiya yes, it was merged a while ago. you can see the results in https://docs.plone.org/develop/plone/security/permission_lists.html#id3

[2018-07-17 18:25] #909 closed, assigned to tkimnguyen

[2018-07-19 08:50] svx opened #1007 "Research: Consider Netlify for hosting"
# Description

Years ago we had the docs on RTD, because of some build issues we moved to our own hardware.

We are busy re-evaluating the setup, and different approaches, from old school `rsync` over docker and k8, etc.

Taken the amount of people and time, I would like to through https://www.netlify.com/ into the mix.

We could build the docs 100% on CI, test them and according to branches push

[2018-07-23 09:28] jensens opened #1010 "Problem with "Install Plone Using A Minimal Buildout on Ubuntu 18.04""
My intern followed the instructions and she found the following problems with
https://docs.plone.org/manage/installing/installation_minimal_buildout.html on Ubuntu 18.04:

1. On Ubuntu 18.04 Pip for Python 2.7 is installed as ``pip2``.
2. Virtualenv is then installed as ``virtualenv``.

IMO this document may need more context.

[2018-07-23 09:35] svx commented on #1010
Well the whole docs are not updated and adjusted for 18.04.

Currently the docs are stating 16.04.

So, yes we need to update the complete docs to make them work with 16.04 and 18.04

[2018-07-23 10:13] jensens commented on #1010
and while at it, a note: A hint to install the dependend system-libraries before would help too.

[2018-07-28 07:41] Rupeshiya commented on #953
@svx should I fix this issue ?

[2018-07-28 07:47] Rupeshiya commented on #1006
@svx  I would like to work on this ,can you give the file location where to make changes ??

[2018-07-29 11:39] tkimnguyen commented on #1006
@Rupeshiya you can search this repository. Likely @svx meant this folder https://github.com/plone/documentation/tree/5.1/about/contributing

[2018-07-29 11:45] Rupeshiya commented on #1006
thanks @tkimnguyen ,should I add some editors ,usages ,their plugins for reST.

[2018-07-29 13:46] tkimnguyen commented on #1006
Maybe before you make any pull requests you could explain here what you propose to add

[2018-07-29 14:10] Rupeshiya commented on #1006
I would like to add some Helper Tools For Writing Documentation  like  UliPad(https://code.google.com/archive/p/ulipad/) , Editra(http://editra.org/preview) , TextMate(https://macromates.com/manual/en/),  Pycharm(http://www.jetbrains.com/pycharm/).
If I am correct ?? Have a look at it.  @tkimnguyen

[2018-07-29 14:52] tkimnguyen commented on #1006
It would help for the tools to be specifically useful to writing Plone documentation, e.g. RST editors, previewers, syntax checkers, etc., and then for each one you’d have to explain briefly how to set it up, how to use it.

[2018-07-29 20:24] stevepiercy commented on #1006
FWIW, PyCharm finally got reStructuredText preview in v2018.2, and has had a Sphinx builder and reStructuredText syntax checker for years. There's a professional paid edition and a community free edition. And they support open source software by giving the project's core developers free professional editions via [open source licenses](https://www.jetbrains.com/buy/opensource/), if the organization

[2018-07-30 05:39] Rupeshiya commented on #1006
@stevepiercy  Ulipad and Editra are open source (free of cost) ,we should add them in the list ?

[2018-07-30 06:00] svx commented on #1006
For me IMHO, this part of the docs should be less about specific editors, and more about general things with links to examples.
Adding more and more different editors is IMHO not the best way, cause it adds lots of extra work for us to keeping the docs up to date and it also could be confusing for people.

[2018-07-30 07:36] stevepiercy commented on #1006
@Rupeshiya I have never heard of either editor until now. Do they satisfy the requirements for making it easier to write documentation?

If I understand @svx's comment, he would prefer an entry that gives developers sufficient information up front with explicit references and examples, perhaps something like this? What do you think @svx?

PyCharm has [support for reStructuredText](https://www.jetb

[2018-07-30 07:42] svx commented on #1006
@stevepiercy yeah ! exactly !

And this maybe for the "most common ones" we know people use, for example:

- PyCharm
- Sublime
- VsCode

?

I rather prefer editors people use already and if we really want we can always link to a custom dd search with rst editors or something for example, or we could add an extra document for "documentation nerds" :)

[2018-07-30 08:36] stevepiercy commented on #1006
PyCharm and the PSF does an annual developer survey, and the [top 10 editor tools are listed](https://www.jetbrains.com/research/python-developers-survey-2017/#tools-and-features). I assume there is significant bias for PyCharm in the results. I filtered by Web Developers, because that's what we are:

% | Editor
--|-------
30% | PyCharm Professional Edition
14% | Sublime Text
12% | PyCharm Communi

[2018-07-30 08:40] svx commented on #1006
I also used Atom a lot for writing rst and md based docs, it is working well, too.

Vim, NeoVim, Emacs, etc also working well and they have plugins, too.

IMHO we can care less about these, of you use VIm, etc, you also now how to do the setup and where to find plugins I would say :)

[2018-07-30 08:51] stevepiercy commented on #1006
I've heard good things about Atom.

There's also [butterflies](https://www.xkcd.com/378/).

One of these days I'll learn how to quit vim aside from closing the terminal window.

I think the 4 we've cited is good enough for now.

[2018-07-30 16:42] svx commented on #1007
FYI, I will setup test builds on Netlify with a new theme and structure soon.

[2018-07-30 16:59] svx commented on #1007
To evaluate a bit more:

- Setting up a new sub domain, something like dev-docs.plone.org
- Having a script running with cron on CI (lets say travis to make it "easier" which pulls the latest master branch, builds the docs with new theme and structure and pushes it to above named domain, which is pointing to Netlify.

Why do it like that ?

My idea is not to "jcab" (just create another branch) but

[2018-08-01 09:22] stevepiercy opened #1012 "Repo description has http in link, should be https"
The repo description says:

Plone Documentation http://docs.plone.org

The link should be:

https://docs.plone.org

Someone with permission has to make the change.

[2018-08-01 09:29] svx commented on #1012
done !, thanks !

[2018-08-01 09:29] #1012 closed, assigned to svx

[2018-08-30 16:03] ida opened #1017 "Can't find chapter in repo"
Hi, wanted to add some notes to https://docs.plone.org/develop/coredev/docs/intro.html but somehow cannot find the corresponding page in the repo, could someone please give a hint where it's located?

It' about how start a Jenkins-job and what to do when the build breaks. Not so sure about the latter part though. This is the sketch to append to the doc:

[code]

[2018-08-30 17:04] polyester commented on #1017
Hi @ida ,
that has to be done in the buildout.coredev repo, specifically https://github.com/plone/buildout.coredev/tree/5.1/docs (or 5.2 for the 5.2 branch).
It's best to make a separate .rst file, and then link it in the index.rst

the whole docs folder of buildout.coredev is 'pulled in' to the docs.

[2018-08-30 17:47] ida commented on #1017
@polyester: Ah ok. Wanted to use the web-editor and searched this repo, but now see in "[how to update the docs](https://docs.plone.org/develop/core`dev/docs/updateme.html)" it's documented to checkout `buildout.coredev`, as you write. Thank you!

[2018-08-30 17:47] #1017 closed, assigned to nobody

[2018-09-07 09:15] ida commented on #1017
@polyester Closed this assuming the issue should be added to `buildout.coredev`, was that correct?
And I'd refrain from making an additional RST-file, if you don't mind, because the doc is really helpful to have a step-by-step checklist for making a complete contribution within one page.

[2018-10-03 16:59] flipmcf commented on #514
Just updating what I see, when I see it.

[2018-10-04 21:17] flipmcf opened #1021 "functionality/controlpanel.html: prefix used in ZCML without corresponding schema_prefix leading to unhelpful traceback"
* **I'm submitting a ...**
  - [X ] bug report
  - [ ] feature request

* **Do you want to request a *feature* or report a *bug*?**
Bug

* **What is the current behavior?**
Documentation - https://docs.plone.org/develop/plone/functionality/controlpanel.html

Is confusing with the usage of a Plone registry schema prefix

First, one encounters: `<records interface="silvuple.settings.ISettings" prefi

[2018-10-15 12:48] svx opened #1024 "Please follow our styleguides"
Hi,

First of all it is awesome and really great that people start writing docs about how to migrate to Python 3 !

**Thanks you!!**

But, please can you make sure that you follow our style-guide and best practices about `rst`  practices from the beginning ?

Going later on though all these files and fix them, will be a huge effort and we are trying really hard (since the PloneConf in Brazil) to f

[2018-10-15 13:38] svx opened #1025 "Branch clarification"
@polyester would you mind to shine some light on the branches ?

I am getting confused with the *5.2* and the *5.2py3* branch.

Why we need two, this makes IMHO merging/improving way more complicated ?

What is the idea behind having two 5.2 branches ?

[2018-10-15 13:55] polyester commented on #1025
5.2 is the branch I created.

5.2py3 branch was a temporary branch, created off that, to work on the update docs. It should have been deleted after it was merged into 5.2. I think I forgot that, because it was still a work-in-progress then.

I'll delete it now. If people want to update the WIP-documentation, they should create a new temp branch off of 5.2.

[2018-10-15 13:56] polyester commented on #1025
ah the pull request wasn't merged yet, because I didn't want to merge my own.

[2018-10-15 14:00] polyester commented on #1025
merged into 5.2 now, and closed the 5.2py3 branch.

[2018-10-15 14:00] #1025 closed, assigned to nobody

[2018-10-15 14:02] stevepiercy commented on #1024
To help developers toward the path of good documentation, what are the canonical links to the Style Guide and best practices? Let's be explicit, please.

[2018-10-15 14:29] svx commented on #1024
As said and written already many many times :)

A  good starting point is:

https://docs.plone.org/about/contributing/index.html

Which links to our style-guides:

https://docs.plone.org/about/contributing/rst-styleguide.html

https://docs.plone.org/about/contributing/documentation_styleguide.html

:)

And yes, people may have different opinions or may use different ones, but we use these :)

[2018-10-21 19:34] stevepiercy opened #1027 "Line Length clarification"
There are some conflicts within the [Line Length section](https://docs.plone.org/about/contributing/documentation_styleguide.html#line-length).

These conflict with one another. For the non-professional documentation writer, one sentence per line is a lot easier rule to understand than semantic line feeds. I would much prefer one sentence per line.

Personally I can't _stand_ semantic line feeds b

[2018-10-22 04:53] svx commented on #1027
About the line length, what is if we say aim to keep your lines to around 130 chars, I use something like that in other guides, because it gives you an idea, but it is no "hard" setting, 140 chars is 150% fine, if it fit the sentence :)

[2018-10-22 05:34] svx opened #1028 "Buildout and Plone API Docs"
We have to understand and hopefully fix how we can get rid of buildout for the API docs.

Everything works now fine without buildout, the only remaining headache in the new setup is Plone API.

If there is really no other fix, I will put API in a container and build it with cron every night or something so that we get the HTML.

I do not want to wait every time till buildout is finished and then b

[2018-10-22 10:56] stevepiercy commented on #1027
I don't see any benefit by limiting line lengths. Most editors soft-wrap lines, so contributors don't need it. It doesn't show up to readers, so they don't need it. Keeping it adds one more rule to remember and to enforce.

[2018-10-30 06:41] stevepiercy opened #1031 "Certificate Expired: Monday, October 29, 2018 at 4:01:08 PM Pacific Daylight Time"
The LE cert expired for https://docs.plone.org/ on Monday, October 29, 2018 at 4:01:08 PM Pacific Daylight Time.

[2018-10-30 07:28] svx commented on #1031
Fixed !

[2018-10-30 07:28] #1031 closed, assigned to nobody

[2018-10-30 08:11] stevepiercy commented on #1031
That was quick! Thank you!

I noticed in community.plone.org that this happened about 6 months ago, too. Is the auto-renew script not firing as it should?

[2019-01-14 17:35] AkshJain99 commented on #953
@svx i would like to fix this issue

[2019-01-14 19:41] stevepiercy commented on #953
@AkshJain99 submit a PR for review.

[2019-01-14 19:46] AkshJain99 commented on #953
okay

[2019-01-17 03:50] #953 closed, assigned to nobody

[2019-02-27 17:34] 1letter opened #1049 "Add missing statement to local.cfg in upgrade_to_python3.rst"
[code]

[2019-02-27 18:53] stevepiercy commented on #1049
@1letter Please submit a pull request against the 5.2 branch for review. Thank you!

[2019-02-28 08:16] 1letter commented on #1049
I can't do this, because i'm not signing the plone contributor agreement, until now. perhaps, i will try it today at the sprint in munich.

[2019-02-28 08:20] 1letter commented on #1049
I see there is [pull request](https://github.com/plone/documentation/pull/1050)

[2019-03-02 07:30] svx opened #1051 "Update rst style guide"
* **I'm submitting a ...**
  - [x] bug report

* **What is the current behavior?**
`:guilabel:` is missing

`:guilabel:` also needs to be added to the rst Style Guide.

[2019-03-02 07:33] svx commented on #1007
Tested and working

[2019-03-02 07:33] #1007 closed, assigned to svx

[2019-03-02 07:37] svx commented on #1027
Done for Plone 6 documentation linter.
We use a soft setting of 140 if you use more the test is still passing but suggesting that you may want less.

[2019-03-02 07:44] svx commented on #1051
Fixed with https://github.com/plone/documentation/pull/1052 Thanks!

[2019-03-02 07:44] #1051 closed, assigned to svx

[2019-03-02 08:31] stevepiercy commented on #1027
The narrative text was not changed. I'll submit a separate PR to fix the text.

[2019-03-02 08:34] svx commented on #1027
There is no need :) We do that from Plone 6 on.
The whole part of how to contribute and style guide is currently in the process of a rewrite and it is already covered there :)

[2019-03-02 08:37] stevepiercy commented on #1027
I disagree. Let's not establish bad habits for 5.2 that will be changed in 6. It's too confusing to maintain different style guide standards across multiple versions.

[2019-03-02 08:37] stevepiercy commented on #1027
More importantly, the guide is inconsistent now. That's a bug and should be fixed.

[2019-03-02 08:40] svx commented on #1027
Yeah, that is, of course, true, it is just that 6 will a complete rewrite anyway.
There is not much what we will "just" copy over.
But yeah, it can not hurt :)

[2019-03-15 10:53] svx opened #1061 "Content/Writing guide and accessibility"
I noticed that the Microsoft Style Guide now recommends using "select" for all UI and keyboard interactions.
They no longer recommend "click" or "press."
From what I hear, this has to do with accessibility concerns with screen readers.

https://docs.microsoft.com/en-us/style-guide/procedures-instructions/describing-interactions-with-ui

@polyester do you have an opinion on that?

[2019-03-15 11:24] stevepiercy commented on #1061
More verbs to consider replacing include "hover", "point", "tap", and other device-specific actions.

[2019-03-15 13:21] polyester commented on #1061
Seems reasonable. Both regarding a11y and more diverse ways of operating UI's (speech control, ...) "Select" describes what you should do, not a way in which you should do it, which might vary for any number of reasons. So +1

[2019-03-15 13:32] svx commented on #1061
Okay, I will add it to the guide and the checks!
Thanks!

[2019-03-18 09:51] MrTango commented on #1028
What's the problem here, you please describe what shoudl be optimized.
I can help then ;)

[2019-04-05 07:58] zopyx opened #1066 "Improper naming on https://docs.plone.org/external/plone.app.dexterity/docs/grok/reference/form-schema-hints.html"
`IBasic.description` must be `IDublinCore.description` in Plone 5(.2)

https://docs.plone.org/external/plone.app.dexterity/docs/grok/reference/form-schema-hints.html

[2019-04-08 11:19] zopyx opened #1067 "Missing import in https://docs.plone.org/external/plone.app.dexterity/docs/advanced/permissions.html#protecting-form-fields"
The given example uses `write_permission()` without actually importing it.

[2019-04-10 04:03] tkimnguyen opened #1068 "missing description for Actions control panel"
The list of control panels in https://github.com/plone/documentation/blob/5.1/adapt-and-extend/config/intro.rst is missing the Actions control panel, `/@@actions-controlpanel`

The Actions control panel itself needs documentation

[2019-04-10 04:04] tkimnguyen opened #1069 "remove the Caching control panel description"
The Caching control panel is no longer included and should be removed from https://github.com/plone/documentation/blob/5.1/adapt-and-extend/config/intro.rst

[2019-04-17 09:28] staeff commented on #1049
@1letter - as far as I can see, the PR solved this issue. Do you agree and can this issue be closed?

[2019-04-17 11:32] staeff commented on #983
@iamar7 - seems not to be the case anymore. Can this ticketbe closed?

[2019-04-17 14:28] pbauer commented on #983
The image https://docs.plone.org/_images/change-logo-in-site-control-panel.png works fine.

[2019-04-17 14:28] #983 closed, assigned to nobody

[2019-04-18 09:23] dninet opened #1074 "False documentation"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request

* **Do you want to request a *feature* or report a *bug*?**
*bug*

* **What is the current behavior?**
In https://github.com/plone/documentation/blob/0ea1b1f715e9031a434d72f57c189f25aa1f4b73/develop/addons/bobtemplates.plone/README.rst : 31 it says the following:
[code]
These commands don't work and should be
```$ mrbob bobtemp

[2019-04-18 10:05] staeff commented on #1074
@AlbertDavid94 - it should work because the output directory is a named param and could be in either position. For example mrbobs docs and the training are using the same order as written here originally. (https://training.plone.org/5/mastering-plone/eggs1.html#creating-the-package, https://mrbob.readthedocs.io/en/latest/userguide.html#remember-answers-to-a-config-file).
What exactly is the error

[2019-04-18 10:13] dninet commented on #1074
@staeff I've gotten multiple different errors and after trying various combinations, I've decided to google for hints whether someone had encountered this error before.

I found this [https://github.com/plone/bobtemplates.plone/issues/277](page) and tried the suggested combination. It seemed to work..

[2019-04-18 10:53] staeff commented on #1074
@AlbertDavid94 - but the issue you are pointing to is slightly different. Position should not matter.

The poster of the issue uses a command thats bobtemplates.plone pre 2.0.0:

`$ mrbob -O my.package bobtemplates:plone_addon`

and the command in the solution is (I edited names and changed order to emphasize the difference)

`$ mrbob -O my.package bobtemplates.plone:addon`

the training page I li

[2019-04-18 10:58] dninet commented on #1074
@staeff
Your first command results in
[code]

[2019-04-18 10:59] staeff commented on #1074
okay, looks like **that** error. Could you paste your command?

[2019-04-18 11:00] dninet commented on #1074
@staeff
```mrbob -O my.package bobtemplates:plone_addon```

[2019-04-18 11:01] staeff commented on #1074
Yap - use this. Its a subtle diffrence :)

mrbob -O my.package **bobtemplates.plone:addon**

[2019-04-18 11:06] dninet commented on #1074
@staeff
Maybe it's a good idea to change the sequence of commands in this documentation? I didn't look further and thought that, if the first command isn't going to work, I won't need to try to attempt the second command.

[2019-04-18 11:17] dninet commented on #1074
This [page](https://docs.plone.org/adapt-and-extend/theming/theme_product.html) (for example) also gives wrong information on how to create a theme..

[2019-04-18 12:19] staeff commented on #1074
You are right. The page is outdated. I think, there will be a few more things to update there, I'll have a look.

I don't understand your comment about the first and second command. On the docs page you mentioned originally in this ticket, all commands are working with bobtemplates.plone >= 2.0.0. The "wrong" command is coming from the ticket. It might be a good idea though, to mention the caveat

[2019-04-18 12:57] dninet commented on #1074
Well, the documentation is written as if it's partially a tutorial. I tried the first command first to see what effects it had but by giving me an error, I didn't bother to try the second command.

[2019-04-18 13:31] staeff commented on #1074
I am still lost. Are we talking about this document: https://github.com/plone/documentation/blob/0ea1b1f715e9031a434d72f57c189f25aa1f4b73/develop/addons/bobtemplates.plone/README.rst ?

[2019-04-27 07:48] jugmac00 opened #1075 "Search seems to be broken"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request

* **What is the current behavior?**
When I enter a search term, a broken popup appears, see attached screenshot.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**
- visit https://docs.plone.org/
- enter any search term in the upper right input field
- se

[2019-05-09 05:52] TG1999 commented on #1069
Assigning this issue to me

[2019-05-10 06:59] TG1999 commented on #1069
@tkimnguyen please review the PR

[2019-05-16 12:00] ritwikagarwal commented on #1067
Can you point out on which line/instance it is?
Thanks

[2019-05-16 22:08] #738 closed, assigned to nobody

[2019-05-27 05:35] kuetrzi opened #1082 "docs.plone.org certificate expires June 10, 2019"
Possibly automated renewal is not working.

[2019-05-27 06:41] svx commented on #1082
We are still in May :)

[2019-05-27 07:01] kuetrzi commented on #1082
Indeed we are. I thought it was worth being proactive with less than 2 weeks to go. It has expired a few times in the past. If you let me know the number of days before expiry you want to be be notified, I'll update our monitoring.

[2019-05-29 19:17] nutjob4life opened #1083 "Inconsistent case suggests wrong view name in contentlisting docs"
* **I'm submitting a ...**
  - [✓] bug report
  - [ ] feature request

* **Do you want to request a *feature* or report a *bug*?**

Bug.

* **What is the current behavior?**

The document for the plone.app.contentlisting view uses "contentListing" (with a capital `L`) prominently in headings and throughout the documentation. Combined with the fact that `@@folderListing` is the backward-compatible

[2019-05-29 19:22] stevepiercy commented on #1083
I think that these docs are pulled from an external source (see `external` in the URL of the rendered HTML) at https://github.com/plone/plone.app.contentlisting/edit/master/README.rst

1. Please make a PR against that package.
2. After it is merged there, then ping maintainers here to rebuild the docs so that it pulls in the merged change.

[2019-05-29 23:37] jensens commented on #1083
I think it is OK to just dump it here for now. Better to have it documented than moans on Twitter. If @nutjob4life is motivated to fix it ok, if not we're now aware of the problem and may fix it.
thanks!