[2019-06-01 00:55] kuetrzi commented on #1082
Looks like it has now renewed

[2019-06-01 00:55] #1082 closed, assigned to nobody

[2019-06-07 08:26] znbn opened #1084 "plone page on wikipedia-italy is obsolete"
In https://it.wikipedia.org/wiki/Plone there is written that the last version of Plone is 4.3.3 (2014).
The page should be updated because a lot of features are missing.

[2019-06-07 09:33] stevepiercy commented on #1084
@znbn You're welcome to edit that page. You don't need anyone's approval.

[2019-06-07 21:55] nutjob4life commented on #1083
Anyone mind if I just make the change and commit it to plone.app.contentlisting? It's just case-folding, so I'm not sure if the overhead of fork/branch/pull-req/review is all that necessary.

[2019-06-10 08:31] jensens commented on #1083
@nutjob4life I am ok if its a one liner in the README only

[2019-07-24 19:34] zhouwuji opened #1088 "How do I add a viewer count to my page?"
* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current behavior?**

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

* **What is the expected behavior?**

* **What is the motivation / use case for changing the behavior?**

[2019-07-24 20:11] stevepiercy commented on #1088
Please open a proper issue report. Closing.

[2019-07-24 20:11] #1088 closed, assigned to nobody

[2019-07-24 20:12] stevepiercy commented on #1088
For support, please visit https://community.plone.org/

[2019-09-13 15:19] dbitouze opened #1095 "Typo in documentation"
If I'm right, there's a typo line 172 of https://github.com/plone/documentation/blob/5.2/manage/upgrading/version_specific_migration/upgrade_zodb_to_python3.rst. It should be:

`parts +=`

instead of:

`parts =+`

[2019-09-13 15:25] ale-rt commented on #1095
True! You can fix this directly on github:
https://github.com/plone/documentation/edit/5.2/manage/upgrading/version_specific_migration/upgrade_zodb_to_python3.rst
but remember to write a meaningful changelog and to select the radio button "Create a new branch for this commit and start a pull request"

[2019-09-13 15:29] dbitouze commented on #1095
I preferred to just open an issue since I didn't sign the Plone Contributor Agreement that lets me merge pull requests.

[2019-09-13 15:38] ale-rt commented on #1095
Documentation does not require it, right @plone/documentation-team

[2019-09-13 16:23] tkimnguyen commented on #1095
I’m sure somewhere in docs.plone.org it says  (Contributing?) that you can stare in your PR that you grant us all rights if you haven’t already signed the contributor agreement.

[2019-09-13 16:25] tkimnguyen commented on #1095
s/stare/state/

[2019-09-13 16:48] dbitouze commented on #1095
Done (hope the changelog is meaningful enough).

[2019-09-13 20:29] polyester commented on #1095
Just to weigh in: a simple typo does *not* need a contributor agreement, as it does not constitute a "work" in copyright law. Of course, @dbitouze you are very welcome to sign one anyway and enjoy the warm fuzzy feeling of being a fully-fledged Plone contributor ;-)

There's not a super-clear division line between what is a "work" and what is not, but a few-characters typo definitely doesn't need

[2019-09-20 13:44] dbitouze opened #1097 "Apache as front-endfor Plone: NameVirtualHost will be removed in the next (Apache) release"
The (Plone 5) documentation about [Apache as front-end Web Server for Plone](https://docs.plone.org/manage/deploying/front-end/apache.html#installing-apache-front-end-for-plone) tells you to add a virtual host configuration file `/etc/apache2/sites-enabled/yoursite.conf` containing (among other things):

`NameVirtualHost *`

But, when Apache is restarted, the following warning appears:

Probably t

[2019-09-20 18:58] stevepiercy commented on #1097
[Third hit in DDG](https://serverfault.com/questions/576939/namevirtualhost-has-no-effect).

The docs should also use the latest version of Apache 2.4.x. 2.2.x is no longer maintained and has issues. However I don't know anyone who uses Apache for a front end web server for Plone these days who would take on the maintenance of this page of the docs.

[2019-09-20 19:21] dbitouze commented on #1097
Does it mean Nginx may be a better choice?

[2019-09-20 19:28] stevepiercy commented on #1097
No. It means use whatever works for you and your situation. That said, nginx is more popular and has lots more documentation in the Plone community, including in [automated deployments](https://docs.plone.org/external/ansible-playbook/docs/webserver.html).

[2019-09-20 19:30] stevepiercy commented on #1097
Also I would suggest you take this to the [community forum](https://community.plone.org) to get a broader perspective, because fewer people monitor the docs repo than exist in the community.

[2019-09-20 23:37] ataoleo commented on #1097
apach&nbsp;

---Original---
From: "Steve Piercy"<notifications@github.com&gt;
Date: Sat, Sep 21, 2019 03:28 AM
To: "plone/documentation"<documentation@noreply.github.com&gt;;
Cc: "Subscribed"<subscribed@noreply.github.com&gt;;
Subject: Re: [plone/documentation] Apache as front-endfor Plone: NameVirtualHost will be removed in the next (Apache) release (#1097)

No. It means use whatever works for yo

[2019-09-22 07:41] dbitouze commented on #1097
@stevepiercy

Of course, thanks anyway for the hints.

[2019-09-22 07:42] dbitouze commented on #1097
@ataoleo Your message seems to be incomplete.

[2019-09-22 14:53] tkimnguyen commented on #1097
@dbitouze nginx is definitely more popular nowadays for Plone installs. I have not seen a production deployment that uses Apache in quite some time. If you look in the https://github.com/plone/ansible-playbook the current best practice is to use nginx. However if someone is able to update the Apache section in our docs that would be great!

[2019-09-22 19:42] dbitouze commented on #1097
@tkimnguyen Unfortunately, my OS (Linux Mageia 7) seems to not be supported:

[2019-09-22 19:46] dbitouze commented on #1097
@tkimnguyen Moreover, I'm using Plone 5.2 with Python3 and I don't know if it is compatible with the fact:

[2019-09-22 21:35] tkimnguyen commented on #1097
We just redeployed a lot of Foundation servers with the playbook so maybe that part of the docs is just out of date.

If your OS or distro isn’t on the list you can still follow something like the https://github.com/plone/simple-plone-buildout maybe

[2019-09-23 12:17] dbitouze commented on #1097
@tkimnguyen

I reloaded the corresponding page but I didn't see any update.

This seems to not be adapted to my Linux Mageia server:

[2019-10-04 08:05] #1069 closed, assigned to nobody

[2019-10-26 08:24] acsr commented on #1075
FYI: We pickup the topic now during the #PloneConf2019 Sprint in Ferrara!

[2019-10-26 12:22] polyester commented on #1075
... and it's live

[2019-10-26 12:22] #1075 closed, assigned to nobody

[2019-10-29 19:50] spereverde commented on #1095
thanks for fixing this @dbitouze 🙂

[2019-10-29 19:50] #1095 closed, assigned to nobody

[2019-11-19 01:10] tkimnguyen opened #1104 "start mentioning easyform alongside PloneFormGen"
This is related to #711 but since easyform is not as fully featured as PFG it can't really (yet) be considered a replacement.

However, Plone 5.2 on Python 3 will not run PFG, which is Archetypes-based, making easyform the only viable TTW form tool.

With that in mind, we need to start mentioning easyform in the docs where PFG is mentioned or documented, e.g. https://docs.plone.org/working-with-co

[2019-12-06 10:15] 1letter opened #1109 "wrong example execute_under_special_role"
the example `execute_under_special_role` has a [wrong import statement](https://docs.plone.org/develop/plone/security/permissions.html#bypassing-permission-checksl)  for Plone 5.2

old:
[code]
new:
[code]

[2019-12-11 09:58] thet opened #1112 "Coredev docs: Document usage of towncrier"
Currently the coredev guidelines say, that one should add a CHANGES.rst changelog entry. See: https://docs.plone.org/develop/coredev/docs/guidelines.html#create-a-pull-request
But since most of the core packages use towncrier, thats obsolete.
It needs to be changed at least here: https://github.com/plone/buildout.coredev/blob/5.2/docs/guidelines.rst

Fixed here: https://github.com/plone/buildout.c

[2019-12-24 08:47] frankar opened #1113 "develop/plone/forms/files.rst"
Simple CSV file Upload Form must be adapted for python 3 and Plone 5.2

[code]

[2020-01-05 10:53] #1112 closed, assigned to nobody

[2020-01-05 12:43] ataoleo commented on #1113
取消订阅

---Original---
From: "Franco Carinato"<notifications@github.com&gt;
Date: Tue, Dec 24, 2019 16:48 PM
To: "plone/documentation"<documentation@noreply.github.com&gt;;
Cc: "Subscribed"<subscribed@noreply.github.com&gt;;
Subject: [plone/documentation] develop/plone/forms/files.rst (#1113)

Simple CSV file Upload Form must be adapted for python 3

—
You are receiving this because you are subscrib

[2020-10-03 10:51] mauritsvanrees opened #1123 "Document PLIP 1775: CMFQuickInstallerTool removal Plone 6"
PLIP 1775 was merged. Some documentation would be needed. The [comment](https://github.com/plone/Products.CMFPlone/issues/1775#issuecomment-620915913) can be the basis for that.
Where would that need to be added? In the 5.2 branch? I see a 6 branch but not much has happened there.

Let me copy the comment, and amend a bit.

# portal_quickinstaller removed

See [PLIP 1775](https://github.com/plone/

[2021-01-20 16:00] Defforge309 commented on #734
plateforme - entreprise

[2021-02-26 21:49] #1109 closed, assigned to nobody

[2021-05-07 22:00] mck9 commented on #612
+1 was searching again today :-(

[2021-09-13 09:18] stevepiercy commented on #794
@tkimnguyen I'm closing this issue as stale. Feel free to migrate that tutorial into a new directory under `docs/`, assuming it is still useful. We now use MyST and Markdown and have a shiny new theme. Let me know if you need any help with that.

[2021-09-13 09:18] #794 closed, assigned to nobody

[2021-10-29 08:35] XinyiXiang opened #1128 "Broken links for collective under Contributing to Plone Core"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request

* **Do you want to request a *feature* or report a *bug*?**
Reporting a bug

* **What is the current behavior?**
Page error 404

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**
Go to https://docs.plone.org/develop/coredev/docs/agreement.html#contributin

[2021-10-29 17:28] polyester commented on #1128
acknowledged. I will release fix this weekend. Thanks for reporting!

[2021-11-01 11:44] #1128 closed, assigned to polyester

[2021-11-10 13:09] ThibautBorn opened #1129 "broken ploneformgen links"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request

* **Do you want to request a *feature* or report a *bug*?**

bug

* **What is the current behavior?**
There are still Links to the 'ploneformgen' products page, but these do not longer seem to exist.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**
see

[2021-11-10 20:53] stevepiercy commented on #1129
@ThibautBorn would you please submit a pull request that replaces the URL https://plone.org/products/ploneformgen with https://pypi.org/project/Products.PloneFormGen/ throughout the entire set of documentation?

I don't think a redirect is necessary.

[2021-11-11 21:24] polyester commented on #1129
I'll fix this on Saturday. Thanks @ThibautBorn for reporting.

[2021-11-12 11:15] spereverde opened #1130 "safe_html settings documentation needs update for >= Plone 5.1"
* **I'm submitting a ...**
  - [x] feature request

* **What is the current behavior?**
The documentation about adjusting nasty and valid tags is referencing the safe_html transforms config inside portal-transforms, this no longer exists there

* **What is the expected behavior?**
The documentation should be updated to use the HTML Filtering control panel to set the nasty and valid tags

* **Other

[2021-11-15 17:12] polyester commented on #1129
fixed via https://github.com/plone/documentation/pull/1132 ; will deploy tomorrow

[2021-11-15 17:12] #1129 closed, assigned to polyester

[2021-11-15 21:27] spereverde commented on #1129
Thanks!

On Mon, Nov 15, 2021, 18:12 Paul Roeland ***@***.***> wrote:

[2021-11-19 09:34] spereverde commented on #1024
@svx can we close this issue or is it needed as a gentle reminder 😄

[2021-11-19 09:52] spereverde commented on #1067
fixed in https://github.com/plone/plone.app.dexterity/commit/43edc3abd76dcaaf7313d49dadec7a24642bee4e in https://github.com/plone/plone.app.dexterity

[2021-11-19 09:52] #1067 closed, assigned to nobody

[2021-11-19 10:29] spereverde commented on #1123
Everything Plone 6 backend related should go into https://github.com/plone/documentation/tree/backend-6

Maybe we could add this inside a (new) migrating plone 5 to plone 6 section under https://docs.plone.org/manage/upgrading/version_specific_migration/index.html?

I searched and can't find any documentation on portal_quickinstaller, only notes about not using it anymore inside the developing add

[2021-11-19 10:34] spereverde commented on #1066
this was fixed in https://github.com/plone/plone.app.dexterity/commit/86f9062c5907418c442b76ca80bc99f103dfd782

[2021-11-19 10:35] #1066 closed, assigned to spereverde

[2021-11-19 10:41] spereverde commented on #1006
new list of editors on https://www.jetbrains.com/lp/python-developers-survey-2020/
unsure if you should continue this if for Plone 6 we're moving to a markdown based setup?

[2021-11-19 10:52] spereverde commented on #221
This was adjusted in the docs, it mentions not using PloneTestCase anymore, see https://docs.plone.org/develop/testing/unit_testing.html#creating-unit-tests
I added a comment to the current docs on the stackoverflow page

[2021-11-19 10:52] #221 closed

[2021-11-19 10:56] spereverde commented on #313
There are still some references to paster in the docs, I can start a cleanup

Can I remove this zopeskel exception from the common exceptions list?https://docs.plone.org/manage/troubleshooting/exceptions.html#from-zopeskel-basic-namespace-import-basicnamespace
@svx, @polyester opnions?

[2021-11-19 11:14] #204 closed

[2021-11-19 12:24] stevepiercy commented on #1006
PyCharm has good support for Markdown, reStructuredText, and MyST.

[2021-12-12 08:34] stevepiercy opened #1134 "Release Plone 6 docs"
This is a placeholder issue for the imminent release of Plone 6 docs as being tracked in the GitHub Project Board [Plone 6.0 - tasks to final](https://github.com/orgs/plone/projects/11).

**Documentation project board: https://github.com/orgs/plone/projects/12/**

**View current state of Plone 6 documentation: https://6.docs.plone.org/**

## Organization

### Discord server

https://discord.gg/NES

[2021-12-16 22:16] #1130 closed, assigned to spereverde

[2022-01-11 12:31] mauritsvanrees commented on #1123
Meanwhile done.

[2022-01-11 12:32] #1123 closed, assigned to nobody

[2022-01-15 12:09] MrTango opened #1137 "Plone 6: [dev] Backend / Classic UI"
### Overview Plone 6 backend / classic-ui developer docs

#### structure

Keep it as flat as possible, very long stories should be handled in trainings. Short examples (tutorial style) should stay in the docs close to the context.
Backend is relevant for Headless and Classic UI, if in doubt keep it in backend for the moment.

##### Backend

- content types
- behaviors
- annotations
- vocabularies

[2022-01-15 14:22] ksuess commented on #1134
Summary of the sprint meeting 15.02.2022 14 CET
Present: @polyester @sneridagh @rioksane and plone.org sprint participants.

Paul summed it up already in Discord:

- use the same tech stack as training
- use only one branch, for both classic and volto
- use markdown as the language
- bring them online, automated, under something like https://6-dev.docs.plone.org/
- start working, refine later.

My

[2022-01-15 15:21] ksuess commented on #1134
Project for involved issues: https://github.com/orgs/plone/projects/12/

[2022-01-15 16:05] flipmcf opened #1138 "templates (incorporate Zope Page Templates / Chameleon docs)"

[2022-01-15 20:07] MrTango commented on #1134
Regarding the structure, we started here with defining how we would see backend and classic-ui being structured, so that we have backend which is for headless and classicc-ui and the classic-ui topics. Volto-ui will be the 3. category and probably pointing to backend topics.
https://github.com/plone/documentation/issues/1137

[2022-01-16 09:44] stevepiercy opened #1140 "Plone 6 Docs Final Release Checklist"
# Plone 6 Docs Plan

This is a checklist of tasks to perform just before the launch of the final release of Plone 6 Docs. Please add items as needed.

We will add `latest.docs.plone.org` as an alias for `6.docs.plone.org`. This could possibly future proof docs to always point at the latest URL as the version of Plone increases. It could also detect when a page moves with `linkcheck` and `intersphi

[2022-01-18 12:30] stevepiercy commented on #1137
@MrTango regarding the four task checkboxes, I am not clear about what you mean. Perhaps these should be separate issues?

Also an update: I have completed the structure for `backend`, and I have started on `classic-ui` in my draft PR #1141

[2022-01-19 12:55] stevepiercy opened #1142 "Document resource registry in `classic-ui/static-resources`"
Document resource registry in `classic-ui/static-resources`.

old docs:
- https://5.docs.plone.org/adapt-and-extend/theming/resourceregistry.html

[2022-01-19 12:58] stevepiercy opened #1143 "Migrate content from Training: dexterity field/widget reference"
Migrate content from Training: dexterity field/widget reference

@MrTango is this the correct source?

https://training.plone.org/5/ttw/dexterity.html

What is its destination?

[2022-01-19 13:00] stevepiercy opened #1144 "Migrate content from Trainings: relation reference > docs"
Migrate relation reference content from Trainings.

@MrTango is this the source?

https://training.plone.org/5/mastering-plone/relations.html

What is its destination?

[2022-01-19 13:00] stevepiercy commented on #1137
I addressed the structure in PR #1141.

I created new issues for the tasks where they can be tracked.

Closing.

[2022-01-19 13:00] #1137 closed, assigned to nobody

[2022-01-19 22:06] stevepiercy opened #1145 "Update link to contributing guidelines in `.github/CONTRIBUTING.md`"
The current link goes to Trainings. It should go to Docs.

[2022-01-19 22:14] stevepiercy opened #1146 "Automate deployment to 6.dev-docs.plone.org"
We need to deploy documentation under development to ~~`6-dev.docs.plone.org`~~ `6-dev-docs.plone.org`.

- [x] Create space for automatic deployments under our own hosting.
- [x] Get DNS entry to point `6-dev-docs.plone.org` to our own hosting.
- [x] Configure our server to resolve requests to the space.
- [x] Create secrets and add them to [Settings > Secrets](https://github.com/plone/documentati

[2022-01-19 22:48] stevepiercy opened #1147 "Improve SEO with `html_meta` directive."
All files now have placeholders for content to be added to the `html_meta` tags.

See https://github.com/plone/training/issues/519

- [x] Volto
- [x] plone.api
- [x] plone.restapi
- [ ] backend
- [ ] Classic UI

[2022-01-19 22:51] stevepiercy opened #1148 "Determine how to integrate https://docs.voltocms.com/"
Determine how to integrate https://docs.voltocms.com/. Include in main docs or create a separate subdomain under `plone.org`?

@tiberiuichim will attempt to modify the Makefile in PR #1141 and on branch https://github.com/stevepiercy/documentation/blob/port-training-config/Makefile to use git submodules and pull content from that repo into this one.

[2022-01-19 22:53] stevepiercy opened #1149 "Use redirects to avoid link rot with sphinx-reredirects"
Configuring the web server for redirects requires an admin.

This Sphinx extension allows the author to add a redirect to the file itself.

See https://github.com/documatt/sphinx-reredirects/issues/3 and open PR https://github.com/documatt/sphinx-reredirects/pull/6.

At this moment we do not have any specific redirects, but we might in the future.

[2022-01-20 00:04] stevepiercy opened #1150 "Customize the theme to align with Plone branding"
The primary navbar needs some love. I'm not sure why the title and logo are not stacked.

![Screen Shot 2022-01-19 at 4 25 49 PM](https://user-images.githubusercontent.com/102112/150240026-ad119472-4080-4c5b-a44a-2d1243b632ff.png)

[2022-01-20 00:05] stevepiercy opened #1151 "Update content for how to install, maintain, and deploy Plone 6"
Update content for how to install, maintain, and deploy Plone 6.

Include sub-tasks for Plone 6 Classic and Plone 6 Frontend.

## Current installation methods

These need definitions and descriptions, including when you would use one or another.

- buildout
- pip
- Docker
- tox
- mxdev
- node

## Stories

- demonstration
  - demo sites
  - local installation only
- development, testing, and deploy

[2022-01-20 00:07] stevepiercy opened #1152 "Update relevant Training docs to point to authoritative Plone 6 Docs"

[2022-01-20 00:08] stevepiercy opened #1153 "Create a clear guide for Contributing to Documentation"
A first attempt was ported from Trainings in PR #1141.

[2022-01-20 00:09] stevepiercy opened #1154 "Investigate Netlify as possible deployment infrastructure"
Investigate Netlify as possible deployment infrastructure without piling onto an existing server. It's just static content.

[2022-01-20 00:11] stevepiercy commented on #1134
I have locked conversation on this issue because I created separate issues for each of the remaining tasks that is not in PR plone/documentation#1141. I will keep it open as a reference.

[2022-01-20 00:16] stevepiercy opened #1155 "Local table of contents div displays when there is no ToC"
On the search results page and any other page that lacks local navigation, an empty div appears with a faint outline in the upper right cornet.

![Screen Shot 2022-01-19 at 4 14 47 PM](https://user-images.githubusercontent.com/102112/150239028-e3659f70-3660-477f-bab8-21021f55f441.png)

Here's another screenshot to show the inspected div.

![Screen Shot 2022-01-19 at 4 13 17 PM](https://user-images

[2022-01-20 00:20] stevepiercy opened #1156 "Search results should show breadcrumbs"
Currently the search results only show the page title.

They should display the full path as breadcrumbs, as well as the page title, similar to DuckDuckGo.

![Screen Shot 2022-01-19 at 4 19 41 PM](https://user-images.githubusercontent.com/102112/150239454-8bbfccc7-12a4-4290-b99e-239cb00f3815.png)

[2022-01-20 04:11] stevepiercy commented on #1154
This was pretty tricky, but I got it to work. Here's a temporary URL to preview the docs:

https://61e8de5e50d8f50008c486f8--6-dev-docs-plone-org.netlify.app/

Netlify creates a unique preview URL with a hash for every build, which is triggered on every push to a PR against `6-dev`.

See also #1146.

[2022-01-20 04:12] stevepiercy commented on #1146
@ericof or any other DNS manager, can you work your magic to create the necessary DNS entry?

[2022-01-20 04:29] stevepiercy commented on #1154
Is there anyone else who would like to join the Plone 6 Docs team on Netlify?

[2022-01-20 05:32] ksuess opened #1157 "Replace outdated gulp with alternative for live update of local set up"

[2022-01-20 05:39] ksuess commented on #1154
yes, I am curious.

[2022-01-20 06:07] stevepiercy opened #1158 "Enable `google_analytics_id`"
Enable `google_analytics_id`. We either need to get a separate GA ID for now, or enable the one that is commented out in `conf.py` once the docs are deployed into production.

[2022-01-20 06:34] stevepiercy commented on #1157
I use sphinx-autobuild. I pushed 2d3a68723f6ed3bec2b62585e5418b8acc8845ad to https://github.com/plone/documentation/pull/1141 to try it out.

[2022-01-20 06:48] stevepiercy commented on #1154
When I was about to add @ksuess and @tkimnguyen, Netlify warned me:

I applied Plone Documentation as an Open Source Project, and I am awaiting a response.

[2022-01-20 07:21] ksuess commented on #1157
sphinx-autobuild works like a charm. gulp can be removed. docs about gulp also.

[2022-01-20 08:26] stevepiercy commented on #1157
Done in 835f01aadbb46259fbb147b8032c81d42a536d62.

[2022-01-20 09:44] polyester commented on #1146
@stevepiercy @ericof  it appears that Cloudflare (at least on our opensource level) does not provide multiple level subdomains SSL - for that you need an (expensive) extra. So, I've set up 6-dev-docs.plone.org to point to 6-dev-docs-plone-org.netlify.app but that probably needs to be set up in Netlify as well.

[2022-01-20 09:53] stevepiercy commented on #1146
Thank you! That should work, as soon as the pull request gets merged to `6-dev`. Right now, that branch lacks sufficient build configuration.

We could use another pair of eyes to review https://github.com/plone/documentation/pull/1141. I ported the contributing stuff from Trainings, but it definitely needs review by someone with your talent and experience, @polyester.

A temporary URL to view the

[2022-01-20 11:20] ksuess commented on #1157
really nice solution.

[2022-01-20 11:20] #1157 closed, assigned to nobody

[2022-01-21 08:16] stevepiercy commented on #1154
Also add @flipmcf and @spereverde

[2022-01-21 08:30] stevepiercy commented on #1146
I deployed a preview of the PR to `6-dev-docs-plone-org.netlify.app` but it appears the CNAME entry for `6-dev-docs.plone.org` does not resolve to it. @polyester @ericof @tkimnguyen would you please check the DNS for this?

[code]

See instructions: https://docs.netlify.com/domains-https/custom-domains/configure-external-dns/#configure-a-subdomain

[2022-01-21 08:53] ksuess opened #1159 "Add sitemap"
https://techwriter.documatt.com/2020/sphinx-sitemap.html

[2022-01-21 10:08] polyester commented on #1146
I had set it with the (default) setting "proxy". After some googling, that appears wrong as Netifly doesn't like to be proxied. Now set it as "DNS only". That makes the connection, host -t cname 6-dev-docs.plone.org is correct, but obviously gives an SSL error. So presumably a LetsEncrypt one needs to be set in Netifly, according to https://docs.netlify.com/domains-https/https-ssl/

[2022-01-21 10:21] stevepiercy commented on #1146
I need to provide a custom certificate per https://docs.netlify.com/domains-https/https-ssl/#custom-certificates

This is not a great option because the cert does not auto-renew and would require manual intervention. 🤮

We might be better off with hosting the site ourselves, like we do with Trainings. @ericof set up keys with GitHub Actions to do an automatic deployment.

Another option would be t

[2022-01-21 10:43] polyester commented on #1146
hmm, doesn't https://docs.netlify.com/domains-https/https-ssl/#netlify-managed-certificates imply that they auto-renew even for a custom domain? OTOH, we should be able to host on own site.

[2022-01-21 11:20] stevepiercy commented on #1146
Yes, but only if they manage the DNS, and I assume we do not want to do that.

See https://docs.netlify.com/domains-https/custom-domains/#assign-a-domain-to-a-site under "If the domain is registered (already has an owner),":

Second and third bullet points:

- If the domain was registered elsewhere, you can choose to use Netlify DNS for automatic configuration, branch subdomains, and automatic HTT

[2022-01-22 01:21] tkimnguyen commented on #1154
Another way to deploy for free is to GitHub pages with Jekyll, e.g. https://docs.github.com/en/pages/setting-up-a-github-pages-site-with-jekyll/about-github-pages-and-jekyll and you can set a custom domain

[2022-01-22 04:59] stevepiercy commented on #1154
How would that work with our chosen infrastructure of Sphinx and MyST?

[2022-01-22 09:50] stevepiercy commented on #1159
Done in https://github.com/plone/documentation/pull/1141/commits/c3223503ba8913c2d7bd5300fd9189824b73a628

Although we do not yet have a fully working deployment, I've set this configuration for the inevitability.

[2022-01-22 10:02] stevepiercy commented on #1146
I think we are left with two options for deploying docs.

1. Host our own, like we do with Training. @ericof helped with that. I think the advantage of that is control, but the disadvantage is supporting the infrastructure.
2. ReadTheDocs. This has a unique advantage of generating ad revenue with Ethical Ads, if we so choose. We do this with the Pylons Project, and donate the $20/month we get from

[2022-01-22 10:06] stevepiercy commented on #1154
It's been a couple of business days since I requested an Open Source License. Given the slow response, and the inability to automatically renew a secure certificate for a custom domain on Netlify without using them for domain management, I'm going to close this issue as "will not fix".

If anyone finds information contrary to my findings, I would really appreciate it.

Otherwise, we can discuss wh

[2022-01-22 10:06] #1154 closed, assigned to stevepiercy

[2022-01-22 10:07] #1159 closed, assigned to nobody

[2022-01-22 10:09] stevepiercy commented on #1146
That was rude @mister-roboto! Reopening.

[2022-01-23 02:33] tkimnguyen commented on #1146
It might be a good thing to reduce the load on our admin team

[2022-01-23 03:21] tkimnguyen commented on #1146
If we could use exactly the same infrastructure as for the training docs then there is no extra burden on the admin team and it has the advantage of being in the exact same place with the same processes and workflow

[2022-01-23 03:22] tkimnguyen commented on #1146
Using Netlify or some other infrastructure would be more burden in the sense that it would be one more stack to manage and one more place to remember

[2022-01-23 15:00] polyester commented on #1146
I'm in favor of using our own infra:

- there is no real extra burden, as we need a VM for static HTML for other things as well (docs for 3,4,5, archive.plone.org, training, etc)
- it's fairly trivial to host static html anyway
- it gives control to add some extras, like a landing page, or rewrites for instance if it turns out that incoming links on sites beyond our control are wrong.

[2022-01-23 17:00] nileshgulia1 commented on #1150
@stevepiercy I can take this.

[2022-01-23 17:05] nileshgulia1 commented on #1150
hm... looks good in https://6-dev-docs.plone.org

[2022-01-23 17:05] #1150 closed, assigned to nobody

[2022-01-23 17:46] spereverde commented on #1146
Also in favor of using same infrastructure as training

[2022-01-23 18:51] stevepiercy commented on #1150
This turned out to be a configuration issue in `conf.py` from not copying over the required CSS:

[code]

[2022-01-24 08:22] stevepiercy commented on #1146
The consensus is to use our own infrastructure to host the docs. I have updated the checklist at the top of this issue. It is assigned to @ericof, but if anyone else has the knowledge and permission to make the necessary changes as we did for Trainings, feel free to pick up the issue and tag @ericof that you're working on it.

[2022-01-24 08:24] stevepiercy commented on #1154
As a side note, I just got approval from Netlify as a team. Nonetheless we decided to go with our own infrastructure for hosting the Documentation as discussed in #1146.

[2022-01-24 08:42] stevepiercy commented on #1154
I've also transferred this site to the [Netlify team Plone](https://app.netlify.com/teams/plone/overview), and invited @flipmcf, @tkimnguyen, and @ksuess to join, but I need @spereverde's email to invite her.

[2022-01-24 09:12] stevepiercy commented on #1155
@nileshgulia1 thank you for your work. I'll review and test your two recent commits to make sure they work as expected.

However please do not make commits directly to the branch `6-dev`. Doing so does not send notifications to the Documentation team, and it bypasses quality checks. I have also made `6-dev` a protected branch so that no one does this in the future.

Contributors should instead cre

[2022-01-24 09:22] stevepiercy commented on #1155
I confirm that the commit resolves this issue. Thank you @nileshgulia1!

[2022-01-24 09:23] #1155 closed, assigned to nileshgulia1

[2022-01-24 10:35] stevepiercy opened #1162 "Stop breaking Jenkins builds in buildout.coredev"
See https://github.com/plone/buildout.coredev/issues/768

What should I do? Help!

[2022-01-24 22:57] jensens opened #1163 "Markdownnlint colors my editor - enforce Markdownlint?"
Usually I write markdown with help of [Markdownlint](https://github.com/DavidAnson/markdownlint) - there's is a neat [VSCode plugin](https://marketplace.visualstudio.com/items?itemName=DavidAnson.vscode-markdownlint)  - and so I keep my style more consistent.

Unfortunately the docs are in wide parts colored with lots of warnings.

We should fix that!

[2022-01-25 00:05] stevepiercy commented on #1163
This looks interesting. Sphinx does error checking, so I am surprised it does not catch the errors with `make livehtml`.

At the very least, we can suggest it as a development tool, but I don't know yet whether to make it a requirement.

Can you give an example of something that shows errors, including screenshots?

I would prefer to avoid adding node stuff back, as we just purged it from the proj

[2022-01-25 08:01] ksuess opened #1164 "Add hint to contributors guidelines: VSCode extension "MyST-Markdown""
VSCode Extension "MyST-Markdown" https://marketplace.visualstudio.com/items?itemName=ExecutableBookProject.myst-highlight

![image](https://user-images.githubusercontent.com/1144737/150935033-81a9c4a9-d39d-4ce8-a859-228d0da4e9f0.png)

![image](https://user-images.githubusercontent.com/1144737/150935717-3e6441f9-fa16-40f4-9fd1-da82d587f936.png)

[2022-01-25 08:10] ksuess opened #1165 "Add hint to contributors guidelines: How to mark a section that needs some content or just reviewing."
[code]

![image](https://user-images.githubusercontent.com/1144737/150936964-2b6364d7-6e25-4f4f-a188-2aab4adff383.png)

[2022-01-25 09:51] stevepiercy opened #1167 "Keep or remove Netlify badge?"
Subsequent to our decision not to use Netlify for our production deployments, @ksuess pointed out that the preview feature is useful. We can link a GitHub pull request or issue to a specific preview build, and add comments directly in the preview pages.

https://github.com/plone/documentation/issues/1166

https://deploy-preview-1166--6-dev-docs-plone-org.netlify.app/

![Screen Shot 2022-01-25 at 1

[2022-01-25 09:53] stevepiercy commented on #1167
Neat! If I comment from the Netlify preview, it updates that GitHub Issue along with some nice metadata.

https://github.com/plone/documentation/pull/1166#issuecomment-1020999893

[2022-01-25 12:51] jensens commented on #1163
Like this, mostly the same warnings, VSCode "format document" eliminates most automatically.

![Screenshot from 2022-01-25 13-46-13](https://user-images.githubusercontent.com/157140/150979513-a973e2a8-c705-411a-94c6-9060ae96c547.png)

The there are more valid complaints like

![Screenshot from 2022-01-25 13-48-29](https://user-images.githubusercontent.com/157140/150979982-de2df031-514e-4567-8d92-e

[2022-01-25 13:01] stevepiercy commented on #1163
- The label is valid MyST syntax. We are going to keep that.
- Multiple blank lines help provide visual separation between sections, especially when we need a blank line for labels.
- Bare URLs are also OK. We have a configuration value in `conf.py` to convert them to clickable URLs. Yay MyST!

I assume that you can configure the plugin to ignore these warnings, similar to how you would with flake

[2022-01-25 13:03] stevepiercy commented on #1163
I would accept a configuration dot-file or similar, and we can add the plugin as suggested editing tool. However @ksuess just opened https://github.com/plone/documentation/issues/1164 which might be a better plugin for our purposes. Please try that one out, and let us know what you think.

[2022-01-25 13:07] stevepiercy commented on #1164
Nice. PyCharm does not have autocomplete for admonitions. It only has CommonMark support, without the MyST superset. I poked them on Twitter for it, and with @pauleveritt who is a Sphinx/MyST advocate, maybe it will happen.

[2022-01-25 13:13] stevepiercy commented on #1165
`sphinx.ext.todo` should handle this.

[code]

![Screen Shot 2022-01-25 at 5 10 40 AM](https://user-images.githubusercontent.com/102112/150982878-e300b1e9-08db-41e0-b1e9-2f394cc1e2d5.png)

We need to adjust the style sheet so that it does not use the default admonition style, but instead the class `admonition-todo`.

[code]

[2022-01-25 13:14] stevepiercy commented on #1165
See also the docs for the extension:

https://www.sphinx-doc.org/en/master/usage/extensions/todo.html

[2022-01-25 13:20] pauleveritt commented on #1164
Alas, our Markdown support has some refactorings it is focused on. It's unlikely that PyCharm itself will take on MyST support until it reaches usage parity with RST.

[2022-01-25 14:42] jensens commented on #1163
Ok, I was not aware MyST is that special here. I close this one and look at #1164.

[2022-01-25 14:42] #1163 closed, assigned to nobody

[2022-01-27 10:01] stevepiercy opened #1168 "Consider adding sphinx-autodoc-typehints to requirements.txt"
@pauleveritt suggests the use of [`sphinx-autodoc-typehints`](https://github.com/tox-dev/sphinx-autodoc-typehints/) to auto-document docstrings and typehints. In addition to the nice formatting, the return type of one class can be hyperlinked to another in the documentation.

See [tutorial](https://www.jetbrains.com/pycharm/guide/tutorials/sphinx_sites/documentation/) and [updated code samples](ht

[2022-01-27 11:51] pauleveritt commented on #1168
As a further point, it lessens the work as the docstring doesn't have to repeat type hint information for parameters.

[2022-01-27 13:08] stevepiercy commented on #1168
Of course, for this extension to be of any use, Plone code needs to use typehints. I have no idea if that has been or is being done.

[2022-01-28 10:15] me-kell opened #1169 "Consider adding some styles to the `plone.api` documentation"
Consider adding some styles to the `plone.api` documentation.

https://docs.plone.org/develop/plone.api/docs/api/portal.html
https://docs.plone.org/develop/plone.api/docs/api/content.html
https://docs.plone.org/develop/plone.api/docs/api/user.html
https://docs.plone.org/develop/plone.api/docs/api/group.html
https://docs.plone.org/develop/plone.api/docs/api/env.html
https://docs.plone.org/develop/p

[2022-01-28 11:49] stevepiercy commented on #1169
This issue should be moved to the 5.2 branch on `plone/documentation`.

For Plone 6 Documentation, it is open for discussion whether to import these docs or to have them separate. We are currently running through a [PR with importing Volto docs](https://github.com/plone/documentation/pull/1160) with favorable results. The Docs Team have not begun this conversation with `plone.api` folks, but we mi

[2022-01-31 09:00] stevepiercy commented on #1165
I proposed a fix in https://github.com/plone/documentation/pull/1166#discussion_r795304957

[2022-02-02 21:47] ericof commented on #1146
@stevepiercy Deploying to [6.dev-docs.plone.org](https://6.dev-docs.plone.org)

[2022-02-03 10:39] stevepiercy commented on #1146
Fantastic! Thank you! Closing.

[2022-02-03 10:39] #1146 closed, assigned to ericof

[2022-02-03 11:26] ksuess commented on #1146
Shouldn't there already be a frontend chapter?

[2022-02-03 12:43] stevepiercy commented on #1146
There will be as soon as I merge #1160. Please stand by.

[2022-02-03 14:06] ale-rt opened #1170 "Issue on page /backend/upgrading/v60.html"
Include:
https://github.com/plone/plone.app.contenttypes/issues/623

[2022-02-03 22:15] stevepiercy commented on #1170
Closed by #1171

[2022-02-03 22:15] #1170 closed, assigned to ale-rt

[2022-02-03 22:26] stevepiercy opened #1172 "GitHub template for New Issues"
The current GitHub template for New Issues is irrelevant to the Documentation repo. Let's change it. I want to lower barriers to contribute while collecting minimal useful actionable information.

GitHub has a couple of nice features, including a "chooser" and "forms".

https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-f

[2022-02-04 04:17] ksuess commented on #1172
+1 for one single template ( no chooser)

My wishlist:
- radio buttons for
  - bug / error report
  - missing section / missing chapter report
- radio buttons for
  I am referencing:
  - docs.plone.org
  - 6-dev

I like to have links to community.plone.org and Discord, similar as https://github.com/sphinx-doc/sphinx/issues/new/choose

![image](https://user-images.githubusercontent.com/1144737/1524

[2022-02-04 04:17] ksuess commented on #1172
BTW the "new PR" template is very good:
https://github.com/plone/documentation/blob/5.2/.github/PULL_REQUEST_TEMPLATE.md
It just needs an update to point to the new contributor guideline.

[2022-02-04 04:21] ksuess commented on #1172
ideally this would open a new issue WITH the new template:
![image](https://user-images.githubusercontent.com/1144737/152471246-d2272ecd-bcd3-42a6-989c-f92b0089aad5.png)

[2022-02-04 10:31] stevepiercy opened #1173 "Fix dropdown menu (repository, "open issue", "suggest edit")"
TODO

- [ ] Fix link target of "open issue" for submodules plone.restapi, plone.api, volto
- [x] Target "suggest edit" to contributing chapter: https://6.dev-docs.plone.org/contributing/index.html
- [ ] Fix link target of "repository" for submodules plone.restapi, plone.api, volto

---
See https://github.com/executablebooks/sphinx-book-theme/issues/470

ideally this would open a new issue WITH the

[2022-02-04 10:33] stevepiercy commented on #1172
See https://github.com/plone/documentation/issues/1173

We can't easily do much with this, but it looks like the authors of the theme are very interested in improving the situation.

[2022-02-04 10:45] stevepiercy opened #1174 "Update and improve new PR template for v6.0"
See https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/creating-a-pull-request-template-for-your-repository

BTW the "new PR" template is very good:
https://github.com/plone/documentation/blob/5.2/.github/PULL_REQUEST_TEMPLATE.md
It just needs an update to point to the new contributor guideline.

_Originally posted by @ksuess in https://github.com/p

[2022-02-04 10:45] stevepiercy commented on #1172
See https://github.com/plone/documentation/issues/1174

[2022-02-04 11:13] stevepiercy commented on #1172
The chooser allows the options for the Forum and Discord. Did you mean allow a chooser, but have only one choice to create an issue? If so, then I agree with that.

Here's what I think we need at the very least, incorporating your wish list slightly differently.

1. Plone Documentation versions affected: (checkboxes) (The issue could affect multiple versions. I omitted 4.x as I assume we will not

[2022-02-04 11:21] stevepiercy commented on #1148
This was fixed in https://github.com/plone/documentation/pull/1160 and we have a long-lived feature branch https://github.com/plone/volto/tree/plone6-docs in https://github.com/plone/volto/pull/3001

[2022-02-04 11:21] #1148 closed, assigned to tiberiuichim

[2022-02-04 11:23] stevepiercy commented on #1162
This has been resolved. Closing.

[2022-02-04 11:23] #1162 closed, assigned to nobody

[2022-02-04 12:32] ksuess commented on #1172
Perfect.

[2022-02-04 12:56] spereverde commented on #1172
I think it's OK, I agree with Katja to keep things as simple as possible,  if you're creating an issue, you don't want to read a lexicon first

I would not know what to choose if you want to add documentation from above?

[2022-02-04 14:10] stevepiercy commented on #1172
What would make it clear? Here's the proposed choice:

[2022-02-04 14:38] spereverde commented on #1172
The chooser is fine, since there is only 1 option to file an issue

I meant with the "I am reporting" radios
What is that information used for?

On Fri, Feb 4, 2022, 15:10 Steve Piercy ***@***.***> wrote:

[2022-02-04 15:56] nileshgulia1 commented on #1172
+1 from me. We can confine to a single template. Its less likely for developer to differentiate between bugs and feature when it comes to writing docs.

[2022-02-04 21:02] stevepiercy commented on #1172
I see what you mean. That information can go into the Description. Let's remove the "I am reporting" radios.

From previous docs issues reported, the greatest confusion I see is (1) what version of Plone, and (2) people say "Section Title has incorrect information", and in the issue report the title is not correct and lacks a link to understand what the heck the user is talking about. I think that

[2022-02-10 08:44] stevepiercy opened #1177 "Search: pages with no content display "Toggle navigation""
Context of search results: There are some strange exceptions I don't want to investigate now, but postpone to a date when we have more content to check on.
These exceptions are:
- search for 'registry'. Fuzzy search seams to play wrong here. The problem is the completely incorrect display of 'toggle navigation'
- very strange: https://deploy-preview-1176--6-dev-docs-plone-org.netlify.app/search.ht

[2022-02-10 09:11] ksuess opened #1178 "Integrate plone.api documentation in Plone 6 documentation"
plone.api
- has cross references between /docs and docstring / typehint in code. The cross references are more than helpful in docs.plone.org. The cross reference is between narration and signature.
Example: https://docs.plone.org/develop/plone.api/docs/portal.html
- /docs are written in rest not myst.

- [ ] plone.api: Remove GitHub-only message
- [ ] Theming: Highlight header of methods! http://

[2022-02-10 09:48] #1165 closed, assigned to nobody

[2022-02-16 10:01] ksuess commented on #1156
Closing with follow-up https://github.com/plone/documentation/issues/1177

[2022-02-16 10:01] #1156 closed, assigned to ksuess

[2022-02-16 10:45] stevepiercy opened #1179 "Set default branch to `6-dev` instead of `5.2`?"
I would prefer to set the default branch of this repo to `6-dev` so that it uses the new issue template and chooser.

I would like to discuss that with the team before changing the setting for the default branch. @polyester @tkimnguyen @svx @spereverde @ksuess what do you all think?

_Originally posted by @stevepiercy in https://github.com/plone/documentation/issues/1175#issuecomment-1034720876_

[2022-02-16 10:45] stevepiercy commented on #1172
Closed by #1175

[2022-02-16 10:45] #1172 closed, assigned to nobody

[2022-02-16 11:12] polyester commented on #1179
I'm fine with that, with a little preparation:

- announce when the change will happen at community.plone.org
- change https://github.com/plone/documentation/blob/6-dev/README.md so that it links to the right URL for browsing the 6-dev docs, and has a section on the Plone 5.2 docs and points to those as well.

[2022-02-16 12:09] stevepiercy commented on #1179
I opened a PR to start us off. There may be other things that need to be addressed before switching. Please let me know if you think of anything else.

@polyester what's a reasonable and usual amount of lead time to make the announcement? I will include it in my next Docs update post in the next few days.

[2022-02-16 12:24] polyester commented on #1179
@stevepiercy maybe two days? Or make it next Monday? And it's probably good to make it a **separate** announcement, so that I (or others with that ability) can pin it to the top of community for a week or so.

[2022-02-17 09:32] stevepiercy commented on #1145
Fixed in 220c7c26cccd7450be82ddef2b548ddfe1e950f6

[2022-02-17 09:32] #1145 closed, assigned to nobody

[2022-02-17 10:20] stevepiercy commented on #1179
@polyester posted! Please pin:

https://community.plone.org/t/plone-documentation-repository-to-set-default-branch-as-6-dev/14836

Let's leave this issue open until we set the default branch on Mon, Feb 21.

[2022-02-17 10:44] polyester commented on #1179
Pinned globally (until March 3), which is the "middle shouty" option; there is one shoutier option which is "Banner pin" but that is a bit in-your-face...

[2022-02-18 11:01] stevepiercy commented on #1174
Closed by #1183

[2022-02-18 11:01] #1174 closed, assigned to nobody

[2022-02-18 12:48] ksuess opened #1184 "Search and find Plone. Find Plone docs and more: packages documentation, videos, podcasts included."
Plone Documentation versions affected
6.x

Include more than plone/documentation:

- packages with elaborated documentation
   - plone.api (signature and narration)
   - maybe also plone.restapi (already a full featured documentation site at https://plonerestapi.readthedocs.io)
   - more
- Videos of Plone foundation channel on Vimeo (oops, yt)
- Podcasts
- Blog posts (some of us are still blogging

[2022-02-20 18:37] sneridagh opened #1188 "Triggering the build if a push to master in Volto repo"
It seems it's possible...

https://github.community/t/triggering-by-other-repository/16163

/cc @ericof @stevepiercy

[2022-02-20 21:17] stevepiercy commented on #1188
It will need secrets, so this is definitely one for the AI team.

[2022-02-20 21:34] stevepiercy commented on #1184
This is compelling. I think this is bigger than Documentation only, and should be proposed to the plone.org update team. I have done so in https://discord.com/channels/786421998426521600/903929948228681758/945070834798690396

[2022-02-20 23:55] tkimnguyen commented on #1184
This is very interesting, but a big project of its own, and I can tell you the admin team is stretched pretty thin as it is that we won't be jumping at the chance to run more infrastructure.

In Discord, @stevepiercy said "eat your own dog food" so I initially thought he meant we should index all those things so that Plone's built-in search would do this.

[2022-02-20 23:57] tkimnguyen commented on #1184
Could this be a GSoC project?

[2022-02-21 02:21] stevepiercy opened #1190 "Improve spellcheck"
It would be good to improve spellcheck and consistency of spellings. For example:

[code]

Use caution when doing global find and replaces to not overwrite commands or code blocks that use those strings.

To improve spellcheck, add words to:

- `styles/config/vocabularies/Plone/accept.txt`
- `styles/config/vocabularies/Plone/reject.txt`

Note that when you add a correct spelling in `accept.txt`, t

[2022-02-21 21:21] stevepiercy commented on #1179
Done!

[2022-02-21 21:21] #1179 closed, assigned to stevepiercy

[2022-02-27 23:58] stevepiercy opened #1194 "make error: `ln: ./docs/plone.restapi/source: File exists`"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

When running `make html` a second time, an error is returned.

[code]

Curiously running `make docs/volto` does not return the error.

[code]

Yet when running `make docs/plone.restapi` only, the error persists.

[code]

I have also tried using a check for the existence of a symlink as described in this [SO answer](ht

[2022-03-15 11:05] MrTango commented on #1138
Are you still working on this?
With the last alpha comming in about two weeks, it would be good to get the docs in shape.
I added a image handling chapter recendly, but templates and things like fields/widgets are very important to have too.

[2022-03-15 11:09] MrTango commented on #1143
yes, fields and widget in backend:
- https://6.dev-docs.plone.org/backend/fields.html
- https://6.dev-docs.plone.org/backend/widgets.html

[2022-03-15 13:24] flipmcf commented on #1138
I seem to have abandoned it because of work priorities.  I'm not ready to give up just yet.

I'm going to make an attempt at progress this weekend.

Thanks for the kick.

[2022-03-16 09:29] MrTango opened #1202 "classic-ui: document global utils"
Document all global utils and global variables in templates.

The global variables in templates should be documented in classic-ui.
The rest of global utils should be documented in backend: https://6.docs.plone.org/backend/global-utils.html

read and verify: https://docs.plone.org/4/en/old-reference-manuals/plone_3_theming/buildingblocks/skin/templates/global-template-variables.html#global-templat

[2022-03-22 11:02] stevepiercy opened #1207 "Reorder navigation items"
In the navigation, from @jensens

I would order it differently, by importance for new site creators:

1. Frontend, (usually the thing one starts with)
2. Rest api, (needed by a frontend dev soon).
3. Backend, (more advanced already)
4. Classic ui (only for those with old sites or special use cases)
5. Contributing to docs

(and currently missing parts like installation, quickstart etc.... first)

[2022-03-28 07:32] ksuess opened #1209 "Check layout after breaking changes in sphinx-book-theme release v0.3.0"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

Release sphinx-book-theme v0.3.0 https://github.com/executablebooks/sphinx-book-theme/releases/tag/v0.3.0
See changelog for even newer releases.

[2022-03-28 09:20] stevepiercy commented on #1209
Going forward, I think we should pin the theme to <0.4.0 in all our repos' requirements files. We're still in development, so I'm not overly concerned about breaking things.

[2022-03-28 09:44] ksuess commented on #1209
+1 for pinning <0.4.0
And yes it's harmless.

[2022-03-28 09:48] stevepiercy opened #1211 "GitHub link for "suggest edit" returns 404 for plone.restapi and volto"
Visit https://6.dev-docs.plone.org/volto/index.html, click the GitHub Octocat icon, and click "suggest edit". You get a 404 at https://github.com/plone/documentation/edit/main/docs/volto/index.md

The same thing happens with plone.restapi.

The quick fix is to remove the link, but that's not really a good fix.

I don't know if there is a way to override the theme template depending on the path of

[2022-03-28 09:54] stevepiercy opened #1212 "linkcheckbroken is broken"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

`make linkcheckbroken` returns an unhelpful error message:

`make: *** [linkcheckbroken] Error 1`

However:

`make linkcheck | GREP_COLORS='0;31' grep -wi "broken\|redirect" --color=auto`

Works just fine. This is identical to the former in `Makefile`.

The only thing that might be causing the error is possibly the ch

[2022-03-28 09:59] stevepiercy opened #1213 "make targets should not attempt to create already existing symlinks"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

On the second and subsequent runs of `make html` and any other target, make attempts to recreate symlinks for `plone/volto` and `plone/plone.restapi` and fails.

We should perform a check to see if the symlink already exists, and attempt create it only if it does not exist.

[2022-03-28 10:03] stevepiercy opened #1214 "Automatically update submodules when other repos push to `main`"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

Currently whenever there is a push to `master` for either repo `plone/volto` or `plone/plone.restapi`, we manually need to remember to update the submodule. See https://6.docs.plone.org/contributing/index.html#editing-external-package-documentation, Step 7.

[code]

It would be great to handle this automatically in Gi

[2022-03-28 10:10] #1209 closed, assigned to ksuess

[2022-03-31 06:50] stevepiercy commented on #1214
Apparently GitHub Actions does not support cross-repository workflows directly. However, here is an article that works around it using `curl` and secrets to trigger a cross-repository workflow.

https://utensils.io/articles/trigger-github-actions-from-another-repo

See also:

https://github.com/orgs/community/discussions/26323

First we need to create a workflow in this repository that will update

[2022-03-31 15:38] ksuess commented on #1213
Found it!
The trick is the naming of the target of _make_. As soon as you name your target like the file (or symlink) you want to "build", _make_ prints a confirmation, that the build is up to date and exits.
Could be the reason why it is called 'target'. ;-)

[code]
Then a subsequent call:

[code]

[2022-03-31 22:05] stevepiercy commented on #1213
I think you confirmed my experience. While in `documentation`, the first run of `make html` is fine. The second run:

[code]

Same thing if I call `make docs/restapi`.

[code]

I don't think the quotes around the args in `ln -s` are necessary, but I was struggling with this issue, and I thought it might be a factor.

Ultimately I think we need an `if/fi` test for an existing simlink and run it onl

[2022-04-01 07:18] ksuess commented on #1213
The trick is the naming of the target of make.
https://github.com/plone/documentation/pull/1215 will fix this issue by renaming:
![grafik](https://user-images.githubusercontent.com/1144737/161214560-b8d001ce-5db0-483c-90d2-e375124ef3d3.png)

[2022-04-01 07:52] ksuess opened #1216 "Check Netlify build times (make storybook)"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

'make storybook' seems to need a rather high amount of build time: yarn, yarn build-storybook.
It's triggered on every netlify build. This is not necessary.

[2022-04-01 07:54] stevepiercy commented on #1213
Argghggh! I thought it was just an arbitrary name. Thank you!

[2022-04-01 08:11] stevepiercy commented on #1216
I Agree. Let's pull `make storybook` from `make netlify`.

Sphinx takes 32 seconds.

Storybook takes 5 minutes, 9 seconds.

We can't afford to lose that many build minutes.

https://app.netlify.com/teams/plone/builds/insights

[2022-04-04 08:39] mauritsvanrees commented on #1178
Thanks for all your work!

Small issue, but may be hard to fix:

- Go to https://6.dev-docs.plone.org/plone.api/index.html
- Click the GitHub icon.
- In the dropdown click on 'Suggest edit'
- You end up on a page that does not exist, giving a 404: https://github.com/plone/documentation/edit/main/docs/plone.api/index.rst
- It should be this: https://github.com/plone/plone.api/edit/master/docs/index

[2022-04-04 09:13] stevepiercy commented on #1178
@mauritsvanrees there is a known issue https://github.com/plone/documentation/issues/1211

[2022-04-06 05:41] stevepiercy commented on #1147
Volto has been completed.

[2022-04-06 05:42] stevepiercy commented on #1213
Fixed in #1215. Closing.

[2022-04-06 05:42] #1213 closed, assigned to nobody

[2022-04-06 21:15] #1207 closed, assigned to nobody

[2022-04-20 10:40] stevepiercy opened #1235 "Use Intersphinx for 6.dev-docs.plone.org"
We should use Intersphinx instead of fully qualified URLs when linking to Plone 6 docs. But to do that, we need to add labels to the section headers.

_Originally posted by @stevepiercy in https://github.com/plone/training/pull/608#pullrequestreview-946945223_

[2022-04-22 10:23] stevepiercy commented on #1158
There is a new Google Analytics 4. New codes need to be generated. See https://support.google.com/analytics/answer/10759417

[2022-04-23 11:48] stevepiercy commented on #1147
plone.restapi has been completed in https://github.com/plone/plone.restapi/pull/1382

[2022-04-23 12:54] stevepiercy commented on #1216
Closed by https://github.com/plone/documentation/pull/1219

[2022-04-23 12:54] #1216 closed, assigned to nobody

[2022-04-23 12:58] stevepiercy commented on #1169
@me-kell [plone.api is now imported into Plone 6 docs](https://6.dev-docs.plone.org/plone.api/index.html). Does the issue persist?

[2022-04-25 15:39] stevepiercy commented on #1235
Closed by https://github.com/plone/volto/pull/3267

[2022-04-25 15:39] #1235 closed, assigned to stevepiercy

[2022-05-02 18:10] stevepiercy opened #1243 "Sphinx 5 supports docutils 0.18.x"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

With the upcoming [Sphinx 5, docutils 0.18.x](https://github.com/sphinx-doc/sphinx/issues/9777) will work with it. We have pinned docutils<0.17,>=0.15.

Once we bump or unpin sphinx-book-theme<=0.3.99, we should also look at bumping or unpinning docutils in our requirements files.

[2022-05-04 08:25] stevepiercy commented on #1194
Closed by https://github.com/plone/documentation/pull/1215

[2022-05-04 08:25] #1194 closed, assigned to nobody

[2022-05-04 08:27] stevepiercy commented on #854
Closing as won't fix

[2022-05-04 08:27] #854 closed, assigned to nobody

[2022-05-04 14:49] wolbernd commented on #1212
@stevepiercy Right now I can't reproduce the problem with my laptop. `make linkcheckbroken` works fine and reports redirects and broken links.

There are no error messages about empty meta-tags any more. Was this maybe fixed in another issue?

[2022-05-05 12:52] #1158 closed, assigned to nobody

[2022-05-07 11:48] stevepiercy commented on #1212
@wolbernd sorry, I should have put this into proper context.

## documentation

[code]

## documentation/submodules/plone.restapi

[code]

## documentation/submodules/volto

[code]

It's also a problem in CI/CD.

Linkcheck does not check for meta tag warnings.

[2022-05-09 08:26] wolbernd commented on #1212
@stevepiercy I still can't reproduce the problem on my computer. When I run the above commands I get the output and no error message.

It might be the fact that `grep` has an exit status of 1 when it hasn't found anything and the calling make-process might interpret any return value !=0 as an error.

From the grep man page:
[code]
This however does not explain why the error exists on your machine

[2022-05-09 09:42] stevepiercy commented on #1212
@wolbernd thank you! Even if I had found that bit in `man grep`, I would never have figured out the shell command syntax to test its return value.

FYI, on my system (macOS 10.15):

[code]

Running was successful.

[code]

Then I created a broken link and a redirect link, and ran it again.

[code]

Would you please submit PRs in the repositories `plone/volto` and `plone/rest.api` as well as this o

[2022-05-09 10:04] #1212 closed, assigned to nobody

[2022-05-24 17:55] MrTango commented on #1140
I really think a version number in the url or path makes sense.
We could already activate it and could use the url in places like field description or tempaltes to point into the documentation.
So somthing like 6.docs.plone.org would be awesome and docs.plone.org could be a redicred on it as long as Plone 6 is the newses. But 6.docs.plone.org will continue to work even when Plone 7 is out.

[2022-05-24 19:39] ksuess opened #1257 "Navigation: Show current position in navigation"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

Would be nice to have the current navigation entry in scope.
Example: https://6.dev-docs.plone.org/plone.api/api/content.html
![grafik](https://user-images.githubusercontent.com/1144737/170118447-fd5c3ef6-85ed-4683-bc4f-135c01713233.png)

[2022-05-24 21:03] stevepiercy commented on #1140
I think that RTD was on to something with the concept of `latest` as a synonym for the latest stable version number. IOW, when we release v6 of docs, `latest` would be aliased to `6`:

https://6.docs.plone.org/foo
https://latest.docs.plone.org/foo

When 7 comes out, then `latest` would be aliased to `7`. This way you can always have links to latest that never need to change (unless the path change

[2022-05-24 21:09] stevepiercy commented on #1257
I agree. Is there something that auto-scrolls the navigation pane in any of the base themes? I would assume that this problem has been identified with possible solutions already in their issue trackers.

[2022-05-25 06:27] stevepiercy commented on #1257
This was fixed in the grandparent theme https://github.com/pydata/pydata-sphinx-theme/issues/535.

Demo https://pydata-sphinx-theme.readthedocs.io/en/latest/demo/subpages/subsubpages/subsubpage20.html

This was incorporated in [v0.3.2 of sphinx-book-theme](https://github.com/executablebooks/sphinx-book-theme/commit/f425732ea1c2dd2f1a1ddaf0a89413a14b981baa#diff-50c86b7ed8ac2cf95bd48334961bf0530cdc7

[2022-05-25 06:59] stevepiercy opened #1258 "Create "Releasing" section under somewhere TBD"
We could use a page like this, but then in the general Plone docs in a section about contributing, not specific to `plone.api`.

_Originally posted by @mauritsvanrees in https://github.com/plone/plone.api/issues/476#issuecomment-1136828066_

[2022-05-25 07:11] stevepiercy commented on #1258
We actually do not yet have a Contributing section for Plone core. I am not sure where it would go.

Is `zest.releaser` used universally to release all of these packages listed in the sections in the navigation?

- [Frontend](https://6.dev-docs.plone.org/volto/index.html)
- [REST API](https://6.dev-docs.plone.org/plone.restapi/docs/source/index.html)
- [Backend](https://6.dev-docs.plone.org/backen

[2022-05-25 08:24] mauritsvanrees commented on #1258
Not sure about Volto, but for all others: yes.

[2022-05-25 11:06] stevepiercy commented on #1258
Here is the current Releasing proposal:

-------

# Releasing

We use `zest.releaser` for releasing the packages used in [REST API](https://6.dev-docs.plone.org/plone.restapi/docs/source/index.html), [Backend](https://6.dev-docs.plone.org/backend/index.html), [A Plone API](https://6.dev-docs.plone.org/plone.api/index.html), and [Classic UI](https://6.dev-docs.plone.org/classic-ui/index.html). The

[2022-05-27 08:18] ksuess commented on #1147
done: plone.api https://github.com/plone/plone.api/pull/486

[2022-06-16 07:12] ksuess opened #1261 "Click on sub navigation does not highlight clicked menu item and does not expand correctly"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

![Volto_add-ons_–_Frontend_—_Plone_Documentation_v6_0-dev](https://user-images.githubusercontent.com/1144737/174016931-08ca815f-4924-47fc-887f-6f1c96c336c8.png)

This is fixed in pydata-sphinx-theme 0.9.0 from 08.06.2022. But 0.9.0 is not compatible with our Sphinx book theme pinned to sphinx-book-theme<=0.3.99.

I su

[2022-06-16 07:35] #1261 closed, assigned to ksuess

[2022-06-23 23:31] stevepiercy opened #1263 "`html_meta` and `substitutions` topmatter keys deprecated, moved under `myst` key"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

The release of myst-parser 0.18.0 on 2022-06-07 introduced a breaking change. From https://myst-parser.readthedocs.io/en/latest/develop/_changelog.html#breaking-changes

[code]

is replaced by:

[code]

This will need to be pushed out to all other repos that are imported by this one, as well as training.

- [x] docume

[2022-06-23 23:33] stevepiercy commented on #1243
[myst-parser 0.18.0 released on 2022-06-07 now supports Sphinx 5](https://myst-parser.readthedocs.io/en/latest/develop/_changelog.html#id1).

[2022-07-10 10:57] stevepiercy opened #1267 "Add i18n and l10n documentation"
Various packages have their own i18n or l10n implementation details. Yet we need to have one place to present i18n and l10n core concepts. Thus let's present core concepts at the root level, with references to implementation details to each package. Roughly an outline like this:

# i18n and l10n

## Common concepts

- gettext
- translation strings
- locales
- another concept

## Implementation det

[2022-07-10 11:00] stevepiercy commented on #1267
Ping @erral @jensens. I created a new feature branch `add-i18n`:

https://github.com/plone/documentation/tree/add-i18n

This branch contains the Plone 5.2 i18n documentation converted from reStructuredText to MyST and cleaned up, but waaaaaaay out of date and full of inaccuracies. Let's work on that branch to start, keeping only the current Plone 6 bits.

Next step, I will create a PR against that

[2022-07-13 00:46] stevepiercy commented on #1178
@ksuess has this been completed? If yes, are there any issues here that need to be captured in new issues?

[2022-07-13 05:19] ksuess commented on #1178
Yes, it has been completed. Thanks for taking care, @stevepiercy.

[2022-07-13 05:19] #1178 closed, assigned to ksuess

[2022-07-13 07:56] stevepiercy opened #1269 "Upgrading Guide"
### Plone Documentation versions affected

- [X] 5.x
- [X] 6.x

### Description

Per the last [Plone 6 Coordination meeting](https://community.plone.org/t/plone-6-coordination-meeting-2022-07-07/15433/1) we identified an urgent need to work on the Plone 6 Upgrade Guide.

We have a placeholder [Plone 6 upgrade guide](https://6.dev-docs.plone.org/deployment/upgrade.html) under [Deployment of Plone](

[2022-07-13 08:28] ksuess commented on #1269
+1 from me. Especially +1 for:

[2022-07-13 08:34] ksuess opened #1270 "Javascript in add-ons. Explain the Plone 6 way."
The upgrade guide mentions already this topic: https://6.docs.plone.org/backend/upgrading/version-specific-migration/upgrade-to-60.html#mockup-and-resource-registry-redone
A more detailed "How To" would be helpful. With code and screenshots and examples of add-ons that do it the recommended way.

Placeholder is already there: https://6.docs.plone.org/classic-ui/static-resources.html

## Suggested

[2022-07-18 10:28] stevepiercy commented on #1243
Dark mode is coming: https://github.com/executablebooks/sphinx-book-theme/pull/574

[2022-07-19 01:39] stevepiercy opened #1272 "Rename page titles in navigation"
If the navi on the left side could be freed of repeated mentioning of 'Plone 6'.

And keeping the html_meta section to have 'Plone6' mentioned in Google results.

![image](https://user-images.githubusercontent.com/1144737/179532093-55a76264-fcf5-4d27-b292-a6bab9efdec8.png)

_Originally posted by @ksuess in https://github.com/plone/documentation/pull/1271#discussion_r923431002_

[2022-07-19 01:40] #1269 closed, assigned to stevepiercy

[2022-07-19 12:22] #1272 closed, assigned to stevepiercy

[2022-07-22 22:57] stevepiercy commented on #1214
@ericof how should secrets be generated and stored for the Plone organization? I can do the work, except for that bit.

[2022-07-24 09:24] stevepiercy opened #1276 "Install containers is missing system requirements"
https://6.docs.plone.org/install/containers/index.html#system-requirements

[2022-08-19 21:06] stevepiercy commented on #1153
Closing this issue as complete. Its context was for Documentation only.

[2022-08-19 21:06] #1153 closed, assigned to polyester

[2022-08-19 21:51] stevepiercy opened #1278 "Edit Contributing docs"
## Description

We frequently get newbie requests to contribute. Plone 6 docs lack one way to do things, but we have numerous packages and documentation that each have their own way to contribute.

- [Contributing to Documentation](https://6.docs.plone.org/contributing/index.html) - Consider the following:
  - Create a new primary navigation item "Contributing".
  - Move this content deeper under

[2022-08-20 04:13] rohnsha0 commented on #917
You fixed the last broken one... but not the links he said above and in the beginning of the issue @svx

[2022-08-20 04:19] rohnsha0 commented on #917
@tobiasherp @stevepiercy @gforcada I'll suggest adding a section where users can report broken links with some small authentication like github o-auth or any first party login facility... This would help us in maintaining links as I believe there might be more broken link now or in future that might go unnoticed under our eyes but is noticed by users...
As reporting to Github or in our community i

[2022-08-20 04:47] stevepiercy commented on #917
@rohnsha0 please see how we solved this dilemma in the Plone 6 docs:

- https://6.dev-docs.plone.org/contributing/setup-build.html#linkcheck

We now have automatic deployments for Plone 6 docs. Earlier versions of Plone docs require manual intervention by a few privileged maintainers.

For [versions of Plone that are no longer supported](https://plone.org/download/release-schedule) (pre-5.2), it i

[2022-08-22 16:38] JatinPandey26 commented on #1278
Can i work on it ?

[2022-08-22 17:14] JatinPandey26 opened #1279 "UI not properly aligned for tablet size."
### Plone Documentation versions affected

- [ ] 5.x
- [ ] 6.x

### Description

I was looking into documentation of plone , then i realised UI  is not properly handled for multiple screen sizes (majorly tablets).
![Capture](https://user-images.githubusercontent.com/62138518/185980256-da117bab-5e20-4737-afa7-f949dbff073e.PNG)

[2022-08-22 17:16] JatinPandey26 commented on #1279
If no one is working on it currently , then i would love to work on it  . @sneridagh

[2022-08-22 17:27] stevepiercy commented on #1279
@JatinPandey26 wrong repo. Please ask in the Community Form for guidance.

https://community.plone.org/

[2022-08-22 17:27] #1279 closed, assigned to nobody

[2022-08-22 17:28] stevepiercy commented on #1278
This is an advanced issue for people who have experience with contributing to Plone.

[2022-08-23 07:23] gforcada commented on #35
plone.api is the right away 😄

[2022-08-23 07:23] #35 closed

[2022-08-23 07:38] #335 closed

[2022-08-23 07:38] #347 closed

[2022-08-23 07:40] #156 closed

[2022-08-23 07:43] #514 closed, assigned to nobody

[2022-08-23 07:44] gforcada commented on #542
No action since then, so let's put it at rest 😄

[2022-08-23 07:44] #542 closed, assigned to nobody

[2022-08-23 07:51] #826 closed, assigned to svx, polyester

[2022-08-23 07:52] stevepiercy commented on #542
Are you sure about closing this issue? See:

https://6.dev-docs.plone.org/backend/workflows.html

Thank you for reviewing and closing obsolete issues. I'm in Discord in #Documentation if you have any questions about what we have planned for Plone 6 docs.

[2022-08-23 07:55] stevepiercy commented on #826
These are now published for Plone 6 at: https://6.dev-docs.plone.org/contributing/index.html This is a temporary host name until Plone 6 is out of beta.

[2022-08-24 10:56] thet commented on #58
Stale issue.

[2022-08-24 10:56] #58 closed

[2022-08-24 16:14] thet commented on #903
Stale issue. JS‌ docs have to be updated or even rewritten for Plone 6 anyways.

[2022-08-24 16:14] #903 closed, assigned to nobody

[2022-08-24 21:38] stevepiercy commented on #903
@thet would you please create a new issue for Plone 6 that provides any direction for what needs to be documented or rewritten? Please include where you would suggest it be placed in the new docs structure. I assume this is for [Classic UI](https://6.docs.plone.org/classic-ui/index.html)?

[2022-08-24 21:45] davisagli commented on #1280
The discussion here is way out of date, but I searched for Plone browser support and couldn't find a valid current reference. @mauritsvanrees Do we have any effective current guideline for what browsers are supported?

[2022-08-24 21:56] mauritsvanrees commented on #1280
No idea.
@agitator @santonelli Do you know which browsers are supported in Plone 6.0?

[2022-08-25 07:06] stevepiercy opened #1281 "Overview: Create a dependency diagram using pipforester and pipdeptree"
## Description

Newbies to Plone have a tough time navigating between all the various packages that make up Plone.

A Python dependency diagram would be helpful for the Python parts. We'll use https://pypi.org/project/pipforester/ which depends on https://pypi.org/project/pipdeptree/.

Humans can fill in any important bits, such as "To edit breadcrumbs or other bits and pieces of a layout in Plone

[2022-08-25 07:49] ksuess commented on #1281
pydeps looks like a pretty cool enhancement. I remember that @jensens was or is still working on disentangling dependencies. Which are your tools, @jensens?

[2022-08-25 08:03] santonelli commented on #1280
Since we rely on Bootstrap for Classic UI I'd refer to [Bootstrap's Documentation](https://getbootstrap.com/docs/5.2/getting-started/browsers-devices/#supported-browsers)

[2022-08-25 09:00] stevepiercy commented on #1280
Next question, where should it go in the docs? Possible locations:

- https://6.dev-docs.plone.org/install/source.html#system-requirements
- https://6.dev-docs.plone.org/classic-ui/theming/barceloneta.html

I also assume that this applies only to Classic UI, and not Volto, and if so, then we must make that distinction when documenting it.

[2022-08-25 15:01] davisagli commented on #1280
@stevepiercy System requirements could work. It might also make sense to have a new page about compatibility which could also talk about Python versions? I wouldn't put it with theming because it also has to do with frontend javascript.

Volto is mainly tested on Chrome, but uses build tools that aim to provide compatibility with the last 4 versions of the major browsers: https://github.com/plone/

[2022-08-25 21:16] stevepiercy commented on #1280
Here are the two configs from those links from @santonelli and @davisagli:

## Bootstrap

[code]

## Volto

[code]

Syntax, usage, and guidance for reference: https://github.com/browserslist/browserslist#readme

I am not sure about the difference between `versions` and  `major versions`, and the reference does not make a distinction. I assume `versions` includes any major (vX), minor (vX.Y), or pa

[2022-08-25 21:22] stevepiercy commented on #976
This issue is still broken. Reopening. The PR #984 that was intended to fix this was self-merged then reverted because the image is automatically generated.

I added a milestone of 5.2 as the last version that it would affect.

[2022-08-25 22:44] #191 closed

[2022-08-25 22:45] #207 closed

[2022-08-25 22:46] #249 closed

[2022-08-25 22:50] #418 closed, assigned to nobody

[2022-08-25 23:00] #1010 closed, assigned to nobody

[2022-08-29 09:02] MrTango opened #1282 "Document: Backend > Content Types"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

https://6.dev-docs.plone.org/backend/content-types.html

[2022-08-29 09:04] MrTango opened #1283 "Document: Backend > Fields"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

https://6.dev-docs.plone.org/backend/fields.html

[2022-08-29 09:05] MrTango opened #1284 "Document: Backend > Widgets"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

https://6.dev-docs.plone.org/backend/widgets.html

[2022-08-29 09:07] MrTango opened #1285 "Document: Classic UI > Views"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

https://6.docs.plone.org/classic-ui/views.html

[2022-08-29 09:09] MrTango opened #1286 "Document: Classic UI > Theming"
### Description

https://6.docs.plone.org/classic-ui/theming/index.html

- [x] Based on Barceloneta
- [ ] Bootstrap components
- [ ] From scratch
- [ ] Through-the-web (TTW)

[2022-08-30 17:05] ksuess commented on #1270
This PR could be a starting point: https://github.com/plone/documentation/pull/1275

[2022-08-30 20:24] stevepiercy commented on #903
Superseded by #1270

[2022-09-04 08:12] ksuess opened #1289 "Change port of "make livehtml" to 8050 to avoid conflicts with other apps running"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

was port 8000

[2022-09-04 09:00] #1289 closed, assigned to ksuess

[2022-09-04 11:03] ksuess commented on #1257
Bug fix in sphinx-book-theme is submitted: https://github.com/executablebooks/sphinx-book-theme/pull/609

[2022-09-05 05:15] #1263 closed, assigned to stevepiercy

[2022-09-05 15:19] ksuess commented on #1173
Unfortunatly there is no affordable way to change the links "repository" and  "open issue" for the integrated submodules (Volto, plone.api, plone.restapi). So we decided to leave them as they are and add a note on the landing page of the plone/documentation repo: https://github.com/plone/documentation/pull/1292/files

[2022-09-05 19:52] #1173 closed, assigned to ksuess

[2022-09-06 06:18] ksuess commented on #1211
GitHub link for "suggest edit" overridden for this repo: Impede drive-by edits by linking chapter on how to contribute. Fixed in https://github.com/plone/documentation/pull/1292

[2022-09-06 06:18] #1211 closed, assigned to nobody

[2022-09-07 10:45] stevepiercy commented on #818
With the change to MyST and a new theme for Plone 6 docs, inline literals shall be coded as:

[code]

Which renders as:

Example of `inline literal`.

[2022-09-07 10:45] #818 closed, assigned to nobody

[2022-09-07 10:56] stevepiercy commented on #1188
I'm closing this issue in favor of https://github.com/plone/documentation/issues/1214

[2022-09-07 10:56] #1188 closed, assigned to nobody

[2022-09-07 11:08] #1084 closed, assigned to nobody

[2022-09-07 11:15] stevepiercy opened #1297 "Search form is hidden with latest build"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

On the latest build today, the search form on search results has disappeared.

https://6.dev-docs.plone.org/search.html?q=contributing

![Screen Shot 2022-09-07 at 4 14 34 AM](https://user-images.githubusercontent.com/102112/188865141-9b9b387c-02be-46bc-9d68-3f55c1bcb9fd.png)

This is how it should look.

![Screen Sho

[2022-09-07 11:21] stevepiercy commented on #1074
Closing as not reproducible. Please reopen or create a new issue in the correct repo.

[2022-09-07 11:21] #1074 closed, assigned to nobody

[2022-09-07 11:38] stevepiercy commented on #1024
Superseded in Plone 6 docs, at temporary URL: https://6.dev-docs.plone.org/contributing/index.html

[2022-09-07 11:38] #1024 closed, assigned to nobody

[2022-09-07 11:40] stevepiercy commented on #1027
Plone 6 has no line length restriction, other than "one sentence per line". See https://6.dev-docs.plone.org/contributing/writing-docs-guide.html#abridged-plone-documentation-styleguide

[2022-09-07 11:40] #1027 closed, assigned to nobody

[2022-09-07 11:43] stevepiercy commented on #1006
Authors gonna use the tools at their fingertips. This issue would add a maintenance burden. Closing as won't fix.

[2022-09-07 11:43] #1006 closed, assigned to nobody

[2022-09-07 11:44] stevepiercy commented on #989
Yes, we do this with git submodules now in Plone 6 docs.

[2022-09-07 11:44] #989 closed, assigned to nobody

[2022-09-07 11:50] stevepiercy commented on #917
Plone 6 docs uses `linkcheck` now to avoid broken links. Closing.

[2022-09-07 11:50] #917 closed, assigned to nobody

[2022-09-07 11:50] stevepiercy commented on #918
Plone 6 docs uses `linkcheck` now. Closing.

[2022-09-07 11:50] #918 closed, assigned to nobody

[2022-09-07 11:54] stevepiercy commented on #822
Plone 6 docs now have an easy entry point for first time contributors. This will not be fixed in Plone 5.2.x docs.

[2022-09-07 11:54] #822 closed, assigned to nobody

[2022-09-07 11:55] stevepiercy commented on #837
Closing as won't fix. We currently do not automatically generate screenshots in Plone 6 docs. We might add it in the future, but there are no plans to do so.

[2022-09-07 11:55] #837 closed, assigned to nobody

[2022-09-07 11:56] stevepiercy commented on #802
See Contributing in Plone 6 docs (temporary URL): https://6.dev-docs.plone.org/contributing/index.html

[2022-09-07 11:56] #802 closed, assigned to nobody

[2022-09-07 11:59] stevepiercy commented on #715
We now have a new project for the Plone organization to cover all the community health files. Closing as complete. See:

https://github.com/plone/.github

[2022-09-07 11:59] #715 closed, assigned to nobody

[2022-09-07 12:21] stevepiercy opened #1298 "The Dexterity-reference from the training and the dexterity docs should both move into docs"
The Dexterity-reference from the training (https://training.plone.org/mastering-plone/dexterity_reference.html) and the dexterity docs should both move into `plone/documentation`. I would not pull the dexterity docs in (as a submodule) but rather move it there since it is very very "core".

## Sources

- https://github.com/plone/plone.app.dexterity/tree/master/docs
- https://github.com/plone/train

[2022-09-07 13:00] stevepiercy opened #1299 "Reorganize Backend navigation items"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

We need to reorganize the items in https://6.dev-docs.plone.org/backend/index.html sorted alphabetically when rendered, not by filenames.

[2022-09-07 13:02] stevepiercy opened #1300 "Reorganize Classic UI navigation items"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

We need to reorganize the items in https://6.docs.plone.org/classic-ui/index.html sorted alphabetically when rendered, not by filenames.

[2022-09-07 14:20] #1297 closed, assigned to nobody

[2022-09-08 09:55] stevepiercy opened #1302 "Backend > Behaviors needs content"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

Backend > Behaviors needs content.

Source material:

- https://github.com/plone/training/blob/main/docs/mastering-plone/behaviors_1.md
- https://github.com/plone/plone.app.dexterity/tree/master/docs/behaviors

[2022-09-08 10:00] stevepiercy opened #1303 "Backend > Content Types needs content"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

Backend > Content Types needs content.

Source material:

- https://github.com/plone/training/blob/main/docs/mastering-plone/dexterity.md
- https://github.com/plone/training/blob/main/docs/mastering-plone/dexterity_2_talk.md
- https://github.com/plone/training/blob/main/docs/mastering-plone/dexterity_3.md
- https://gi

[2022-09-08 10:05] stevepiercy opened #1304 "Create Control Panel needs content"
### Description

Backend > Control Panels needs content. It will tell developers how to create and deploy a control panel. It should, however, include the process for adding a control panel in Volto, not just the backend. It also needs to be moved into the Developer guide.

Source material:

- https://github.com/plone/training/blob/main/docs/mastering-plone/registry.md
- https://github.com/plone/d

[2022-09-08 10:10] stevepiercy opened #1305 "Backend > Fields needs content"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

Backend > Fields needs content.

See related issue: https://github.com/plone/plone.app.dexterity/issues/360

Source material:

- https://github.com/plone/plone.app.dexterity/blob/master/docs/reference/fields.rst
- https://github.com/plone/training/blob/main/docs/mastering-plone/dexterity_reference.md

[2022-09-08 10:13] stevepiercy opened #1306 "Backend > Vocabularies needs content"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

Backend > Vocabularies needs content.

Source material:

- https://github.com/plone/training/blob/main/docs/mastering-plone/registry.md
- https://github.com/plone/plone.app.dexterity/blob/master/docs/advanced/vocabularies.rst
- https://github.com/plone/plone.app.vocabularies?tab=readme-ov-file#overview

[2022-09-08 10:15] stevepiercy opened #1307 "Backend > Widgets needs content"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

Backend > Widgets needs content.

Source material:

- https://github.com/plone/training/blob/main/docs/mastering-plone/dexterity_reference.md
- https://github.com/plone/plone.app.dexterity/blob/master/docs/reference/widgets.rst

[2022-09-08 10:17] stevepiercy opened #1308 "Backend > Workflows needs content"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

Backend > Workflows needs content.

Source material:

- https://github.com/plone/training/tree/main/docs/workflow
- https://github.com/plone/plone.app.dexterity/blob/master/docs/advanced/workflow.rst

[2022-09-08 10:18] stevepiercy commented on #1284
Closing in favor of #1307 with references to sources.

[2022-09-08 10:18] #1284 closed, assigned to nobody

[2022-09-08 10:19] stevepiercy commented on #1283
Closing in favor of #1305 with references to source material.

[2022-09-08 10:19] #1283 closed, assigned to nobody

[2022-09-08 10:20] stevepiercy commented on #1282
Closing in favor of #1303 with references to source material.

[2022-09-08 10:20] #1282 closed, assigned to nobody

[2022-09-08 13:34] jensens commented on #1298
+100

Also consider to include the plone.behavior readme https://github.com/plone/plone.behavior/blob/master/README.rst (and reduce it to a link to the docs).

[2022-09-08 20:29] stevepiercy opened #1309 "Move the `plone.behavior` readme into `plone/documentation`"
Merge the content of [`plone.behavior` readme](https://github.com/plone/plone.behavior/blob/master/README.rst) into https://6.docs.plone.org/backend/behaviors.html.

Replace the content of the readme with a link to https://6.docs.plone.org/backend/behaviors.html.

_Originally posted by @jensens in https://github.com/plone/documentation/issues/1298#issuecomment-1240725991_

[2022-09-08 20:30] stevepiercy commented on #1298
Agreed. Created new issue: https://github.com/plone/documentation/issues/1309

Are there other external docs that should be moved into `plone/documentation`?

[2022-09-09 09:19] MrTango commented on #1142
This looks like a good not to big task for @jensens right?

[2022-09-12 09:56] stevepiercy opened #1312 "`html_static_path` does not support globbing syntax"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

While running `make clean livehtml` or `make clean html`, I noticed that `html_static_path` does not support globbing (`*`) syntax. One must use `clean` to notice.

We have this:

https://github.com/plone/documentation/blob/ad20b4bf89836c6353258a11291b8b491c36db71/docs/conf.py#L130-L134

Which generates warnings:

[co

[2022-09-12 10:00] ksuess commented on #1312
Good plan.

[2022-09-12 10:00] stevepiercy commented on #1312
I forgot to mention, we earlier discovered that this:

[code]

...caused everything to be copied over from `volto/_static`, including overwriting the `custom.css` in `plone/documentation`. We don't want that again.

[2022-09-12 17:42] ksuess opened #1314 "Install backend with docker: Add section on how to upgrade Plone version"
### Description

https://6.docs.plone.org/install/containers/images/backend.html#using-this-image

[2022-09-14 15:56] sitanshu05 commented on #1300
Can I work on this issue? Where can i access the code?

[2022-09-14 20:51] stevepiercy commented on #1300
@sitanshu05 yes! Please assign yourself to this issue. Then read https://6.dev-docs.plone.org/contributing/index.html for instructions for how to contribute to Documentation. Thank you!

[2022-09-15 14:49] ksuess opened #1317 "Installation from packages: All-In-One-Installer"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

I wrote down the instructions on how to install Plone 6 backend with pip instead of buildout. The guide on how to enfold the skeleton for the backend, a skeleton that allows to pin Plone package versions, checking out Plone packages, etc. https://6.dev-docs.plone.org/install/source-step-by-step.html uses **mxdev**.

I

[2022-09-15 14:53] ksuess commented on #1317
@plone/installers  What is planned? Is there already something to update in documentation?
TODO: https://6.dev-docs.plone.org/install/source.html#installation-jump-in-and-enfold-the-beauty
Can I help with mxdev?

[2022-09-19 13:57] ksuess commented on #1317
[This](https://github.com/collective/cookiecutter-plone-starter/issues/4) would amend the all-in-one candidate for installation (backend and frontend) _cookiecutter-plone-starter_ with the ability to override Plone core versions and add Plone core development packages. And of course add-ons.

/cc @jensens @ericof @stevepiercy

[2022-09-24 23:01] stevepiercy opened #1323 "Migrate `appendices/error-reference`"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

Migrate the [Error Reference](https://docs.plone.org/appendices/error-reference.html) from https://github.com/plone/documentation/blob/5.2-myst/5.2-myst/appendices/error-reference.md.

Update the link in `backend/upgrading/troubleshooting.md`.

[2022-09-25 10:13] stevepiercy opened #1324 "Migrate `develop/plone/searching_and_indexing/external-catalogs`"
### Plone Documentation versions affected

- [ ] 5.x
- [x] 6.x

### Description

Migrate https://github.com/plone/documentation/blob/5.2-myst/5.2-myst/develop/plone/searching_and_indexing/external-catalogs.md to Plone 6 docs.

Rendered:
https://docs.plone.org/develop/plone/searching_and_indexing/external-catalogs.html

Update the link in `backend/upgrading/version-specific-migration/upgrade-to-51.

[2022-09-25 10:40] stevepiercy opened #1325 "Migrate `develop/addons/components/genericsetup` to Plone 6 docs"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

Migrate https://docs.plone.org/develop/addons/components/genericsetup to Plone 6 docs.

Source:

- https://github.com/plone/documentation/blob/5.2-myst/5.2-myst/develop/addons/components/genericsetup.md

Update link in `backend/upgrading/version-specific-migration/upgrade-addons-to-51.md`

[2022-09-26 07:05] stevepiercy opened #1326 "Document frontend configuration with make and cookiecutter"
From:
https://github.com/plone/documentation/pull/1277#discussion_r979584821

Currently in `install/manage-add-ons-packages.md`, we refer developers who want to configure the frontend with a single line:

https://github.com/plone/documentation/blame/733724e31a97153278faaa1907223f1f3613b3b2/docs/install/manage-add-ons-packages.md#L53

Specifically:

[code]

Instead we want to show developers how to

[2022-09-26 09:50] stevepiercy opened #1327 "Migrate `manage/*` from Plone 5.2 to Plone 6 Docs"
This issue addresses migrating manage, install, maintain, and deploy documentation from Plone 5.2 to Plone 6.

## Source

Everything in:

https://github.com/plone/documentation/blob/5.2-myst/5.2-myst/manage/

## Rendered

https://5.docs.plone.org/manage/index.html

## Update link in

`backend/upgrading/preparations.md`

[2022-09-26 09:52] stevepiercy opened #1328 "Migrate `adapt-and-extend/theming/resourceregistry`"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

## Source

https://github.com/plone/documentation/blob/5.2-myst/5.2-myst/adapt-and-extend/theming/resourceregistry.md

## Rendered

https://docs.plone.org/adapt-and-extend/theming/resourceregistry.html

## Update links

backend/upgrading/version-specific-migration/p4x-to-p5x-upgrade.md

[2022-09-26 09:56] stevepiercy opened #1329 "Migrate `develop/plone/functionality/actions`"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

## Source

https://github.com/plone/documentation/blob/5.2-myst/5.2-myst/develop/plone/functionality/actions.md

## Rendered

https://docs.plone.org/develop/plone/functionality/actions.html

## Update links

backend/upgrading/version-specific-migration/upgrade-to-51.md

[2022-09-26 10:03] stevepiercy opened #1330 "Migrate `develop/styleguide/*`"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

## Source

https://github.com/plone/documentation/blob/5.2-myst/5.2-myst/develop/styleguide/

Note that this source has almost no consideration for the automation we now have in place, including black, isort, flake8 for Python code, and livehtml and linkcheckbroken for documentation.

## Rendered

https://5.docs.plone

[2022-09-26 10:06] stevepiercy opened #1331 "Migrate `develop/addons/components/zcml`"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

## Source

https://github.com/plone/documentation/blob/5.2-myst/5.2-myst/develop/addons/components/zcml.md

## Rendered

https://docs.plone.org/develop/addons/components/zcml.html

## Update links

glossary.md

[2022-09-26 10:10] stevepiercy opened #1332 "Migrate `develop/plone/searching_and_indexing/query`"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

## Source

https://github.com/plone/documentation/blob/5.2-myst/5.2-myst/develop/plone/searching_and_indexing/query.md

## Rendered

https://docs.plone.org/develop/plone/searching_and_indexing/query.html

## Update links

plone.restapi/docs/source/endpoints/searching.md

[2022-09-26 10:12] stevepiercy opened #1333 "Migrate `develop/plone/forms/vocabularies`"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

## Source

https://github.com/plone/documentation/blob/5.2-myst/5.2-myst/develop/plone/forms/vocabularies.md

## Rendered

https://docs.plone.org/develop/plone/forms/vocabularies.html

## Update links

plone.restapi/docs/source/endpoints/vocabularies.md

[2022-09-26 10:16] stevepiercy commented on #1317
I think we can close this issue. Is there anything left unresolved, other than https://github.com/plone/documentation/issues/1326?

[2022-09-26 10:22] stevepiercy commented on #1167
Who can answer whether it is OK to display third-party logos on one of our production websites when they provide us with a service for free that we find very useful?

@plone-foundation @plone/marketing-communications

[2022-09-28 08:49] stevepiercy commented on #1312
Closing as obsolete.

[2022-09-28 08:49] #1312 closed, assigned to stevepiercy

[2022-09-28 23:53] mauritsvanrees opened #1335 "nginx config in docker example has wrong rewrite"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

TLDR: a rewrite url in this [example nginx config](https://6.dev-docs.plone.org/install/containers/examples/nginx-volto-plone-zeo.html#nginx-configuration) should change.

I started adding an issue in Volto, but later I realised this is a documentation issue.

**Describe the bug**
I setup Docker with nginx, backend, f

[2022-09-29 06:10] stevepiercy commented on #1335
To help with testing and explaining regex, I use this nifty tool. This example is already configured with the current regex.

https://regex101.com/r/j0GUnH/1

Any of these would match:

[code]

And for the proposed regex in Solution 2.

https://regex101.com/r/8JgTdm/1

Only this would match:

[code]

I don't think we want that.

I think the original regex is correct. I think that we want to match

[2022-10-01 22:52] stevepiercy opened #1336 "Migrate `working-with-content/managing-content/contentrules`"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

## Source

https://github.com/plone/documentation/blob/5.2-myst/5.2-myst/working-with-content/managing-content/contentrules.md

## Rendered

https://docs.plone.org/working-with-content/managing-content/contentrules.html

## Update links

plone.restapi/docs/source/endpoints/content-rules.md

[2022-10-02 18:01] jensens opened #1337 "Two times a glossary?"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

There is an overall glossary and one in in the restapi chapter. This is confusing and the restapi one should get merged into the main glossary.

[2022-10-02 18:26] stevepiercy commented on #1337
Just to clarify, we should keep both Glossaries, because restapi has its own separate build as a separate product. We should merge the Glossary entries from `plone/plone.restapi` into those of `plone/documentation`.

Then in the main docs, we should ignore the `glossary.md` in the `plone/plone.restapi` folder.

We should do the same for volto and plone.api.

[2022-10-03 06:14] stevepiercy commented on #1337
This was a little maddening to figure out, but it turns out to be simple.

In `submodules/plone.restapi/docs/source/index.md`:

[code]

In `documentation/docs/conf.py`, in the `exclude_patterns` list:

[code]

I verified builds in both restapi and main docs.

[2022-10-03 09:56] #1337 closed, assigned to nobody

[2022-10-03 13:31] ksuess commented on #1257
Bug fix is merged, but no release so far. https://github.com/executablebooks/sphinx-book-theme/issues/611
I'll make a patch here and in training.

[2022-10-04 03:50] stevepiercy commented on #542
I've updated that page with a TODO and a link to a [new issue](https://github.com/plone/documentation/issues/1308) that supersedes this one. Yes, we still need to migrate the Workflows docs from 5.2 to 6.0 and revise them.

[2022-10-04 09:41] #1257 closed, assigned to ksuess

[2022-10-12 04:22] rohnsha0 opened #1344 "Discord 'Join Chat' link seems broken"
### Plone Documentation versions affected

- [X] 5.x
- [X] 6.x

### Description

![image](https://user-images.githubusercontent.com/86848116/195249337-a0b6f67b-9935-45e3-be19-b92c0b7cb173.png)

[2022-10-12 04:38] stevepiercy commented on #1344
Please include the link as text, not just a screenshot of text.

Where did you find the link? Please include the source.

[2022-10-12 04:43] rohnsha0 commented on #1344
https://docs.plone.org/
check the discord join button!

[2022-10-12 05:36] stevepiercy commented on #1344
The invalid link is:

`https://discord.gg/prxWgDr4`

...and not to what it redirects in the address bar of the image. That's why it was impossible to find.

This issue affects only the theme for Plone 5 documentation. By searching the entire Plone organization for that link:

https://github.com/search?q=org%3Aplone+https%3A%2F%2Fdiscord.gg%2FprxWgDr4&type=code

...you will find the correct reposit

[2022-10-12 06:03] rohnsha0 commented on #1344
@stevepiercy  ah... okay I'm looking into the matter and fix the issue!

[2022-10-17 22:17] stevepiercy opened #1347 "Consider using Vale for spellcheck and style guide"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

Our current spellchecker is not well supported. For example, it will mark "add-on" as an incorrectly spelled word because [it does not support hyphenation](https://github.com/sphinx-contrib/spelling/pull/147) among other shortcomings. It also cannot be installed on M1 (and maybe M2) based macs.

@polyester suggested [

[2022-10-18 05:55] ksuess commented on #1347
I like your suggestion to use Vale.
For testing I ran Vale against one chapter of the training.
[code]
Vale can help me writing better style like the both examples above illustrate.
The CLI is good for a final check. The VSCode extension is helpful while writing.

Apart from a tool for obeying style guides, I have a **spell checker extension enabled in VSCode:** "Code Spell Checker" from "Street S

[2022-10-18 06:38] stevepiercy commented on #1347
Thanks for the feedback.

I also want to try it out before we decide which styles to adopt. Is the passive voice or first-person plural OK to use in some contexts? Trainings has a different context than Documentation, so perhaps "We" is OK in Trainings because we are working together and in person.

For VSCode, I think we should mention that extension in our contributing docs. PyCharm has a built-

[2022-10-20 15:35] Querela commented on #1335
I also stumbled over this issue...
For me the above steps worked _(with the templates from the [docs](https://6.dev-docs.plone.org/install/containers/examples/nginx-volto-plone.html))_:
[code]
[code]

I also noticed when trying to specify the latest frontend image version that `latest, 15, 15.16, 15.16.0` for the [plone-frontend](https://github.com/plone/plone-frontend/) does not seem to be correc

[2022-10-21 06:35] stevepiercy commented on #1335
Thanks for the confirmation @Querela. It looks like all the examples that use nginx need to be updated accordingly.

It looks like the tags for 15.16 were not pushed to Docker Hub: https://hub.docker.com/r/plone/plone-frontend/tags. I was about to create a new issue, but it looks like someone already reported it: https://github.com/plone/plone-frontend/issues/24.

[2022-10-21 06:44] stevepiercy commented on #1335
@Querela pull request created at https://github.com/plone/documentation/pull/1348

[2022-10-21 17:04] #1335 closed, assigned to nobody

[2022-10-22 10:43] avoinea opened #1349 "nginx rewrite rule example in Install > Containers is broken"
The nginx rewrite rule is broken. Deploying with this configuration you will not be able to login due to backend error:

[code]

Instead, this works as expected: https://6.dev-docs.plone.org/volto/deploying/seamless-mode.html#nginx-example-config-for-seamless-mode-deployments

[2022-10-22 12:11] stevepiercy commented on #1349
Thanks for the report.

We just reviewed and tested the configuration in https://github.com/plone/documentation/pull/1348 and it worked. It is possible that no one logged out and logged back in, but I want to make sure that the proposed fix will in fact work. I also want all examples to be consistent with one another.

[code]

@avoinea would you please double-check my work at these links?

- https

[2022-10-22 13:51] avoinea commented on #1349
@stevepiercy As nowadays deploying a site http-only is a non-sense, we should provide the **https** version of the nginx conf files.

Here is what I have right now:

**myserver.conf**
[code]

**nginx.conf**

[code]

**docker-compose.yml**

[code]

If you don't want **brotli** compression, just remove it from **nginx.conf** and switch to the **official nginx docker-image**.

[2022-10-22 14:14] avoinea commented on #1349
:thinking: Yes, I think the culprit was the `$1` instead of `$2` at the end of the rewrite rule.

[2022-10-22 15:31] stevepiercy commented on #1349
Well, in the first example, there is one capture group as denoted by `()`, whereas in the second there are two, so the difference between `$1` and `$2` makes sense. Both "work". I would like to see what @mauritsvanrees and @Querela can test.

Regarding https, I agree, but that brings up the issue of how to generate the certificate file and key, and how to renew the certificates. That would be a go

[2022-10-23 13:46] Querela commented on #1349
I only did some quick testing for the #1348 pull request. E.g. log in, create page(s), publish, log out, check etc. Clear cache and check next deployment example. (Remove any previous container, volume, ...) My issue before was that I could not log in with the wrong nginx configuration, so that was something I definitely checked. 😄
I was not aware of the other docs. When I find time next week I mi

[2022-10-23 13:55] stevepiercy commented on #1349
@Querela Thanks for confirming. That's sufficient testing without writing tests.

I prefer the more simple regex that @avoinea provided. If you (or anyone else) can test that out, and you feel it is sufficient, then we can switch to using it, with the minor tweak of using a server environment variable `$servername` instead of a hard-coded `myservername.org`. A second verification is a good thing.

[2022-10-24 15:56] Querela commented on #1349
I just saw that the examples bundled with `plone/plone-frontend` are not using a capture group and working with `$1`.
See `default.conf` in https://github.com/plone/plone-frontend/tree/15.x/examples (same for `16.x` branch)
Those should probably also be made similar to the docs or vice-versa.

[2022-10-24 16:13] stevepiercy commented on #1349
I think you mean they are using a capture group.

https://github.com/plone/plone-frontend/blob/2e3f81b8982f2a9304c542372a3a69c5e1696e46/examples/webserver-volto-plone-postgres/default.conf#L14

The `()` defines a capture group, and is referenced by `$1` or `$#` where `#` refers to the 1-based index of the number of captures.

Anyway, good catch! I think it would be good to make all these examples

[2022-10-26 18:01] stevepiercy commented on #1214
Reopening per https://github.com/plone/documentation/pull/1346#issuecomment-1283013996

[2022-10-31 07:35] ksuess opened #1350 "Block variation: Simple description without schema enhancement"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

https://6.dev-docs.plone.org/volto/blocks/extensions.html#block-variations
I would like to propose to change the section "block variation" to a simple one **without "schema enhancement"**, as this is a common task, with small effort to customize a listing.

This is something that everyone needs to understand, especial

[2022-10-31 17:49] stevepiercy commented on #1350
@ksuess should this issue be moved to the volto repo?

[2022-11-01 10:13] avoinea opened #1351 "Issue on page /volto/blocks/block-style-wrapper.html enableStyling was removed in volto 16.0.0.alpha.46"
enableStyling is not working anymore starting with [Volto 16.0.0-alpha.46](https://github.com/plone/volto/releases/tag/16.0.0-alpha.46)

[2022-11-03 19:58] stevepiercy opened #1352 "Add content for Overview part"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

We have a [skeleton framework for Overview](https://6.dev-docs.plone.org/overview/index.html), but no content.

See also https://github.com/plone/documentation/issues/1281

[2022-11-03 20:01] stevepiercy opened #1353 "Help installers choose a frontend"
### Description

We need to give direction to users for what frontend to choose in the Plone 6 Documentation.

We laid out a skeleton in [Overview](https://6.docs.plone.org/overview/index.html) for a comprehensive description of features. That would be one place for it.

~~Another good spot to make a decision between frontends would be in [Install](https://6.dev-docs.plone.org/install/index.html).

[2022-11-03 20:59] fredvd commented on #1353
I’d like to pick up this one.  My analysis is that we still lack a good glossary with not only explantions but a consistent and clear ‘name list’.

while assisting with the Volto installation docs last year I used the term ‘content backend’ or content api when explaining which processes are running where and what you need to setup.  That makes sense in the Volto stack because you have two backends

[2022-11-03 22:01] stevepiercy commented on #1353
Let's focus on the title of the issue, specifically how to choose a frontend, and create new issues as needed.

We should add a few missing Glossary terms:

- frontend
- backend

We have existing Glossary terms, which might need an update:

- https://6.dev-docs.plone.org/glossary.html#term-Barceloneta
- https://6.dev-docs.plone.org/glossary.html#term-Classic-UI
- https://6.dev-docs.plone.org/gloss

[2022-11-05 01:50] esteele commented on #1214
@stevepiercy Thanks for your patience. I've updated the workflow so that it now correctly updates submodules. Pushing those changes is proving to be the difficulty right now. If you look at the [results of this run](https://github.com/plone/documentation/actions/runs/3398194570/jobs/5651030183), you can see it's found and committed updates to plone.restapi and volto, but can't push them back to 6-

[2022-11-05 02:43] stevepiercy commented on #1214
What user attempts to make the push to `6-dev`? I can add that user to the authorized members who can do that.

[2022-11-05 02:55] stevepiercy commented on #1214
For example, I added @esteele to the people who can bypass required pull requests.

![Screen Shot 2022-11-04 at 7 52 29 PM](https://user-images.githubusercontent.com/102112/200097906-dbd4367e-6d77-44ac-a2a2-895da5cf896b.png)

It looks you are not a member of the AI team or Documentation team, so you do not have power to change the repo settings. I can add you as an individual. Please let me know.

[2022-11-07 07:43] Manan17 commented on #1352
Can I work on this?

[2022-11-07 09:37] stevepiercy commented on #1352
This issue requires the contributor to have deep familiarity with Plone architecture.

[2022-11-08 05:01] ksuess opened #1355 "Add a nice one-liner to landing page of Plone 6 documentation"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

https://6.dev-docs.plone.org/

[2022-11-08 05:37] stevepiercy commented on #1355
What more is needed than the current one-liner?

[2022-11-08 05:41] davisagli commented on #1214
It looks like bypassing branch protection here may be tricky. There's some discussion at https://github.com/community/community/discussions/13836

[2022-11-08 07:56] #1355 closed, assigned to ksuess

[2022-11-08 13:47] kenmanheimer opened #1358 "Containers simple install instructions prevent Volto frontend access from remote hosts"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

In the current version of https://github.com/plone/documentation/blob/6-dev/docs/install/containers/index.md the command for starting the Volto frontend results in a frontend that malfunctions mysteriously for visits by browsers not running on the same host as the containers.

Specifically, `RAZZLE_API_PATH=http://loc

[2022-11-08 14:15] stevepiercy commented on #1358
The [install container](https://6.dev-docs.plone.org/install/containers/index.html) docs assume that everything will be done locally, and not as a deployment where the site would be remote to the client browser. Did you assume it would be a deployment to a remote machine? If so, we need to be more clear.

Our [container deployment story does not exist](https://6.dev-docs.plone.org/deployment/provi

[2022-11-08 21:29] stevepiercy commented on #1278
I just got this from the Read The Docs newsletter. Here is a brilliant and well-organized guide, [Contributing to Wagtail](https://docs.wagtail.org/en/stable/contributing/index.html#), a Django-based CMS. Very relevant to what we want to do.

[2022-11-15 11:24] Rudd-O opened #1360 "Backend instructions should explain how to add add-ons"
### Plone Documentation versions affected

- [ ] 5.x
- [X] 6.x

### Description

The [plone-backend container documentation](https://github.com/plone/documentation/blob/6-dev/docs/install/containers/images/backend.md) does not explain how to add add-ons except through `ADDONS` variable, which is explicitly said not to be for production.

Perhaps we should explain this in the docs too.  Here is how

[2022-11-15 11:49] stevepiercy commented on #1360
Would you please update your report with a reference to the specific documentation in question?

[2022-11-15 12:20] Rudd-O commented on #1360
Absolutely, stand by please.

[2022-11-15 12:21] Rudd-O commented on #1360
Report updated with hyperlink to the specific document.

[2022-11-15 12:46] Rudd-O opened #1361 "PLONE_BACKEND_VERSION?"
### Plone Documentation versions affected

- [ ] 5.x
- [x] 6.x

### Description

Where is `{PLONE_BACKEND_VERSION}` defined?  It seems to me like this should probably be documented better, if it's something that the user is supposed to override?

Ref: https://github.com/plone/documentation/blob/zopeconfd/docs/install/containers/images/backend.md#simple-usage

[2022-11-15 12:47] Rudd-O commented on #1361
Oh.  This is defined in the documentation builder.

[2022-11-15 12:47] #1361 closed, assigned to nobody

[2022-11-18 23:55] gforcada opened #1362 "Need documentation age of files?"
### Plone Documentation versions affected

- [X] 5.x
- [X] 6.x

### Description

Long time ago, the documentation team wanted to have way to see the age of files on this repository (i.e. the last time a file had been updated).

For that [this jenkins job](https://jenkins.plone.org/view/QA/job/qa-docs-age/) was created and still is running nowadays on branch 5.2.

You can see [the output](https://j

[2022-11-19 08:18] stevepiercy commented on #1362
Thanks for reporting. I never knew about this job, and I cannot imagine why it is useful. This job is redundant to using `git log`, your editor's git UI, or the GitHub UI, with a lot less information. I would say purge it, unless @polyester, @ksuess, or @spereverde can come up with an historic reason to keep it around.

[2022-11-19 08:42] spereverde commented on #1362
I agree,  by now I think most developers use git for this.
+1 for not keeping that job

I guess the code for the jenkins job is versioned so we can reuse it if it
should be needed again

On Sat, Nov 19, 2022, 09:18 Steve Piercy ***@***.***> wrote:

[2022-11-19 10:58] gforcada commented on #1362
I think the idea at that time , was to know which files we're more outdated and fet a warning about them. I will remove it 👍🏾

[2022-11-19 10:58] #1362 closed, assigned to nobody

[2022-11-24 22:15] mauritsvanrees opened #1363 "Put new documentation live"
### Plone Documentation versions affected

- [x] 5.x
- [X] 6.x

### Description

Apologies if this is already captured in other issues, but I did not find the right one. Feel free to close this, or hack it up into other issues, whatever you see fit.

Current expected release date for Plone 6 final, according to the plan formulated in the Plone 6 coordination meeting today, is Monday December 12, 2

[2022-11-25 01:33] stevepiercy commented on #1363
I updated items in https://github.com/plone/documentation/issues/1140. I'm closing this issue in favor of the other.

The most critical issues are the ones where there is no content.

- https://github.com/orgs/plone/projects/12/views/4?filterQuery=content
- https://github.com/orgs/plone/projects/12/views/4?filterQuery=migrate

[2022-11-25 01:33] #1363 closed, assigned to nobody

[2022-11-28 16:23] polyester commented on #1140
Given the inflexibility of the 5 and pre-5 versioning system, and the fact that two different physical servers are involved, it would be **much** easier to have DNS-based diffence. So 5.docs.plone.org instead of docs.plone.org/5.

In that case docs.plone.org, latest.docs.plone.org and 6.docs.plone.org will soon all point to the version6 documentation, whereas 5.docs.plone.org, 4.docs.plone.org and

[2022-11-28 20:42] stevepiercy commented on #1140
@polyester thanks for the feedback. I support this plan, with a few changes in both your suggestions and my original checklist.

- `docs.plone.org/.*` redirect to either `6.docs.plone.org/.*` or `latest.docs.plone.org/.*`. The reason for this is to deter the bookmarking of and linking to `docs.plone.org` and instead use either a version number or `latest`. Henceforth any links to `docs.plone.org`

[2022-11-28 21:10] polyester commented on #1140
In general, agreement. On the 404 page, given the quite extensive changes to URLs, I would probably be in favor of not offering https://x.docs.plone.org/whateveryouwerelookingfor, which is likely to not exist, but just an overview of https://x.docs.plone.org versions.

As the de-facto "Keeper of the Ancient Scrolls", we already have an insane amount of NGINX redirects, and maintaining that in the

[2022-11-28 21:13] flipmcf commented on #1138
just fyi - it's on my plate!  see #1139

[2022-11-28 21:38] stevepiercy commented on #1140
Are these just static content servers that have nothing dynamic? If so, that makes sense.

But if nginx can grab the filepath, pass it to a template, which in turn can render the filepath, it would be useful to the user and not require any additional redirect maintenance. Did I explain that well?

IOW, a typical flow:

1. Visit `https://docs.plone.org/(.*)$`.
2. Redirect to `https://6.docs.plone.o

[2022-11-28 21:46] polyester commented on #1140
Plone [5-3] are just static HTML sites, but it has been a challenge to map things. There's simply no way you can map https://6.docs.plone.org/some-fancy-newtech to https://3.docs.plone.org/when-dinosaurs-still-roamed-the-earth

I can probably whip up some "if not found, redirect to the canonical https://3.docs.plone.org" NGINX magic, but it might be challenging. I'll try.

[2022-11-28 22:17] stevepiercy commented on #1140
Ack, I goofed by omitting the target to redirect to `6`. I edited [my previous comment](https://github.com/plone/documentation/issues/1140#issuecomment-1329792256) to reflect what I want. Please take another look, and let me know. I hope that makes sense now.